<app-admin-account-info [accountId]="accountId"></app-admin-account-info>
<hr>

<div class="row">
  <div class="col s12 top-title-button">
    <h4 class="title left">Add New User</h4>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <form [formGroup]="userForm" novalidate (ngSubmit)="addUserOnSubmit()">
      <table class="table striped">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Password</th>
            <th>Email</th>
            <th>Role</th>
            <th>Location</th>
            <th>Contact Information</th>
          </tr>
        </thead>
        <tbody formArrayName="users">
          <tr *ngFor="let u of userForm.get('users')['controls']; let i = index;"
            [formGroupName]="i">
            <td>
                <input formControlName="first_name" type="text" placeholder="First Name" class="first-name" #first_name>

                <span
                  *ngIf="!userForm.controls['users'].controls[i].controls.first_name.valid &&
                  userForm.controls['users'].controls[i].controls.first_name.touched">
                    This first name is required.
                </span>
              </td>
              <td>
                <input formControlName="last_name" type="text" placeholder="Last Name" #last_name>
                <span *ngIf="!userForm.controls['users'].controls[i].controls.last_name.valid
                  && userForm.controls['users'].controls[i].controls.last_name.touched">
                  Please enter last name.
                </span>
              </td>
              <td>
                <input formControlName="password" type="text" placeholder="Password">
                <span *ngIf="!userForm.controls['users'].controls[i].controls.password.valid
                  && userForm.controls['users'].controls[i].controls.password.touched">
                  Please specify a password.
                </span>
              </td>
              <td>
                <input formControlName="email" type="text" placeholder="Email" #email>

              <span *ngIf="!userForm.controls['users'].controls[i].controls.email.valid &&
                userForm.controls['users'].controls[i].controls.email.touched">
                Please provide a valid email.
              </span>
              <span *ngIf="!userForm.controls['users'].controls[i].controls.email.valid && userForm.controls['users'].controls[i].controls.email.errors['emailIsForbidden']">
                Email already taken.
              </span>
              </td>
              <td>
                  <select formControName="role" style="display: block;">
                    <option value="0">Roles</option>
                    <option *ngFor="let r of roles" [value]="r.role_id">{{r.role_name}}</option>
                  </select>
                </td>
              <td >
                  <a href="javascript:void(0)" class="blue-text"> Select Location </a>
                  <input formControlName="location" type="hidden" name="">
              </td>
              <td>
                <input formControlName="contact" type="text" placeholder="Mobile number" name="mobile_">
              </td>

          </tr>
          <!--
          <tr>
            <td>
              <input type="text" placeholder="First Name" class="first-name" name="first_name_" required>
            </td>
            <td>
              <input type="text" placeholder="Last Name" name="last_name_" required>
            </td>
            <td>
                <input type="text" placeholder="Password" name="password_" required>
            </td>
            <td>
              <input type="text" placeholder="Email" name="email_" required>
            </td>
            <td>
                <select #roleListing name="role_listing_">
                  <option value="0">Roles</option>
                </select>
              </td>
            <td>
                <a href="javascript:void(0)" class="blue-text"> Select Location </a>
                <input type="hidden" name="">
            </td>
            <td>
              <input type="text" placeholder="Mobile number" name="mobile_">
            </td>
          </tr> -->
        </tbody>
        <tfoot>
            <tr>
              <td colspan="7">
                <button class="btn blue" (click)="addUserFormItem()">
                  + Add more row
                </button>
              </td>
            </tr>
          </tfoot>
      </table>
      <div class="button-container right-align">
        <button class="btn grey lighten-1 waves-effect waves-light cancel"> Cancel </button>
        <button class="btn orange waves-effect waves-light"> Submit </button>
      </div>
    </form>
  </div>
</div>
