<div class="signup-main-container ">
	<div class="background"></div>

	<div id="modalSignup" class="modal">
		<div class="modal-content">

			<form  novalidate (ngSubmit)="setupFormSubmit(formSignIn, $event)" #formSignIn="ngForm"  >

				<div class="container">
					<div class="row">

						<div class="col m12 center-align">
							<h4 class="title">
								Setup your company information
							</h4>
							<p class="center-align please-fill-up">
							</p>
						</div>

						<div class="col m12">
							<div class="input-container">

								<div class="input-field col m6">
									<input id="company_name" type="text" name="company_name" ngModel #inpCompanyName="ngModel" [ngClass]="{ 'invalid' : !inpCompanyName.valid  && inpCompanyName.dirty }" required>
									<label for="company_name">Company Name
										<small *ngIf=" !inpCompanyName.valid && inpCompanyName.dirty "> *Required </small>
									</label>
								</div>

								<div class="input-field col m6">
									<input id="tenant_key_contact" type="text" name="tenant_key_contact" ngModel #inpTenantKeyContact="ngModel" [ngClass]="{ 'invalid' : !inpTenantKeyContact.valid  && inpTenantKeyContact.dirty }" required>
									<label for="tenant_key_contact">Tenant Key Contact
										<small *ngIf=" !inpTenantKeyContact.valid && inpTenantKeyContact.dirty "> *Required </small>
									</label>
								</div>

								<div class="input-field col m6">
									<input id="building_name" type="text" name="building_name" ngModel #inpBuildingName="ngModel" [ngClass]="{ 'invalid' : !inpBuildingName.valid  && inpBuildingName.dirty }" required>
									<label for="building_name">Building Name
										<small *ngIf=" !inpBuildingName.valid && inpBuildingName.dirty "> *Required </small>
									</label>
								</div>

								<div class="input-field col m6">
									<input id="unit_no" type="text" name="unit_no" ngModel >
									<label for="unit_no">Unit No</label>
								</div>

								<div class="input-field col m6">
									<input id="street" type="text" name="street" ngModel #inpStreet="ngModel" [ngClass]="{ 'invalid' : !inpStreet.valid  && inpStreet.dirty }" required>
									<label for="street">Street
										<small *ngIf=" !inpStreet.valid && inpStreet.dirty "> *Required </small>
									</label>
								</div>

								<div class="input-field col m6">
									<input id="city" type="text" name="city" ngModel #inpCity="ngModel" [ngClass]="{ 'invalid' : !inpCity.valid  && inpCity.dirty }" required>
									<label for="city">City
										<small *ngIf=" !inpCity.valid && inpCity.dirty "> *Required </small>
									</label>
								</div>

								<div class="input-field col m6">
									<input id="state" type="text" name="state" ngModel #inpState="ngModel" [ngClass]="{ 'invalid' : !inpState.valid  && inpState.dirty }" required>
									<label for="state">State
										<small *ngIf=" !inpState.valid && inpState.dirty "> *Required </small>
									</label>
								</div>

								<div class="input-field col m6">
									<input id="postal_code" type="text" name="postal_code" ngModel #inpPostalCode="ngModel" [ngClass]="{ 'invalid' : !inpPostalCode.valid  && inpPostalCode.dirty }" required>
									<label for="postal_code">Postal Code
										<small *ngIf=" !inpPostalCode.valid && inpPostalCode.dirty "> *Required </small>
									</label>
								</div>

								<div class="select-field col m6 s12">
									<select id="selCountry" [(ngModel)]="selCountry"  name="country">
										<option *ngFor="let country of countries;"  [value]="country.abbr" > {{ country.name }} </option>
									</select>
									<label class="select-label">Country</label>
								</div>

								<div class="select-field col m6 s12">
									<select id="selTimezone" [(ngModel)]="selTimezone"  name="time_zone">
										<option *ngFor="let timezone of timezones" [value]="timezone.abbr" > {{ timezone.text }} </option>
									</select>
									<label class="select-label">Time-Zone</label>
								</div>

								<div class="input-field col m6 s12 right-align"></div>
								<div class="input-field col m6 s12 right-align">
									<button type="submit" class="btn block waves-effect waves-light btn-submit" >Submit</button>
								</div>
							</div>
						</div>

					</div>
				</div>

			</form>

		</div>
	</div>

	<div id="modalLoader" class="modal">
		<div class="modal-content center-align" style="padding: 20px;">
			<div *ngIf="modalLoader.showLoader">
				<div class="preloader-wrapper active">
					<div class="spinner-layer spinner-red-only">
						<div class="circle-clipper left">
							<div class="circle"></div>
						</div><div class="gap-patch">
							<div class="circle"></div>
						</div><div class="circle-clipper right">
							<div class="circle"></div>
						</div>
					</div>
				</div>
				<div>
					<h6>{{ modalLoader.loadingMessage }}</h6>
				</div>
			</div>

			<div *ngIf="modalLoader.showMessage" class="center-align">
				<p>
					<i class="material-icons {{ modalLoader.iconColor }}-text" style="font-size: 80px;">{{ modalLoader.icon }}</i>
				</p>
				<p style="font-size: 27px; line-height: 30px;">{{ modalLoader.message }}</p>
			</div>
		</div>
	</div>

</div>

