<div class="container">
    <div class="row">

        <div class="steps-text">
            <div class="circle"></div>
            <div class="text blue-text">Step 1</div>

            <div class="dash"></div>
            <div class="circle"></div>
            <div class="text">Step 2</div>

            <div class="dash"></div>
            <div class="circle"></div>
            <div class="text">Step 3</div>

            <div class="dash"></div>
            <div class="circle"></div>
            <div class="text">Step 4</div>

            <div class="dash"></div>
            <div class="circle"></div>
            <div class="text">Step 5</div>
        </div>

        <div class="col l12 m12 s12">
                <div class="div-center update-profile">        
                        <div class="row">
                            <div class="col l12 m12 s12">`
                                <h5 class="blue-text" style="margin-bottom: 3%;">Review Your Profile</h5>
                            </div>
                    
                            <div class="col l12 m12 s12">
                                <div class="input-white-bg margin-bottom-20 form-group" style="margin-right: 0px;">
                                    <label>Location</label>
                                    <select id="selectLocReviewProf" #assignedLocation (change)="changeEventSubLocationReviewProfile($event)">
                                        <option value="{{loc.location_account_user_id}}" *ngFor="let loc of assignedLocations">
                                             <span *ngIf="loc.location_id == buildingData.location_id">{{loc.name}}</span>
                                             <span *ngIf="loc.location_id != buildingData.location_id">{{buildingData.name}},{{loc.name}}</span>
                                        </option>                                        
                                    </select>                                                                        
                                </div>
                            </div>
                    
                            <div class="col l12 m12 s12 margin-bottom-40">
                                <div class="form-group">
                                    <label for="subLocation">Mobile</label>
                                    <input type="text" class="form-control" id="mobile" placeholder="Type mobile number" [(ngModel)]="personUserInfo.mobile_number" />
                                </div>
                            </div>        
                    
                            <div class="col l12 m12 s12" [hidden]="!showUpdateField">
                                <div class="input-white-bg margin-bottom-20 form-group" style="margin-right: 0px;">
                                    <label>Select Sublocation</label>
                                    <select id="selectSubLocProfile" #newLevelNomination (change)="nominateNewLevel($event)">
                                        <option *ngFor="let sub of buildingLevels" [value]="sub.location_id">{{sub.name}}</option> 
                                    </select>
                                </div>
                            </div>
                    
                            <div class="col l6 m12 s12">
                                <button *ngIf="!showUpdateField" class="btn btn-block grey waves-effect waves-light"  #updateProfileBtn (click)="showUpdateField = true">Update Profile</button>
                                <button *ngIf="showUpdateField" class="btn btn-block grey waves-effect waves-light"  #updateProfileBtn2 (click)="updateUserProfile()">Submit</button>                                                               
                            </div>
                                
                            <div class="col l6 m12 s12">
                                <button class="btn btn-block orange" [routerLink]="['/dashboard/peep-form']" [queryParams]="{ 'id' : encryptedUserId, 'dest' : oldToken}">Register as Mobility Impaired</button>
                            </div>                            

                            <div class="col l12 m12 s12">
                                <button [routerLink]="['/dashboard', 'notification-summary-view', encryptedToken]" class="btn btn-block blue waves-effect waves-light">Next</button>
                            </div>
                    
                        </div>
                    
                    </div>
        </div>
    </div>    
</div>
