<div class="row">
	<div class="col l12 m12 s12" style="position: relative;">
		<h4>Mobility Impaired</h4>
		<a href="#" class="archived">
			<span class="image"></span>
			View Archive
		</a>
	</div>
</div>

<div class="row filter-container">
	<div class="col l2 m3 s12 ">
		<button class="btn orange waves-effect waves-light add-peep" [routerLink]="['/teams/add-mobility-impaired']">
			<span class="image"></span>
			Add P.E.E.P
		</button>
	</div>

	<div class="col l4 m5 s12">
		<div class="search-field">
			<input type="text" placeholder="Search member name">
			<span class="material-icons">search</span>
		</div>
	</div>

	<div class="col l2 m4 s6">
		<select>
			<option value="0" selected>Filter By</option>
		</select>
	</div>

	<div class="col l2 m6 s6">
		<select>
			<option value="0" selected>Sort By</option>
		</select>
	</div>
	<div class="col l2 m6 s12">
		<select>
			<option value="0" selected>Manage Action</option>
		</select>
	</div>
	
</div>


<div class="row">
	<div class="col l12 m12 s12">
		
		<table class="table striped table-peep">
			<thead>
				<tr>
					<th>
						<p class="checkbox">
							<input id="allSelect" class="filled-in" type="checkbox">
							<label for="allSelect"></label>
						</p>
						Locations
					</th>
					<th>Name</th>
					<th>PEEP Completion</th>
					<th>PEEP Review Date</th>
					<th>Last Login</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<p class="checkbox">
							<input id="name" class="filled-in" type="checkbox">
							<label for="name">Location Name</label>
						</p>
					</td>
					<td>
						<div class="image-container blue lighten-3">
							<div class="image">
								<!-- <img src="assets/images/locations/default_profile_location.png"  > -->
							</div>
						</div>
						<div class="text">Name here</div>
					</td>
					<td class="trainings">
						<div class="percent">0%</div>
						<div class="bar"></div>
					</td>
					<td>00/00/0000</td>
					<td>00/00/0000 00:00AM</td>
					<td>
						<a href="javascipt:void(0)">Manage</a>
					</td>
				</tr>
			</tbody>
		</table>

	</div>

</div>