
.quantity-container{
    font-size: 14px;
    padding: 5px 0px;
}

.quantity-container .text{
    display: inline-block;
    padding-left: 10px;
}

.quantity-container .input{
    position: relative;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: inline-block;
    overflow: hidden;
    height: 40px;
    vertical-align: middle;
    width: 25%;
}

.quantity-container .input{
    display: block;
    width: 70px;
}

.quantity-container .input input{
    width: 65%;
    text-align: center;
    margin: 0px;
    padding: 0px;
    height: 38px;
    background-color: #fff;
}

.quantity-container .input .btn-arrow-up, 
.quantity-container .input .btn-arrow-down{
    background: transparent;
    padding: 0px;
    border: 0px;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 0px;
    background-color: #434343;
    color: #fff;
}

.quantity-container .input .btn-arrow-up .material-icons, 
.quantity-container .input .btn-arrow-down .material-icons{
    font-size: 15px;
}

.quantity-container .input .btn-arrow-down{
    bottom: 0px;
}

.quantity-container > p{
    display: block;
    margin: 0 auto;
    width: 50px;
    padding-bottom: 10px;
}


.slide-container {
    padding: 8px 0px;
}


.btn-submit,
.btn-submit:hover,
.btn-submit:active,
.btn-submit:focus{
    background-color: #f7941d;
    box-shadow: none !important;
}

.btn-close,
.btn-close:hover,
.btn-close:active,
.btn-close:focus{
    background-color: #ddd;
    box-shadow: none !important;
    color: #111;
}

.display-table{
    display: table;
}

.display-table > *{
    display: table-column;
}

.button-container{
    margin: 5px 0px;
}

.button-container .btn{
    font-size: 15px !important;
}

.button-container .btn:not(:last-child){
    margin-right: 15px;
}

.all-input-container{
    max-height: 700px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 20px;
}