<div id="modalLocationSignup" class="modal">
    <div class="modal-content">
        <div class="container">
            <div class="row">
                <div class="col l12 m12 s12 center-align">
                    <h4 class="title">
                        Find  and select your location or your building
                    </h4>
                    <p class="center-align please-fill-up">
                        Type location name below
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col l12 m12 s12">
                    <div class="input-container">
                        <div class="input-field col m12">
                            <input id="inpLocation" #inpLocation type="text"  >
                            <label for="inpLocation">Enter Building Name Or Location</label>
                        </div>
                        <div class="search-result" [hidden]="!isSearching">
                            <ul *ngIf="searchedLocations.length > 0">
                                <li class="search-result-layer" *ngFor="let location of searchedLocations">{{location.name}}
                                    <span *ngIf="location.sublocations.length > 0" class="right-arrow"> > </span>
                                    <ul *ngIf="location.sublocations.length > 0">
                                        <li *ngFor="let sub of location.sublocations"> {{sub.name}} </li>
                                    </ul>
                                </li>
                            </ul>
                            <p class="message" *ngIf="searchedLocations.length == 0">No Location Found</p>
                        </div>
                        <div class="loading" [hidden]="!showLoader">
                            <div class="preloader-wrapper small active">
                                <div class="spinner-layer">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div><div class="gap-patch">
                                        <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col l12 m12 s12 ">
                    <div class="input-container">
                        <div class="input-field col m6">
                            <a class="btn block waves-effect waves-light btn-close grey lighten-1" (click)="clickCancel()">Back</a>
                        </div>
                        <div class="input-field col m6">
                            <button type="submit" class="btn block waves-effect waves-light btn-submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>