#modalLocationSignup{
    width: 35%;
}

.modal{
    max-height: 100% !important;
    overflow: visible;
}

.modal .modal-content {
    padding: 30px 0px 10px 0px;
}

.modal .modal-content .container{
    width: 85%;
}

.modal .modal-content .input-container{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.title{
    font-size: 24px;
    color: #39a1ff;
}

.please-fill-up{
    font-size: 16px;
    margin: 25px 0px 15px 0px !important;
}

.modal .modal-content .input-container .btn{
    width: 100%;
    text-transform: none;
    text-decoration: none;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
}

.btn-submit,
.btn-submit:hover,
.btn-submit:active,
.btn-submit:focus{
    background-color: #f7941d;
    box-shadow: none !important;
}

.btn-close,
.btn-close:hover,
.btn-close:active,
.btn-close:focus{
    background-color: #ddd;
    box-shadow: none !important;
    color: #111;
}

.select-field label {
    left: 10px !important;
}

@media only screen 
  and (min-width: 1024px)
  and (max-width: 1440px){

    #modalLocationSignup{
        width: 50%;
    }

    .modal .modal-content {
        padding: 20px 0px;
    }

    .input-field{
        width: 100%;
    }
}

@media only screen 
  and (max-width: 1024px){

    #modalLocationSignup{
        width: 60%;
    }

    .modal .modal-content {
        padding: 20px 0px;
    }

    .input-field{
        width: 100%;
    }
}

@media only screen 
  and (min-width: 480px)
  and (max-width: 768px){
    
    .modal{
        overflow-y: none;
    }

    .col{
        padding: 0px;
    }

    #modalLocationSignup{
        width: 90%;
        margin-bottom: 100px;
    }

}

@media only screen 
  and (max-width: 480px){
    #modalLocationSignup{
        width: 95%;
        margin-bottom: 100px;
    }

    .modal{
        overflow: overlay;
    }
}

.search-result{
    position: absolute;
    background-color: #fcffd9;
    width: 100%;
    top: 60px;
    left: 0px;
    border: 1px solid #b5b5b5;
    z-index: 999;
}

.search-result ul{
    background-color: #fcffd9;
    border: 1px solid #ddd;
    margin: 0px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s ease-in; 
    -moz-transition: all 0.5s ease-in; 
    -ms-transition: lall 0.5s ease-in; 
}

.search-result ul li  > ul{
    position: absolute;
    right: 0px;
    top: -1px;
    display: none;
    transform: translate(100% ,0%);
    max-height: 400px;
    overflow: auto;
}

.search-result ul li{
    padding: 10px;
    font-size: 14px;
    border-bottom: 1px solid #c5c5c5;
    position: relative;
    min-width: 150px;
}

.search-result .message{
    padding: 10px;
    font-size: 14px;
}

.search-result ul > li:hover > ul{
    display: block;
}

.search-result ul li .right-arrow{
    float: right;
    font-size: 16px;
    font-weight: bold;
}

.search-result ul li:hover{
    background-color: #f8ffad;
    cursor: pointer;
}

.loading{
    position: absolute;
    top: 20px;
    right: 15px;
}

.loading .preloader-wrapper.small {
    width: 25px;
    height: 25px;
}