<div class="signup-main-container">
	<div class="background"></div>
	
	<div class="fadeIn  animated" style="opacity:0;">
		<div class="center-box">
			<div class="forget_password_box">

				<img src="/assets/images/forgot_password.png" alt="Forgot Password Icon" width="53" height="63" >
				<h1>Forgot password?</h1>
				<p>We just need your registered Email Id to sent you password reset instructions.</p><br>
				<input type="text" value="" placeholder="Please enter your email here" id="username">
				<button class="waves-effect waves-light">Reset Password</button><br>
				<h1>Don't have email?</h1>
				<h3>
					<a href="#" class="click-here">Please click here</a>
				</h3>
				<p>
					<a [routerLink]="['/login']" class="back-to-login">Back to login</a>
				</p>

			</div>
		</div>
	</div>

</div>

