<div class="forgot-password-container">
	<div class="background"></div>

	<div class="fadeIn  animated" style="opacity:0;">
		<div class="center-box">
			<div class="forget_password_box">

				<img src="/assets/images/forgot_password.png" alt="Forgot Password Icon" width="53" height="63" >
				<h1 class="white-text">Forgot password?</h1>
				<p class="white-text">We just need your registered Email Id to sent you password reset instructions.</p><br>

				<form novalidate #formReset="ngForm" (ngSubmit)="resetPassFormSubmit(formReset, $event)" >
					<p class="invalid-email" *ngIf="!inputEmail.valid  && inputEmail.dirty" >Enter a valid email format</p>
					<input type="email" name="email" email ngModel placeholder="Please enter your email here"
						#inputEmail="ngModel" required>

					<button type="submit" class="btn waves-effect waves-light btn-submit" >
						Reset Password
					</button>
				</form>


				<h1>Don't have email?</h1>
				<h3>
					<a [routerLink]="['/no-email']" class="click-here">Please click here</a>
				</h3>
				<p class="white-text">
					<a [routerLink]="['/login']" class="back-to-login">Back to login</a>
				</p>

			</div>
		</div>
	</div>

</div>

<div id="modalMsg" class="modal">
	<div class="modal-content center-align">
		<i class="material-icons large green-text" [hidden]="!showCheckIcon">check</i>
		<i class="material-icons large red-text" [hidden]="!showCloseIcon">close</i>
		<h5>
      <span *ngIf="showCheckIcon">We just emailed you a link.</span> <span *ngIf="showCloseIcon">{{message}}</span>
    </h5>
    <h6>Please check your email and click the secure link</h6>
    <div>
      <button (click)="onResendPasswordLink()" class="btn blue waves-effect waves-light" *ngIf="showCheckIcon">
        <span *ngIf="!showResendLinkText">
            <div class="preloader-wrapper small active" style="width: 24px; height: 24px; margin-top:10px;">
              <div class="spinner-layer spinner-blue--only">
                <div class="circle-clipper left">
                  <div class="circle" ></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
        </span>
        <span  *ngIf="showResendLinkText">
            Resend link
        </span>

      </button>
      <a class="btn blue waves-effect waves-light modal-action modal-close" [routerLink]="['/forgot-password']">Try different email</a>
      <div>
        If you don't see our email, check your spam folder.
      </div>
    </div>
	</div>
	<div class="modal-footer">
		<a  [routerLink]="['/login']" class="modal-action modal-close waves-effect waves-green btn-flat">CLOSE</a>
	</div>
</div>

