<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans">

<div class="center-box">
	<div class="forget_password_box">

		<img src="../forgot/forgot_password.png" alt="Forgot Password Icon" width="53" height="63" >
		<h1>Forgot password?</h1>
		<p>We just need your registered Email Id to sent you password reset instructions.</p><br>
		<input type="text" value="" placeholder="Please enter your email here" id="username">
		<button>Reset Password</button><br>
		<h1>Don't have email?</h1>
		<h3>Please click here</h3>
		<p>Back to login</p>

	</div>
</div>