<form [formGroup]="newAccountForm" (ngSubmit)="addNewThisAccount()" novalidate>
  <div class="row">
    <div class="col l12 m12 s12">
      <h5>Account Information</h5>
    </div>

      <div class="col l12 m12 s12">
        <div class="input-field">
          <input formControlName="account_name" id="account_name" type="text" placeholder="Specify the account name" autocomplete="off">
          <label for="account_name" class="active">
            Account Name
          </label>
        </div>
        <div class="search-result" *ngIf="filteredAccounts.length > 0">
          <ul *ngFor="let item of filteredAccounts">
            <li>
              <a (click)="getAccountSelection(item)">{{item['account_name']}}</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col l6 m6 s12">
        <div class="input-field">
          <input formControlName="key_contact" id="account_key_contact" type="text" placeholder="Key contact name">
          <label for="account_key_contact" class="active">
            Key Contact Name
          </label>
        </div>
      </div>

      <div class="col l6 m6 s12">
        <div>
          <label for="new_account_type" class="active">
            Account Type
          </label>
          <select formControlName="new_account_type" id="account_type" style="display: block;">
            <option [value]="null" [disabled]="true == true">Account Type</option>
            <option selected value="Manager">Facility Manager</option>
            <option value="Tenant">Tenant</option>
          </select>
        </div>
      </div>
  </div>

    <div class="row">
      <div class="col l12 m12 s12">
        <h5>Billing Address</h5>
      </div>
      <div class="col l6 m6 s12">
        <div class="input-field">
          <input formControlName="billing_street" id="account_street" type="text" placeholder="Street" >
          <label for="account_street" class="active">
            Street
          </label>
        </div>
      </div>

      <div class="col l6 m6 s12">
        <div class="input-field">
          <input formControlName="billing_city" id="account_city" type="text" placeholder="City" >
          <label for="account_city" class="active">
            City
          </label>
        </div>
      </div>

      <div class="col l6 m6 s12">
        <div>
          <label for="account_state" class="active">
            State
          </label>
          <select formControlName="billing_state" id="account_state" style="display: block;">
            <option [value]="null" [disabled]="true == true">Select State</option>
            <option value="ACT">Australian Capital Territory</option>
            <option value="NSW">New South Wales</option>
            <option value="NT">Northern Territory</option>
            <option value="QLD">Queensland</option>
            <option value="SA">South Australia</option>
            <option value="TAS">Tasmania</option>
            <option value="VIC">Victoria</option>
            <option value="WA">Western Australia</option>
          </select>
        </div>
      </div>

      <div class="col l6 m6 s12">
        <div class="input-field">
          <input formControlName="billing_postal_code" id="account_postcode" type="text" placeholder="Post Code" >
          <label for="account_postcode" class="active">
            Post Code
          </label>
        </div>
      </div>

      <div class="col l12 m12 s12">
        <h5>Contact Information</h5>
      </div>
      <div class="col l6 m6 s12">
        <div class="input-field">
          <input formControlName="account_contact_num" id="account_contact_num" type="text" placeholder="Provide key contact number" >
          <label for="account_contact_num" class="active">
            Tel No
          </label>
        </div>
      </div>

      <div class="col l6 m6 s12">
          <div class="input-field">
            <input formControlName="account_email" id="account_email" type="text" placeholder="Provide key contact email">
            <label for="account_email" class="active">
              Email Address
            </label>
          </div>
        </div>

      <div class="col l12 m12 s12">
        <h5>Settings</h5>
      </div>
      <div class="col l12 m12 s12">
        <div class="checkbox">
            <input formControlName="online_training" id="aol" type="checkbox"> <label for="aol">Access to Online Training</label>
        </div>
      </div>
      <div class="col l12 m12 s12">
        <div class="checkbox">
            <input formControlName="epc_committee_on_hq" id="epc" type="checkbox"> <label for="epc">EPC Meeting at Head Office</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col l12 m12 s12">
        <div class="pull right">
          <button class="btn grey grey lighten-1 waves-effect waves-light" type="button" (click)="newAccountForm.reset()">Cancel</button>
          <button type="submit" class="btn orange waves-effect waves-light" style="margin-right: 10px;" [disabled]="!newAccountForm.valid">Submit</button>
        </div>
      </div>
    </div>
<!--
  <div class="row">
      <div class="col l12 m12 s12">
          <pre>{{ newAccountForm.value | json }}</pre>
      </div>
    </div>
-->

</form>

