<div class="admin-wrapper">
    <div class="left-navigation">
        <div class="logo">
            <div class="evaclogo"></div>
        </div>
        <app-admin-side-nav></app-admin-side-nav>
    </div>
    <div class="right-navigation">
        <div class="top-navigation">
            <div class="search-container">
                <div class="icon"></div>
                <div class="spacer">|</div>
                <div class="input-field">
                    <input type="text" #searchInput placeholder="Search for..." />
                </div>
                <div class="results" #searchResults  >
                    <ul>
                        <li *ngFor="let result of searchedResult" (click)="searchClickEvent(result)">
                            <div class="bg-image" [ngClass]="{  'location' : (result.type == 'location'), 'user' : (result.type == 'user'), 'account' : (result.type == 'account') }"> </div> 
                            {{result.name}}
                            <span *ngIf="result.type == 'user'" class="grey-text">
                                ( {{result.extra}} )
                            </span>
                        </li>
                    </ul>
                </div>

                <div class="select-container">
                    <select style="display: block;" #filterSearch (change)="filterSearchOnChange()">
                        <option value="global" selected>Global</option>
                        <option value="location">Locations</option>
                        <option value="account">Accounts</option>
                        <option value="user">Users</option>
                    </select>
                </div>
            </div>

            <div class="right-container">
                <div class="field">
                    <!-- <div class="notification logo"></div> -->
                </div>
                <div class="field">
                    <!-- <div class="message logo"></div> -->
                </div>
                <div class="field">
                    <div class="text">Admin Text</div>
                </div>
                <div class="field">
                    <div class="user-icon"></div>
                </div>
            </div>
        </div>
        <div class="workspace container" style="overflow: -webkit-paged-y;">
            <router-outlet></router-outlet>
            <div preloader></div>
        </div>
    </div>
</div>






