<div class="admin-wrapper">
    <div class="left-navigation">
        <div class="logo">
            <div class="evaclogo"></div>
        </div>
        <app-admin-side-nav></app-admin-side-nav>
    </div>
    <div class="right-navigation">
        <div class="top-navigation">
            <div class="search-container">
                <div class="icon"></div>
                <div class="spacer">|</div>
                <div class="input-field">
                    <input type="text" placeholder="Search for..." />
                </div>
            </div>

            <div class="right-container">
                <div class="field">
                    <div class="notification logo"></div>
                </div>
                <div class="field">
                    <div class="message logo"></div>
                </div>
                <div class="field">
                    <div class="text">Admin Text</div>
                </div>
                <div class="field">
                    <div class="user-icon"></div>
                </div>
            </div>
        </div>
        <div class="workspace container">
            <router-outlet></router-outlet>
            <div preloader></div>
        </div>
    </div>
</div>






