<div class="row">
	<div class="col l2 m2 s12">
		<div class="manage-compliance">
			<div id="specificChart" class="donut-size">
				<div class="pie-wrapper">
					<span class="label">
						<span class="num"> 00 </span><span class="smaller">%</span>
					</span>
					<div class="pie">
						<div class="left-side half-circle" ></div>
						<div class="right-side half-circle" ></div>
					</div>
					<div class="shadow"></div>
				</div>
			</div>
			<p class="completion">
				<span class="start">0 </span>
				<span>of </span>
				<span class="end">0 </span>
				<span class="end">completion</span>
			</p>
			<a class="btn red waves-effect waves-light darken-3" [routerLink]="['/location/compliance/view',  encryptedID]" >Manage Compliance</a>
		</div>
	</div>
	<div class="col l10 m10 s12">
		<div class="row">
			<div class="col l8 m8 s12`">
				<div class="details-container">
					<div class="inline-block image-wrapper">
						<div class="image-container">
							<div class="image">
								<img src="assets/images/locations/default_profile_location.png" alt="" *ngIf="!locationData.google_photo_url">
								<img src="{{locationData.google_photo_url}}" alt="" *ngIf="locationData.google_photo_url">
							</div>
						</div>
					</div>
					<div class="inline-block details">
						<table class="no-borders">
							<tr>
								<td><h5> {{locationData.name}} </h5></td>
								<td></td>
								<td>
									<!-- <div class="edit-details">
										<a href="javascript:void(0) " >
											<img src="assets/images/locations/editdetails_icon.png" > Edit Details
										</a>
									</div> -->
								</td>
							</tr>
							<tr>
								<td>Key Contact Person</td> <td> : </td> <td>  Unknown  </td>
							</tr>
							<tr>
								<td>Address</td> <td> : </td> <td>  {{locationData.formatted_address}}  </td>
							</tr>
							<tr>
								<td>FRP</td> <td> : </td>
								<td>
									<span *ngIf="locationData.frp.length == 0">Unknown</span>
									<span *ngFor="let frp of locationData.frp">{{frp.first_name}} {{frp.last_name}}</span>
								</td>
							</tr>
						</table>
						<div class="archived">
							<a href="javascript:void(0) " (click)="onClickArchiveLocation(locationData)">
								<img src="assets/images/locations/archived_icon.png" > Archive Location
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col l4 m4 s12 right-align right-top-container">

				<a class="btn grey waves-effect waves-light" [routerLink]="['/location', 'view', locationData['parent_id']]">
					Back to location
				</a>

				<button class="btn blue waves-effect waves-light modal-trigger" href="#modalAddSublocation">
					Add new sublocation
				</button>
			</div>

			<div class="col l12 m12 s12">
				<table class="highlight striped bordered">
					<thead>
						<tr class="grey darken-4 white-text">
							<th>Sublocations</th>
							<th>Floor Wardens</th>
							<th>Wardens</th>
							<th>Warden Trainings</th>
							<th>Mobility Impaired</th>
							<th>Manage</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngIf="locationData.sublocations.length == 0">
							<td colspan="6" class="center-align">
								<p>No sublocations found</p>
							</td>
						</tr>
						<tr *ngFor="let sub of locationData.sublocations">
							<td>
								{{sub.name}}
							</td>
							<td>
								{{sub.overall_floor_warden}}
							</td>
							<td>
								{{sub.overall_warden_count}}
							</td>
							<td class="trainings">
								<div class="percent">0%</div>
								<div class="bar"></div>
							</td>
							<td>
								{{sub.overall_impaired}}
							</td>
							<td>
								<a *ngIf="sub.children.length > 0" [routerLink]="['/location', 'view', sub.location_id]" >Details </a>
								<a *ngIf="sub.children.length == 0" [routerLink]="['/location', 'view-sublocation', sub.location_id]">Details</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
</div>
<div preloader></div>

<div id="modalAddSublocation" class="modal">
	<div class="modal-content">

		<div class="center-align" *ngIf="showLoaderModalSublocation">
			<div class="preloader-wrapper active" >
				<div class="spinner-layer spinner-red-only">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div><div class="gap-patch">
						<div class="circle"></div>
					</div><div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
		</div>

		<div *ngIf="!showLoaderModalSublocation">
			<h5 *ngIf="errorMessageModalSublocation.length == 0">Add New Sublocation</h5>

			<div class="center" *ngIf="errorMessageModalSublocation.length > 0">
				<h5>{{errorMessageModalSublocation}}</h5>
			</div>

			<form #form="ngForm" (submit)="addNewSubLocationSubmit(form, $event)" *ngIf="errorMessageModalSublocation.length == 0">
				<div class="input-field">
					<input autocomplete="off" id="inpSublocationName" #inputSublocation #inpSublocationName="ngModel" type="text" [(ngModel)]="inpSublocationNameTwoWayData" ngModel name="name" (keyup)="onKeyUpTypeSublocation(inpSublocationName.value)" [ngClass]="{ invalid : !inpSublocationName.valid && inpSublocationName.dirty }" required>
					<label for="inpSublocationName">Sublocation name</label>
				</div>
				<div class="search-result" style="padding: 20px 0px;" *ngIf="sameSublocation.length > 0">
				    <h6>Sublocation found in this location <p class="right" style="margin: 15px 0px;"> </p></h6>
				    
				   	<ul style="margin: 0px; max-height: 275px; overflow-y: auto;">
					    <li style="border-bottom: 1px solid #ddd;font-size: 16px;padding: 10px 0px;" *ngFor="let sub of sameSublocation">
						    <span>{{sub.name}}</span>
						    <a href="javascript:void(0)" class="right select-sub blue-text" #selectElement (click)="selectAddNewSubResult(sub, selectElement)" style="margin-right: 10px;">select</a>
						</li>
					</ul>
				</div>
				<div class="button-container right-align">
					<a href="javascript:void(0)" class="btn grey lighten-1 waves-effect waves-light modal-action modal-close">Cancel</a>
					<button type="submit" class="btn orange waves-effect waves-light">Submit</button>
				</div>
			</form>
		</div>


	</div>
</div>


<div id="modalArchive" class="modal">
	<div class="modal-content">
		<div class="center-align" *ngIf="showLoaderModalSublocation">
			<div class="preloader-wrapper active" >
				<div class="spinner-layer spinner-red-only">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div><div class="gap-patch">
						<div class="circle"></div>
					</div><div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="center" *ngIf="errorMessageModalSublocation.length > 0 && !showLoaderModalSublocation">
			<h4>{{errorMessageModalSublocation}}</h4>
		</div>

		<div class="center-align" *ngIf="errorMessageModalSublocation.length == 0 && !showLoaderModalSublocation">
			<h5>Are you sure you want to archive this '{{selectedLocationToArchive.name}}'</h5>
		</div>

		<div class="button-container center-align" *ngIf="!showLoaderModalSublocation">
			<a href="javascript:void(0)" class="modal-action modal-close waves-effect waves-light btn grey lighten-1 btn-flat">Cancel</a>
    		<button type="submit" class="waves-effect waves-light btn orange btn-flat" (click)="onClickYesArchive()">Yes</button>
		</div>

	</div>
</div>

