.location-navigation{
    border-bottom: 1px solid #ddd;
}

.location-navigation ul{
    margin: 0px;
}

.location-navigation ul li{
    display: inline-block;
    padding: 20px;
    cursor: pointer;
    height: 70px;
    margin-right: -4px;
}

.location-navigation ul li img{
    vertical-align: middle;
    display: none;
}

.location-navigation ul li img.default{
    display: inline-block;
}

.location-navigation ul li:hover img.default{
    display: none;
}

.location-navigation ul li:hover img.hover,
.location-navigation ul li.active img.hover{
    display: inline-block;
}

.location-navigation ul li.active img.default{
    display: none;
}

.location-navigation ul li.green-theme:hover,
.location-navigation ul li.green-theme.active{
    background-color: #36bb9b;
}

.location-navigation ul li.green-theme.active a,
.location-navigation ul li.green-theme:hover a{
    color: #fff;
}

.location-navigation ul li.green-theme{
    border-bottom: 1px solid #36bb9b;
}

.location-navigation ul li.green-theme:hover{
    border-bottom: 2px solid #36bb9b;
}

.location-navigation ul li.pink-theme:hover,
.location-navigation ul li.pink-theme.active{
    background-color: #dc4453;
}

.location-navigation ul li.pink-theme.active a,
.location-navigation ul li.pink-theme:hover a{
    color: #fff;
}

.location-navigation ul li.pink-theme:hover{
    border-bottom: 2px solid #dc4453;
}

.location-navigation ul li.active.pink-theme,
.location-navigation ul li.active.pink-theme a{
    background-color: #dc4453;
    color: #fff;
}

.location-navigation ul li.pink-theme{
    border-bottom: 1px solid #dc4453;
}

.location-navigation a{
    color: #545454;
    font-size: 16px;
}

thead th{
    border-radius: 0px;
    font-weight: normal;
    background-color: #3d3d3d !important;
    padding: 10px;
    font-size: 14px;
}

table.bordered>thead>tr,
table.bordered>tbody>tr {
    border-bottom: 1px solid #d3d3d3;
}

table tr td{
    padding: 10px;
    font-size: 14px;
    line-height: 27px;
}

table tr td:last-child{
    
}

table tr td a:hover{
    text-decoration: underline;
}

table tbody tr td.with-bar .text{
    color: #F44336 !important;
    margin-right: 12px;
}

table tbody tr td.with-bar .text,
table tbody tr td.with-bar .progress-container{
    display: inline-block;
}

table tbody tr td.with-bar .progress-container{
    width: 60%;
}

table tbody tr td .progress-container p{
    margin: -1px 0px;
    font-size: 12px;
    color: #333;
}

table tbody tr td .progress{
    position: relative;
    height: 10px;
    display: block;
    width: 100%;
    background-color: #dc44534d;
    border-radius: 2px;
    margin: 0px;
    overflow: hidden;
}

table tbody tr td .progress .determinate{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #cb0d20;
    transition: width .3s linear;
}

.right-top-container .btn{
    font-size: 14px !important;
    line-height: 44px !important;
}

.right-top-container .btn.grey{
    margin-right: 10px;
}

.right-top-container a.text-grey{
    color: #333;
    padding: 0px 10px;
    font-size: 13px ;
}

.right-top-container a.text-grey:hover{
    text-decoration: underline;
}

.details-container .details{
    vertical-align: top;
    padding: 0px 20px;
}

.details-container .details h5{
    color: #39a1ff !important;
    margin-top: 0px;
    font-size: 24px;
}

.details-container .inline-block{
    display: inline-block;
}

.details-container .image-container{
    width: 140px;
    height: 140px;
    background-color: #c9c9c9;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.details-container .image{
    overflow: hidden;
}

.details .archived {
    margin: 20px 0px;
    font-size: 14px;
}

.details .archived img{
    vertical-align: middle;
    margin-right: 5px;
}

.details .archived a,
.details .edit-details a{
    color: #3d3d3d;
}

.details .archived a:hover,
.details .edit-details a:hover{
    color: #039be5;
    text-decoration: underline;
}

.image-container .image img{
    max-width: 140px;
    max-height: 140px;
}

.outer-center {
    float: right;
    right: 50%;
    position: relative;
}
.inner-center {
    float: right;
    right: -50%;
    position: relative;
}

table.no-borders,
table.no-borders tr,
table.no-borders td{
    border: 0px !important;
}

table.no-borders td{
    padding: 0px 10px 0px 0px !important;
}


.trainings .percent,
.trainings .bar {
    display: inline-block;
    color: #b71928;
    font-size: 14px;
}

.trainings .percent{
    width: 35px;
    text-align: center;
}

.trainings .bar{
    background-color: #b71928;
    width: 70%;
    height: 11px;
}

.manage-compliance{
    padding: 30px;
    border: 1px solid #d3d3d3;
    margin-bottom: 20px;
}

.manage-compliance .btn{
    width: 100%;
    font-size: 14px !important;
    line-height: 44px;
}

.completion{
    text-align: center;
    color: #3d3d3d;
    font-size: 14px;
    font-weight: bold;
}

.compliacne-rating{
    color: #3d3d3d;
    font-size: 18px;
}


/* PIE */
.donut-size {
    font-size: 13em;
    margin: 20% 0%;
}

.pie-wrapper {
    position: relative;
    width: 1em;
    height: 1em;
    margin: 0px auto;
}

.pie-wrapper .pie {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    clip: rect(0, 1em, 1em, 0.5em);
}

.pie-wrapper .half-circle {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 0.1em solid #2196f3;
    border-radius: 50%;
    clip: rect(0em, 0.5em, 1em, 0em);
}

.pie-wrapper .right-side {
    transform: rotate(0deg);
}

.pie-wrapper .label {
    position: absolute;
    top: 0.51em;
    right: 0.4em;
    bottom: 0.4em;
    left: 0.7em;
    display: block;
    background: none;
    border-radius: 50%;
    color: #3d3d3d;
    font-size: 0.25em;
    line-height: 2.9em;
    text-align: center;
    cursor: default;
    z-index: 2;
}

.pie-wrapper .smaller {
    color: #3d3d3d;
    font-size: .45em;
    vertical-align: top;
}

.pie-wrapper .shadow {
    width: 100%;
    height: 100%;
    border: 0.1em solid #e0e5e8;
    border-radius: 50%;
}

#modalAddSublocation,
#modalArchive{
    width: 30%;
}

#modalAddSublocation form{
    margin-top: 35px;
}

#modalAddSublocation .button-container,
#modalArchive .button-container{
    margin: 20px 0px;
}

#modalAddSublocation .button-container .btn,
#modalArchive .button-container .btn{
    font-size: 14px !important;
    height: 40px !important;
    line-height: 40px !important;
}

@media only screen
and (max-width: 768px){

    #modalAddSublocation,
    #modalArchive{
      width: 60% !important;
  }

}

@media only screen
and (max-width: 500px){
    #modalAddSublocation,
    #modalArchive{
        width: 95% !important;
    }
}

.table-align{
    display: table;
}

.table-align > *{
    display: table-cell;
    vertical-align: middle;
}

.medium-text{
    font-size: 15px;
    display: table-cell;
    vertical-align: middle;
    padding: 0px 10px;
}


.archived{
    font-size: 15px;
    color: #4f4f4f;
}

.archived:hover{
    color: #39a1ff;
}

.archived .image{
    background: url(/assets/images/team_icons.png) no-repeat;
    width: 23px;
    height: 27px;
    background-position: 30.5% 35.7%;
    vertical-align: middle;
    display: inline-block;
}

.table-align .archived{
    padding: 0px 0px 0px 30px;
}

td.select-blue{
    width: 100px;
}

.location-name-link{
    color: rgba(0,0,0,0.87) !important;
}

.switch{
    width: 110px;
    position: relative;
    margin: 0 auto;
    height: 36px;
}

.switch input[type="checkbox"]{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    pointer-events: visible;
    z-index: 4;
}

.switch .background{
    background-color: #505050;
    border-radius: 5px;
    padding: 5px;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.switch .yes,
.switch .no{
    font-size: 14px;
    color: #fff;
    z-index: 3;
    position: absolute;
}

.switch .yes{
    top: 18%;
    left: 16%;
}

.switch .no{
    top: 16%;
    right: 16%;
}

.switch .highlight{
    position: absolute;
    top: 14%;
    padding: 5px;
    border-radius: 3px;
    background-color: #39a1ff;
    z-index: 2;
    height: 72%;
    width: 35%;
    transition: all 0.4s;
}

.switch input[type="checkbox"]:not(:checked) + .yes + .no + .highlight{
    right: 8%;
}

.switch input[type="checkbox"]:checked + .yes + .no + .highlight{
    right: 56%;
}

.back-to-location{
    font-size: 14px !important;
    line-height: 43px;
}

table tr td .btn{
    font-size: 12px !important;
    padding: 0px 10px;
    max-height: 30px;
    line-height: 29px;
}

.edit-details{
    margin: 20px 0px;
}

.modal .btn {
    font-size: 15px !important;
    line-height: 45px;
}

.add-sublocation-container{
    line-height: 50px;
    font-size: 18px;
}

#modalEditDetails{
    width: 35%;
}

@media screen and (max-width: 1024px) {
    #modalEditDetails{
        width: 75%;
    }
}

@media screen and (max-width: 500px) {
    #modalEditDetails{
        width: 90%;
    }
}