<div class="workspace container">
	<div class="row">
		<div class="col l2 m2 s12">
			<div class="manage-compliance">
				<div id="specificChart" class="donut-size">
					<div class="pie-wrapper">
						<span class="label">
							<span class="num"> 00 </span><span class="smaller">%</span>
						</span>
						<div class="pie">
							<div class="left-side half-circle" ></div>
							<div class="right-side half-circle" ></div>
						</div>
						<div class="shadow"></div>
					</div>
				</div>
				<p class="completion">
					<span class="start">0 </span>
					<span>of </span>
					<span class="end">0 </span>
					<span class="end">completion</span>
				</p>
				<button class="btn red waves-effect waves-light darken-3">Manage Compliance</button>
			</div>
		</div>
		<div class="col l10 m10 s12">
			<div class="row">
				<div class="col l8 m8 s12`">
					<div class="details-container">
						<div class="inline-block image-wrapper">
							<div class="image-container">
								<div class="image">
                  <img src="assets/images/locations/default_profile_location.png" alt="" *ngIf="!locationData.google_photo_url">
                  <img src="{{locationData.google_photo_url}}" alt="" *ngIf="locationData.google_photo_url">
								</div>
							</div>
						</div>
						<div class="inline-block details">
							<table class="no-borders">
								<tr>
									<td><h5> {{locationData.name}} </h5></td>
									<td></td>
									<td>
										<div class="edit-details">
											<a href="javascript:void(0)">
												<img src="assets/images/locations/editdetails_icon.png" > Edit Details
											</a>
										</div>
									</td>
								</tr>
								<tr>
									<td>Key Contact Person</td> <td> : </td> <td>  Unknown  </td>
								</tr>
								<tr>
									<td>Address</td> <td> : </td> <td>  {{locationData.formatted_address}}  </td>
								</tr>
								<tr>
									<td>FRP</td> <td> : </td>
									<td>
										<span *ngIf="locationData.frp.length == 0">Unknown</span>
										<span *ngFor="let frp of locationData.frp">{{frp.first_name}} {{frp.last_name}}</span>
									</td>
								</tr>
							</table>
							<div class="archived">
								<a href="javascript:void(0)">
									<img src="assets/images/locations/archived_icon.png" > Archive Location
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col l4 m4 s12 right-align right-top-container">
					<a class="btn grey waves-effect waves-light" [routerLink]="['/list-locations']">
						Back to location
					</a>
					<button class="btn blue waves-effect waves-light">
						Add new sublocation
					</button>
				</div>

				<div class="col l12 m12 s12">
					<table class="highlight striped bordered">
						<thead>
							<tr class="grey darken-4 white-text">
								<th>Sublocations</th>
								<th>Floor Wardens</th>
								<th>Wardens</th>
								<th>Warden Trainings</th>
								<th>Mobility Impaired</th>
								<th>Manage</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngIf="locationData.sublocations.length == 0">
								<td colspan="6" class="center-align">
									<p>No sublocations found</p>
								</td>
							</tr>
							<tr *ngFor="let sub of locationData.sublocations">
								<td>
									{{sub.name}}
								</td>
								<td>
									{{sub.overall_floor_warden}}
								</td>
								<td>
									{{sub.overall_warden_count}}
								</td>
								<td class="trainings">
									<div class="percent">0%</div>
									<div class="bar"></div>
								</td>
								<td>
									{{sub.overall_impaired}}
								</td>
								<td>
									<a *ngIf="sub.sublocations.length == 0" [routerLink]="['/view-sublocation/', sub.location_id]">Details</a>
									<a *ngIf="sub.sublocations.length > 0" [routerLink]="['/view-location/', sub.location_id]">Details</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>
</div>

