<div class="row">
	<div class="col l2 m2 s12">
		<div class="manage-compliance">
			<h5 class="center compliacne-rating">Compliance Rating</h5>

            <div class="center" [hidden]="!showLoadingCompliance">
                <div class="preloader-wrapper center big active" >
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>

			<div id="specificChart" class="donut-size" [hidden]="showLoadingCompliance">
				<div class="pie-wrapper">
					<span class="label">
						<span class="num"> 00 </span><span class="smaller">%</span>
					</span>
					<div class="pie">
						<div class="left-side half-circle" ></div>
						<div class="right-side half-circle" ></div>
					</div>
					<div class="shadow"></div>
				</div>
			</div>
			<p class="completion" [hidden]="showLoadingCompliance">
				<span class="start number">0 </span>
				<span>of </span>
				<span class="end number">0 </span>
				<span class="end">completion</span>
			</p>
			<h5 *ngIf="locationData.admin_verified == 0 && !showLoadingCompliance" class="blue-text center">For Verification</h5>
			<a *ngIf="locationData.admin_verified == 1 && !showLoadingCompliance" class="btn blue waves-effect waves-light" [routerLink]="['/location/compliance/view',  encryptedID]" >Manage Compliance</a>
		</div>
	</div>
	<div class="col l10 m10 s12">
		<div class="row">
			<div class="col l12 m12 s12" style="margin-bottom: 40px;">
				<div class="details-container left">
					<div class="inline-block image-wrapper">
						<div class="image-container">
							<div class="image">
								<img src="assets/images/locations/default_profile_location.png" alt="" *ngIf="!locationData.google_photo_url">
								<img src="{{locationData.google_photo_url}}" alt="" *ngIf="locationData.google_photo_url">
							</div>
						</div>
					</div>
					<div class="inline-block details">
						<table class="no-borders">
							<tr>
								<td><h5> <span *ngIf="locationData.parent.name">{{locationData.parent.name}}, </span> {{locationData.name}} </h5></td>
							</tr>
							<tr>
								<td>{{locationData.formatted_address}}</td>
							</tr>
							<tr>
								<td>
									<button class="btn orange accent-2 waves-effect waves-light edit-details" (click)="clickEditDetails()">Edit Details</button>
								</td>
							</tr>

							<!-- <tr>
								<td>Region : N/A</td>
							</tr> -->

						</table>
					</div>
				</div>

				<div class="right">
					<div class="table-align" style="margin-bottom: 30px;">
						<!-- <h5 class="medium-text">Show only not compliant</h5>
						<div class="switch">
							<input type="checkbox" id="override">
							<div class="yes">Yes</div>
							<div class="no">No</div>
							<div class="highlight"></div>
							<div class="background"></div>
						</div> -->

						<a href="#" class="archived" [routerLink]="['/location/list']">
							<span class="image"></span>
							View Archive
						</a>
					</div>

					<a class="btn grey waves-effect waves-light back-to-location right" [routerLink]="['/location/list']">
						Back to location
					</a>
				</div>

				<div style="clear: both;"></div>


			</div>

			<div class="col l12 m12 s12">
				<table class="highlight striped table-list-locations">
					<thead>
						<tr class="grey darken-4 white-text">
							<th>Sub Location</th>
							<th>Warden Benchmarking</th>
							<th>No. of Tenants</th>
							<!-- <th>Compliance</th> -->
							<th>Manage</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngIf="locationData.sublocations.length == 0">
							<td colspan="5" class="center-align">
								<p>No sublocations found</p>
							</td>
						</tr>
						<tr *ngFor="let sub of locationData.sublocations">
							<td>
								<a [routerLink]="['/location/view/', sub.location_id]" class="location-name-link" *ngIf="sub.children.length > 0">
									{{sub.name}}
								</a>

								<a [routerLink]="['/location/view-sublocation/', sub.location_id]" class="location-name-link" *ngIf="sub.children.length == 0">
									{{sub.name}}
								</a>

							</td>
							<td>
                <!-- {{sub.trained_wardens}} / {{sub.total_wardens}} -->
                {{sub.trained_wardens}} / {{sub.total_estimated_wardens}}
							</td>
							<td>
								<span style="margin-right:10px;">{{sub.num_tenants}}</span>
								<!-- <a class="btn grey darken-2 waves-effect waves-light" [routerLink]="['/teams/add-user/tenant/', sub.location_id]"> Add tenants </a> -->
                            </td>
                            <td class="select-blue">
                                <select class="select-from-row">
                                    <option value="0">Manage</option>
                                    <option value="view-{{sub.location_id}}" *ngIf="sub.children.length > 0">View Location</option>
                                    <option value="viewsub-{{sub.location_id}}" *ngIf="sub.children.length == 0">View Location</option>
                                    <option value="addtenants-{{sub.location_id}}" >Add Tenants</option>
                                    <option value="archive">Archive</option>
                                    <option value="benchmark-{{sub.location_id}}">Benchmark</option>
                                </select>
                            </td>

                            <!--
							<td class="with-bar">

								<span *ngIf="locationData.admin_verified == 0" class="red-text">For Verification</span>
								<div *ngIf="locationData.admin_verified > 0" class="text">0%</div>
								<div *ngIf="locationData.admin_verified > 0" class="progress-container">
									<div class="progress">
								    	<div class="determinate" style="width: 0%;"></div>
									</div>
                                </div>

                            </td>
                            -- >

							<!-- <td>
								<a *ngIf="sub.children.length > 0" [routerLink]="['/location', 'view', sub.location_id]" >Details </a>
								<a *ngIf="sub.children.length == 0" [routerLink]="['/location', 'view-sublocation', sub.location_id]">Details</a>
							</td> -->
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
</div>
<div preloader></div>

<div id="modalAddSublocation" class="modal">
	<div class="modal-content">

		<div class="center-align" *ngIf="showLoaderModalSublocation">
			<div class="preloader-wrapper active" >
				<div class="spinner-layer spinner-red-only">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div><div class="gap-patch">
						<div class="circle"></div>
					</div><div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
		</div>

		<div *ngIf="!showLoaderModalSublocation">
			<h5 *ngIf="errorMessageModalSublocation.length == 0">Add New Sublocation</h5>

			<div class="center" *ngIf="errorMessageModalSublocation.length > 0">
				<h5>{{errorMessageModalSublocation}}</h5>
			</div>

			<form #form="ngForm" (submit)="addNewSubLocationSubmit(form, $event)" *ngIf="errorMessageModalSublocation.length == 0">
				<div class="input-field">
					<input autocomplete="off" id="inpSublocationName" #inputSublocation #inpSublocationName="ngModel" type="text" [(ngModel)]="inpSublocationNameTwoWayData" ngModel name="name" (keyup)="onKeyUpTypeSublocation(inpSublocationName.value)" [ngClass]="{ invalid : !inpSublocationName.valid && inpSublocationName.dirty }" required>
					<label for="inpSublocationName">Sublocation name</label>
				</div>
				<div class="search-result" style="padding: 20px 0px;" *ngIf="sameSublocation.length > 0">
				    <h6>Sublocation found in this location <p class="right" style="margin: 15px 0px;"> </p></h6>

				   	<ul style="margin: 0px; max-height: 275px; overflow-y: auto;">
					    <li style="border-bottom: 1px solid #ddd;font-size: 16px;padding: 10px 0px;" *ngFor="let sub of sameSublocation">
						    <span>{{sub.name}}</span>
						    <a  class="right select-sub blue-text" #selectElement (click)="selectAddNewSubResult(sub, selectElement)" style="margin-right: 10px;">select</a>
						</li>
					</ul>
				</div>
				<div class="button-container right-align">
					<a  class="btn grey lighten-1 waves-effect waves-light modal-action modal-close">Cancel</a>
					<button type="submit" class="btn orange waves-effect waves-light">Submit</button>
				</div>
			</form>
		</div>


	</div>
</div>

<div id="modalArchive" class="modal">
	<div class="modal-content">
		<div class="center-align" *ngIf="showLoaderModalSublocation">
			<div class="preloader-wrapper active" >
				<div class="spinner-layer spinner-red-only">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div><div class="gap-patch">
						<div class="circle"></div>
					</div><div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="center" *ngIf="errorMessageModalSublocation.length > 0 && !showLoaderModalSublocation">
			<h4>{{errorMessageModalSublocation}}</h4>
		</div>

		<div class="center-align" *ngIf="errorMessageModalSublocation.length == 0 && !showLoaderModalSublocation">
			<h5>Are you sure you want to archive this '{{selectedLocationToArchive.name}}'</h5>
		</div>

		<div class="button-container center-align" *ngIf="!showLoaderModalSublocation">
			<a  class="modal-action modal-close waves-effect waves-light btn grey lighten-1 btn-flat">Cancel</a>
    		<button type="submit" class="waves-effect waves-light btn orange btn-flat" (click)="onClickYesArchive()">Yes</button>
		</div>

	</div>
</div>

<div id="modalEditDetails" class="modal">

	<div class="modal-content" *ngIf="showModalEditLoader">
		<div class="center-align" >
			<div class="preloader-wrapper active" >
				<div class="spinner-layer spinner-red-only">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div><div class="gap-patch">
						<div class="circle"></div>
					</div><div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal-content" *ngIf="!showModalEditLoader">
		<div class="row">
			<div class="col l7 m7 s12">
				<h5> Edit Details </h5>
			</div>
			<div class="col l5 m5 s12 right-align add-sublocation-container">
				<a  class="blue-text" (click)="addSublocation()">+ Add Sublocation</a>
			</div>
		</div>
		<form #formEditLocation="ngForm" (submit)="submitEditLocation(formEditLocation)">
			<div class="row">
				<div class="col s12 input-field">
					<label>Location name</label>
					<input type="text" [(ngModel)]="toEditLocations.name" name="name" required minlength="1">
				</div>

				<div class="col s12 input-field" *ngFor="let sub of toEditLocations.sublocations; let i = index;">
					<label>Sublocation name</label>
					<input type="text" name="sublocation[{{i}}]" [(ngModel)]="sub.name" required minlength="1">
				</div>
			</div>

			<div class="row">
				<div class="col s12 right-align">
					<a  class="btn grey lighten-1 waves-effect waves-light modal-action modal-close" (click)="cancelEditLocation(formEditLocation)">Cancel</a>
					<button type="submit" class="btn orange waves-effect waves-light" [disabled]="!formEditLocation.valid">Submit</button>
				</div>
			</div>
		</form>
	</div>

</div>

<div id="modalWardenBenchmarkCalc" class="modal">
  <div class="modal-content" >
    <app-warden-benchmarking [location_id]=locationToApplyActionTo></app-warden-benchmarking>
  </div>
</div>

<div id="modalAddNewTenant" class="modal">
    <div class="modal-content" [hidden]="!showModalNewTenantLoader">
        <div class="center-align">
            <div class="preloader-wrapper active" >
                <div class="spinner-layer spinner-red-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-content" [hidden]="showModalNewTenantLoader">

        <h5>Add New Tenant </h5>
        <h6><span *ngIf="selectedLocation.name.length > 0">{{selectedLocation.name}}</span>  <span *ngIf="selectedLocation.name.length == 0">{{selectedLocation.formatted_address}}</span> </h6>

        <h6 [hidden]="!showLoadingSublocations">Fetching locations...</h6>

        <form #formAddTenant="ngForm" (submit)="submitNewTenant(formAddTenant)" [hidden]="showLoadingSublocations">

            <div class="row">
                <div class="col l12 m12 s12">
                    <div class="select-field"  >
                        <select ngModel name="location_id" class="location-id from-modal"  required>
                            <option value="0" disabled>Select Location</option>
                            <option *ngFor="let sub of selectedLocation.sublocations;" [value]="sub.location_id" >{{sub.name}}</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <input id="company_name" type="text" name="account_name" ngModel required>
                        <label for="company_name">Tenancy Name</label>
                    </div>


                    <div class="input-field" >
                        <input id="key_contact_name" type="text" name="key_contact_name" ngModel required>
                        <label for="key_contact_name"> Name </label>
                    </div>

                    <div class="input-field" >
                        <input id="key_contact_lastname" type="text" name="key_contact_lastname" ngModel required>
                        <label for="key_contact_lastname"> Last Name </label>
                    </div>

                    <div class="input-field">
                        <input id="email" type="email" name="email" ngModel #email="ngModel" email pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required>
                        <label for="email">Email
                        <small *ngIf=" !email.valid && email.dirty ">Invalid email address</small>
                        <span *ngIf="emailTaken" email-taken class="red-text"> *Email taken </span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col l12 m12 s12">
                    <div class="button-container right-align" >
                        <a  class="modal-action modal-close waves-effect waves-light btn grey lighten-1 btn-flat">Cancel</a>
                        <button type="submit" class="waves-effect waves-light btn orange btn-flat" [disabled]="!formAddTenant.valid">Submit</button>
                    </div>
                </div>
            </div>

        </form>


    </div>
</div>
