<app-admin-account-info [accountId]="accountId"></app-admin-account-info>
<div class="invitations-container">
  <div class="row">
    <div class="col l12 m12 s12">
        <h5>
            All Available Trainings On This Account
        </h5>

        <table class="table striped highlight">
          <thead>
            <tr>
                <th>Course ID</th>
                <th>Course</th>
                <th>Training ID</th>
                <th>Training</th>
                <th>Role</th>
                <th style="width: 10%">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="trainingData.length == 0">
              <td colspan="6" class="center">
                <h6 *ngIf="trainingData.length == 0">
                    No record found!
                </h6>
              </td>
            </tr>
            <tr *ngFor="let training of trainingData">
              <td>{{training['course_id']}}</td>
              <td>{{training['course_name']}}</td>
              <td>{{training['training_requirement_id']}}</td>
              <td>{{training['training_requirement_name']}}</td>
              <td>{{training['role_name']}}</td>
              <td>
                <p><button (click)="assignTrainingToRole(training)">Assign Training to all {{training['role_name']}}</button></p>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>

  <div class="row">
      <div class="col l12 right-align">
          <!-- <button  class="btn cancel red red-text white-text">Cancel</button> -->
      </div>
  </div>

</div>

