<div class="top-gray">
	<ul class="left">
		<li>
			<h5 class="blue-text">Online Training</h5>
		</li>
		<li>
			<h5>Face to Face Training</h5>
		</li>
	</ul>
	<ul class="right">
		<li>
			Choose Location
		</li>
		<li>
			<select [(ngModel)]="selectLocation" id="selectLocation" style="transition: all 0.5s;">
				<option value="0" disabled selected >Select Location</option>
				<option value="{{loc.location_id}}" *ngFor="let loc of locations">{{loc.name}}</option>
			</select>
		</li>
	</ul>
	<div style="clear: both;"></div>
</div>

<div class="container" [hidden]="trainingsProducts.length > 0">
	<div class="row">
		<div class="col l12 m12 s12">
			<h4 class="center">No Products Yet</h4>
		</div>
	</div>
</div>

<div class="package-container" [hidden]="trainingsProducts.length == 0">
	
	<div class="row">
		
		<div class="col l2 m6 s12" *ngFor="let prod of trainingsProducts">
			<div class="package-wrapper" #package>
				<div class="content">
					<div class="image teal accent-4 center-block"></div>
					<h5 class="title blue-text">
						{{ prod.product_title }}
					</h5>
					<div [innerHTML]="prod.product_desc"></div>
					<select style="font-size: 12px; margin-top: 5px;" [attr.product-id]="prod.product_id">
						<option value="0" disabled selected>Select training for</option>
						<option value="{{user.user_id}}" *ngFor="let user of users">{{user.first_name}} {{user.last_name}}</option>
					</select>
				</div>
				<div class="button-container">
					<button class="btn-flat waves-effect waves-light save" #btnSave *ngIf="!isInFavorites(prod.product_id)" (click)="addToFavorites(prod.product_id, package, btnSave)">
						<div class="image"></div> Save
					</button>

					<button class="btn-flat waves-effect waves-light save" #btnSaveRemove *ngIf="isInFavorites(prod.product_id)" (click)="removeFavorite(prod.product_id, btnSaveRemove)">
						<div class="image"></div> Remove
					</button>

					<button class="btn orange waves-effect waves-light buy" #btnAdd *ngIf="!isInCart(prod.product_id)" (click)="addToCart(prod.product_id, btnAdd)">
						<div class="image"></div> Buy
					</button>

					<button class="btn orange waves-effect waves-light buy" #btnRemove *ngIf="isInCart(prod.product_id)" (click)="removeFromCart(prod.product_id, btnRemove)">
						<div class="image"></div> Remove
					</button>
				</div>
			</div>
		</div>


	</div>

</div>