<div class="top-gray">
	<ul class="left">
		<li>
			<h5 class="blue-text">Online Training</h5>
		</li>
		<li>
			<h5>Face to Face Training</h5>
		</li>
	</ul>
	<ul class="right">
		<li>
			Choose Location
		</li>
		<li>
			<select>
				<option value="0" disabled selected >Select Location</option>
			</select>
		</li>
	</ul>
	<div style="clear: both;"></div>
</div>

<div class="package-container">
	
	<div class="row">
		
		<div class="col l2 m6 s12">
			<div class="package-wrapper">
				<div class="content">
					<div class="image teal accent-4 center-block"></div>
					<h5 class="title blue-text">
						General Occupant and First Response
					</h5>
					<p class="orange-text">Online Training</p>
					<p>
						Facilis curabitur culpa morbi accusamus, anim augue tenetur tellus quos torquent maiores porta taciti officiis, et in iste mollis excepturi.
					</p>
					<select>
						<option value="0" disabled selected>Select training for</option>
					</select>
				</div>
				<div class="button-container">
					<button class="btn-flat waves-effect waves-light save">
						<div class="image"></div> Save
					</button>
					<button class="btn orange waves-effect waves-light buy">
						<div class="image"></div> Buy
					</button>
				</div>
			</div>
		</div>


		<div class="col l2 m6 s12">
			<div class="package-wrapper">
				<div class="content">
					<div class="image indigo center-block"></div>
					<h5 class="title blue-text">
						Emergency Control Organization
					</h5>
					<p class="orange-text">Online Training</p>
					<p>
						Facilis curabitur culpa morbi accusamus, anim augue tenetur tellus quos torquent maiores porta taciti officiis, et in iste mollis excepturi.
					</p>
					<select>
						<option value="0" disabled selected>Select training for</option>
					</select>
				</div>
				<div class="button-container">
					<button class="btn-flat waves-effect waves-light save">
						<div class="image"></div> Save
					</button>
					<button class="btn orange waves-effect waves-light buy">
						<div class="image"></div> Buy
					</button>
				</div>
			</div>
		</div>

	</div>

</div>