<div class="container">
	
	<div class="row">
		<div class="col l12 m12 s12">
			<h5>Training Invite</h5>
		</div>
	</div>

	<div class="row filter-container">
		<div class="col l4 m6 s12">
			<div class="search-container" >
				<div class="input-container">
					<input type="text" placeholder="Search Level" >
				</div>
				<div class="icon-container">
					<img src="assets/images/search-grey.png" alt="">
				</div>
			</div>
		</div>

		<div class="col l3 m6 s12">
			<select>
				<option value="0" selected disabled>Select Location</option>
			</select>
		</div>

		<div class="col l3 m6 s12">
			<select>
				<option value="0" selected disabled>Select Training Course</option>
			</select>
		</div>

		<div class="col l2 m6 s12">
			<button class="btn orange waves-effect waves-light">Invite</button>
		</div>
	</div>

	<div class="row">
		
		<div class="col l12 m12 12">
			
			<table class="table bordered striped">
				<thead>
					<tr class="grey darken-4 white-text">
						<th>Name</th>
						<th>ECO</th>
						<th>Locations</th>
						<th>Training Course</th>
						<th>Training</th>
						<th>Edit</th>
						<th>Select</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<img src="" alt="">
							<span>John Snow</span>
						</td>
						<td>
							Chief Deputy Warden
						</td>
						<td>
							Jaka, Level 1
						</td>
						<td>
							EvaCourse
						</td>
						<td>
							<span class="green-text">
								3/3
							</span>
						</td>
						<td>
							<a href="javacsript:void(0)" class="blue-text">Details</a>
						</td>
						<td>
							<input id="check1" type="checkbox" class="filled-in">
							<label for="check1"></label>
						</td>
					</tr>
					<tr>
						<td>
							<img src="" alt="">
							<span>Ned Stark</span>
						</td>
						<td>
							Floor Warden
						</td>
						<td>
							Jaka, Level 2
						</td>
						<td>
							EvaCourse
						</td>
						<td>
							<span class="red-text">
								0/3
							</span>
						</td>
						<td>
							<a href="javacsript:void(0)" class="blue-text">Details</a>
						</td>
						<td>
							<input id="check2" type="checkbox" class="filled-in">
							<label for="check2"></label>
						</td>
					</tr>
				</tbody>
			</table>

		</div>

	</div>
</div>
