<div class="main-confirmation-header" *ngIf="step < 4"><span class="header-text">Confirmation process is in progress</span></div>

<div class="navbar-fixed" *ngIf="step == 0">
    <div class="navbar-fixed-control-text">
        <span>Are the information below updated?</span>        
    </div>
    <div class="navbar-fixed-control-buttons">
        <button class="btn orange waves-effect waves-light" [routerLink]="['/teams', 'view-warden']" [queryParams]="{confirmation: true}" type="button">Yes</button>
        <button class="btn white waves-effect waves-light" type="button" (click)="sendEditMessage()"><span class="no-label-btn">No</span></button>
    </div>
</div>

<div class="navbar-fixed" *ngIf="step == 1">
    <div *ngIf="showLocationCtrlButton == true">
        <div class="navbar-fixed-control-text">
            <span>Are you still located at the sublocation specified below?</span>        
        </div>
        <div class="navbar-fixed-control-buttons">
            <button class="btn orange waves-effect waves-light" [routerLink]="['/dashboard', 'stay-and-go']" [queryParams]="{confirmation: true, step: 3}" type="button">Yes</button>
            <button class="btn white waves-effect waves-light" type="button" (click)="showLocationCtrlButton=false"><span class="no-label-btn">No</span></button>
        </div>
    </div>
    <div *ngIf="showLocationCtrlButton == false">
        <div class="navbar-fixed-control-text">
            <span>Click "Update Sub Location"</span>
        </div>
        
    </div>
    
</div>


<div class="navbar-fixed" *ngIf="step == 3">
    <div class="navbar-fixed-control-text">
        <span>We have chosen some information that we think you might be interested in.</span>        
    </div>
    <div class="navbar-fixed-control-buttons">
        <button class="btn orange waves-effect waves-light" [routerLink]="['/trainings', 'new-training']" [queryParams]="{confirmation: true}" type="button">Next</button>        
    </div>
</div>

<div class="navbar-fixed" *ngIf="step == 4">
    <div class="navbar-fixed-control-text">
        <span>The information below are your training rquirements and history. Complete all training modules to become comppliant.</span>        
    </div>    
</div>


<div id="modal-welcome-confirmation" class="modal">
    <div class="modal-content">
        <div class="modal-content-message">
            <h5>Welcome back to EvacConnect,</h5>
            <h4>{{myName}}</h4>
            <div style="padding: 15px 0px">
                <p>Thank you for participating. We just need a little bit of your time to  keep you current.</p>
                <p>
                    We are currently implementing a reward system.
                    The more you interact with us by keeping us informed or completing
                    training on time, the more reward points you will earn
                </p>
            </div>
            <div class="modal-footer">
                <button class="modal-close btn orange waves-effect waves-light">Start the confirmation process</button>
            </div>
        </div>
    </div>
</div>


