<app-navbar *ngIf="!showConfirmationProcessBar"></app-navbar>
<app-role-confirmation [step]="confirmationProcessStep" *ngIf="showConfirmationProcessBar"></app-role-confirmation><div class="teams-navigation" *ngIf="showTeamNav">
	<ul>

		<li class="wardens pink-theme  " [routerLink]="['/teams/list-wardens']">
			<a >
				<div class="default"> </div>
				<div class="hover"> </div>
				<span>
					Wardens
				</span>
			</a>
		</li>

		<li class="mobility purple-theme" [routerLink]="['/teams/mobility-impaired']" *ngIf="subscriptionType != 'free'">
			<a >
				<div class="default"> </div>
				<div class="hover"> </div>
				<span>
					Mobility Impaired
				</span>
			</a>
		</li>

		<li class="general-occupant green-theme" [routerLink]="['/teams/list-general-occupant']">
			<a >
				<div class="default"> </div>
				<div class="hover"> </div>
				<span>
					General Occupant
				</span>
			</a>
		</li>

        <li class="administrator blue-theme" [routerLink]="['/teams/list-administrators']">
            <a >
                <div class="default"> </div>
                <div class="hover"> </div>
                <span>
                    Administrators
                </span>
            </a>
        </li>

  </ul>
</div>
<div class="workspace container">
	<router-outlet></router-outlet>
	<div preloader></div>
</div>
