.training-box{
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 15px;
    width: 220px;
    float: left;
    margin: 5px;
}

.training-box .btn{
	width: 100%;
	margin-bottom: 10px;
	font-size: 13px !important;
	padding: 0px;
}

.training-box .image-content{
	height: 250px;
}

.training-box .image-content .image{
	width: 120px;
    height: 120px;
    border-radius: 70px;
    margin: 0 auto;
}

.training-box .image-content .content{
	font-size: 14px;
    text-align: center;
    margin-top: 10%;
	color: #565656;
}

@media screen and (max-width: 1024px) {
	.training-box{
		width: 310px;
	}
}

@media screen and (max-width: 768px) {
	.training-box{
		width: 285px;
	}
}

@media screen and (max-width: 500px) {
	.training-box{
		width: 100%;
	}
}