<div class="row">
	<div class="col s12 m12 l12" style="border-bottom: 1px solid #ddd;">
		<h5 class="blue-text page-title">
			Online Training
		</h5>
	</div>
</div>

<div class="container" style="margin-top: 5%;">

	<div class="row">
		
		<div class="col l12 m12 s12">
			
			<div class="training-box">
				<div class="image-content">
					<div class="image grey lighten-2"></div>
					<div class="content">
						General Occupant and First Response
					</div>
				</div>
				<div class="buttons">
					<form action="POST" action="" ngNoForm>
						<button type="submit" class="btn red waves-effect waves-light">Take this course</button>
					</form>
				</div>
			</div>


			<div class="training-box">
				<div class="image-content">
					<div class="image grey lighten-2"></div>
					<div class="content">
						Bomb Threat Training
					</div>
				</div>
				<div class="buttons">
					<form action="POST" action="" ngNoForm>
						<button type="submit" class="btn red waves-effect waves-light">Take this course</button>
					</form>
				</div>
			</div>

			<div class="training-box">
				<div class="image-content">
					<div class="image grey lighten-2"></div>
					<div class="content">
						Emergency Control Organization

						<p class="blue-text">Valid until 00/00/0000</p>
					</div>
				</div>
				<div class="buttons">
					<button class="btn light-blue waves-effect waves-light">Download Certificate</button>
					<button  class="btn grey waves-effect waves-light">Retake this course</button>
				</div>
			</div>

			<div class="training-box">
				<div class="image-content">
					<div class="image grey lighten-2"></div>
					<div class="content">
						Active Shooter Response Procedures

						<p class="blue-text">Valid until 00/00/0000</p>
					</div>
				</div>
				<div class="buttons">
					<button class="btn light-blue waves-effect waves-light">Download Certificate</button>
					<button  class="btn grey waves-effect waves-light">Retake this course</button>
				</div>
			</div>

			<div class="training-box">
				<div class="image-content">
					<div class="image grey lighten-2"></div>
					<div class="content">
						Shelter in Place Procedures

						<p class="blue-text">Valid until 00/00/0000</p>
					</div>
				</div>
				<div class="buttons">
					<button class="btn light-blue waves-effect waves-light">Download Certificate</button>
					<button  class="btn grey waves-effect waves-light">Retake this course</button>
				</div>
			</div>

		</div>


	</div>

</div>