<div class="row">
  <div class="col l12 m12 s12 hover-back-button">
    <div class="backbutton blue-grey inline-block margin-right-20" [routerLink]="['/admin/locations-in-account/'+accountIdParam]">
        <i class="material-icons">arrow_back</i>
    </div>

    <div class="inline-block">
        <div class="bread link" *ngIf="traversal['p5_name']" [routerLink]="['/admin', 'view-location', traversal['p5_location_id']]">
          <h5 class="text">{{traversal['p5_name']}}</h5>
        </div>
        <div class="bread link" *ngIf="traversal['p4_name']" [routerLink]="['/admin', 'view-location', traversal['p4_location_id']]">
          <h5 class="text">{{traversal['p4_name']}}</h5>
        </div>
        <div class="bread link" *ngIf="traversal['p3_name']" [routerLink]="['/admin', 'view-location', traversal['p3_location_id']]">
          <h5 class="text">{{traversal['p3_name']}}</h5>
        </div>
        <div class="bread link" *ngIf="traversal['p2_name']" [routerLink]="['/admin', 'view-location', traversal['p2_location_id']]">
          <h5 class="text">{{traversal['p2_name']}}</h5>
        </div>
        <div class="bread link" *ngIf="traversal['p1_name']" [routerLink]="['/admin', 'view-location', traversal['p1_location_id']]">
          <h5 class="text">{{traversal['p1_name']}}</h5>
        </div>
        <div class="bread">
          <h5 class="text">{{location_details['name']}}</h5>
        </div>
    </div>

  </div>

  <div class="col l12 m12 s12">
    <div  class="label-and-text">
        <label >Location Id:</label>
        <p >{{location_details['location_id']}}</p>
    </div>
    <div  class="label-and-text">
        <label >Address:</label>
        <p >{{location_details['street']}} {{location_details['city']}} {{location_details['state']}} {{location_details['postal_code']}}</p>
    </div>
    <div  class="label-and-text">
        <label >Settings:</label>
        <div class="checkbox">
          <input id="ola" type="checkbox" [(ngModel)]="location_details.online_training" (change)="toggleOnlineTrainingAccess($event)"><label for="ola">Access to Online Training</label>          
        </div>
        <div class="checkbox">
            <input id="archive" type="checkbox" [(ngModel)]="location_details.archived" (change)="archiveLocation($event)"><label for="archive">Archive</label>          
        </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col l12 m12 s12">
        <div class="mid-nav">
            <ul id="nav-mobile">
                <li [routerLink]="['/admin', 'view-location', locationId]" [queryParams]="{ active : 'locations', accntId : accountIdParam }" [ngClass]="{active:activeLink=='locations'}"> SubLocations </li>
                <li [routerLink]="['/admin', 'view-location', locationId]" [queryParams]="{ active : 'people' }" [ngClass]="{active:activeLink=='people'}"> Team </li>                
                <li [routerLink]="['/admin', 'view-location', locationId]" [queryParams]="{ active : 'accounts' }" [ngClass]="{active:activeLink=='accounts'}"> Compliance </li>
                <li [routerLink]="['/admin', 'view-location', locationId]" [queryParams]="{ active : 'information' }" [ngClass]="{active:activeLink=='information'}"> Information </li>
                
                <!--<li [routerLink]="['/admin', 'view-location', locationId]" [queryParams]="{ active : 'compliance', accntId : accountIdParam }" [ngClass]="{active:activeLink=='compliance'}"> Compliance </li>
                <li [routerLink]="['/admin', 'view-location', locationId]" [ngClass]="{active:activeLink=='trainings'}"> Trainings </li> -->
            </ul>
        </div>
    </div>
</div>

<div class="row" [hidden]=" (activeLink=='locations') == false ">
  <div class="col l12 m12 s12">
    <table class="table striped table-peep">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Sublocations</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sub of sublocations">
            <td><a [routerLink]="['/admin', 'view-location', sub['location_id']]" [queryParams]="{ active : 'locations' }">{{sub['name']}}</a></td>
            <td><a [routerLink]="['/admin', 'view-location', sub['location_id']]" [queryParams]="{ active : 'locations' }">{{sub['formatted_address']}}</a></td>
            <td><a [routerLink]="['/admin', 'view-location', sub['location_id']]" [queryParams]="{ active : 'locations' }">{{sub['sublocations_count']}}</a></td>            
          </tr>
          <tr *ngIf="sublocations.length == 0">
            <td colspan="3">No sublocations</td>
          </tr>
        </tbody>
    </table>
  </div>
</div>

<div class="row" [hidden]=" (activeLink=='people') == false ">
  <div class="col l12 m12 s12">
    <table class="table striped table-peep">
      <thead>
        <tr>
          <th>Name</th>
          <th>Account</th>
          <th>Account Roles</th>
          <th>Emergency Roles</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngIf="people.length == 0">
                <td colspan="4" class="center">
                    <p>No result found</p>
                </td>
            </tr>
          <tr *ngFor="let person of people">
            <td>
                <a [routerLink]="['/admin/view-user/', person['user_id']]">{{person['name']}}</a>
            </td>
            <td>{{person['account_name']}}</td>
            <td><span *ngFor="let accntRole of person['account_role']" style="display: block;">
                {{accntRole}}
            </span></td>
            <td>
              <span *ngFor="let emRole of person['em_role']"  style="display: block;">
                {{emRole}}
              </span>
            </td>
          </tr>
        </tbody>
    </table>
  </div>
</div>

<div class="row" [hidden]=" (activeLink=='accounts') == false ">
  <div class="col l12 m12 s12">
    <table class="table striped table-peep">
      <thead>
        <tr>
          <th>Account</th>
          <th>Relationship</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngIf="accounts.length == 0">
                <td colspan="3" class="center">
                    <p>No result found</p>
                </td>
            </tr>
          <tr *ngFor="let account of accounts">
            <td><a [routerLink]="['/admin', 'users-in-accounts', account['account_id']]">{{account['account_name']}}</a></td>
            <td>{{account['responsibility']}}</td>
            <td><a [routerLink]="['/admin', 'view-location-compliance', account['account_id'], complianceLocation, account['responsibility_id'], '2']">View Compliance</a></td>
          </tr>
        </tbody>
    </table>
  </div>
</div>


<div class="row" [hidden]="(activeLink=='information') == false">
  <div class="col l7 m7 s7">
      <form #formInfo="ngForm" (submit)="updateInfo(formInfo)">
          <input type="hidden" name="location_id" [(ngModel)]="location_details['location_id']">
          
          <div class="col l7 m7 s12">
              <div class="input-field">
                                    
                  <input [(ngModel)]="location_details.name" name="name" id="input_text_name" type="text" placeholder="Location/Building Name" required #inputLocationName="ngModel">
                  <label for="input_text_name" class="active">
                      Location Name
                      <span class="red-text" *ngIf=" !inputLocationName.valid && inputLocationName.dirty ">*Required</span>
                  </label>
              </div>
          </div>

          <div class="col l7 m7 s12">
              <div class="input-field">                  
                  <input [(ngModel)]="location_details.street" name="street" id="input_text_street" type="text" placeholder="Street name" required #inputLocationStreet="ngModel">
                  <label for="input_text_street" class="active">
                      Street Name
                      <span class="red-text" *ngIf=" !inputLocationStreet.valid && inputLocationStreet.dirty ">*Required</span>
                  </label>
              </div>
          </div>

          <div class="col l7 m7 s12">
              <div class="input-field">                  
                  <input [(ngModel)]="location_details.city" name="city" id="input_text_city" type="text" placeholder="City" required #inputLocationCity="ngModel">
                  <label for="input_text_city" class="active">
                      City
                      <span class="red-text" *ngIf=" !inputLocationCity.valid && inputLocationCity.dirty ">*Required</span>
                  </label>
              </div>
          </div>

          <div class="col l7 m7 s12">
              <div class="input-field">                  
                  <input [(ngModel)]="location_details.state" name="state" id="input_text_state" type="text" placeholder="State" required #inputLocationState="ngModel">
                  <label for="input_text_state" class="active">
                      State
                      <span class="red-text" *ngIf=" !inputLocationState.valid && inputLocationState.dirty ">*Required</span>
                  </label>
              </div>
          </div>

          <div class="col l7 m7 s12">
              <div class="input-field">                  
                  <input [(ngModel)]="location_details.postal_code" name="postal_code" id="input_text_postal" type="text" placeholder="Postal Code">
                  <label for="input_text_postal" class="active">
                      Postal Code
                  </label>
              </div>
          </div>

          <div class="col l7 m7 s12  right-align">
              <button [disabled]="!formInfo.valid" type="submit" class="btn lighten-1 orange waves-effect">Update Location Information</button>
          </div>
          
        
      </form>
    </div>
</div>

<div class="row" [hidden]=" (activeLink=='compliance') == false">
    <app-admin-compliance-summary [selectedKPIinput]="2" [locationIdInput]="locationId" [accountIdInput]="accountIdParam" [hideAccountComponent]="true"></app-admin-compliance-summary>
</div>

<div id="modalConfirm" class="modal">
    <div class="modal-content">
      <h5>Confirmation</h5>
      <p style="font-size: 16px;">
        {{message}}
      </p>
    </div>
    <div class="modal-footer">
      <a  class="modal-action modal-close waves-effect waves-red btn-flat">OK</a>		
    </div>
  </div>
  

<div preloader></div>