<div class="row">
  <div class="col l12 m12 s12 hover-back-button">
    <div class="backbutton blue-grey inline-block margin-right-20" [routerLink]="['/admin/locations-in-account/'+accountIdParam]">
        <i class="material-icons">arrow_back</i>
    </div>

    <div class="inline-block">
        <div class="bread link" *ngIf="traversal['p5_name']" [routerLink]="['/admin', 'view-location', traversal['p5_location_id']]">
          <h5 class="text">{{traversal['p5_name']}}</h5>
        </div>
        <div class="bread link" *ngIf="traversal['p4_name']" [routerLink]="['/admin', 'view-location', traversal['p4_location_id']]">
          <h5 class="text">{{traversal['p4_name']}}</h5>
        </div>
        <div class="bread link" *ngIf="traversal['p3_name']" [routerLink]="['/admin', 'view-location', traversal['p3_location_id']]">
          <h5 class="text">{{traversal['p3_name']}}</h5>
        </div>
        <div class="bread link" *ngIf="traversal['p2_name']" [routerLink]="['/admin', 'view-location', traversal['p2_location_id']]">
          <h5 class="text">{{traversal['p2_name']}}</h5>
        </div>
        <div class="bread link" *ngIf="traversal['p1_name']" [routerLink]="['/admin', 'view-location', traversal['p1_location_id']]">
          <h5 class="text">{{traversal['p1_name']}}</h5>
        </div>
        <div class="bread">
          <h5 class="text">{{location_details['name']}}</h5>
        </div>
    </div>

  </div>

  <div class="col l12 m12 s12">
    <div  class="label-and-text">
        <label >Location Id:</label>
        <p >{{location_details['location_id']}}</p>
    </div>
    <div  class="label-and-text">
        <label >Address:</label>
        <p >{{location_details['formatted_address']}}</p>
    </div>
    <div  class="label-and-text">
        <label >Settings:</label>
        <div class="checkbox">
          <input id="ola" type="checkbox" [(ngModel)]="location_details.online_training" (change)="toggleOnlineTrainingAccess($event)"><label for="ola">Access to Online Training</label>
        </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col l12 m12 s12">
        <div class="mid-nav">
            <ul id="nav-mobile">
                <li *ngIf="sublocations.length > 0"  [routerLink]="['/admin', 'view-location', locationId]" [queryParams]="{ active : 'locations', accntId : accountIdParam }" [ngClass]="{active:activeLink=='locations'}"> SubLocations </li>
                <li [routerLink]="['/admin', 'view-location', locationId]" [queryParams]="{ active : 'people', accntId : accountIdParam }" [ngClass]="{active:activeLink=='people'}"> Team </li>
                <li [routerLink]="['/admin', 'view-location', locationId]" [queryParams]="{ active : 'accounts', accntId : accountIdParam }" [ngClass]="{active:activeLink=='accounts'}"> Accounts </li>
                <li [routerLink]="['/admin', 'view-location', locationId]" [queryParams]="{ active : 'compliance', accntId : accountIdParam }" [ngClass]="{active:activeLink=='compliance'}"> Compliance </li>
                <!-- <li [routerLink]="['/admin', 'view-location', locationId]" [ngClass]="{active:activeLink=='trainings'}"> Trainings </li> -->
            </ul>
        </div>
    </div>
</div>

<div class="row" [hidden]=" (activeLink=='locations') == false ">
  <div class="col l12 m12 s12">
    <table class="table striped table-peep">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Sublocations</th>
          <th>Compliance</th>
          <th>Archived</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sub of sublocations">
            <td><a [routerLink]="['/admin', 'view-location', sub['location_id']]">{{sub['name']}}</a></td>
            <td><a [routerLink]="['/admin', 'view-location', sub['location_id']]">{{sub['formatted_address']}}</a></td>
            <td><a [routerLink]="['/admin', 'view-location', sub['location_id']]">{{sub['sublocations_count']}}</a></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
    </table>
  </div>
</div>

<div class="row" [hidden]=" (activeLink=='people') == false ">
  <div class="col l12 m12 s12">
    <table class="table striped table-peep">
      <thead>
        <tr>
          <th>Name</th>
          <th>Account</th>
          <th>Account Roles</th>
          <th>Emergency Roles</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngIf="people.length == 0">
                <td colspan="4" class="center">
                    <p>No result found</p>
                </td>
            </tr>
          <tr *ngFor="let person of people">
            <td>
                <a [routerLink]="['/admin/view-user/', person['user_id']]">{{person['name']}}</a>
            </td>
            <td>{{person['account_name']}}</td>
            <td><span *ngFor="let accntRole of person['account_role']" style="display: block;">
                {{accntRole}}
            </span></td>
            <td>
              <span *ngFor="let emRole of person['em_role']"  style="display: block;">
                {{emRole}}
              </span>
            </td>
          </tr>
        </tbody>
    </table>
  </div>
</div>

<div class="row" [hidden]=" (activeLink=='accounts') == false ">
  <div class="col l12 m12 s12">
    <table class="table striped table-peep">
      <thead>
        <tr>
          <th>Account</th>
          <th>Relationship</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngIf="accounts.length == 0">
                <td colspan="3" class="center">
                    <p>No result found</p>
                </td>
            </tr>
          <tr *ngFor="let account of accounts">
            <td><a [routerLink]="['/admin', 'users-in-accounts', account['account_id']]">{{account['account_name']}}</a></td>
            <td><a [routerLink]="['/admin', 'users-in-accounts', account['account_id']]">{{account['responsibility']}}</a></td>
            <td></td>
          </tr>
        </tbody>
    </table>
  </div>
</div>

<div class="row" [hidden]=" (activeLink=='compliance') == false">
    <app-admin-compliance-summary [selectedKPIinput]="2" [locationIdInput]="locationId" [accountIdInput]="accountIdParam" [hideAccountComponent]="true"></app-admin-compliance-summary>
</div>

<div preloader></div>