<breadcrumbs-component></breadcrumbs-component>
<div class="row">
	<div class="col m12 l12 s12 top-title-button">
		<h4 class="title left">
			Nominate Warden
		</h4>
        
        <!-- <app-import-csv-button class="right"></app-import-csv-button> -->
		<!-- <button class="btn btn-flat right" (click)="showModalCSV()">
            <div class="image csv-wardens"></div>
            <div class="text">Nominate Wardens by CSV Upload</div>
        </button> -->
		<button class="btn btn-flat right" (click)="showModalInvite()" style="margin-right: 20px;">
			<div class="image invite-wardens"></div>
			<div class="text">Invite Wardens by Email</div>
		</button>
	</div>
</div>

<div class="row">
	<div class="col l12 m12 s12">

		<form #f="ngForm">
			<table class="table striped">
				<thead>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Email</th>
						<!-- <th>Account Role</th> -->
						<th>ECO Role</th>
						<th>Location</th>
						<th>Contact Information</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngIf="addedUsers.length == 0">
						<td colspan="7">
							<h6 class="center">Add new user</h6>
						</td>
					</tr>
					<tr *ngFor="let user of addedUsers; let i = index">
						<td >
							<input type="text" class="first-name" [(ngModel)]="user.first_name" placeholder="First name" name="first_name{{i}}" required>
						</td>
						<td >
							<input type="text" [(ngModel)]="user.last_name" placeholder="Last name" name="last_name{{i}}" required>
						</td>
						<td style="position: relative;">
							<div *ngIf="user.errors.email_taken || user.errors.blacklisted  || user.errors.invalid"  style=" position: absolute; right: 5px; top: 5px; background-color: #f44336; padding: 1% 3%; color: #fff; border-radius: 5px;">
								<span *ngIf="user.errors.email_taken">Email is taken</span>
                                <span *ngIf="user.errors.invalid">Invalid email</span>
                            </div>
                            <input type="text" [(ngModel)]="user.email" placeholder="Email" name="email{{i}}" required
                            pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'>
						</td>
						<!-- <td >
							<select required [(ngModel)]="user.role_id" name="accountRole{{i}}" (change)="onSelectedAccountRole(i)">
								<option value="0" selected>Select Account Role</option>
								<option *ngFor="let role of accountRoles" [value]="role.role_id"> {{ role.role_name }}</option>
							</select>
						</td> -->
						<td >
							<ng-multiselect-dropdown
                                #thisDropDown
                                [placeholder]="'Select Role'"
                                [data]="selectRolesDropdown"
                                [(ngModel)]="user.selected_roles"
                                [ngModelOptions]="{standalone: true}"
                                [settings]="dropdownSettings"
                                [name]="accountRole"
                                (onSelect)="onSelectRole($event, i, thisDropDown)"
                            >
                            </ng-multiselect-dropdown>
						</td>
						<td style="width: 300px;">
							<a  [class.disabled]="user.selected_roles == 0" class="blue-text" (click)="showLocationSelection(user)"> {{user.location_name}} </a>
							<input type="hidden" name="selectedLocation{{i}}" [(ngModel)]="user.account_location_id" required pattern="[1-9][0-9]*">
						</td>
						<td class="with-remove">
							<input type="text" [(ngModel)]="user.mobile_number" placeholder="Contact Information" name="mobile{{i}}">
							<a  class="remove" (click)="removeAddedUser(i)" [hidden]="i == 0">X</a>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="7">
							<button class="btn blue" (click)="addMoreRow()">
								+ Add more row
							</button>
						</td>
					</tr>
				</tfoot>
			</table>
		</form>

	<div class="col l12 m12 s12 button-container right-align">
		<button class="btn grey lighten-1 waves-effect waves-light cancel" [routerLink]="['/teams/list-wardens']"> Cancel </button>
		<button class="btn orange waves-effect waves-light cancel" (click)="addBulkWarden(f)" [disabled]="f.invalid"> Submit </button>
	</div>
</div>

<!-- <div id="modalUploadConfirmation" class="modal">
  <div class="modal-content">
    <div class="header-container center">
            <div class="image csv-wardens"></div>
            <div class="text">Nominate Wardens by CSV Upload Confirmation</div>
    </div>
    <div class="container">
      <table class="table striped">
                <thead>
                    <tr>
                        <th *ngFor="let i of csvHeaderNames">
              {{i}}
            </th>

                    </tr>
                </thead>
                <tbody>
          <tr *ngFor="let record of csvValidRecords;">
            <td *ngFor="let i of csvHeaderNames">
              {{record[i]}}
            </td>
          </tr>
          <tr *ngIf="csvInvalidRecords.length">
            <td colspan="6">Invalid record(s) found in your CSV file.</td>
          </tr>
          <tr *ngFor="let invalid of csvInvalidRecords">
            <td *ngFor="let i of csvHeaderNames">
              {{invalid[i]}}
            </td>
          </tr>
        </tbody>
      </table>
      <div class="button-container center">
          <button class="btn grey lighten-1 waves-effect waves-light modal-trigger modal-close"> Cancel </button>
          <button class="btn orange waves-effect waves-light" (click)="onConfirmCSVUpload()"> Confirm </button>
      </div>
    </div>

  </div>
</div> -->

<div id="modalInvite" class="modal">
  <form #invitefrm="ngForm">
    <div class="modal-content">
      <div class="header-container center">
        <div class="image invite-wardens"></div>
        <div class="text" style="width: 50%;">Invite Wardens by Email</div>
      </div>

      <div class="center">
        <p style="font-size: 16px;">Add email address separated by ","</p>
        <textarea placeholder="Emails here" [(ngModel)]="bulkEmailInvite" name="inviteTxtArea"></textarea>
      </div>

      <div class="button-container center">
        <button class="btn grey lighten-1 waves-effect waves-light modal-trigger modal-close"> Cancel </button>
        <button class="btn orange waves-effect waves-light" (click)="sendInviteOnClick()"> Submit </button>
      </div>
    </div>
  </form>
</div>

<div id="modalLocations" class="modal modal-sublocations">



	<div class="modal-content">
		<h5>Select Location</h5>

		<div class="search-container" >
			<div class="input-container">
				<input type="text" placeholder="Search Level" #modalSearchLocation  >
			</div>
			<div class="icon-container">
				<img src="assets/images/locations/search_icon.png" alt="">
			</div>
		</div>

		<form #formLoc (submit)="submitSelectLocationModal(formLoc, $event)">

			<div class="list-region" >
				<p *ngIf="locations.length == 0">No location found</p>
				<ul class="locations"></ul>

                <!-- <ul *ngIf="locations.length > 0" class="">
                    <li *ngFor="let location of locations" class="list-division" [id]="location.location_id" >
                        <div class="name-radio-plus">
                            <div class="input">
                                <input ngModel required type="radio" name="selectLocation" [value]="location.location_id" [id]="'check-'+location.location_id"   >
                                <label [for]="'check-'+location.location_id">
                                    {{location.name}}
                                </label>
                            </div>
                        </div>
                    </li>
                </ul> -->
			</div>

			<div class="button-container center">
				<a class="btn grey lighten-1 waves-effect waves-light" (click)="cancelLocationModal()"> Cancel </a>
				<button type="submit" class="btn orange waves-effect waves-light" [disabled]="!formLocValid" *ngIf="locations.length > 0"> Submit </button>
			</div>

		</form>

	</div>
</div>