<div class="row">
  <div class="col s9 top-title-button">
    <h4 class="title left">Training Validation</h4>
  </div> 
  <div class="col s12">
    <span>Search By location, if the training is arranged by Building Management</span>
    <br>
    <span>Search By Account for Tenant specific training</span>
  </div> 
</div>

<form [formGroup]="userForm" (ngSubmit)="validateTrainingOnSubmit()">
  <div class="row filter-container" >
    <div class="col s12">
        <div class="search-field" [ngStyle]="{border: !searchLocationField.valid ? '1px solid red' : 'inherit'}">
          <input
              type="text"
              placeholder="Search Location/Account here here"
              autocomplete="off"
              id="searchLocationField"
              [formControl]="searchLocationField">
            <span class="material-icons">search</span>

            <div class="search-result" *ngIf="filteredList.length > 0">
              <ul>
                <li *ngFor="let item of filteredList">
                  <a (click)="getSelection(item['id'], item['type'], item['name'])">{{item['name']}} ({{item['type']}})</a>
                </li>
              </ul>
            </div>
        </div>
    </div>

  </div>
  <div class="row filter-container">
    <div class="col l4 m6 s12">
        <div class="datepicker">
            <ng-datepicker *ngIf="searchLocationField.valid && smartSearchSelectionId > 0"  [(ngModel)]="datepickerModel" (ngModelChange)="onChangeDatePicker($event)" [options]="options"  [ngModelOptions]="{standalone: true}" [headless]="true" [isOpened]="isShowDatepicker" ></ng-datepicker>
            <input id="dtTraining" [formControl]="dtTrainingField" autocomplete="off" type="text" (click)="showDatePicker()" [readonly]="!searchLocationField.valid">
            <span class="material-icons">date_range</span>
        </div>
    </div>
    <div class="col l4 m6 s12">
      <select [formControl]="courseTraining" style="display: block;" id="trainingCourse" (change)="checkInputForms()">
        <option [value]="null" [disabled]="true == true">Training Course</option>
        <option *ngFor="let t of training_requirements" [value]="t.training_requirement_id">{{t.training_requirement_name}}</option>
      </select>
    </div>
    
    <div class="col l4 m6">
      <!--
        <select [formControl]="trainingModeField" style="display: block;" id="trainingMode">
        <option [value]="null" [disabled]="true == true">Training Mode</option>
        <option value="offline_by_evac">Face to Face</option>
      </select>
      -->
      
    </div>
    
  </div>
  <div class="row">
    <div class="col s12  margin-bottom-20">
        <span style="padding-left: 10px;">Upload Paper Attendance Record</span>        
        <input type="file" name="file" id="file" class="inputfile" (change)="onFileChange($event)" #fileInput />        
    </div>
  </div>
  <div class="row" *ngIf="courseTraining.valid && dtTrainingField.valid && searchLocationField.valid && fileInput.files.length > 0">
    <div class="col s12">
      <table id="trainingListTable" class="table bordered">
        <thead>
          <tr>
            <th>Email Address</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Account</th>
            <th>Role</th>
            <th>Location</th>
            <th style="width: 6%;">Add Exception</th>
          </tr>
        </thead>
        <tbody formArrayName="levelUsers" *ngFor="let u of userForm.get('levelUsers')['controls']; let i = index;">
          <tr [formGroupName]="i">
            <td class="relative">
              <input formControlName="email" type="text" placeholder="search email" autocomplete="off">
              <input formControlName="user_id" type="hidden">
              <div class="suggestions" [hidden]="filteredEmailList[i]?.length == 0" *ngIf="filteredEmailList.length > 0">
                  <ul>
                    <li *ngFor="let item of filteredEmailList[i]; let j = index;">
                      <a (click)="getEmailSelection(i, item)">{{item['email']}} ({{item['role_name']}}, {{item['name']}})</a>
                    </li>
                  </ul>
              </div>

            </td>
            <td><input formControlName="first_name" type="text"></td>
            <td><input formControlName="last_name" type="text"></td>
            <td class="relative">
              <input formControlName="account_name" type="text">
              <input formControlName="accountId" type="hidden">
              <div class="suggestions" *ngIf="accountSearchResults[i] != null && accountSearchResults[i].length > 0">
                <ul *ngFor="let item of accountSearchResults[i]">
                  <li>
                    <a (click)="getSelectedAccount(i, item['id'], item['name'])">{{item['name']}}</a>
                  </li>
                </ul>
              </div>
            </td>
            <td>
              <select formControlName="role_id" style="display: block;">
                  <option [value]="null" [disabled]="true == true">Roles</option>
                  <option *ngFor="let r of roles" [value]="r.role_id">{{r.role_name}}</option>
              </select>
            </td>
            <td>
                <select formControlName="sublocation_id" style="display: block;" id="sublocation_id-{{i}}" (change)="showAddLocationRow($event, i)">
                  <optgroup *ngFor="let parent of parentLocationOptionGroup" label="{{parent['parent_location_name']}}">
                      <option *ngFor="let sub of parent['sublocations']" [value]="sub.id">{{sub.name}}</option>
                  </optgroup>
                  <optgroup label="Location not in list">
                    <option value="0">Add New Location</option>
                  </optgroup>
                </select>
            </td>
            <td class="with-remove with-buttons">&nbsp;
              <a type="button" class="add hover-grow" (click)="exceptionCtrl[i] = 0" *ngIf="u.get('user_id').value != '0'">+</a>
              <a class="remove hover-grow" (click)="removeUser(i)">x</a>
            </td>
          </tr>
          <tr [hidden]="exceptionCtrl[i]">
            <td colspan="2">
              <ng-datepicker [(ngModel)]="ngDateObjects[i]" (ngModelChange)="onChangeDatePickerForException($event, i)" [options]="options"  [ngModelOptions]="{standalone: true}" [headless]="true" [isOpened]="showDateSelection[i]" ></ng-datepicker>
              <input id="dtTrainingException-{{i}}" autocomplete="off" type="text" value="{{datepickerModelFormatted}}" (click)="showDateSelection[i]=true">
            </td>
            <td colspan="4">
                <select style="display: block;" id="trainingCourseException-{{i}}">
                    <option [value]="null" [disabled]="true == true">Training Course</option>
                    <option *ngFor="let t of training_requirements" [value]="t.training_requirement_id">{{t.training_requirement_name}}</option>
                </select>
            </td>
            <!-- <td colspan="2">
                <select style="display: block;" id="trainingModeException-{{i}}">
                    <option [value]="null" [disabled]="true == true">Training Mode</option>
                    <option value="offline_by_evac">Face to Face</option>
                </select>
            </td>
          -->
            <td>
                <button type="button" class="expired-icon hover-grow" (click)="exceptionCtrl[i] = 1"></button>
                <button type="button" class="checked-icon hover-grow" (click)="confirmException(i)"></button>
            </td>
          </tr>
          <!--New Location row-
          <tr [hidden]="showAddNewLocationCtrl[i]">
            <td colspan="3">
              <select class="browser-default" id="buildingContainerForNewLevel-{{i}}">
                <option [value]="null" [disabled]="true == true">Choose Building</option>
                <option *ngFor="let bldg of buildingContainerForNewLevel[i]" [value]="bldg['location_id']">{{bldg.name}}</option>
            </select>
            </td>
            <td colspan="3">
              <input id="newLevelForBuilding-{{i}}" type="text" placeholder="Enter new sub location" autocomplete="off">
            </td>
            <td>
              <button type="button" class="expired-icon hover-grow" (click)="showAddNewLocationCtrl[i] = 1"></button>              
            </td>
          </tr> -->

        </tbody>
        <tfoot>          
          <tr>
            <td colspan="7">
              <a class="btn blue" (click)="addUserFormItem($event)">+ Add more rows</a>
            </td>
          </tr>
        </tfoot>
      </table>
      <br>
      <div class="button-container right-align">
          <a class="btn grey lighten-1 waves-effect waves-light cancel" (click)="checkInputForms()"> Cancel </a>
          <!--
          <input type="submit" class="btn lighten-1 orange waves-effect" value="Submit">
          <pre>
               userForm is {{userForm.valid}}
               searchLocationField is {{searchLocationField.valid}}
          </pre>
          -->
          <input type="submit" [ngClass]="{'btn': true,
                                           'grey': (userForm.valid && searchLocationField.valid) == false,
                                           'lighten-1': (userForm.valid && searchLocationField.valid) == false,
                                           'cancel': (userForm.valid && searchLocationField.valid) == false,
                                           'orange': (userForm.valid && searchLocationField.valid) == true,
                                           'waves-effect': (userForm.valid && searchLocationField.valid) == true,
                                           'waves-light': (userForm.valid && searchLocationField.valid) == true}" value="Submit"
          [disabled]="!userForm.valid || !searchLocationField.valid || userForm.get('levelUsers').length == 0" />
             
      </div>
    </div>
  </div>
</form>

<!--Modal Structure -->
<div id="modalCancel" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Please confirm</h4>
    <p>Data will be lost.</p>
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-red btn-flat">Cancel</a>
    <a class="modal-close waves-effect waves-green btn-flat" (click)="cancelUserForm()">OK</a>
  </div>
</div>

<div id="modalConfirm" class="modal modal-fixed-footer">
  <div class="modal-content">  
      <h4>Validation Status</h4>  
    <div *ngIf="validUsers.length > 0">
        <h6>The following user(s) were validated</h6>
         <ul>
           <li *ngFor="let u of validUsers">{{u}}</li>
         </ul>
    </div>
    <div *ngIf="invalidUsers.length > 0">
      <h6>There was a problem validation the following user(s):</h6>
      <ul>
        <li *ngFor="let u of invalidUsers">{{u}}</li>
      </ul>
    </div>
    <div *ngIf="takenEmailAddress.length > 0">
      <h6>The following email address(es) are already taken:</h6>
      <ul>
        <li *ngFor="let u of takenEmailAddress">{{u}}</li>
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-red btn-flat">OK</a>
  </div>
</div>

<div id="modalConfirmation" class="modal modal-fixed-footer">
    <div class="modal-content">  
        <h4>Confirmation</h4>  
      <div>
          <h5>{{confirmation_title}}</h5>           
      </div>
      <div>
        <h6>{{confirmation_message}}</h6>        
      </div>
      
    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect waves-red btn-flat">OK</a>
    </div>
</div>

<div id="modalNewLocation" class="modal modal-fixed-footer">
  <form #newLocForm="ngForm">
      <div class="modal-content" [hidden]="showModalNewLocation">
          <div class="center" style="padding: 8%;">
              <div class="preloader-wrapper active" >
                  <div class="spinner-layer spinner-red-only">
                      <div class="circle-clipper left">
                          <div class="circle"></div>
                      </div>
                      <div class="gap-patch">
                          <div class="circle"></div>
                      </div>
                      <div class="circle-clipper right">
                          <div class="circle"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    
      <div class="modal-content" [hidden]="!showModalNewLocation">  
          <h4>Add New Location</h4>  
        <label for="buildingContainer">Choose from the list of buildings below:</label>
        <div class="building-container-selection">          
          <select class="browser-default" id="buildingContainer" name="buildingContainer" #buildingSelection required ngModel> 
            <option [disabled]="true == true">Choose Building</option>
            <option *ngFor="let bldg of buildings" [value]="bldg['location_id']">{{bldg.name}}</option>
          </select>
        </div>
        <div class="new-level-container">
          <input style="width: 100%; height: 3rem; border: none;" class="browser-default" id="newLevelForBuilding" name="newLevelForBuilding" type="text" placeholder="Enter new sub location" autocomplete="off" #newLevelInput required ngModel>
          
        </div>    
      </div>
      <div class="modal-footer" [hidden]="!showModalNewLocation">
        <div style="padding-right: 18px;">
            <a class="modal-close waves-effect waves-red btn-flat">Cancel</a>
            <button [disabled]="!newLocForm.valid" type="button" (click)="submitNewLevelCreation()" class="btn orange waves-light waves-effect">Submit</button> <!--[disabled]="formProfile.invalid"-->
        </div>
      </div>      
  </form>

  
</div>


<div preloader></div>
