<table style="margin:0 auto; border-collapse: collapse; padding: 0; margin: 0; border:none; width: 100%;">
    <tbody>
        <tr>
            <td style="padding:0; background-color: #fff; border-bottom:solid 1px #ddd; border-top:solid 1px #ddd; width: 30%; padding: 10px;"  valign="middle">
                <a style="text-decoration:none;" href="https://www.evacservices.com.au/emergency-planning-101-why-plan-for-emergencies/">
                    <img style="width:100%;" src="http://ec2-13-55-82-238.ap-southeast-2.compute.amazonaws.com/assets/images/emails/emergency-planning-101.jpg"/>
                </a>
            </td>
            <td style="padding:0; background-color: #fff; border-bottom:solid 1px #ddd; border-top:solid 1px #ddd; width: 30%;"  valign="middle">
                <p style="font-family: arial; font-size: 15px; color: #555; padding: 10px; line-height: 1.5">Do you and your occupants know what to do and where to go when emergencies strike? Are you confident that you will be able to keep the people in your care safe and sound in the darkest hours?<br/><br/>Emergencies happen anytime, anywhere and pose threats to the safety and security of individuals and businesses. <a href="https://www.evacservices.com.au/roles-of-tenants-in-occupant-safety/" style="color:#85bf43; text-decoration: none;">Read More...</a></p>
            </td>
        </tr>
        <tr>   
            <td style="padding:0; background-color: #fff; border-bottom:solid 1px #ddd; width: 30%; padding: 10px;"  valign="middle">
                <a style="text-decoration:none;" href="https://www.evacservices.com.au/updating-and-managing-warden-lists-is-now-easier-with-evacconnect/">
                    <img style="width:100%;" src="http://ec2-13-55-82-238.ap-southeast-2.compute.amazonaws.com/assets/images/emails/updatign-and-managing-now-easier.jpg"/>
                </a>
            </td>
            <td style="padding:0; background-color: #fff; border-bottom:solid 1px #ddd; width: 30%"  valign="middle">
                <p style="font-family: arial; font-size: 15px; color: #555; padding: 10px; line-height: 1.5">Establishing emergency procedures is not just in the hands of facility managers. While building owners and managers are ultimately responsible for ensuring the safety and well-being of all occupants within the facility, tenants need to ensure that their workplace is compliant. Crucial to this process is their coordination with the facility manager to align the tenancy’s emergency procedures with those of the building. <a href="https://www.evacservices.com.au/roles-of-tenants-in-occupant-safety/" style="color:#85bf43; text-decoration: none;">Read More...</a></p>
            </td>
        </tr>
        <tr>    
            <td style="padding:0; background-color: #fff; border-bottom:solid 1px #ddd; width: 30%; padding: 10px;"  valign="middle">
                <a style="text-decoration:none;" href="#">
                    <img style="width:100%;" src="http://ec2-13-55-82-238.ap-southeast-2.compute.amazonaws.com/assets/images/emails/limesurvey.jpg"/>
                </a>
            </td>
             <td style="padding:0; background-color: #fff; border-bottom:solid 1px #ddd; width: 30%"  valign="middle">
                <p style="font-family: arial; font-size: 20px; color: #555; padding: 10px; line-height: 1.5"><strong>Take this survey to tell us about your user experience of EvacConnect.</strong></p>
            </td>
        </tr>
    </tbody>
</table>
<table style="border-collapse: collapse; padding: 0; margin: 0; border:none; width: 100%; text-align: center;">
    <tbody>
        <tr>
            <td style="padding:0; border: none;">
                <table style="margin:0 auto; border-collapse: collapse; padding: 0;  border:none; width: 100%; background-color: #fff;">
                    <tbody>
                        <tr>
                            <td style="font-size:13px; color: #333; text-align:right; font-family:arial; line-height:20px; vertical-align:middle; padding:10px 20px 5px;">
                               <p style="font-size: 13px; color: #333; margin: 0; font-weight: 900;">Connect with Us</p> 
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size:13px; color: #333; text-align:right; font-family:arial; line-height:20px; vertical-align:middle; padding:5px 20px 10px;">
                                <a href="https://www.facebook.com/search/top/?q=evacservices" target="_blank"><img style="width: 50px;" src="http://evachub.com/assets/email/newEmailTemplate/facebook.png"/></a> 
                                &nbsp;&nbsp;
                                <a href="https://www.linkedin.com/company-beta/2559650/" target="_blank"><img style="width: 50px;" src="http://evachub.com/assets/email/newEmailTemplate/linkedin.png"/></a> 
                                &nbsp;&nbsp;
                                <a href="https://twitter.com/EvacServices" target="_blank"><img style="width: 50px;" src="http://evachub.com/assets/email/newEmailTemplate/twitter.png"/></a> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>