<strong>Success!</strong> <a id="href" href="">Click here to login</a>
<script type="text/javascript">
	var ahref = document.getElementById("href");
	ahref.href = location.origin + "/login";
</script>