<div class="row">
	<div class="col m12 l12 s12 top-title-button">
		<h4 class="title left">
			Add New User
		</h4>

		<button class="btn btn-flat right" (click)="showModalCSV()">
			<div class="image csv-wardens"></div>
			<div class="text">Add Users by CSV Upload</div>
		</button>
		<!-- <button class="btn btn-flat right" (click)="showModalInvite()" style="margin-right: 20px;">
			<div class="image invite-wardens"></div>
			<div class="text">Invite Users by Email</div>
		</button> -->
	</div>

</div>

<div class="row">
	<div class="col l12 m12 s12">

	<form #f="ngForm" >
		<table class="table striped">
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Role</th>
					<th>Location</th>
					<th>Contact Information</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngIf="addedUsers.length == 0">
					<td colspan="6">
						<h6 class="center">Add new user</h6>
					</td>
				</tr>
				<tr *ngFor="let user of addedUsers; let i = index">
					<td >
						<input type="text" [(ngModel)]="user.first_name" class="first-name" placeholder="First name" name="first_name{{i}}" required>
					</td>
					<td >
						<input type="text" [(ngModel)]="user.last_name" placeholder="Last name" name="last_name{{i}}" required>
					</td>
					<td style="position: relative;">
						<div *ngIf="user.errors.email_taken || user.errors.blacklisted || user.errors.invalid"  style=" position: absolute; right: 5px; top: 5px; background-color: #f44336; padding: 1% 3%; color: #fff; border-radius: 5px;">
							<span *ngIf="user.errors.email_taken">Email is taken</span>
                            <span *ngIf="user.errors.invalid" >Invalid email</span>
						</div>
                        <input type="email" [(ngModel)]="user.email" placeholder="Email" name="email{{i}}" required pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'>
					</td>
					<td >
						<select [(ngModel)]="user.account_role_id" name="accountRole{{i}}" (change)="changeRoleEvent(user)" required pattern="[1-9][0-9]*">
							<option value="0" disabled selected *ngIf="this.paramRole.length == 0">Select Role</option>
							<option *ngFor="let role of accountRoles" [value]="role.role_id" [selected]="role.selected"> {{ role.role_name }} </option>
						</select>
					</td>
					<td >
						<a  [class.disabled]="user.account_role_id == 0" class="blue-text" (click)="showLocationSelection(user)"> {{user.location_name}} </a>
						<input type="hidden" name="selectedLocation{{i}}" [(ngModel)]="user.account_location_id" required pattern="[1-9][0-9]*">
					</td>
					<td class="with-remove">
						<input type="text" [(ngModel)]="user.mobile_number" placeholder="Contact Information" name="mobile{{i}}">
						<a  class="remove" (click)="removeAddedUser(i)" [hidden]="i == 0">X</a>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="7">
						<button class="btn blue" (click)="addMoreRow()">
							+ Add more row
						</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</form>

	<div class="col l12 m12 s12 button-container right-align">
		<button class="btn grey lighten-1 waves-effect waves-light cancel" [routerLink]="['/teams/all-users']" [disabled]="showLoadingButton"> Cancel </button>
		<button class="btn orange waves-effect waves-light" (click)="submitUsers(f)" *ngIf="!showLoadingButton" [disabled]="f.invalid"> Submit </button>

		<button class="btn orange waves-effect waves-light disabled center" *ngIf="showLoadingButton">
			<div class="preloader-wrapper active" style="width: 20px; height: 20px; margin-top: 10px;">
				<div class="spinner-layer spinner-red-only">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div><div class="gap-patch">
						<div class="circle"></div>
					</div><div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
		</button>
	</div>
</div>


<div id="modalLocations" class="modal modal-sublocations">



	<div class="modal-content">
		<h5>Select Location</h5>

		<div class="search-container" >
			<div class="input-container">
				<input type="text" placeholder="Search Location" #modalSearchLocation  >
			</div>
			<div class="icon-container">
				<img src="assets/images/locations/search_icon.png" alt="">
			</div>
		</div>

		<form #formLoc (submit)="submitSelectLocationModal(formLoc, $event)">

    		<div class="list-region" style="overflow-y: auto; height: 340px;">
    			<p *ngIf="locations.length == 0">No location found</p>

                <ul class="locations"></ul>

                <!-- <ul *ngIf="locations.length > 0" class="">
                    <li *ngFor="let location of locations" class="list-division" [id]="location.location_id" >
                        <div class="name-radio-plus">
                            <div class="input">
                                <input ngModel required type="radio" name="selectLocation" [value]="location.location_id" [id]="'check-'+location.location_id"   >
                                <label [for]="'check-'+location.location_id">
                                    {{location.name}}
                                </label>
                            </div>
                        </div>
                    </li>
                </ul> -->
    		</div>

    		<div class="button-container center">
    			<a class="btn grey lighten-1 waves-effect waves-light" (click)="cancelLocationModal()"> Cancel </a>
    			<button type="submit" class="btn orange waves-effect waves-light" [disabled]="!formLocValid" *ngIf="locations.length > 0"> Submit </button>
    		</div>

		</form>

	</div>
</div>


<div id="modalInvite" class="modal">
  <form #invitefrm="ngForm">
    <div class="modal-content">
      <div class="header-container center">
        <div class="image invite-wardens"></div>
        <div class="text" style="width: 50%;">Invite Wardens by Email</div>
      </div>

      <div class="center">
        <p style="font-size: 16px;">Add email address separated by ","</p>
        <textarea placeholder="Emails here" [(ngModel)]="bulkEmailInvite" name="inviteTxtArea"></textarea>
      </div>

      <div class="button-container center">
        <button class="btn grey lighten-1 waves-effect waves-light modal-trigger modal-close"> Cancel </button>
        <button class="btn orange waves-effect waves-light" (click)="sendInviteOnClick()"> Submit </button>
      </div>
    </div>
  </form>
</div>


<div id="modaCsvUpload" class="modal">
	<div class="modal-content">
		<div class="header-container center">
			<div class="image csv-wardens"></div>
			<div class="text">Add Users by CSV Upload</div>
		</div>

		<div class="center">
			<p style="font-size: 16px;">If you have a large number of contracts, you can upload them using a CSV file.</p>
			
            <h6 class="blue-text" style="margin: 15px 0px;line-height: 20px;">
				Step 1 - Download All
			</h6>
			<p style="margin: 10px 0px;">
				<a (click)="clickDownloadTemplate()" class="btn download orange lighten-1 waves-effect waves-light">
					<div class="csv-icon"></div>
					<span>Download CSV Template</span>
				</a>
			</p>
            <p style="margin: 10px 0px;">
                <a (click)="downloadLocationReference()" class="btn download red lighten-1 waves-effect waves-light">
                    <div class="csv-icon"></div>
                    <span>Download Location Reference</span>
                </a>
            </p>
            <p style="margin: 10px 0px;">
                <a (click)="downloadEcoReference()" class="btn download green lighten-1 waves-effect waves-light">
                    <div class="csv-icon"></div>
                    <span>Download ECO Reference</span>
                </a>
            </p>

			<h6 class="blue-text" style="margin: 20px 0px;">
				Step 2 - Upload CSV File
			</h6>
			<div class="upload-container">
				<p class="text">Drag & Drop CSV File</p>
				<p class="text">or</p>
        		<button class="btn blue waves-effect waves-light" #btnSelectCSV (click)="selectCSVButtonClick(inputFileCSV)">Select CSV File</button>

        		<input type="file" name="file" accept=".csv" #inputFileCSV (change)="fileChangeEvent($event, btnSelectCSV)" placeholder="Select CSV File" class="btn blue waves-effect waves-light hide" />
			</div>
			<!-- <h6 class="blue-text" style="margin: 20px 0px;">
                Step 3 - Will this upload overwrite your existing users uploaded in the system?
            </h6> -->

            <div class="checkbox">
                <input type="checkbox" class="filled-in" checked="checked" />
                <label for="filled-in-box" style="padding-left: 25px;">Email Mandatory</label>
            </div>

			<!-- <div class="switch">
                <input type="checkbox" id="override">
                <div class="yes">Yes</div>
                <div class="no">No</div>
                <div class="highlight"></div>
                <div class="background"></div>
            </div> -->
		</div>

		<div class="button-container center">
			<button class="btn grey lighten-1 waves-effect waves-light modal-trigger modal-close"> Cancel </button>
			<button class="btn orange waves-effect waves-light" (click)="onUploadCSVAction()"> Submit </button>
		</div>

	</div>
</div>
