<div class="row top">
	<div class="col l12 m12 s12">
		<h4> <span *ngIf="showArchived">Archived</span> General Occupant </h4>
		<div class="right-actions">
			<!-- <div class="switch-container">
				<div class="text">Show only not compliant</div>
				<div class="switch">
					<input type="checkbox">
					<div class="yes">Yes</div>
					<div class="no">No</div>
					<div class="highlight"></div>
					<div class="background"></div>
				</div>
			</div> -->
			<div class="archived-container">
				<a  [routerLink]="['/teams/list-general-occupant']" [queryParams]="{ 'archived' : true }" *ngIf="!showArchived">
					<div class="image"></div>
					View Archive
				</a>

                <a  [routerLink]="['/teams/list-general-occupant']"  *ngIf="showArchived">
                    <div class="image"></div>
                    View Active
                </a>
			</div>
		</div>
	</div>
</div>

<div class="row filter-container">
	<div class="col l2 m6 s12" *ngIf="!showArchived">
		<button class="btn orange waves-effect waves-light btn-add-warden" [routerLink]="['/teams/add-general-occupant']">
			<div class="image"></div>
			Add General Occupant
		</button>
	</div>

	<div class="col l5 m6 s12">
		<div class="search-field">
			<input type="text" placeholder="Search member name or email" id="searchMemberInput">
			<span class="material-icons">search</span>
		</div>
	</div>

	<!-- <div class="col l2 m4 s6">
		<select class="filter-by">
			<option value="0" selected>Filter By (All)</option>
            <option value="pending" >Pending</option>
			<option value="{{filter.value}}" *ngFor="let filter of filters;">{{filter.name}}</option>
		</select>
	</div> -->
    
    <div class="col l3 m6 s12">
        <select class="location">
            <option value="0" selected>All Locations</option>
            <!--<option value="-1">Users with no assigned location</option>-->
            <option value="{{loc.location_id}}" *ngFor="let loc of locations">{{loc.name}}</option>
        </select>
    </div>
	<!-- <div class="col l2 m6 s6">
        <select class="sort-by">
            <option value="0" selected>Sort By</option>
            <option value="user-name-desc">User Name Descending</option>
            <option value="user-name-asc">User Name Ascending</option>
        </select>
    </div> -->
	<div class="col l2 m6 s12" *ngIf="subscriptionType != 'free'">
		<select class="bulk-manage">
            <option value="0" selected>Manage Action</option>            
            <option value="archive"  *ngIf="!showArchived">Archive selected</option>
			<option value="archive" *ngIf="showArchived">Restore selected</option>
            <option value="invite-selected" *ngIf="isOnlineTrainingAvailable && !showArchived">Send training invite to selected</option>
            <option value="invite-all-non-compliant" *ngIf="isOnlineTrainingAvailable && !showArchived">Send training invite to all non-compliant</option>
            <option value="invite-all" *ngIf="isOnlineTrainingAvailable && !showArchived">Send training invtite to all</option>
		</select>
    </div>
    <div class="col l2 m6 s12" *ngIf="subscriptionType == 'free'">
		<select class="bulk-manage">
            <option value="0" selected>Manage Action</option>            
            <option value="archive"  *ngIf="!showArchived">Archive selected</option>
			<option value="archive" *ngIf="showArchived">Restore selected</option>
		</select>
    </div>
    
</div>


<div class="row">
	<div class="col l12 m12 s12">
		<table class="table striped">
			<thead>
				<tr>
					<th>
						<p class="checkbox">
							<input id="allLocations" (change)="selectAllCheckboxEvent($event)" class="filled-in" type="checkbox">
							<label for="allLocations">Locations</label>
						</p>
					</th>
					<th>Name</th>
					<th style="width: 20%;">ECO Role</th>
					<th>Training</th>
					<th>Last Login</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody [hidden]="loadingTable">
				<tr *ngIf="wardenArr.length == 0">
					<td colspan="6" class="center">
						<h6>No record found</h6>
					</td>
				</tr>
				<tr *ngFor="let warden of wardenArr; let i = index">
					<td>

						<p class="checkbox" >
                            <input id="location-{{i}}" [disabled]="allAreSelected" [checked]="warden.isselected" class="filled-in" type="checkbox" (change)="singleCheckboxChangeEvent(warden, $event)"  >
                            <label for="location-{{i}}" ></label>
                            <a  (click)="clickMultipleLocation(warden.locations)" *ngIf="warden.locations.length > 1">Multiple locations</a>
                            <span *ngIf="warden.locations.length == 1">
                                <a [routerLink]="['/location/view/', warden.locations[0]['enc_location_id']]" *ngIf="warden.locations[0]['sublocations_count'] > 0">
                                    {{warden.locations[0].name}}
                                </a>

                                <a [routerLink]="['/location/view-sublocation/', warden.locations[0]['enc_location_id']]" *ngIf="warden.locations[0]['sublocations_count'] == 0">
                                    {{warden.locations[0].name}}
                                </a>
                            </span>
						</p>
					</td>
					<td>
						<div *ngIf="warden.profile_pic.length > 0" class="image-container lighten-3" [ngClass]="warden.bg_class">
							<div class="image">
								<img *ngIf="warden.profile_pic.length > 0" [src]="warden.profile_pic"  >
							</div>
						</div>
						<div class="text">
							<a [routerLink]="['/teams/view-user/', warden.id_encrypted]">
								{{warden.first_name}} {{warden.last_name}}
							</a>
						</div>
					</td>
					<td class="with-image role-name">
						<div class="eco-role">
							<!-- <div class="image"></div> -->
							<div *ngIf="warden.mobility_impaired == 1" class="impaired"></div>
							<span *ngFor="let role of warden.roles; let ri = index;" class="name">
								{{role.role_name}}<i *ngIf=" warden.roles.length - 1 != ri ">,</i>
							</span>
						</div>
					</td>
					<td *ngIf="warden.locations.length">
                        <span *ngIf="warden.trainings == 0" class="red-text">{{warden.trainings}} / {{warden.trids.length + warden.misc_trainings.length}}</span>
                        <span *ngIf="warden.trainings > 0 && warden.trainings < (warden.trids.length + warden.misc_trainings.length)" class="orange-text">{{warden.trainings}} / {{warden.trids.length + warden.misc_trainings.length}}</span>
                        <span *ngIf="warden.trainings == (warden.trids.length + warden.misc_trainings.length)" class="green-text">{{warden.trainings}} / {{warden.trids.length + warden.misc_trainings.length}}</span>
                    </td>
                    <td *ngIf="!warden.locations.length">
                        &nbsp;
                    </td>
					<td>
						{{warden['last_login']}}
					</td>
					<td *ngIf="warden.profile_completion == 1">
						<select (change)="onSelectFromTable($event, warden)">
							<option value="0" class="blue-text" selected>Manage</option>
							<option value="view" class="blue-text">View</option>
                            <option value="archive" class="blue-text" [hidden]="warden.user_id == userData.userId" *ngIf="!showArchived">Archive</option>
							<option value="archive" class="blue-text" [hidden]="warden.user_id == userData.userId" *ngIf="showArchived">Restore</option>
                            <option  [value]=" (warden.mobility_impaired == 0) ? 'peep' : 'healthy'  " class="blue-text" *ngIf="!showArchived">
                                <span *ngIf="warden.mobility_impaired == 0">Add to mobility impaired list</span>
                                <span *ngIf="warden.mobility_impaired == 1">Remove from mobility impaired list</span>
                            </option>
                            <option value="invite" *ngIf="warden.sendinvitation && isOnlineTrainingAvailable && !showArchived" class="blue-text">Send invitation</option>
						</select>
					</td>
                    <td *ngIf="warden.profile_completion == 0"> 
                        <span class="red-text">Pending Profile Completion</span>
                    </td>
				</tr>
			</tbody>
			<tbody [hidden]="!loadingTable">
				<tr>
					<td colspan="7" class="center-align">
						<h6>Fetching records..</h6>
					</td>
				</tr>
			</tbody>
		</table>

	</div>

</div>

<div class="row">
	<div class="col l12 m12 s12 center pagination" [hidden]="wardenArr.length == 0 || pagination.total <= queries.limit || loadingTable">
		<div class="inline-block">
			<button class="btn blue" (click)="pageChange('prev')" [disabled]="pagination.currentPage == 1" > Prev </button>
		</div>

		<div class="inline-block select">
			<select #selectPage ngModel [(ngModel)]="pagination.currentPage" (change)="pageChange(selectPage.value)">
				<option *ngFor="let sel of pagination.selection" value="{{sel.number}}">{{sel.number}}</option>
			</select>
		</div>

		<div class="inline-block">
			<button class="btn blue" (click)="pageChange('next')" [disabled]="pagination.pages == pagination.currentPage" > Next </button>
		</div>
	</div>
</div>


<div id="modalArchive" class="modal">
	<div class="modal-content center" [hidden]="!showModalLoader">
		<div class="preloader-wrapper active">
			<div class="spinner-layer spinner-red-only">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div><div class="gap-patch">
					<div class="circle"></div>
				</div><div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-content" [hidden]="showModalLoader">
		<h5>Confirmation</h5>
		<p style="font-size: 16px;">
			Are you sure you want to <span *ngIf="!showArchived">archive</span> <span *ngIf="showArchived">restore</span>
			<span class="blue-text">{{selectedToArchive.first_name}} {{selectedToArchive.last_name}}</span>
		</p>
	</div>
	<div class="modal-footer" [hidden]="showModalLoader">
		<a  class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
		<a  class="waves-effect waves-blue btn-flat" (click)="archiveClick()">
            <span *ngIf="!showArchived">Archive</span> <span *ngIf="showArchived">Restore</span>
        </a>
	</div>
</div>

<div id="modalArchiveBulk" class="modal">
	<div class="modal-content center" [hidden]="!showModalLoader">
		<div class="preloader-wrapper active">
			<div class="spinner-layer spinner-red-only">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div><div class="gap-patch">
					<div class="circle"></div>
				</div><div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-content" [hidden]="showModalLoader">
		<h5>Confirmation</h5>
		<p style="font-size: 16px;">
			Are you sure you want restore the following users?
		</p>
		<ul>
			<li *ngFor="let list of selectedFromList;">
				<span class="blue-text">{{list.first_name}} {{list.last_name}}</span>
			</li>
		</ul>
	</div>
	<div class="modal-footer" [hidden]="showModalLoader">
		<a  class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
		<a  class="waves-effect waves-blue btn-flat" (click)="bulkArchiveClick()">
            <span *ngIf="!showArchived">Archive</span> <span *ngIf="showArchived">Restore</span>
        </a>
	</div>
</div>


<div id="modalSelectMultipleLocations" class="modal">

    <form #formMultiple="ngForm" (submit)="submitSelectFromMultipleLocations(formMultiple)">
        <div class="modal-content">
            <h5>Multiple locations</h5>
            <p style="font-size: 16px;">
                Please select a location
            </p>
            <ul>
                <li *ngFor="let loc of multipleLocations;">
                    <input type="radio" ngModel name="location_id" id="rad-{{loc.location_id}}" value="{{loc.location_id}}" />
                    <label for="rad-{{loc.location_id}}">
                        {{loc.name}}
                    </label>
                </li>
            </ul>
        </div>
        <div class="modal-footer" [hidden]="showModalLoader">
            <a  class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
            <button type="submit" class="waves-effect waves-blue btn-flat" >See Location</button>
        </div>
    </form>

</div>

<div id="modalMobility" class="modal">

    <div class="modal-content center" [hidden]="!showModalLoader">
        <div class="preloader-wrapper active">
            <div class="spinner-layer spinner-red-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>

    <form #formMobility="ngForm" (submit)="modalPeepFormSubmit(formMobility, $event)" [hidden]="showModalLoader">

    <div class="modal-content">
        <h5>Mobility Impaired Information For {{selectedPeep.first_name}} {{selectedPeep.last_name}}</h5>
        <div class="row">
            <div class="col s12 l6 m6">
                <div class="select-field">
                    <span style=" font-size: 16px;">Mobility Impaired Status</span>
                    <select ngModel name="is_permanent">
                        <option value="0" selected="selected">Temporary</option>
                        <option value="1" >Permanent</option>
                    </select>
                </div>
            </div>
            <div class="col s12 l6 m6">
                <div class="input-field">
                    <span style=" font-size: 16px;">Mobility Impaired Upto</span>
                    <ng-datepicker [(ngModel)]="datepickerModel" (ngModelChange)="onChangeDatePicker($event)" [options]="options"  [ngModelOptions]="{standalone: true}" [headless]="true" [isOpened]="isShowDatepicker" ></ng-datepicker>
                    <input id="durationDate" #durationDate type="text" [(ngModel)]="datepickerModelFormatted" ngModel name="duration_date" (click)="showDatePicker()" required >
                </div>

            </div>
            <div class="col s12 m12 l12">
                <h6>Assistant Type</h6>
                <div class="input-field">
                    <input ngModel name="assistant_type" type="text" class="grey-input" placeholder="Please describe requirements and process here." required>
                </div>
            </div>
            <div class="col s12 m12 l12">
                <h6>Evacuation Equipment Type / Requirement</h6>
                <div class="input-field">
                    <input ngModel name="equipment_type" type="text" class="grey-input" placeholder="Please inform what is the equiment and type." required>
                </div>
            </div>
            <div class="col s12 m12 l12">
                <h6>Evacuation / Egress Procedure</h6>
                <div class="input-field">
                    <input ngModel name="evacuation_procedure" type="text" class="grey-input" placeholder="" required>
                </div>
            </div>
        </div>

    </div>

    <div class="modal-footer" [hidden]="showModalLoader">
        <a  class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
        <button type="submit" class="waves-effect waves-blue btn-flat" [disabled]="formMobility.invalid">Submit</button>
    </div>


    </form>
</div>

<div id="modalMobilityHealty" class="modal">

    <div class="modal-content center" [hidden]="!showModalLoader">
        <div class="preloader-wrapper active">
            <div class="spinner-layer spinner-red-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-content">
        <h5>Confirm action</h5>

        <h6>Mark {{selectedPeep.first_name}} {{selectedPeep.last_name}} as Healthy</h6>
    </div>

    <div class="modal-footer" [hidden]="showModalLoader">
        <a  class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
        <button type="submit" class="waves-effect waves-blue btn-flat" (click)="markUserAsHealthy()">Confirm</button>
    </div>
</div>

<div id="modalSendInvitation" class="modal">

    <div class="modal-content center" [hidden]="!showModalLoader">
        <div class="preloader-wrapper active">
            <div class="spinner-layer spinner-red-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-content" [hidden]="showModalLoader">
        <h5>Confirm action</h5>

        <div *ngIf="selectedToInvite.length == 1 && !sendInviteToAll && !sendInviteToAllNonCompliant">
            <h6>Send training invitation to {{selectedToInvite[0].first_name}} {{selectedToInvite[0].last_name}}?</h6>
        </div>
        <div *ngIf="selectedToInvite.length > 1 && !sendInviteToAll && !sendInviteToAllNonCompliant">
            <h6>Send training invitation to the following:</h6>
            <ul>
                <li *ngFor="let user of selectedToInvite; let i = index" style="font-size: 14px; margin-bottom: 2px;">
                    {{i + 1}}.) {{user.first_name}} {{user.last_name}}
                </li>
            </ul>
        </div>
        <div *ngIf="sendInviteToAll && !sendInviteToAllNonCompliant">
            <h6>Send training invitation to all?</h6>
            <h6>Please Note - This action will send training invite to all the users from your account.</h6>
        </div>
        <div *ngIf="sendInviteToAllNonCompliant && !sendInviteToAll">
            <h6>Send training invitation to all non-compliant?</h6>
        </div>

    </div>

    <div class="modal-footer" [hidden]="showModalLoader">
        <a  class="modal-action modal-close waves-effect waves-red btn-flat" (click)="clickCancelSendInvitation()">Cancel</a>
        <button type="submit" class="waves-effect waves-blue btn-flat" (click)="clickSendInvitation()" [disabled]="selectedToInvite.length == 0 && (!sendInviteToAll && !sendInviteToAllNonCompliant) ">Confirm</button>
    </div>
</div>

<div id="trainingInviteResult" class="modal">
    <div class="modal-content">
        <h5>Success</h5>
        <h6>Your training invite was sent successfully.</h6>
    </div>

    <div class="modal-footer">
        <a  class="modal-action modal-close waves-effect waves-red btn-flat">Close</a>
    </div>
</div>
