<div class="row">
  <div class="col l10 m9 s12">
    <h5 class="title">Email Notification List</h5>
  </div>
  <div class="col l2 m3 s12 ">
		<button class="btn orange waves-effect waves-light add-peep pull right" [routerLink]="['/dashboard', 'notification-config']">
			<span class="image"></span>
			Send New Email
		</button>
	</div>
</div>
<div class="row filter-container to-hide-in-show-profile-update">
  <div class="col l6 m6 s12">
		<div class="search-field">
			<input type="text" placeholder="Search Location" id="searchLocation">
			<span class="material-icons">search</span>
		</div>
  </div>
  <div class="col l2 m4 s6">
    <select class="filter-by">
      <option value="0" selected>Filter By (All)</option>
      <option value=""></option>
    </select>
  </div>
  <div class="col l2 m6 s6">
    <select class="sort-by">
      <option value="0" selected>Sort By</option>
      <option value="user-name-desc">User Name Descending</option>
      <option value="user-name-asc">User Name Ascending</option>
    </select>
  </div>
  <div class="col l2 m6 s12">
    <select class="bulk-manage">
      <option value="0" selected disabled>Select Action</option>
      <option value="archive">Archive selected</option>
    </select>
  </div>
</div>
<div class="row" class="to-hide-in-show-profile-update">
  <div class="col  s12">
    <table class="table striped table-peep">
      <thead>
        <tr>
          <th><p class="checkbox">
            <input id="allLocations" class="filled-in" type="checkbox">
            <label for="allLocations">Location Name</label>
          </p></th>
          <th>
            User
          </th>
          <th>Date Email Sent</th>
          <th>No of Receiver</th>
          <th>No of Respond</th>
          <th>Email Frequency</th>
          <th>FRP</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <p class="checkbox">
                <input id="allLocations1" class="filled-in" type="checkbox">
                <label for="allLocations1">Building 1</label>
              </p>
          </td>
          <td>
            FRP
          </td>
          <td>
            24-May-2018
          </td>
          <td>
            10
          </td>
          <td>
            12
          </td>
          <td>
            30
          </td>
          <td>
            FRP One
          </td>
          <td>
              <select>
                  <option value="0"  selected disabled>Select action</option>
              </select>
          </td>
        </tr>
        <tr>
            <td>
                <p class="checkbox">
                    <input id="allLocations2" class="filled-in" type="checkbox">
                    <label for="allLocations2">Building 2</label>
                  </p>
              </td>
              <td>
                TRP
              </td>
              <td>
                24-Jun-2018
              </td>
              <td>
                14
              </td>
              <td>
                14
              </td>
              <td>
                31
              </td>
              <td>
                FRP Two
              </td>
              <td>
                <select>
                    <option value="0" selected disabled>Select action</option>
                </select>
              </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
