.location-tabs{
	border-bottom: 1px solid #ddd;
}

.location-tabs ul{
	margin: 0px;
}

.location-tabs ul li{
	display: inline-block;
    margin-right: 45px;
    height: 50px;
    line-height: 50px;
}

.location-tabs ul li a{
	font-size: 16px;
	color: #262626;
}

.location-tabs ul li.active a,
.location-tabs ul li:hover a{
	color: #2196F3;
}

.location-tabs ul li.active{
	border-bottom: 1px solid #2196F3;
}

.search-container {
    width: 35%;
    margin: 0 auto;
    margin-top: 5%;
}

.search-container .form-container{
    margin: 20px 0px 0px 0px;
    background-color: #f4f4f4;
    padding: 20px;
    position: relative;
    height: 75px;
    border-radius: 10px;
}

.search-container .form-container .input-container {
    position: absolute;
    top: -2%;
    left: 5%;
    width: 83%;
}

.search-container .form-container .search-icon-container {
    position: absolute;
    top: 30%;
    right: 5%;
}

.search-container .form-container .input-container input{
	border-bottom: 0px;
	margin-bottom: 0px;
    font-size: 14px;
}

.search-container .form-container .input-container input::-webkit-input-placeholder {
	color: #262626 !important;
}

.search-container .form-container .input-container input:-moz-placeholder { /* Firefox 18- */
	color: #262626 !important;  
}

.search-container .form-container .input-container input::-moz-placeholder {  /* Firefox 19+ */
	color: #262626 !important;  
}

.search-container .form-container .input-container input:-ms-input-placeholder {  
	color: #262626 !important;  
}

.title{
    color: #39a1ff;
    font-size: 22px;
}