<app-admin-account-info [accountId]="accountId" [hidden]="hideAccountComponent"></app-admin-account-info>

<div class="row">
    <div class="col l12 m12 s12">
        <h5>{{locationName}}</h5>
    </div>
</div>

<div class="main">
    <div class="row row-table-content" style="left:0%;">
        <div class="col l4 m12 s12">
            <div class="progress-loading-container">
                <div class="left-icon">
                    <div class="image"></div>
                </div>
                <div class="right-icon">
                    <div class="image"></div>
                </div>

                <div class="background">
                    <div class="loading" [ngStyle]="{'width': totalPercentage + '%' }">
                        <div class="tip-percentage">
                            <div class="percentage">{{totalPercentage}}% </div>
                            <div class="arrow-down"></div>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-list">
                <thead>
                    <tr>
                        <th>Compliance Item</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let k of KPIS;" (click)="getUploadedDocumentsFromSelectedKPI(k)">
                        <td class="with-image">
                            <div class="image {{k.icon_class}}" [ngStyle]="{'background-color': k.background_color}"  ></div>
                            <span>{{k.name}}</span>
                        </td>
                        <td class="with-icon" *ngIf="!k.compliance">
                            <div class="image expired"></div>
                        </td>
                        <td class="with-icon" *ngIf="k.compliance">
                            <div *ngIf="k.compliance.validity_status == 'none-exist' && k.compliance_kpis_id != 13" class="image expired"></div>
                            <div *ngIf="k.compliance.validity_status == 'invalid' && k.compliance_kpis_id != 13" class="image alarm"></div>
                            <div *ngIf="k.compliance.validity_status == 'valid' && k.compliance_kpis_id != 13" class="image check"></div>

                            <div class="text" *ngIf="k.type == 'date' && k.compliance.validity_status != 'none-exist' && k.compliance_kpis_id != 3">
                                <p *ngIf="k.compliance.validity_status == 'valid'">Valid Till:</p>
                                <div *ngIf="k.compliance.validity_status == 'invalid'">
                                    <span *ngIf="k.compliance.docs[0]">{{k.compliance.docs[0].valid_till}}</span>
                                </div>
                                <div *ngIf="k.compliance.validity_status == 'valid'"  >
                                    <span *ngIf="k.compliance.docs[0] && k.compliance.valid_till !== null">{{k.compliance.docs[0].valid_till}}</span>
                                    <span *ngIf="!k.compliance.docs[0] && k.compliance.valid_till != null">{{k.compliance['valid_till']}}</span>
                                </div>
                            </div>

                            <div class="text"  *ngIf="k.type == 'percent'">
                                <a *ngIf="k.compliance_kpis_id == 5 || k.compliance_kpis_id == 6 || k.compliance_kpis_id == 8 || k.compliance_kpis_id == 9 || k.compliance_kpis_id == 12" (click)="showDiagramDetails()">
                                    View Details
                                </a>
                                <!-- <span *ngIf="k.compliance_kpis_id != 5 && k.compliance_kpis_id != 13">{{k.compliance.total_personnel_trained.total_passed}} / {{k.compliance.total_personnel}}</span>
                                                                <span *ngIf="k.compliance_kpis_id == 5 && k.compliance_kpis_id != 13"> {{k.compliance.total_valid_diagrams}} / {{k.compliance.total_diagrams}} </span> -->
                            </div>

                            <div class="arrow"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col l8 m12 s12" *ngIf="selectedKPI == 2">
            <ng-container *ngTemplateOutlet="templateKpis2"></ng-container>
        </div>

        <div class="col l8 m12 s12" *ngIf="selectedKPI == 3">
            <ng-container *ngTemplateOutlet="templateKpis3"></ng-container>
        </div>

        <div class="col l8 m12 s12" *ngIf="selectedKPI == 4">
            <ng-container *ngTemplateOutlet="templateKpis4"></ng-container>
        </div>

        <div class="col l8 m12 s12" *ngIf="selectedKPI == 5">
            <ng-container *ngTemplateOutlet="templateKpis5"></ng-container>
        </div>

        <div class="col l8 m12 s12" *ngIf="selectedKPI == 6">
            <ng-container *ngTemplateOutlet="templateKpis6"></ng-container>
        </div>

        <div class="col l8 m12 s12" *ngIf="selectedKPI == 8">
            <ng-container *ngTemplateOutlet="templateKpis8"></ng-container>
        </div>

        <div class="col l8 m12 s12" *ngIf="selectedKPI == 9">
            <ng-container *ngTemplateOutlet="templateKpis9"></ng-container>
        </div>

        <div class="col l8 m12 s12" *ngIf="selectedKPI == 12">
            <ng-container *ngTemplateOutlet="templateKpis12"></ng-container>
        </div>

        <div class="col l8 m12 s12" *ngIf="selectedKPI == 13">
            <ng-container *ngTemplateOutlet="templateKpis13"></ng-container>
        </div>
    </div>

    <div class="row row-diagram-details"  style="display: none;">
        <div class="col l12 m12 s12">
            <ng-container *ngTemplateOutlet="displayKPINameAndDescription"></ng-container>
        </div>
        <div class="content" *ngIf="selectedKPI == 6">
            <ng-container  *ngTemplateOutlet="templateTableKpis6"> </ng-container>
        </div>
        <div class="content" *ngIf="selectedKPI == 8">
            <ng-container  *ngTemplateOutlet="templateTableKpis8"> </ng-container>
        </div>
        <div class="content" *ngIf="selectedKPI == 12">
            <ng-container  *ngTemplateOutlet="templateTableKpis12"> </ng-container>
        </div>
    </div>
</div>

<ng-template #displayKPINameAndDescription>
    <div class="text">
        <h4 class="title blue-text">
            {{displayKPIName}}
            <a  class="right hide-diagram" style="display: none;" (click)="hideDiagramDetails()">Close <img src="/assets/images/expired_icon.png" alt=""></a>
        </h4>
        <p class="description">
            <!-- The Emergency Planning Committee develops the emergency plan, emergency response procedures and takes an active role in forming the Emergency Control Organisation (ECO). -->
            {{displayKPIDescription}}
        </p>
    </div>
</ng-template>

<ng-template #templateKpis2>
    <ng-container *ngTemplateOutlet="displayKPINameAndDescription"></ng-container>
    <div class="diagram-top-of-table">
        <h5 class="blue-text title">Previous Versions</h5>
        <div class="buttons">
            <button class="btn btn-block orange waves-effect waves-light" (click)="showModalUploadDocs()" style="display: block;">Upload Document</button>
        </div>
    </div>
    <div class="filter-container row">
        <div class="col l6 m12 s12"> <!--
            <div class="search-field">
            <input placeholder="Search here" type="text">
            <span class="material-icons">search</span>
            </div> -->
        </div>
        <div class="col l3 m12 s12">
            <select class="filter-by">
                <option disabled="" selected="" value="0">Filter By</option>
            </select>
        </div>
        <div class="col l3 m12 s12">
            <select class="sort-by">
                <option disabled="" selected="" value="0">Sort By</option>
            </select>
        </div>
    </div>

    <table class="striped table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Filename</th>
                <th>Date Of Activity</th>
                <th>Validity (months)</th>
                <th>Expiry</th>
                <th>Timestamp</th>
                <th style="width: 10%;">Action</th>
            </tr>
        </thead>        
        <tbody>
            <tr *ngFor="let doc of complianceDocuments[selectedCompliance.compliance_kpis_id]; let i = index;">
                <td>{{doc['document_type']}}</td>
                <td>{{doc['file_name']}}</td>
                <td>{{doc['date_of_activity'] | date: 'yyyy-MM-dd' }}</td>
                <td>{{doc['validity_in_months']}}</td>
                <td>{{doc['expiry_date'] | date: 'yyyy-MM-dd'}}</td>
                <td>{{doc['timestamp'] | date: 'yyyy-MM-dd' }}</td>
                <td>                    
                    <a *ngIf="!doc['downloadCtrl']" (click)="downloadKPIFile(doc['urlPath'], doc['file_name'], selectedCompliance.compliance_kpis_id, i)" target="_blank">Download</a>
                    <div *ngIf="doc['downloadCtrl']" class="progress">
                        <div class="indeterminate"></div>
                    </div>
                </td>
            </tr>
            <tr *ngIf="showLoadingForSignedURL">
                <td colspan="8">
                    <div class="progress">
                        <div class="indeterminate"></div>
                    </div>									
                </td>
            </tr>
        </tbody>
    </table>
</ng-template>

<ng-template #templateKpis3>
    <ng-container *ngTemplateOutlet="displayKPINameAndDescription"></ng-container>
    <div class="switch-container"  >
        <p class="give-access-text">Completed the Fire Safety Advisory?</p>
        <div class="switch" >
            <input type="checkbox" [(checked)]="FSAStatus" (change)="toggleStatus($event, 3)">
            <div class="yes">Yes</div>
            <div class="no">No</div>
            <div class="highlight"></div>
            <div class="background"></div>
        </div>
    </div>
    <div class="diagram-top-of-table">
        <h5 class="blue-text title">Document List</h5>
        <div class="buttons">
            <button class="btn btn-block orange waves-effect waves-light" (click)="showModalUploadDocs()" style="display: block;">Upload Document</button>
        </div>
    </div>
    <table class="striped table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Filename</th>
                <th>Date Of Activity</th>
                <th>Validity (months)</th>
                <th>Expiry</th>
                <th>Timestamp</th>
                <th style="width: 10%;">Action</th>
            </tr>
        </thead>
        
        <tbody>
            <tr *ngFor="let doc of selectedCompliance.compliance.docs; let i = index;">
                <td>{{doc['document_type']}}</td>
                <td>{{doc['file_name']}}</td>
                <td>{{doc['date_of_activity'] | date: 'yyyy-MM-dd' }}</td>
                <td>{{doc['validity_in_months']}}</td>
                <td>{{doc['expiry_date'] | date: 'yyyy-MM-dd' }}</td>
                <td>{{doc['timestamp'] | date: 'yyyy-MM-dd' }}</td>
                <td>
                    <a *ngIf="!doc['downloadCtrl']" (click)="downloadKPIFile(doc['urlPath'], doc['file_name'], selectedCompliance.compliance_kpis_id, i)" target="_blank">Download</a>
                    <div *ngIf="doc['downloadCtrl']" class="progress">
                        <div class="indeterminate"></div>
                    </div>  
                </td>
            </tr>
            <tr *ngIf="showLoadingForSignedURL">
                <td colspan="7">
                    <div class="progress">
                        <div class="indeterminate"></div>
                    </div>                                  
                </td>
            </tr>
        </tbody>
    </table>
</ng-template>

<ng-template #templateKpis4>
    <ng-container *ngTemplateOutlet="displayKPINameAndDescription"></ng-container>
    <div class="diagram-top-of-table">
        <h5 class="blue-text title">Previous Versions</h5>
        <div class="buttons">
            <button class="btn btn-block orange waves-effect waves-light" (click)="showModalUploadDocs()" style="display: block;">Upload Document</button>
        </div>
    </div>
    <div class="filter-container row">
        <div class="col l6 m12 s12">

        </div>
        <div class="col l3 m12 s12">
            <select class="filter-by">
                <option disabled="" selected="" value="0">Filter By</option>
            </select>
        </div>
        <div class="col l3 m12 s12">
            <select class="sort-by">
                <option disabled="" selected="" value="0">Sort By</option>
            </select>
        </div>
    </div>
    <table class="striped table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Filename</th>
                <th>Date Of Activity</th>
                <th>Validity (months)</th>
                <th>Expiry</th>
                <th>Timestamp</th>
                <th style="width: 10%;">Action</th>
            </tr>
        </thead>        
        <tbody>
            <tr *ngFor="let doc of complianceDocuments[selectedCompliance.compliance_kpis_id]; let i = index;">
                <td>{{doc['document_type']}}</td>
                <td>{{doc['file_name']}}</td>
                <td>{{doc['date_of_activity'] | date: 'yyyy-MM-dd' }}</td>
                <td>{{doc['validity_in_months']}}</td>
                <td>{{doc['expiry_date'] | date: 'yyyy-MM-dd' }}</td>
                <td>{{doc['timestamp'] | date: 'yyyy-MM-dd' }}</td>
                <td>                    
                    <a *ngIf="!doc['downloadCtrl']" (click)="downloadKPIFile(doc['urlPath'], doc['file_name'], selectedCompliance.compliance_kpis_id, i)" target="_blank">Download</a>
                    <div *ngIf="doc['downloadCtrl']" class="progress">
                        <div class="indeterminate"></div>
                    </div>
                </td>
            </tr>
            <tr *ngIf="showLoadingForSignedURL">
                <td colspan="8">
                    <div class="progress">
                        <div class="indeterminate"></div>
                    </div>									
                </td>
            </tr>
        </tbody>
    </table>    
</ng-template>

<ng-template #templateKpis5>
    <ng-container *ngTemplateOutlet="displayKPINameAndDescription"></ng-container>
    <div class="diagram-top-of-table">
        <h5 class="blue-text title">Diagram Details</h5>
        <div class="buttons">
            <button class="btn btn-block orange waves-effect waves-light" (click)="showModalUploadDocs()" style="display: block;">Upload Document</button>
        </div>
    </div>
    <table class="striped table">
        <thead>
            <tr>
                <th>Location/Level</th>
                <th>Type</th>
                <th>Filename</th>
                <th>Date Of Activity</th>
                <th>Validity (months)</th>
                <th>Expiry</th>
                <th>Timestamp</th>
                <th style="width: 10%;">Action</th>
            </tr>
        </thead>        
        <tbody>
            <tr *ngFor="let doc of complianceDocuments[selectedCompliance.compliance_kpis_id]; let i = index">
                <td>{{doc['name']}}</td>
                <td>{{doc['document_type']}}</td>
                <td>{{doc['file_name']}}</td>
                <td>{{doc['date_of_activity'] | date: 'yyyy-MM-dd' }}</td>
                <td>{{doc['validity_in_months']}}</td>
                <td>{{doc['expiry_date'] | date: 'yyyy-MM-dd' }}</td>
                <td>{{doc['timestamp'] | date: 'yyyy-MM-dd' }}</td>
                <td>
                    <a *ngIf="!doc['downloadCtrl']" (click)="downloadKPIFile(doc['urlPath'], doc['file_name'], selectedCompliance.compliance_kpis_id, i)" target="_blank">Download</a>
                    <div *ngIf="doc['downloadCtrl']" class="progress">
                        <div class="indeterminate"></div>
                    </div>
                </td>
            </tr>
            <tr *ngIf="showLoadingForSignedURL">
                <td colspan="9">
                    <div class="progress">
                        <div class="indeterminate"></div>
                    </div>									
                </td>
            </tr>
        </tbody>
    </table>
</ng-template>

<ng-template #templateKpis6>
    <ng-container *ngTemplateOutlet="displayKPINameAndDescription"></ng-container>
    <div class="buttons">
            <button class="btn btn-block orange waves-effect waves-light" (click)="showModalUploadDocs()" style="display: block;">Upload Document</button>
    </div>
    <div class="documents-container">        
        <div class="document" >
            <div class="preview-container"></div>

            <div class="text-container">
                <h5 class="file-name">
                    <span *ngIf="selectedCompliance.compliance.docs[0]">{{ selectedCompliance.compliance.docs[0].file_name }}</span>
                </h5>

                <div class="dates">
                    <div class="created">
                        <p>Last warden training session held on</p>
                        <p *ngIf="selectedCompliance.compliance.docs.length > 0" >
                            {{selectedCompliance.compliance.docs[0]['date_of_activity_formatted']}}
                        </p>
                        <p *ngIf="selectedCompliance.compliance.docs.length == 0" >
                            00/00/0000
                        </p>
                    </div>
                </div>

                <div class="click-view-previous">
                    <a  class="blue-text" (click)="showDiagramDetails()">Click here to view previous versions ></a>
                </div>
                
                <div class="buttons">
                        <a *ngIf="selectedCompliance.compliance.docs[0] &&
                        complianceDocuments[selectedCompliance.compliance_kpis_id].length > 0 &&
                        complianceDocuments[selectedCompliance.compliance_kpis_id][0]?.downloadCtrl"
                        class="btn btn-block waves-effect waves-light disabled">Downloading</a>	
                        
                        <a *ngIf="selectedCompliance.compliance.docs[0] != null && !complianceDocuments[selectedCompliance.compliance_kpis_id][0]?.downloadCtrl"
                            (click)="downloadKPIFile(selectedCompliance.compliance.docs[0]['urlPath'],
                                                    selectedCompliance.compliance.docs[0]['file_name'],
                                                    selectedCompliance.compliance_kpis_id, 0)"
                            target="_blank"
                            class="btn btn-block orange waves-effect waves-light"
                            [ngClass]="{'disabled' : selectedCompliance.compliance.docs.length == 0}">Download</a>
                </div>
            </div> 
            <div class="recently-uploaded">
                    <h5 class="blue-text" style="margin: 40px 0px 10px 0px; font-size: 20px;">Recently uploaded files</h5>
            
                    <table class="table striped">
                        <thead>
                            <tr>
                                <th>Filename</th>
                                <th>Date uploaded</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="showLoadingForSignedPaperURL">
                            <tr>
                                <td colspan="2">
                                    <div class="progress">
                                        <div class="indeterminate"></div>
                                    </div>									
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="!showLoadingForSignedPaperURL">
                            <tr *ngIf="eco_attendance_record.length == 0">
                                <td colspan="2">No recent file found</td>
                            </tr>
                            <tr *ngFor="let a of eco_attendance_record; let i = index;">
                                <td><a *ngIf="!a.downloadCtrl" (click)="downloadPaperAttendanceFile(a.strOriginalfilename, 6, i)" target="_blank" download class="black-text">{{a.strOriginalfilename}}</a>
                                    <div *ngIf="a.downloadCtrl" class="progress">
                                        <div class="indeterminate"></div>
                                    </div>
                                </td>
                                <td><span *ngIf="!a.downloadCtrl">{{a.dtUploaded | date:'yyyy-MM-dd'}}</span>
                                    <div *ngIf="a.downloadCtrl" class="progress">
                                        <div class="indeterminate"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>            
                </div>          

        </div>
        

        </div>

    
</ng-template>

<ng-template #templateTableKpis6>
    <div class="col l12 m12 s12">
        <div class="diagram-top-of-table">
            <h5 class="blue-text title">Warden Benchmarking</h5>
        </div>
        <div class="filter-container row">
            <div class="col l6 m12 s12">
                <div class="search-field">
                    <input placeholder="Search here" type="text">
                    <span class="material-icons">search</span>
                </div>
            </div>
            <div class="col l3 m12 s12">
                <select class="filter-by">
                    <option value="0" selected disabled >Filter By</option>
                </select>
            </div>
            <div class="col l3 m12 s12">
                <select class="sort-by">
                    <option value="0" selected disabled >Sort By</option>
                </select>
            </div>
        </div>
        <table class="striped table">
            <thead>
                <tr>
                    <th>Sub Locations</th>
                    <th>Benchmark</th>
                    <th>Nominated</th>
                    <th>Trained</th>
                    <th>Training Compliance</th>
                    <th style="width: 13%;">Action</th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let sub of complianceSublocations">
                  <td class="with-icon">
                    <ng-template #noStatus>
                        <div class="image expired"></div>
                    </ng-template>
                    <span *ngIf="selectedCompliance['compliance']['location_details'] && selectedCompliance['compliance']['location_details'][sub['location_id']]; else noStatus">
                        <div class="image"  [ngClass]="{
                            'expired' : selectedCompliance['compliance']['location_details'][sub['location_id']]['training'].total_passed == 0,
                            'alarm' : selectedCompliance['compliance']['location_details'][sub['location_id']]['training']['percentage'] != '100%' && selectedCompliance['compliance']['location_details'][sub['location_id']]['training']['percentage'] != '0%',
                            'check' : selectedCompliance['compliance']['location_details'][sub['location_id']]['training']['percentage'] == '100%'
                        }"></div>
                    </span>
                    <div class="text">{{sub.name}}</div>
                  </td>
                  <td *ngIf="selectedCompliance['compliance']['location_details'] && selectedCompliance['compliance']['location_details'][sub['location_id']]; else noChiefWarden">
                    {{selectedCompliance['compliance']['location_details'][sub['location_id']].training.total_estimated_wardens}}
                  </td>
                  <td *ngIf="selectedCompliance['compliance']['location_details'] && selectedCompliance['compliance']['location_details'][sub['location_id']]; else noChiefWarden">
                      {{selectedCompliance['compliance']['location_details'][sub['location_id']].users.length}}
                  </td>
                  <td *ngIf="selectedCompliance['compliance']['location_details'] && selectedCompliance['compliance']['location_details'][sub['location_id']]; else noChiefWarden">
                      {{selectedCompliance['compliance']['location_details'][sub['location_id']].training.total_passed}}
                  </td>
                  <td *ngIf="selectedCompliance['compliance']['location_details'] && selectedCompliance['compliance']['location_details'][sub['location_id']]; else noChiefWardenPercentage">
                      {{selectedCompliance['compliance']['location_details'][sub['location_id']]['training'].percentage}}
                  </td>
                  <td>
                      <a  (click)="viewWardenList(sub['location_id'])" class="blue-text"> View Warden List </a>
                  </td>
                  <ng-template #noChiefWarden>
                    <td >0</td>
                  </ng-template>
                  <ng-template #noChiefWardenPercentage>
                    <td >0%</td>
                  </ng-template>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>

<ng-template #templateKpis8>
    <ng-container *ngTemplateOutlet="displayKPINameAndDescription"></ng-container>
    <div class="buttons">
            <button class="btn btn-block orange waves-effect waves-light" (click)="showModalUploadDocs()" style="display: block;">Upload Document</button>
    </div>
    <div class="documents-container">
        
        <div class="document" >
            <div class="preview-container">
            </div>

            <div class="text-container">
                <h5 class="file-name">
                    <span *ngIf="selectedCompliance.compliance.docs[0]">{{ selectedCompliance.compliance.docs[0].file_name }}</span>
                </h5>

                <div class="dates">
                    <div class="created">
                        <p>Last General Occupant training held on:</p>
                        <p *ngIf="selectedCompliance.compliance.docs.length > 0" >
                            {{selectedCompliance.compliance.docs[0]['date_of_activity_formatted']}}
                        </p>
                        <p *ngIf="selectedCompliance.compliance.docs.length == 0" >00/00/0000</p>
                    </div>
                </div>

                <div class="click-view-previous">
                    <a  class="blue-text" (click)="showDiagramDetails()">Click here to view previous versions ></a>
                </div>

                <div class="buttons">
                    <a *ngIf="selectedCompliance.compliance.docs[0] &&
                    complianceDocuments[selectedCompliance.compliance_kpis_id].length > 0 &&
                    complianceDocuments[selectedCompliance.compliance_kpis_id][0]?.downloadCtrl"
                    class="btn btn-block waves-effect waves-light disabled">Downloading</a>	
                    
                    <a *ngIf="selectedCompliance.compliance.docs[0] != null && !complianceDocuments[selectedCompliance.compliance_kpis_id][0]?.downloadCtrl"
                        (click)="downloadKPIFile(selectedCompliance.compliance.docs[0]['urlPath'],
                                                selectedCompliance.compliance.docs[0]['file_name'],
                                                selectedCompliance.compliance_kpis_id, 0)"
                        target="_blank"
                        class="btn btn-block orange waves-effect waves-light"
                        [ngClass]="{'disabled' : selectedCompliance.compliance.docs.length == 0}">Download</a>
                    <!-- <a href="{{ (selectedCompliance.compliance.docs[0]) ? selectedCompliance.compliance.docs[0]['urlPath'] : '#' }}" target="_blank" class="btn btn-block orange waves-effect waves-light" [ngClass]="{'disabled' : selectedCompliance.compliance.docs.length == 0}">Download</a>
                    <button class="btn btn-block blue lighten-1 waves-effect waves-light">Manage</button> -->
                    <!-- <button class="btn btn-block blue lighten-1 waves-effect waves-light" [routerLink]="['/shop/compliance-package']">Shop</button> -->
                </div>
            </div>

            <!-- <div class="switch-container" *ngIf="selectedCompliance.compliance.docs.length > 0 && isTRP == false && isFRP == true">
                <p class="give-access-text">Give access to TRP</p>
                <div class="switch" >
                    <input type="checkbox"
                 (change)="assignAccessToTRP($event, selectedCompliance)"
                 [checked]="selectedCompliance.compliance.docs[0].viewable_by_trp">
                    <div class="yes">Yes</div>
                    <div class="no">No</div>
                    <div class="highlight"></div>
                    <div class="background"></div>
                </div>
            </div> -->

            <div class="recently-uploaded">
                    <h5 class="blue-text" style="margin: 40px 0px 10px 0px; font-size: 20px;">Recently uploaded files</h5>
            
                    <table class="table striped">
                        <thead>
                            <tr>
                                <th>Filename</th>
                                <th>Date uploaded</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="showLoadingForSignedPaperURL">
                                <tr>
                                    <td colspan="2">
                                        <div class="progress">
                                            <div class="indeterminate"></div>
                                        </div>									
                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="!showLoadingForSignedPaperURL">
                                <tr *ngIf="gofr_attendance_record.length == 0">
                                    <td colspan="2">No recent file found</td>
                                </tr>
                                <tr *ngFor="let a of gofr_attendance_record; let i = index;">
                                    <td><a *ngIf="!a.downloadCtrl" (click)="downloadPaperAttendanceFile(a.strOriginalfilename, 8, i)" target="_blank" download class="black-text">{{a.strOriginalfilename}}</a>
                                        <div *ngIf="a.downloadCtrl" class="progress">
                                            <div class="indeterminate"></div>
                                        </div>
                                    </td>
                                    <td><span *ngIf="!a.downloadCtrl">{{a.dtUploaded | date:'yyyy-MM-dd'}}</span>
                                        <div *ngIf="a.downloadCtrl" class="progress">
                                            <div class="indeterminate"></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                    </table>            
            </div>

        </div>

    </div>
</ng-template>

<ng-template #templateTableKpis8>
    <div class="col l12 m12 s12">
        <div class="diagram-top-of-table">
            <h5 class="blue-text title">General Occupant Training</h5>
        </div>
        <div class="filter-container row">
            <div class="col l6 m12 s12">
                <div class="search-field">
                    <input placeholder="Search here" type="text">
                    <span class="material-icons">search</span>
                </div>
            </div>
            <div class="col l3 m12 s12">
                <select class="filter-by">
                    <option value="0" selected disabled >Filter By</option>
                </select>
            </div>
            <div class="col l3 m12 s12">
                <select class="sort-by">
                    <option value="0" selected disabled >Sort By</option>
                </select>
            </div>
        </div>
        <table class="striped table">
            <thead>
                <tr>
                    <th>Sub Locations</th>
                    <th>Staff</th>
                    <th>Trained</th>
                    <th>Training Compliance</th>
                    <th style="width: 13%;">Action</th>
                </tr>
            </thead>
            <tbody  ></tbody>
          <tr *ngFor="let sub of complianceSublocations">
              <td>{{sub.name}}</td>
              <td *ngIf="selectedCompliance['compliance']['location_details'] && selectedCompliance['compliance']['location_details'][sub['location_id']]; else noChiefWarden">
                  {{selectedCompliance['compliance']['location_details'][sub['location_id']].users.length}}
              </td>
              <td *ngIf="selectedCompliance['compliance']['location_details'] && selectedCompliance['compliance']['location_details'][sub['location_id']]; else noChiefWarden">
                  {{selectedCompliance['compliance']['location_details'][sub['location_id']].training.total_passed}}
              </td>
              <td *ngIf="selectedCompliance['compliance']['location_details'] && selectedCompliance['compliance']['location_details'][sub['location_id']]; else noChiefWardenPercentage">
                  {{selectedCompliance['compliance']['location_details'][sub['location_id']].training.percentage}}
              </td>
              <td>
                <a  class="blue-text"> View Warden List </a>
              </td>
              <ng-template #noChiefWarden>
                <td >0</td>
              </ng-template>
              <ng-template #noChiefWardenPercentage>
                <td >0%</td>
              </ng-template>
            </tr>

            </tbody>
        </table>
    </div>
</ng-template>

<ng-template #templateKpis9>
    <ng-container *ngTemplateOutlet="displayKPINameAndDescription"></ng-container>
    <div class="diagram-top-of-table">
        <h5 class="blue-text title">Document List</h5>
        <div class="buttons">
            <button class="btn btn-block orange waves-effect waves-light" (click)="showModalUploadDocs()" style="display: block;">Upload Document</button>
        </div>
    </div>
    <table class="striped table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Filename</th>
                <th>Date Of Activity</th>
                <th>Validity (months)</th>
                <th>Expiry</th>
                <th>Timestamp</th>
                <th style="width: 10%;">Action</th>
            </tr>
        </thead>
        
        <tbody>
            <tr *ngFor="let doc of complianceDocuments[selectedCompliance.compliance_kpis_id]; let i = index;">
                <td>{{doc['document_type']}}</td>
                <td>{{doc['file_name']}}</td>
                <td>{{doc['date_of_activity'] | date: 'yyyy-MM-dd' }}</td>
                <td>{{doc['validity_in_months']}}</td>
                <td>{{doc['expiry_date'] | date: 'yyyy-MM-dd' }}</td>
                <td>{{doc['timestamp'] | date: 'yyyy-MM-dd' }}</td>
                <td>
                    <a *ngIf="!doc['downloadCtrl']" (click)="downloadKPIFile(doc['urlPath'], doc['file_name'], selectedCompliance.compliance_kpis_id, i)" target="_blank">Download</a>
                    <div *ngIf="doc['downloadCtrl']" class="progress">
                        <div class="indeterminate"></div>
                    </div>	
                </td>
            </tr>
            <tr *ngIf="showLoadingForSignedURL">
                <td colspan="7">
                    <div class="progress">
                        <div class="indeterminate"></div>
                    </div>									
                </td>
            </tr>
        </tbody>
    </table>
</ng-template>

<ng-template #templateKpis12>
    <ng-container *ngTemplateOutlet="displayKPINameAndDescription"></ng-container>
    <div class="buttons">
            <button class="btn btn-block orange waves-effect waves-light" (click)="showModalUploadDocs()" style="display: block;">Upload Document</button>
    </div>
    <div class="documents-container">
        <div class="document" >

            <div class="preview-container">

            </div>

            <div class="text-container">
                <h5 class="file-name">
                    <span *ngIf="selectedCompliance.compliance.docs[0]">{{ selectedCompliance.compliance.docs[0].file_name }}</span>
                </h5>

                <div class="dates">
                    <div class="created">
                        <p>Last Chief warden training held on:</p>
                        <p *ngIf="selectedCompliance.compliance.docs.length > 0" >
                            {{selectedCompliance.compliance.docs[0]['date_of_activity_formatted']}}
                        </p>
                        <p *ngIf="selectedCompliance.compliance.docs.length == 0" >
                            00/00/0000
                        </p>
                    </div>

                </div>

                <div class="click-view-previous">
                    <a  class="blue-text" (click)="showDiagramDetails()">Click here to view previous versions ></a>
                </div>

                <div class="buttons">
                    <a *ngIf="selectedCompliance.compliance.docs[0] &&
                    complianceDocuments[selectedCompliance.compliance_kpis_id].length > 0 &&
                    complianceDocuments[selectedCompliance.compliance_kpis_id][0]?.downloadCtrl"
                    class="btn btn-block waves-effect waves-light disabled">Downloading</a>	
                    
                    <a *ngIf="selectedCompliance.compliance.docs[0] != null && !complianceDocuments[selectedCompliance.compliance_kpis_id][0]?.downloadCtrl"
                        (click)="downloadKPIFile(selectedCompliance.compliance.docs[0]['urlPath'],
                                                selectedCompliance.compliance.docs[0]['file_name'],
                                                selectedCompliance.compliance_kpis_id, 0)"
                        target="_blank"
                        class="btn btn-block orange waves-effect waves-light"
                        [ngClass]="{'disabled' : selectedCompliance.compliance.docs.length == 0}">Download</a>
                    <!--
                    <a href="{{ (selectedCompliance.compliance.docs[0]) ? selectedCompliance.compliance.docs[0]['urlPath'] : '#' }}" target="_blank" class="btn btn-block orange waves-effect waves-light" [ngClass]="{'disabled' : selectedCompliance.compliance.docs.length == 0}">Download</a>
                    <button class="btn btn-block blue lighten-1 waves-effect waves-light" [routerLink]="['/teams/add-wardens']" [queryParams]="{ 'location_id' : encryptedID }">Manage</button> -->
                    <!-- <button class="btn btn-block blue lighten-1 waves-effect waves-light" [routerLink]="['/shop/compliance-package']">Shop</button> -->
                </div>
            </div>

            <!-- <div class="switch-container" *ngIf="selectedCompliance.compliance.docs.length > 0 && isTRP == false && isFRP == true">
                <p class="give-access-text">Give access to TRP</p>
                <div class="switch" >
                    <input type="checkbox"
                 (change)="assignAccessToTRP($event, selectedCompliance)"
                 [checked]="selectedCompliance.compliance.docs[0].viewable_by_trp">
                    <div class="yes">Yes</div>
                    <div class="no">No</div>
                    <div class="highlight"></div>
                    <div class="background"></div>
                </div>
            </div> -->
            <div class="recently-uploaded">
                    <h5 class="blue-text" style="margin: 40px 0px 10px 0px; font-size: 20px;">Recently uploaded files</h5>
            
                    <table class="table striped">
                        <thead>
                            <tr>
                                <th>Filename</th>
                                <th>Date uploaded</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="showLoadingForSignedPaperURL">
                                <tr>
                                    <td colspan="2">
                                        <div class="progress">
                                            <div class="indeterminate"></div>
                                        </div>									
                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="!showLoadingForSignedPaperURL">
                                <tr *ngIf="chief_warden_attendance_record.length == 0">
                                    <td colspan="2">No recent file found</td>
                                </tr>
                                <tr *ngFor="let a of chief_warden_attendance_record; let i = index;">
                                    <td><a *ngIf="!a.downloadCtrl" (click)="downloadPaperAttendanceFile(a.strOriginalfilename, 12, i)" target="_blank" download class="black-text">{{a.strOriginalfilename}}</a>
                                        <div *ngIf="a.downloadCtrl" class="progress">
                                            <div class="indeterminate"></div>
                                        </div>
                                    </td>
                                    <td><span *ngIf="!a.downloadCtrl">{{a.dtUploaded | date:'yyyy-MM-dd'}}</span>
                                        <div *ngIf="a.downloadCtrl" class="progress">
                                            <div class="indeterminate"></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                    </table>            
            </div>

        </div>

    </div>
</ng-template>

<ng-template #templateTableKpis12>
    <div class="col l12 m12 s12">
        <div class="diagram-top-of-table">
            <h5 class="blue-text title">Chief Warden</h5>
        </div>
        <div class="filter-container row">
            <div class="col l6 m12 s12">
                <div class="search-field">
                    <input placeholder="Search here" type="text">
                    <span class="material-icons">search</span>
                </div>
            </div>
            <div class="col l3 m12 s12">
                <select class="filter-by">
                    <option value="0" selected disabled >Filter By</option>
                </select>
            </div>
            <div class="col l3 m12 s12">
                <select class="sort-by">
                    <option value="0" selected disabled >Sort By</option>
                </select>
            </div>
        </div>
        <table class="striped table">
            <thead>
                <tr>
                    <th>Sub Locations</th>
                    <th>Benchmark</th>
                    <th>Nominated</th>
                    <th>Trained</th>
                    <th>Training Compliance</th>
                    <th style="width: 13%;">Action</th>
                </tr>
            </thead>
            <tbody  >
                <tr *ngFor="let sub of complianceSublocations">
                    <td>{{sub.name}}</td>

                    <td *ngIf="selectedCompliance['compliance']['location_details'] && selectedCompliance['compliance']['location_details'][sub['location_id']]; else noChiefWarden">
                        {{selectedCompliance['compliance']['location_details'][sub['location_id']].training.total_estimated_wardens}}
                    </td>
                    <td *ngIf="selectedCompliance['compliance']['location_details'] && selectedCompliance['compliance']['location_details'][sub['location_id']]; else noChiefWarden">
                        {{selectedCompliance['compliance']['location_details'][sub['location_id']].users.length}}
                    </td>
                    <td *ngIf="selectedCompliance['compliance']['location_details'] && selectedCompliance['compliance']['location_details'][sub['location_id']]; else noChiefWarden">
                        {{selectedCompliance['compliance']['location_details'][sub['location_id']].training.total_passed}}
                    </td>
                    <td *ngIf="selectedCompliance['compliance']['location_details'] && selectedCompliance['compliance']['location_details'][sub['location_id']]; else noChiefWardenPercentage">
                        {{selectedCompliance['compliance']['location_details'][sub['location_id']].training.percentage}}
                    </td>
                    <td>
                        <a  (click)="viewWardenList(sub['location_id'])" class="blue-text"> View Warden List </a>
                    </td>
                    <ng-template #noChiefWarden>
                        <td >0</td>
                    </ng-template>
                    <ng-template #noChiefWardenPercentage>
                        <td >0%</td>
                    </ng-template>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>

<ng-template #templateKpis13>
    <ng-container *ngTemplateOutlet="displayKPINameAndDescription"></ng-container>
    <div class="diagram-top-of-table">
        <h5 class="blue-text title">Document List</h5>
        <div class="buttons">
            <button class="btn btn-block orange waves-effect waves-light" (click)="showModalUploadDocs()" style="display: block;">Upload Document</button>
        </div>
    </div>
    <table class="striped table">
        <thead>
            <tr>                
                <th>Type</th>
                <th>Filename</th>
                <th>Date Of Activity</th>
                <th>Validity (months)</th>
                <th>Expiry</th>
                <th>Timestamp</th>
                <th style="width: 10%;">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let doc of complianceDocuments[selectedCompliance.compliance_kpis_id]; let i = index;">                
                <td>{{doc['document_type']}}</td>
                <td>{{doc['file_name']}}</td>
                <td>{{doc['date_of_activity'] | date: 'yyyy-MM-dd' }}</td>
                <td>{{doc['validity_in_months']}}</td>
                <td>{{doc['expiry_date'] | date: 'yyyy-MM-dd' }}</td>
                <td>{{doc['timestamp'] | date: 'yyyy-MM-dd' }}</td>
                <td>
                    <a *ngIf="!doc['downloadCtrl']" (click)="downloadKPIFile(doc['urlPath'], doc['file_name'], selectedCompliance.compliance_kpis_id, i)" target="_blank">Download</a>
                    <div *ngIf="doc['downloadCtrl']" class="progress">
                        <div class="indeterminate"></div>
                    </div>
                </td>
            </tr>
            <tr *ngFor="let a of sundry_attendance_record; let i = index;">
                <td><span>Paper attendance</span></td>
                <td><a *ngIf="!a.downloadCtrl" (click)="downloadPaperAttendanceFile(a.strOriginalfilename, 13, i)" target="_blank" download class="black-text">{{a.strOriginalfilename}}</a>
                    <div *ngIf="a.downloadCtrl" class="progress">
                        <div class="indeterminate"></div>
                    </div>
                </td>
                <td><span *ngIf="!a.downloadCtrl">{{a.dtUploaded | date:'yyyy-MM-dd'}}</span>
                    <div *ngIf="a.downloadCtrl" class="progress">
                        <div class="indeterminate"></div>
                    </div>
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>{{a.dtUploaded | date: 'yyyy-MM-dd' }}</td>
                <td><a href="{{a.downloadUrl}}" target="_blank">Download</a></td>
            </tr>
            <tr *ngIf="showLoadingForSignedURL">
                <td colspan="8">
                    <div class="progress">
                        <div class="indeterminate"></div>
                    </div>									
                </td>
            </tr>
        </tbody>
    </table>
</ng-template>

<div class="modal" id="modalManageUpload" style="overflow: visible;">
    <div class="modal-content" *ngIf="showModalUploadDocsLoader">
        <div class="center" >
            <div class="preloader-wrapper active" >
                <div class="spinner-layer spinner-red-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form #form="ngForm" [hidden]="showModalUploadDocsLoader">
        <div class="modal-content">
            <h5>Upload document for {{displayKPIName}}</h5>
            <div class="row" style="margin-top: 35px;">
                <div class="col m12 l6">
                    <div class="input-field">
                        <ng-datepicker [(ngModel)]="datepickerModel" (ngModelChange)="onChangeDatePicker($event)" [options]="options"  [ngModelOptions]="{standalone: true}" [headless]="true" [isOpened]="isShowDatepicker" ></ng-datepicker>
                        <input id="dateOfActivity" autocomplete="off" type="text" [(ngModel)]="datepickerModelFormatted" ngModel name="date_of_activity" (click)="showDatePicker()" required >
                        <label for="dateOfActivity" class="active" >Date of Activity</label>
                    </div>
                </div>

                <div class="col m12 l6">
                    <div class="input-field">
                        <input id="validTill" type="text" name="valid_till_date" [(ngModel)]="validTillDate" readonly required >
                        <label for="validTill" class="active">Valid Till</label>
                    </div>
                </div>
                <div class="col m12 l6">
                  <label for="accessType">Type</label>
                  <select name="document_type" style="display: block;" id="accessType" ngModel required>
                    <option value="-1" disabled selected>Select Document Type</option>
                    <option value="Primary">Primary</option>
                    <option value="Secondary">Secondary</option>
                    <option value="Admin">Admin</option>
                  </select>
                  <br>
                </div>


                <div *ngIf="selectedKPI == 5 && sublocations.length > 0" class="col m12 l6">
                  <label for="sublocation">Sublocation</label>
                  <select name="sublocation" style="display: block;" id="sublocation" ngModel required>
                    <option value="-1" disabled selected>Select Subloction</option>
                    <option *ngFor="let sub of sublocations" [value]="sub['location_id']">{{sub['name']}}</option>
                  </select>
                  <br>
                </div>

                <div class="col l12">
                  <label for="file">Please choose file</label><br>
                  <input type="file" name="file" id="file" required class="file" #inpFileUploadDocs (change)="onFileSelected()" ngModel>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-red btn-flat" (click)="cancelUploadDocs(form)">Cancel</a>
            <button class="waves-effect waves-blue btn-flat" type="submit" [disabled]="!form.valid" (click)="submitUploadDocs(form)">Submit</button>
        </div>
    </form>
</div>

<div id="modalWardenList" class="modal">
  <div class="modal-content">
    <table class="striped table">
            <thead>
                <tr>
                    <!-- <th>Date</th> -->
                    <th>Account</th>
                    <th>TRP Name</th>
                    <th>No of wardens</th>
                    <th>Wardens</th>
                    <!--
                    <th style="width: 10%;">No of new wardens added</th>
                    <th style="width: 10%;">Action</th>
                    -->
                </tr>
            </thead>
            <tbody *ngIf="fetchingWardenList">
                <tr>
                    <td colspan="4" class="center">Loading...</td>
                </tr>
            </tbody>
            <tbody *ngIf="!fetchingWardenList">
                <tr *ngFor="let tenant of tenants">
                    <!-- <td>n/a</td> -->
                    <td>
                        <span class="blue-text">{{tenant.account_name}}</span>
                    </td>
                    <td>
                      <span *ngFor="let t of tenant.trp">{{t}}<br /></span>
                    </td>
                    <td>
                        {{tenant.wardens.length}}
                    </td>
                    <td>
                    <span *ngFor="let warden of tenant.wardens">{{warden.first_name}} {{warden.last_name}}<br /></span>
                    </td>
                    <!--
                    <td style="padding: 2px;">
                        <a  class=" ">
                        <img src="/assets/images/download_ico_blue.png"  >
                        </a>
                    </td>
                    -->
                </tr>
            </tbody>
    </table>
    <br />
    <div class="button-container right-align" >
        <a  class="modal-action modal-close waves-effect waves-light btn grey lighten-1 btn-flat">Close</a>
    </div>
  </div>

</div>
<div id="modalfilenotfound" class="modal modal-fixed-footer">
	<div class="modal-content">	
		<div class="filenotfoundalert error">
			<div class="material-icons">error_outline</div>	
			<h6>File not found</h6>
		</div>	  
		<p>There was a problem downloading the file.		   
		<br />Admin will be notified to perform the necessary cleanup procedures.</p>
	</div>
	<div class="modal-footer">
	  <a class="modal-close waves-effect waves-red btn-flat">OK</a>
	</div>
</div>
<div preloader></div>