<!-- <ng-template  #form>
    <div class="row">

        <div class="col s12 l6 m6">
            <div class="select-field">
                <span style=" font-size: 16px;">Mobility Impaired Status</span>
                <select ngModel name="is_permanent">
                    <option value="0" selected="selected">Temporary</option>
                    <option value="1" >Permanent</option>
                </select>
            </div>
        </div>
        <div class="col s12 l6 m6">
            <div class="input-field">
                <span style=" font-size: 16px;">Mobility Impaired Upto</span>
                <ng-datepicker [(ngModel)]="datepickerModel" (ngModelChange)="onChangeDatePicker($event)" [options]="options"  [ngModelOptions]="{standalone: true}" [headless]="true" [isOpened]="isShowDatepicker" ></ng-datepicker>
                <input id="durationDate" #durationDate type="text" [(ngModel)]="datepickerModelFormatted" ngModel name="duration_date" (click)="showDatePicker()" required autocomplete="off" >
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col s12 m12 l12">
            <h6>Assistant Type</h6>
            <div class="input-field">
                <input ngModel name="assistant_type" type="text" class="grey-input" placeholder="Please describe requirements and process here." required>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12 l12">
            <h6>Evacuation Equipment Type / Requirement</h6>
            <div class="input-field">
                <input ngModel name="equipment_type" type="text" class="grey-input" placeholder="Please inform what is the equiment and type." required>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12 l12">
            <h6>Evacuation / Egress Procedure</h6>
            <div class="input-field">
                <input ngModel name="evacuation_procedure" type="text" class="grey-input" placeholder="" required>
            </div>
        </div>
    </div>
</ng-template >

<ng-template  #loader>
    <div class="center">
        <div class="preloader-wrapper active">
            <div class="spinner-layer spinner-red-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</ng-template >

<ng-template  #forModal>
    <div class="modal-content center" [hidden]="!showModalLoader">
        <h5>Mobility Impaired Information For {{user.first_name}} {{user.last_name}}</h5>
        <ng-container *ngTemplateOutlet="loader"></ng-container>
    </div>
    
    <form #formMobility="ngForm" (submit)="modalPeepFormSubmit(formMobility, $event)">
        <div class="modal-content" [hidden]="showModalLoader">
            <h5>Mobility Impaired Information For {{user.first_name}} {{user.last_name}}</h5>
            <ng-container *ngTemplateOutlet="form"></ng-container>
        </div>
        <div class="modal-footer" [hidden]="showModalLoader">
            <a  class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
            <button type="submit" class="waves-effect waves-blue btn-flat" [disabled]="formMobility.invalid">Submit</button>
        </div>
    </form>
</ng-template >

<ng-template #forPage>
    <div class="container" [hidden]="showModalLoader">
        <div style="margin-top: 40px;"></div>
        <div class="row">
            <div class="col l2 m12 s12"></div>
            <div class="col l8 m12 s12">
                <form #formMobility="ngForm" (submit)="modalPeepFormSubmit(formMobility, $event)">
                    <h5>Mobility Impaired Information For {{user.first_name}} {{user.last_name}}</h5>
                    <ng-container *ngTemplateOutlet="form"></ng-container>

                    <div class="row">
                        <div class="col l12 m12 s12">
                            <button  class="waves-effect waves-light btn grey">Cancel</button>
                            <button type="submit" class="waves-effect waves-light btn orange" [disabled]="formMobility.invalid">Submit</button>
                        </div>
                    </div>
                
                </form>
            </div>
            <div class="col l2 m12 s12"></div>
        </div>

    </div>
</ng-template>

<div *ngIf="forModalDisplay == true">
    <ng-container *ngTemplateOutlet="forModal"></ng-container>
</div>

<div *ngIf="forModalDisplay == false">
    <ng-container *ngTemplateOutlet="forPage"></ng-container>
</div>
 -->


 <div [ngClass]="{ 'modal-content' : forModalDisplay, 'container' : !forModalDisplay }">
    <div style="margin-top: 40px;" *ngIf="!forModalDisplay"></div>
    <div class="row">
        <div class="col l2 m12 s12" [hidden]="forModalDisplay"></div>
        <div class="col  m12 s12" [ngClass]="{ 'l12' : forModalDisplay, 'l8' : !forModalDisplay }">
            <form #formMobility="ngForm" id="formMobility" (submit)="modalPeepFormSubmit(formMobility, $event)">
                
                <div [hidden]="!showModalLoader">
                    <div class="center">
                        <div class="preloader-wrapper active">
                            <div class="spinner-layer spinner-red-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div><div class="gap-patch">
                                    <div class="circle"></div>
                                </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div [hidden]="showModalLoader">
                    <h5>Mobility Impaired Information For {{user.first_name}} {{user.last_name}}</h5>
                    <div class="row">

                        <div class="col s12 l6 m6">
                            <div class="select-field">
                                <span style=" font-size: 16px;">Mobility Impaired Status</span>
                                <select ngModel name="is_permanent">
                                    <option value="0" selected="selected">Temporary</option>
                                    <option value="1" >Permanent</option>
                                </select>
                            </div>
                        </div>
                        <div class="col s12 l6 m6">
                            <div class="input-field">
                                <span style=" font-size: 16px;">Mobility Impaired Upto</span>
                                <ng-datepicker [(ngModel)]="datepickerModel" (ngModelChange)="onChangeDatePicker($event)" [options]="options"  [ngModelOptions]="{standalone: true}" [headless]="true" [isOpened]="isShowDatepicker" ></ng-datepicker>
                                <input id="durationDate" #durationDate type="text" [(ngModel)]="datepickerModelFormatted" ngModel name="duration_date" (click)="showDatePicker()" required autocomplete="off" >
                            </div>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col s12 m12 l12">
                            <h6>Assistant Type</h6>
                            <div class="input-field">
                                <input ngModel name="assistant_type" type="text" class="grey-input" placeholder="Please describe requirements and process here." required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 m12 l12">
                            <h6>Evacuation Equipment Type / Requirement</h6>
                            <div class="input-field">
                                <input ngModel name="equipment_type" type="text" class="grey-input" placeholder="Please inform what is the equiment and type." required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 m12 l12">
                            <h6>Evacuation / Egress Procedure</h6>
                            <div class="input-field">
                                <input ngModel name="evacuation_procedure" type="text" class="grey-input" placeholder="" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col l12 m12 s12" [ngClass]="{ 'right-align' : forModalDisplay  }">
                            <button  class="waves-effect waves-light btn grey" (click)="cancelForm()">Cancel</button>
                            <button type="submit" class="waves-effect waves-light btn orange" [disabled]="formMobility.invalid">Submit</button>
                        </div>
                    </div>
                </div>
            
            </form>
        </div>
        <div class="col l2 m12 s12" [hidden]="forModalDisplay"></div>
    </div>

</div>