<div class="row">
	<div class="col s12 m6 l6" *ngIf="showSendInvite">
		<h5 class="title">Send Invite</h5>
		
		<form class="invitation-form"  #formIniviteUser="ngForm" (ngSubmit)="submitInviteUsers(formIniviteUser, $event)" >

			<div class="input-field">
				<input id="inpFirstName" type="text" name="first_name" ngModel #inputFirstName="ngModel" [ngClass]="{ 'invalid' : !inputFirstName.valid  && inputFirstName.dirty }" required >
				<label for="inpFirstName" >First Name
					<small *ngIf=" !inputFirstName.valid && inputFirstName.dirty "> *Required </small>
				</label>
			</div>

			<div class="input-field">
				<input id="inpLastName" type="text" name="last_name" ngModel #inputLastName="ngModel" [ngClass]="{ 'invalid' : !inputLastName.valid  && inputLastName.dirty }" required >
				<label for="inpLastName" >Last Name
					<small *ngIf=" !inputLastName.valid && inputLastName.dirty "> *Required </small>
				</label>
			</div>

			<div class="input-field">
				<input id="inpEmail" type="email" name="email" email ngModel #inputEmail="ngModel" [ngClass]="{ 'invalid' : !inputEmail.valid && inputEmail.dirty  }" required >
				<label for="inpEmail" >Email
					<small *ngIf=" !inputEmail.valid && inputEmail.dirty "> *Invalid </small>
					<span *ngIf=" emailTaken " email-taken class="red-text"> *Email taken </span>
				</label>
			</div>

			<div class="select-field">
				<select id="accountType" [(ngModel)]="selectAccountType" required  name="account_type">
					<option value="0" disabled selected>User role</option>
					<option *ngFor="let utype of selectUserType" value="{{ utype.role_id }}">{{ utype.description }}</option>
				</select>
				<label class="select-label">Select Account Role </label>
			</div>

			<div div-from *ngIf=" (formToShow == 'frp-to-frp') ">
				<div class="select-field">
					<select name="account" required [(ngModel)]="selectAccount">
						<option *ngFor="let account of selectAccounts" [selected]="parentLocations.length == 1"  value="{{ account.account_id }}" >{{ account.account_name }}</option>
					</select>
					<label class="select-label">Select Account </label>
				</div>

				<div class="select-field">
					<select required  name="location" ngModel [(ngModel)]="selectLocation">
						<option *ngFor="let location of parentLocations" value="{{ location.location_id }}">{{ location.name }}</option>
					</select>
					<label class="select-label">Select Location </label>
				</div>

				<div class="input-field right-align">
					<button type="submit" class="btn orange waves-effect waves-light" style="margin-right: 10px;">Invite User</button>
					<button  class="btn grey lighten-2 waves-effect waves-light" (click)="cancelForm()" >Cancel</button>
				</div>
			</div>

			<div div-from *ngIf=" (formToShow == 'frp-to-trp') ">
				<div class="select-field">
					<select name="account" required [(ngModel)]="selectAccount">
						<option *ngFor="let account of selectAccounts" value="{{ account.account_id }}" >{{ account.account_name }}</option>
					</select>
					<label class="select-label">Select Account </label>
				</div>

				<div class="select-field">
					<select required  name="location" ngModel [(ngModel)]="selectLocation">
						<option *ngFor="let location of parentLocations" value="{{ location.location_id }}"> {{ location.name }} </option>
					</select>
					<label class="select-label">Select Location </label>
				</div>

				<div class="checkbox-field" *ngIf="showSpecificLevel">
					<label class="select-label">Select Specific Level(s) </label>
					<p *ngFor="let location of childLocations">
				      <input  type="checkbox" ngModel  class="filled-in grey" name="sublocation-{{ location.location_id }}" value="{{ location.location_id }}" id="filled-in-box-{{ location.location_id }}" />
				      <label for="filled-in-box-{{ location.location_id }}">{{ location.name }}</label>
				    </p>
				</div>

				<div class="input-field right-align">
					<button type="submit" class="btn orange waves-effect waves-light" style="margin-right: 10px;">Invite User</button>
					<button  class="btn grey lighten-2 waves-effect waves-light" (click)="cancelForm()" >Cancel</button>
				</div>
			</div>

			<div div-from *ngIf=" (formToShow == 'frp-to-warden') ">
				<div class="select-field">
					<select name="account" [(ngModel)]="selectAccount" required>
						<option *ngFor="let account of selectAccounts" value="{{ account.account_id }}" >{{ account.account_name }}</option>
					</select>
					<label class="select-label">Select Account </label>
				</div>

				<div class="select-field">
					<select required  name="location" ngModel [(ngModel)]="selectLocation">
						<option *ngFor="let location of parentLocations" value="{{ location.location_id }}">{{ location.name }}</option>
					</select>
					<label class="select-label">Select Location </label>
				</div>

				<div class="select-field" *ngIf="showSpecificLevel" >
					<select required name="sublocation" [(ngModel)]="selectSubLocation">
						<option *ngFor="let location of childLocations" value="{{ location.location_id }}">{{ location.name }}</option>
					</select>
					<label class="select-label">Select Specific Level(s) </label>
				</div>
				
				<div class="input-field right-align">
					<button type="submit" class="btn orange waves-effect waves-light" style="margin-right: 10px;">Invite User</button>
					<button  class="btn grey lighten-2 waves-effect waves-light" (click)="cancelForm()" >Cancel</button>
				</div>
			</div>

			<div div-from *ngIf=" (formToShow == 'trp-to-trp') ">
				<div class="select-field">
					<select required name="location" ngModel [(ngModel)]="selectLocation">
						<option *ngFor="let location of parentLocations" value="{{ location.location_id }}">{{ location.name }}</option>
					</select>
					<label class="select-label">Select Location </label>
				</div>

				<div class="checkbox-field" *ngIf="showSpecificLevel">
					<label class="select-label">Select Specific Level(s) </label>
					<p *ngFor="let location of childLocations">
				      <input  type="checkbox" ngModel  class="filled-in grey" name="sublocation-{{ location.location_id }}" value="{{ location.location_id }}" id="filled-in-box-{{ location.location_id }}" />
				      <label for="filled-in-box-{{ location.location_id }}">{{ location.name }}</label>
				    </p>
				</div>

				<div class="input-field right-align">
					<button type="submit" class="btn orange waves-effect waves-light" style="margin-right: 10px;">Invite User</button>
					<button  class="btn grey lighten-2 waves-effect waves-light" (click)="cancelForm()" >Cancel</button>
				</div>
			</div>

			<div div-from *ngIf=" (formToShow == 'trp-to-warden') ">
				<div class="select-field">
					<select required name="location" ngModel [(ngModel)]="selectLocation">
						<option *ngFor="let location of parentLocations" value="{{ location.location_id }}">{{ location.name }}</option>
					</select>
					<label class="select-label">Select Location </label>
				</div>

				<div class="select-field" *ngIf="showSpecificLevel" >
					<select required  name="sublocation" [(ngModel)]="selectSubLocation">
						<option *ngFor="let location of childLocations" value="{{ location.location_id }}">{{ location.name }}</option>
					</select>
					<label class="select-label">Select Specific Level(s) </label>
				</div>
				
				<div class="input-field right-align">
					<button type="submit" class="btn orange waves-effect waves-light" style="margin-right: 10px;">Invite User</button>
					<button  class="btn grey lighten-2 waves-effect waves-light" (click)="cancelForm()" >Cancel</button>
				</div>
			</div>

		</form>


	</div>
</div>



<div id="modalLoader" class="modal">
	<div class="modal-content center-align" style="padding: 20px;">
		<div *ngIf="modalLoader.showLoader">
			<div class="preloader-wrapper active">
				<div class="spinner-layer spinner-red-only">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div><div class="gap-patch">
						<div class="circle"></div>
					</div><div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
			<div>
				<h6>{{ modalLoader.loadingMessage }}</h6>
			</div>
		</div>

		<div *ngIf="modalLoader.showMessage" class="center-align">
			<p>
				<i class="material-icons {{ modalLoader.iconColor }}-text" style="font-size: 80px;">{{ modalLoader.icon }}</i>
			</p>
			<p style="font-size: 27px; line-height: 30px;">{{ modalLoader.message }}</p>
		</div>
	</div>
</div>