<div class="select-role-block-container">
	<div class="select-role container-fluid" >
		
		<div class="row">
			
			<div class="col s12 m12 l12 title center-align">
				Please select your account role
			</div>

		</div>

		<div class="row row-select">
			
			<div class="col s12 m4 l4 select-container waves-effect waves-light center-align">
				<a [routerLink]="['/signup/user']" [queryParams]="{role_id: 1}">
					<div class="row">
						<div class="col l12 m12 s6">
							<img src="assets/images/signup/buildingmanager_icon.png" alt="">
						</div>
						<div class="col l12 m12 s6 content">
							<h4>Building Manager</h4>
							<p>
								E.g. Facility Manager <br/>
								Deputy Building Manager <br/>
								Property Manager <br/>
								Building Owner
							</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col s12 m4 l4 select-container waves-effect waves-light center-align">
				<a [routerLink]="['/signup/user']" [queryParams]="{role_id: 2}">
					<div class="row">
						<div class="col l12 m12 s6">
							<img src="assets/images/signup/tenantmanager_icon.png" alt="">
						</div>
						<div class="col l12 m12 s6 content">
							<h4>Tenant</h4>
							<p>
								E.g. Tenant Contact <br/>
								Person, Tenant <br/>
								Facility Coordinator
							</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col s12 m4 l4 select-container waves-effect waves-light center-align">
				<a [routerLink]="['/signup/user']" [queryParams]="{role_id: 3}">
					<div class="row">
						<div class="col l12 m12 s6">
							<img src="assets/images/signup/eco_icon.png" alt="">
						</div>
						<div class="col l12 m12 s6 content">
							<h4>ECO</h4>
							<p>
								E.g. Deputy Chief Warden <br/>
								Floor Warden, Warden, <br/>
								General Occupant
							</p>
						</div>
					</div>
				</a>
			</div>

		</div>

		<div class="row">
			<div class="col s12 m12 l12 center-align">
				<a [routerLink]="['/login']" class="go-back-link"><< Back</a>
			</div>
		</div>

	</div>
</div>