<div class="row">
    <div class="col s9"><h4 class="title">Reward Program</h4></div>
    <div class="col s3">
        <button type="button" [routerLink]="['/admin', 'reward-program-configuration']" class="waves-effect waves-light blue btn pull right" style="margin-top: 20px;">Create New Reward Program</button>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <table class="striped">
            <thead>
                <tr>
                    <th>Sponsor</th>
                    <th>Account/Location</th>
                    <th>Reward</th>
                    <th>Qualified</th>
                    <th>Redeemed</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let config of configurations">
                    <td><a [routerLink]="['/admin', 'reward-program-redeemers', config['reward_program_config_id']]">{{config['sponsor']}}</a></td>
                    <td> <a [routerLink]="['/admin', 'reward-program-redeemers', config['reward_program_config_id']]">
                            <span *ngIf="config['account_name'] != null">{{config['account_name']}}</span>
                            <span *ngIf="config['location_name']">{{config['location_name']}}</span>
                         </a>                        
                    </td>
                    <td>
                        <span *ngFor="let r of config['reward']" style="display: block;">{{r}}</span>
                    </td>
                    <td>
                        <a (click)="listRewardCandidate(config['reward_program_config_id'])">{{config['user_reward_id'].length}}</a> 
                    </td>
                    <td>
                        {{config['redeemer_id'].length}}
                    </td>
                    <td>
                        <a [routerLink]="['/admin', 'edit-reward-program-configuration', config['reward_program_config_id']]">Edit</a>
                    </td>

                </tr>
                
            </tbody>
        </table>
    </div>
</div>

<div id="users" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Users</h4>
        <ul>
            <li *ngFor="let user of users">{{user['first_name']}} {{user['last_name']}}</li>
        </ul>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>
          