<breadcrumbs-component></breadcrumbs-component>
<div class="row row-add-mobility-impaired-form">
	<div class="col m12 l12 s12 top-title-button">
		<h4 class="title left">Add Mobility Impaired</h4>
	</div>
</div>

<div class="row">
	<div class="col l12 m12 s12">

		<form #addMobilityImpairedForm="ngForm">
			<table class="table striped">
				<thead>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Email</th>
						<th>Location</th>
						<th>Contact Information</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngIf="addedUsers.length == 0">
						<td colspan="7">
							<h6 class="center">Add new user</h6>
						</td>
					</tr>
					<tr *ngFor="let user of addedUsers; let i = index">
						<td >
							<input type="text" class="first-name" [(ngModel)]="user.first_name" placeholder="First name" name="first_name{{i}}" required>
						</td>
						<td >
							<input type="text" [(ngModel)]="user.last_name" placeholder="Last name" name="last_name{{i}}" required>
						</td>
						<td style="position: relative;">
							<div *ngIf="user.errors.email_taken || user.errors.blacklisted || user.errors.invalid"  style=" position: absolute; right: 5px; top: 5px; background-color: #f44336; padding: 1% 3%; color: #fff; border-radius: 5px;">
								<span *ngIf="user.errors.email_taken">Email is taken</span>
								<span *ngIf="user.errors.blacklisted || user.errors.invalid">Invalid email</span>
							</div>
                            <input type="text" [(ngModel)]="user.email" placeholder="Email" name="email{{i}}" pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$' required>
						</td>
						<!--<td >
							 <select required [(ngModel)]="user.account_role_id" name="accountRole{{i}}" pattern="[1-9][0-9]*">
											<option value="0" selected disabled>Select Role</option>
											<option *ngFor="let role of accountRoles" [value]="role.role_id"> {{ role.role_name }}</option>
									</select> 
									<ng-multiselect-dropdown
											#thisDropDown
											[placeholder]="'Select Role'"
											[data]="selectRolesDropdown"
											[(ngModel)]="user.selected_roles"
											[ngModelOptions]="{standalone: true}"
											[settings]="dropdownSettings"
											[name]="accountRole"
											(onSelect)="onSelectRole($event, i, thisDropDown)"
									>
									</ng-multiselect-dropdown>
														
						</td> [class.disabled]="user.selected_roles.length == 0" -->
						<td >
							<a class="blue-text" (click)="showLocationSelection(user)"> {{user.location_name}} </a>
							<input type="hidden" name="selectedLocation{{i}}" [(ngModel)]="user.account_location_id" required pattern="[1-9][0-9]*">
						</td>
						<td class="with-remove">
							<input type="text" [(ngModel)]="user.contact_number" placeholder="Contact Information" name="mobile{{i}}">
							<a  class="remove" (click)="removeAddedUser(i)" [hidden]="i == 0">X</a>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="7">
							<button class="btn blue" (click)="addMoreRow()">
								+ Add more row
							</button>
						</td>
					</tr>
				</tfoot>
			</table>
		</form>

	</div>

	<div class="col l12 m12 s12 button-container right-align">
		<button class="btn grey lighten-1 waves-effect waves-light cancel" [routerLink]="['/teams/mobility-impaired']"  > Cancel </button>
		<button class="btn orange waves-effect waves-light cancel" (click)="submitPEEP(addMobilityImpairedForm)" [disabled]="addMobilityImpairedForm.invalid"> Submit </button>
	</div>
</div>

<div id="modalLocations" class="modal modal-sublocations">
	<div class="modal-content">
		<h5>Select Location</h5>

		<div class="search-container" >
			<div class="input-container">
				<input type="text" placeholder="Enter building location to search for level" #modalSearchLocation  >
			</div>
			<div class="icon-container">
				<img src="assets/images/locations/search_icon.png" alt="">
			</div>
		</div>

		<form #formLoc (submit)="submitSelectLocationModal(formLoc, $event)" id="formLoc">

			<div class="list-region" >
				<p *ngIf="locations.length == 0">No location found</p>
				<ul class="locations">
					<ng-container *ngFor="let loc of locations">
						<li class="list-division" id="{{loc.location_id}}" *ngIf="loc['responsibility']">
							<div class="name-radio-plus">
								<div class="input">
									<input type="radio" name="selectLocation" value="{{loc.location_id}}" id="check-{{loc.location_id}}" (click)="chooseLocation(loc.location_id, loc.name)">
									<label for="check-{{loc.location_id}}">{{loc.name}}</label>
									<ul *ngIf="loc.sublocations" style="padding-left: 20px; max-height: 153px; overflow: auto;">
											<li *ngFor="let sub of loc.sublocations" class="list-division" id="{{sub.location_id}}">
												<div class="name-radio-plus">
													<div class="input">
														<input type="radio" name="selectLocation" value="{{loc.location_id}}" id="check-{{sub.location_id}}" (click)="chooseLocation(sub.location_id, loc.name, sub.name)">
														<label for="check-{{sub.location_id}}">{{sub.name}}</label>
													</div>
												</div>	
											</li>
										</ul>
								</div>
							</div>							
						</li>
						<li class="list-division" style="margin-top: 8px;" id="{{loc.location_id}}" *ngIf="!loc['responsibility']">
							<div class="name-radio-plus">
								<span class="loc-name-no-responsibility">{{loc.name}}</span>
								<ul *ngIf="loc.sublocations" style="padding-left: 20px; max-height: 153px; overflow: auto;">
										<li *ngFor="let sub of loc.sublocations" class="list-division" id="{{sub.location_id}}">
											<div class="name-radio-plus">
												<div class="input">
													<input type="radio" name="selectLocation" value="{{loc.location_id}}" id="check-{{sub.location_id}}" (click)="chooseLocation(sub.location_id, loc.name, sub.name)">
													<label for="check-{{sub.location_id}}">{{sub.name}}</label>
												</div>
											</div>	
										</li>
									</ul>
							</div>
						</li>

					</ng-container>

				</ul>

                <!-- <ul *ngIf="locations.length > 0" class="">
                    <li *ngFor="let location of locations" class="list-division" [id]="location.location_id" >
                        <div class="name-radio-plus">
                            <div class="input">
                                <input ngModel required type="radio" name="selectLocation" [value]="location.location_id" [id]="'check-'+location.location_id"   >
                                <label [for]="'check-'+location.location_id">
                                    {{location.name}}
                                </label>
                            </div>
                        </div>
                    </li>
                </ul> -->
			</div>

			<div class="button-container center">
				<a class="btn grey lighten-1 waves-effect waves-light" (click)="cancelLocationModal()"> Cancel </a>
				<!--<button type="submit" class="btn orange waves-effect waves-light" *ngIf="locations.length > 0"> Submit </button>-->
			</div>

		</form>

	</div>
</div>
