<div class="search-container"  >
	<div class="row">
		<div class="col s12 m12 l12">
			<div class="image-container center-align">
				<img src="assets/images/locations/search_location.png" alt="">
				<h5 class="title">
					<span class="search">Please search your location</span>
					<span class="create">Create location on this address?</span>
				</h5>
			</div>
			<div class="form-container">
				<form>
					<div class="input-container input-field">
		              <input
		              placeholder="e.g Street Name, City Name"
		              autocorrect="off"
		              autocapitalize="off"
		              spellcheck="off"
		              type="text"
		              #search
		              [formControl]="searchControl">
					</div>
					<div class="search-icon-container">
						<img class="glass" src="assets/images/locations/search_icon.png" alt="">
						<a href="javascript:void(0)" class="close-link" (click)="clearSearch()">
							<img class="close" src="assets/images/locations/close_search.png" alt="">
						</a>
					</div>
				</form>
			</div>
		</div>
  </div>
  <!-- No Results -->
	<div class="row row-add-info" *ngIf="!results.length">
		<div class="col s12 m12 l12 center-align">
			<p class="blue-text add-more-text">Add more details on this location</p>
		</div>
		<div class="col s12 m6 l6">
			<div class="input-field">
				<input id="inpLocationName" type="text" placeholder="Location name here" [formControl]="locationName">
				<label for="inpLocationName" class="active"> Location Name  (Optional)</label>
			</div>
		</div>
		<div class="col s12 m6 l6">
			<div class="input-field">
				<input id="inpLevels" type="number" placeholder="Number of levels here" min="1" value="1" [formControl]="numLevels">
				<label for="inpLevels" class="active"> How many levels are you occupying? </label>
			</div>
		</div>
		<div class="col s12 m12 l12 center-align">
			<button class="btn waves-effect waves-light orange btn-set modal-trigger" href="#modalSetLevels" (click)="updateLevels()">
				Proceed to this location and set level labels
			</button>
		</div>
  </div>
  <!-- End of No Results -->

  <div class="row row-list-result">
      <!-- Location results -->
      <div class="col l12 m12 s12" *ngFor="let component of results">
      	<div class="wrapper">
			<div class="image-container">
				<div class="image-background">
		            <img src="assets/images/locations/add_loc.png" *ngIf="!component.google_photo_url">
              		<img src="{{component.google_photo_url}}" *ngIf="component.google_photo_url">
				</div>
			</div>
			<div class="details-container">
				<h5 class="name">{{ component.name }}</h5>

				<p>
					{{ component.formatted_address }}
				</p>
				<p>
					Tenancy Managed By: Unknown
				</p>
			</div>
			<div class="button-container">
				<p>Has details of this location correct?</p>
				<!-- <a [routerLink]="['/location', 'verify-access']" [queryParams]="{location_id: component.location_id, account_id: accountId}" class="btn orange waves-effect waves-light">Yes</a> -->
				<button class="btn orange waves-effect waves-light" (click)="clickSelectLocation(component.location_id)">Yes</button>
				<button class="btn grey waves-effect waves-light" (click)="clearSearch()">No</button>
			</div>
		</div>
      </div><!-- end of location results -->
    </div>


	<div class="row">
		<div class="col s12 m12 l12 center-align">
			<button class="btn btn-add-multiple">
				<img class="image" src="assets/images/locations/multiple_locations.png" >
				<img class="image hover" src="assets/images/locations/multiple_locations_hover.png" >
				<div class="text">Create Multiple Locations</div>
			</button>
		</div>
	</div>
</div>



<!-- Modal Structure -->
<div id="modalSetLevels" class="modal">
	<form [formGroup]="levelGroup">
		<div class="modal-content center-align" *ngIf="showLoaderDiv">
			<div class="preloader-wrapper big active">
				<div class="spinner-layer spinner-blue-only">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
			<h5>Saving location...</h5>
		</div>
		<div class="modal-content" *ngIf="!showLoaderDiv" formArrayName="levels">
			<h4 class="header ">{{ locationName.value }}</h4>
			<p class="address">{{formattedAddress}}</p>
			<p class="tagline">Please set {{numLevels.value}}  level name<span *ngIf="numLevels.value > 1">s</span></p>

			<!--
			<div class="input-field" *ngFor="let number of numbers">
			<input type="text" placeholder="e.q Level {{number + 1}}" [formControlName]="number">
			</div>
			-->

			<div *ngFor="let levelControl of levelGroup.get('levels').controls; let i = index">
				<span class="required" *ngIf="!levelGroup.get('levels').controls[i].valid"> *Required field.</span>
				<div class="input-field" >
					<input type="text" placeholder="e.q Level {{i + 1}}" [formControlName]="i" required>
				</div>
			</div>


			<div class="buttons-field">
				<button class="btn waves-effect waves-light lighten-1 grey btn-cancel modal-close">Cancel</button>
				<button class="btn waves-effect waves-light orange btn-submit" [disabled]="levelGroup.invalid" (click)="createLocation()">Submit</button>
			</div>
		</div>
	</form>
</div>


<div class="modal modal-sublocations">
	<div class="modal-content">
		<div class="title-container">
			<h5> {{selectedLocation.name}}</h5>
			<p>{{selectedLocation.formatted_address}}</p>
		</div>

		<div class="search-container">
			<div class="input-container">
				<input type="text" placeholder="Search Level" #inputSearchLevelModal >
			</div>
			<div class="icon-container">
				<img src="assets/images/locations/search_icon.png" alt="">
			</div>
		</div>

		<div class="list-region">
			<h6 class="blue-text">Select  Level</h6>
			<div>
				<ul>
					<ng-template #recursiveList let-selectedLocationSubLocations>
						<li *ngFor="let location of selectedLocationSubLocations" class="list-division" [id]="location.location_id">
							<div class="name-radio-plus">
								<div class="input">
									<input type="radio" [value]="location.location_id" [(ngModel)]="selectedLocationId">
								</div>
								<div class="plus-minus" *ngIf="location.sublocations.length > 0">
									<input type="checkbox" (change)="onChangeDropDown($event)">
									<span class="sign"></span>
								</div>
								<div class="name">{{location.name}}</div>
							</div>
							<ul *ngIf="location.sublocations.length > 0">
						        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: location.sublocations }"></ng-container>
							</ul>
						</li>
					</ng-template>
					<ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: selectedLocationSubLocations }"></ng-container>
				</ul>
			</div>
		</div>

		<div class="button-container center-align">
			<button class="btn grey waves-effect waves-light lighten-1 modal-action modal-close"> Cancel </button>
			<button class="btn orange waves-effect waves-light " (click)="onClickSubmitSelectRegion()"> Submit </button>
		</div>
	</div>
</div>
