<div class="search-container"  >
	<div class="row">
		<div class="col s12 m12 l12">
			<div class="image-container center-align">
				<img src="assets/images/locations/search_location.png" alt="">
				<h5 class="title">
					<span class="search">Please search your location</span>
					<span class="create">Create location on this address?</span>
				</h5>
			</div>
			<div class="form-container">
				<form>
					<div class="input-container input-field">
		              <input
		              placeholder="e.g Street Name, City Name"
		              autocorrect="off"
		              autocapitalize="off"
		              spellcheck="off"
		              type="text"
		              #search
		              [formControl]="searchControl">
					</div>
					<div class="search-icon-container">
						<img class="glass" src="assets/images/locations/search_icon.png" alt="">
						<a href="javascript:void(0)" class="close-link" (click)="clearSearch()">
							<img class="close" src="assets/images/locations/close_search.png" alt="">
						</a>
					</div>
				</form>
			</div>
		</div>
  	</div>
  	<!-- No Results -->
	<div class="row row-add-info" *ngIf="!results.length">
		<div class="col s12 m12 l12 center-align">
			<p class="blue-text add-more-text">Add more details on this location</p>
		</div>
		<div class="col s12 m6 l6">
			<div class="input-field">
				<input id="inpLocationName" type="text" placeholder="Location name here" [formControl]="locationName">
				<label for="inpLocationName" class="active"> Location Name (Optional)</label>
			</div>
		</div>
		<div class="col s12 m6 l6">
			<div class="input-field">
				<input id="inpLevels" type="number" placeholder="Number of levels here" min="1" max="100" value="0" (change)="changeTotalLevels()">
				<label for="inpLevels" class="active" style="width: 460px;"> The total numbers of levels, including Carpark, Plant Room & Others </label>
			</div>
		</div>
		<div class="col s12 m12 l12 center-align inputs-button-container">
			<div class="inline-block">
				<span>Occupiable Level</span>
				<div class="input-arrow-up-down" >
					<input type="text" readonly class="input-level" value="0" #inpOccupiable>
					<button class="btn-arrow-up waves-effect waves-light" (click)="addLevel('occupiable', inpOccupiable)"><i class="material-icons">arrow_drop_up</i></button>
					<button class="btn-arrow-down waves-effect waves-light"  (click)="subtractLevel('occupiable', inpOccupiable)"><i class="material-icons">arrow_drop_down</i></button>
				</div>
			</div>
			<div class="inline-block">
				<span>Carpark</span>
				<div class="input-arrow-up-down" >
					<input type="text" readonly class="input-level" value="0" #inpCarPark>
					<button class="btn-arrow-up waves-effect waves-light" (click)="addLevel('carpark', inpCarPark)"><i class="material-icons">arrow_drop_up</i></button>
					<button class="btn-arrow-down waves-effect waves-light"  (click)="subtractLevel('carpark', inpCarPark)"><i class="material-icons">arrow_drop_down</i></button>
				</div>
			</div>
			<div class="inline-block">
				<span>Plant Room</span>
				<div class="input-arrow-up-down" >
					<input type="text" readonly class="input-level" value="0" #inpPlatRoom>
					<button class="btn-arrow-up waves-effect waves-light" (click)="addLevel('plantroom', inpPlatRoom)"><i class="material-icons">arrow_drop_up</i></button>
					<button class="btn-arrow-down waves-effect waves-light"  (click)="subtractLevel('plantroom', inpPlatRoom)"><i class="material-icons">arrow_drop_down</i></button>
				</div>
			</div>
			<div class="inline-block">
				<span>Others</span>
				<div class="input-arrow-up-down" >
					<input type="text" readonly class="input-level" value="0" #inpOthers>
					<button class="btn-arrow-up waves-effect waves-light" (click)="addLevel('others', inpOthers)"><i class="material-icons">arrow_drop_up</i></button>
					<button class="btn-arrow-down waves-effect waves-light"  (click)="subtractLevel('others', inpOthers)"><i class="material-icons">arrow_drop_down</i></button>
				</div>
			</div>
			<div class="inline-block">
				<button class="btn waves-effect waves-light orange" (click)="prodceedNewLocation()"> Proceed </button>
			</div>
			
		</div>
  	</div>
  	<!-- End of No Results -->

  	<div class="row row-list-result">
      <!-- Location results -->
      <div class="col l12 m12 s12" *ngFor="let component of results">
      	<div class="wrapper">
			<div class="image-container">
				<div class="image-background">
		            <img src="assets/images/locations/add_loc.png" *ngIf="!component.google_photo_url">
              		<img src="{{component.google_photo_url}}" *ngIf="component.google_photo_url">
				</div>
			</div>
			<div class="details-container">
				<h5 class="name">{{ component.name }}</h5>

				<p>
					{{ component.formatted_address }}
				</p>
				<p>
					<!-- Tenancy Managed By: Unknown -->
				</p>
			</div>
			<div class="button-container" *ngIf="emailVerified">
				<p>Has details of this location correct?</p>
				<button class="btn orange waves-effect waves-light" (click)="clickSelectLocation(component)">Yes</button>
				<button class="btn grey waves-effect waves-light" (click)="clearSearch()">No</button>
			</div>
		</div>
      </div><!-- end of location results -->
    </div>


	<div class="row" *ngIf="false">
		<div class="col s12 m12 l12 center-align">
			<button class="btn btn-add-multiple">
				<img class="image" src="assets/images/locations/multiple_locations.png" >
				<img class="image hover" src="assets/images/locations/multiple_locations_hover.png" >
				<div class="text">Create Multiple Locations</div>
			</button>
		</div>
	</div>
</div>



<!-- Modal Structure -->
<div id="modalSetLevels" class="modal">
	<form [formGroup]="levelGroup">
		<div class="modal-content center-align" *ngIf="showLoaderDiv">
			<div class="preloader-wrapper big active">
				<div class="spinner-layer spinner-blue-only">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
			<h5>Saving location...</h5>
		</div>
		<div class="modal-content" *ngIf="!showLoaderDiv" formArrayName="levels">
			<h4 class="header ">{{ locationName.value }}</h4>
			<p class="address">{{formattedAddress}}</p>
			<p class="tagline">Please set {{numLevels.value}}  level name<span *ngIf="numLevels.value > 1">s</span></p>

			<!--
			<div class="input-field" *ngFor="let number of numbers">
			<input type="text" placeholder="e.q Level {{number + 1}}" [formControlName]="number">
			</div>
			-->

			<div style="max-height: 400px; overflow-y: auto;">
				<div *ngFor="let levelControl of levelGroup.get('levels').controls; let i = index">
					<span class="required" *ngIf="!levelGroup.get('levels').controls[i].valid"> *Required field.</span>
					<div class="input-field" >
						<input type="text" placeholder="e.q Level {{i + 1}}" [formControlName]="i" required>
					</div>
				</div>
			</div>


			<div class="buttons-field">
				<button class="btn waves-effect waves-light lighten-1 grey btn-cancel modal-close">Cancel</button>
				<button class="btn waves-effect waves-light orange btn-submit" [disabled]="levelGroup.invalid" (click)="createLocation()">Submit</button>
			</div>
		</div>
	</form>
</div>

<div id="modalSublocations" class="modal modal-sublocations">
	<div class="modal-content">
		<div class="center-align" *ngIf="showLoaderModalSubLocation">
			<div class="preloader-wrapper active" style="vertical-align: middle;">
				<div class="spinner-layer spinner-blue-only">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div><div class="gap-patch">
						<div class="circle"></div>
					</div><div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="center-align" *ngIf="showModalAlreadyVerified">
			<h5>You are already verified on the selected location(s)</h5>
		</div>

		<div class="title-container" *ngIf="!showLoaderModalSubLocation && !showModalAlreadyVerified">
			<h5> {{selectedLocation.name}}</h5>
			<p>{{selectedLocation.formatted_address}}</p>
		</div>

		<div class="search-container" *ngIf="!showLoaderModalSubLocation && !showModalAlreadyVerified">
			<div class="input-container">
				<input type="text" placeholder="Search Level" #inputSearchLevelModal (keyup)="onKeyUpSearchLevelModal(inputSearchLevelModal.value)" >
			</div>
			<div class="icon-container">
				<img src="assets/images/locations/search_icon.png" alt="">
			</div>
		</div>

		<div class="list-region" *ngIf="!showLoaderModalSubLocation && !showModalAlreadyVerified" style="overflow-y: auto; height: 340px;">
			<h6 class="blue-text">Select  Level</h6>
			<div>
				<ul>
					<ng-template #recursiveList let-selectedLocationSubLocations>
						<li *ngFor="let location of selectedLocationSubLocations" class="list-division" [id]="location.location_id">
							<div class="name-radio-plus">
								<div class="input">
									<input type="checkbox" [id]="'check-'+location.location_id" [ngClass]="{ hide : location.sublocations.length > 0 }" (click)="onClickSelectLocationFromModal($event, location)">
									<label [for]="'check-'+location.location_id" [ngClass]="{ hide : location.sublocations.length > 0 }"></label>
									<div class="plus-minus">
										<input type="checkbox" (change)="onChangeDropDown($event)" [ngClass]="{ hide : location.sublocations.length == 0 }" />
										<span class="sign" [ngClass]="{ hide : location.sublocations.length == 0 }" ></span>
										<span>{{location.name}}</span>
									</div>
								</div>
							</div>
							<ul *ngIf="location.sublocations.length > 0">
						        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: location.sublocations }"></ng-container>
							</ul>
						</li>
					</ng-template>
					<ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: selectedLocationSubLocations }"></ng-container>
        		</ul>
        		<h6 class="blue-text">Not in the list?</h6><a href="javascript:void(0);" (click)="onNewLevel($event)">Click here to add a new sub location</a>
			</div>
		</div>

		<div class="button-container center-align" *ngIf="!showLoaderModalSubLocation && !showModalAlreadyVerified">
			<button class="btn grey waves-effect waves-light lighten-1 modal-action modal-close"> Cancel </button>
			<button class="btn orange waves-effect waves-light " [disabled]="selectedLocationIds.length == 0"  (click)="submitSelectedLocations()"> Submit </button>
		</div>
	</div>
</div>
<!-- -->
<div id="modalAddSublocation" class="modal">
	<div class="modal-content">

		<div class="center-align" *ngIf="showLoaderModalAddSublocation">
			<div class="preloader-wrapper active" >
				<div class="spinner-layer spinner-red-only">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div><div class="gap-patch">
						<div class="circle"></div>
					</div><div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
		</div>

		<div *ngIf="!showLoaderModalAddSublocation">
			<h5>Add New Sublocation</h5>

			<div class="center" *ngIf="errorMessageModalSublocation.length > 0">
				<h5>{{errorMessageModalSublocation}}</h5>
			</div>

			<form #form="ngForm" (submit)="addNewSubLocationSubmit(form, $event)" *ngIf="errorMessageModalSublocation.length == 0">
				<div class="input-field">
					<input autocomplete="off" id="inpSublocationName" #inpSublocationName="ngModel" type="text" [(ngModel)]="inpSublocationNameTwoWayData" name="name" [ngClass]="{ invalid : !inpSublocationName.valid && inpSublocationName.dirty }" (keyup)="onKeyUpTypeSublocation(inpSublocationName.value)" required>
					<label for="inpSublocationName">Sublocation name</label>
				</div>
				<div class="search-result" style="padding: 20px 0px;" *ngIf="sameSublocation.length > 0">
				    <div>
				        <div style="margin-bottom: 20px;">
				        	<input type="checkbox" id="notHereCheck" (click)="notHereCheckEvent($event)">
				        	<label for="notHereCheck" style="padding-left: 24px;">its not here, create new</label>
				    	</div>
				    	<h6>Same sublocation name found <p class="right" style="margin: 15px 0px;"> </p></h6>
				    </div>
				    
				   	<ul style="margin: 0px; max-height: 275px; overflow-y: auto;">
					    <li style="border-bottom: 1px solid #ddd;font-size: 16px;padding: 10px 0px;" *ngFor="let sub of sameSublocation">
						    <span>{{sub.name}}</span>
						    <a href="javascript:void(0)" class="right select-sub blue-text" #selectElement (click)="selectAddNewSubResult(sub, selectElement)" style="margin-right: 10px;">select</a>
						</li>
					</ul>
				</div>
				<div class="button-container right-align">
					<a href="javascript:void(0)" class="btn grey lighten-1 waves-effect waves-light modal-action modal-close">Cancel</a>
					<button type="submit" class="btn orange waves-effect waves-light">Submit</button>
				</div>
			</form>
		</div>


	</div>
</div>


<div id="modalCreateNewLocation" class="modal">
	
	<div class="modal-content center-align" *ngIf="modalCreateNewLocation.showLoader">
		<div class="preloader-wrapper big active">
			<div class="spinner-layer spinner-blue-only">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div>
				<div class="gap-patch">
					<div class="circle"></div>
				</div>
				<div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
		<h5 style="font-size: 18px;">Saving location...</h5>
	</div>

	<div class="modal-content" *ngIf="!modalCreateNewLocation.showLoader"  >
		<h4 class="blue-text header" style="font-size: 22px;">
			Confirm creation of new location
		</h4>
		<p class="address" style="font-size: 16px;">{{formattedAddress}}</p>
		<p class="address" style=" font-size: 18px; margin: 0px;"> Level Names </p>

		<div style="max-height: 400px; overflow-y: auto; font-size: 16px;">
			<ul style="padding-left: 20px;">
				<li  *ngFor="let occup of modalCreateNewLocation.occupiable;" style="list-style-type: disc;">
					{{occup.name}} {{occup.number}}
				</li>
				<li  *ngFor="let car of modalCreateNewLocation.carpark;" style="list-style-type: disc;">
					{{car.name}} {{car.number}}
				</li>
				<li  *ngFor="let plant of modalCreateNewLocation.plantroom;" style="list-style-type: disc;">
					{{plant.name}} {{plant.number}}
				</li>
				<li  *ngFor="let other of modalCreateNewLocation.others;" style="list-style-type: disc;">
					{{other.name}} {{other.number}}
				</li>
			</ul>
		</div>


		<div class="buttons-field" style="margin: 35px 0px 0px 0px;">
			<button class="btn waves-effect waves-light lighten-1 grey btn-cancel modal-close">Cancel</button>
			<button class="btn waves-effect waves-light orange btn-submit" (click)="submitNewLocation()">Submit</button>
		</div>
		
		<div class="clearfix"></div>

	</div>
</div>



