.filter-container > .col{
	height: 50px !important;
}

.filter-container .search-field{
	background-color: #f0f0f0;
    padding: 0px 20px;
    border-radius: 5px;
    height: 50px;
    vertical-align: bottom;
    position: relative;
}

.filter-container .search-field input{
	margin: 3px 14px 0px 0px !important;
    padding: 0px;
    display: inline-block;
    width: 90%;
    border-bottom: 0px;
}

.filter-container .search-field input:focus{
	border-bottom: 0px;
    box-shadow: none;
}

.filter-container .search-field .material-icons{
	width: 23px;
    height: 27px;
    background-position: 30.5% 35.7%;
    position: absolute;
    top: 29%;
    right: 1%;
}


.search-result-container{
    position: absolute;
    width: 96%;
    background-color: ivory;
    box-shadow: 0px 0px 5px #ddd;
}

.search-result-container ul{
    margin: 0px;
    max-height: 200px;
    overflow: auto;
}

.search-container .form-container .search-icon-container {
    position: absolute;
    top: 40%;
    right: 5%;
}

.search-result-container ul li{
    padding: 10px 20px;
    font-size: 14px;
    border-bottom: 1px solid #f1f1f1;
}

.search-result-container ul li a{
    color: #111;
}

.search-result-container .text{
    margin: 0px;
    padding: 20px;
    font-size: 14px;    
}

.search-container:not(.active) .search-icon-container .glass{
    display: block;
}

.search-container.active .search-icon-container .glass{
    display: none;
}

.search-container:not(.active) .search-icon-container .close{
    display: none;
}

.search-container.active .search-icon-container .close{
    display: block;
}

.search-icon-container .close{
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.search-container .search-icon-container .close-link:hover .close{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.search-container .input-container input{
    margin-bottom: 0px;
    border-bottom: 0px !important;
    display: inline-block;
    vertical-align: middle;
    width: 94%;
}

.search-container .input-container input:focus{
    border-bottom: 0px !important;
    box-shadow: none !important;
}
.input-field{
    margin: 0px 0px 20px 0px;
    background-color: #eaeaea;
    padding: 5px 20px;
    border-radius: 10px;
}
.input-field input{
    border-bottom: 0px !important;
    margin-bottom: 0px !important;
}