<div class="row">
  <div class="col l12 m12 s12">
    <div>{{ accountInfo.account_name }}</div>
    <div> Edit Information</div>
  </div>

</div>
<div class="row">
  <div class="col l2 m2 s12 left-part">
    <div class="row">
      <span>This is the left part</span>
      <div class="col l12 m12 s12" style="margin-bottom: 40px;">
        <div class="details-container left">
          <div class="inline-block image-wrapper">
            <div class="image-container">
              <div class="image">
                <img src="assets/images/locations/default_profile_location.png" alt="">
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="col l10 m10 s12 right-part">
    <div class="row">
      <div class="col l12 m12 s12">
        <div class="input-field">
          <input id="input_text" type="text" placeholder="Account Name"[(ngModel)]="accountInfo.account_name" ngModel>
            <label for="input_text" class="active">
                Account Name
            </label>
        </div>
    </div>
    <div class="row">
      <div class="col l12 m12 s12">
        <div class="input-field">
          <input id="input_text" type="text" placeholder="Key Contact Name">
            <label for="input_text" class="active">
                Key Contact
            </label>
        </div>
        <div class="input-field">
          <input id="input_text" type="text" placeholder="Contact No.">
            <label for="input_text" class="active">
                Contact No.
            </label>
        </div>
        <div class="input-field">
          <input id="input_text" type="text" placeholder="email">
          <label for="input_text" class="active">
              Email
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="col l6 m6 s12">
      <div class="input-field">
          <input id="input_text" type="text" placeholder="Billing Address" [(ngModel)]="account_billing" ngModel>
          <label for="input_text" class="active">Billing Address</label>
      </div>
  </div>
</div>
<div class="row">
  <div class="col l12 m12 s12">
    <div class="input-field">
        <textarea></textarea>
    </div>
  </div>
</div>
