<div class="row">
    <div class="col l12 m12 s12">    
        <app-alert></app-alert>    
        <h4 class="account-name inline-block">{{ accountInfo.account_name }}</h4>
        <p class="inline-block edit-info-text">            
            <a [routerLink]="['/admin', 'edit-account', accountId]">
                <img src="/assets/images/locations/editdetails_icon.png">
                Edit Information
            </a>           
        </p>
    </div>
</div>

<div class="row" style="margin-bottom: 10px;">
    <div class="col l12 m12 s12">
        <div class="row">
            <div class="col l12 m12 s12">
                <div class="inline-block va-top image-wrapper">
                    <div class="image-container">
                        <div class="image">
                            <img src="/assets/images/locations/default_profile_location.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="inline-block va-top" style="width: 65%;">
                    <div class="row">
                        <div class="col l4 m12 s12">
                            <div class="label-and-text">
                                <label>Account Name</label>
                                <p>{{accountInfo.account_name}}</p>
                            </div>
                        </div>
                        
                        <div class="col l4 m12 s12">
                            <div class="label-and-text">
                                <label>Subscription Type</label>
                                <p *ngIf="accountInfo.subscription['type'] == 'free'">
                                    Free subscription
                                </p>
                                <p *ngIf="accountInfo.subscription['type'] == 'premium'">
                                    Premium Subscription
                                </p>
                                <p *ngIf="accountInfo.subscription['type'] == 'ssc'">
                                    Self Service Compliance
                                </p>
                                <p *ngIf="accountInfo.subscription['type'] == 'el'">
                                    Expert Level
                                </p>
                            </div>
                        </div>
                        <!--
                        <div class="col l4 m12 s12">
                            <div class="label-and-text">
                                <label>Email</label>
                                <p>--</p>
                            </div>
                        </div>
                    -->
                    </div>

                    <div class="row">
                        <div class="col l6 m12 s12">
                            <div class="label-and-text">
                                <label>Billing Address</label>
                                <p>{{account_billing}}</p>
                            </div>
                        </div>

                        <div class="col l4 m12 s12">
                            <div class="label-and-text">
                                <label>Settings</label><br>
                                <!-- <input id="epc" type="checkbox" [(ngModel)]="accountInfo.epc_committee_on_hq"> <label for="epc">EPC Meeting at Head Office</label>
                                <br> -->
                                <input id="ola" type="checkbox" [(ngModel)]="accountInfo.online_training" (change)="toggleOnlineTrainingAccess($event)"><label for="ola">Access to Online Training</label>
                                <br />
                                <input id="fsa_evac" type="checkbox" [(ngModel)]="accountInfo.fsa_by_evac" (change)="toggleFSAByEvac($event)"><label for="fsa_evac">FSA By Evac</label>
                                <br />
                                <input id="account_archive" type="checkbox" [(ngModel)]="accountInfo.archived" (change)="performActionOnAccount($event)"><label for="account_archive">Archive</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom: 0px;">
            <div class="col l12 m12 s12">
                <textarea placeholder="Account notes..." class="account-notes"></textarea>
            </div>
        </div>
    </div>
</div>


 
<div class="row">
    <div class="col l12 m12 s12">
        <div class="mid-nav">
            <ul>
                <li [routerLink]="['/admin', 'locations-in-account', accountId]" [ngClass]="{active:activeLink=='locations'}"> Locations </li>
                <li [routerLink]="['/admin', 'users-in-accounts', accountId]" [ngClass]="{active:activeLink=='users'}"> Team </li>
                <!-- <li [routerLink]="['/admin', 'account-trainings', accountId]" [ngClass]="{active:activeLink=='trainings'}"> Trainings </li> -->
            </ul>
        </div>
    </div>
</div>
