.inline-block{
    display: inline-block;
}

.details-container .image{
  overflow: hidden;
}
.va-top{
    vertical-align: top;
}

.image-wrapper{
    margin-right: 25px;
}

.image-container {
    width: 140px;
    height: 140px;
    background-color: #c9c9c9;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.image-container .image {
    overflow: hidden;
    margin-bottom: -5px;
}

.image-container .image img {
    max-width: 140px;
    max-height: 140px;
}

nav {
  color: #fff;
  background-color: transparent;
  width: 100%;
  height: 65px;
  box-shadow: none !important;
}
nav ul a {
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  font-size: 1.5rem;
  color: #333;
  display: block;
  padding: 0 12px;
  cursor: pointer;
  height: 65px;
}

nav ul  {
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  font-size: 1rem;
  color: #fff;
  display: block;
  cursor: pointer;
  line-height: 60px;
}
