.inline-block{
    display: inline-block;
}

.details-container .image{
  overflow: hidden;
}
.va-top{
    vertical-align: top;
}

.image-wrapper{
    margin-right: 25px;
}

.account-name{
    color: #50a9f9 !important;
    font-size: 25px;
    margin-right: 20px;
}

.edit-info-text{
    margin: 0px;
    font-size: 13px;
}

.account-notes{
    background-color: #f5f5f5;
    color: #111;
    padding: 10px;
    min-height: 80px;
    font-size: 15px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
}

.image-container {
    width: 160px;
    height: 160px;
    background-color: #c9c9c9;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.image-container .image {
    overflow: hidden;
    margin-bottom: -5px;
}

.image-container .image img {
    max-width: 140px;
    max-height: 140px;
}

.label-and-text label{
    font-size: 13px;
}

.label-and-text p{
    margin: 0px;
    font-size: 19px;
}

.mid-nav{
    border-bottom: 1px solid #cacaca;
    padding: 0px;
    margin-bottom: 20px;  
}

.mid-nav ul{
    margin: 0px;
}

.mid-nav ul li{
    text-align: left;
    border-bottom: 1px solid #cacaca;
    display: inline-block;
    margin-right: 30px;
    padding: 15px 0px !important;
    margin-bottom: -1px;
    color: #383838;
    font-size: 18px;
    transition: 0.5s all;
}

.mid-nav ul li:hover{
    border-bottom: 1px solid #39a1ff !important;
    cursor: pointer;
    color: #39a1ff !important;
}

.mid-nav ul li.active{
    color: #39a1ff !important;
    border-bottom: 1px solid #39a1ff !important;
}