<div class="inline-block left-panel">
	<div class="row">
		<div class="col l12 m12 s12">
			<h5>User Profile</h5>
			
			<div class="image-container">
				<p class="initials">AA</p>
				<!-- <img src="/assets/images/signup/eco_icon.png"  > -->
			</div>

			<div class="name-container ">
				<h5 class="name blue-text">User Name</h5>
				<p>Last Login 0 day</p>
			</div>
		</div>	
	</div>
	<div class="row">
		<div class="col l12 m12 s12">
			<div class="input-field">
				<input id="ecoRole" type="text" readonly>
				<label for="ecoRole">ECO Role</label>
			</div>
		</div>
		<div class="col l12 m12 s12">
			<div class="input-field">
				<input id="location" type="text" readonly>
				<label for="location">Location</label>
			</div>
		</div>
		<div class="col l12 m12 s12">
			<div class="input-field">
				<input id="contactInfo" type="text" readonly>
				<label for="contactInfo">Contact Information</label>
			</div>
		</div>
		<div class="col l12 m12 s12">
			<div class="input-field">
				<input id="emailAddress" type="text" readonly>
				<label for="emailAddress">Email Address</label>
			</div>
		</div>
	</div>

	<div class="bottom-buttons">
		<button class="btn orange waves-effect waves-light remove">
			<div class="image inline-block"></div>
			<div class="text inline-block">Remove this user as Warden</div>
		</button>

		<button class="btn pink waves-effect waves-light presonal-emergency">
			<div class="image inline-block"></div>
			<div class="text inline-block">Personal Emergency Evacuation Plan</div>
		</button>
	</div>
</div>
<div class="inline-block right-content">
	<div class="row">
		<div class="col s12 m12 l12">
			<h5>Assigned Trainnings</h5>
		</div>
		<div class="col s12 m12 l12">

			<div class="grid" id="gridContainer">

				<div class="grid-item card grey lighten-3" >
					<div class="top">
						<div class="image close inline-block"></div>
						<div class="text inline-block red-text">Not Compliance</div>
					</div>
					<div class="middle-image">
						<div class="image red-image"></div>
					</div>
					<div class="middle-text">
						General Occupant and First Response
						<p class="blue-text"></p>
					</div>

					<div class="buttons">
						<button class="btn red lighten-1 waves-effect waves-light">Send Invitation</button>
					</div>
				</div>

				<div class="grid-item card grey lighten-3" >
					<div class="top">
						<div class="image check inline-block"></div>
						<div class="text inline-block green-text">Compliance</div>
					</div>
					<div class="middle-image">
						<div class="image green-image"></div>
					</div>
					<div class="middle-text">
						Bomb Threat Training
						<p class="blue-text">
							Valid until 24/08/2018
						</p>
					</div>

					<div class="buttons">
						<button class="btn blue waves-effect waves-light">Download Certificate</button>
						<button class="btn red lighten-1 waves-effect waves-light">Email Certificate</button>
					</div>
				</div>

				<div class="grid-item card grey lighten-3" >
					<div class="top">
						<div class="image check inline-block"></div>
						<div class="text inline-block green-text">Compliance</div>
					</div>
					<div class="middle-image">
						<div class="image yellow-image"></div>
					</div>
					<div class="middle-text">
						Emergency Control Organization
						<p class="blue-text">
							Valid until 24/08/2018
						</p>
					</div>

					<div class="buttons">
						<button class="btn blue waves-effect waves-light">Download Certificate</button>
						<button class="btn red lighten-1 waves-effect waves-light">Email Certificate</button>
					</div>
				</div>

			</div>

		</div>
	</div>
	
	
	

</div>