<div class="container-fluid">

  <div class="row">
    <div class="col l8 m12 s12">
      <div class="row margin-bottom-30">
        
        <div class="col l4 m12 s12 my-training-container">
          <h5 class="orange-text margin-bottom-30">My Training</h5>

           <div id="specificChart" class="donut-size cell">
            <div class="pie-wrapper">
              <span class="label">
                <span class="num"> 00 </span><span class="smaller">%</span>
              </span>
              <div class="pie">
                <div class="left-side half-circle" ></div>
                <div class="right-side half-circle" ></div>
              </div>
              <div class="shadow"></div>
            </div>
          </div>

          <div class="center-block text-button-container">
              <button class="btn orange waves-effect waves-light center-block display-block" [routerLink]="['/trainings/new-training']"> Go to training > </button>
          </div>
        </div>

        <div class="col l8 m12 s12">
          <div class="margin-bottom-30"></div>

          <div class="grey lighten-5 table-container">
            <table class="table striped">
              <thead>
                <tr class="grey darken-4 white-text">
                  <th>Status</th>
                  <th>Training</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="trainings.length == 0 && assignedCourses.length == 0">
                  <td colspan="3">No trainings found.</td>
                </tr>
                <tr *ngFor="let t of trainings">
                  <td>
                    <img src="/assets/images/check_icon.png" >
                  </td>
                  <td>{{t.training_requirement_name}}</td>
                  <td><a [routerLink]="['/certificate', t['encryptedCertId']]" target="_blank" class="btn light-blue waves-effect waves-light">Cerificate</a></td>
                </tr>
                <!-- Assigned Courses -->
                <tr *ngFor="let c of assignedCourses">
                  <td>
                    <img src="/assets/images/expired_icon.png" >
                  </td>
                  <td>{{c['training_requirement_name']}}</td>
                  <td> <a [routerLink]="['/trainings/new-training']"> Take Course</a> </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>

      </div>

      <div class="row">

        <div class="col l12 m12 s12">
          <h5 class="orange-text margin-bottom-30">Activities</h5>

          <div class="row">
            <ng-template #divToPeepForm>
              <div [ngClass]="{
                'col': true == true,
                'l3': showWardenConfirmationList == true,
                'l4': showWardenConfirmationList == false,
                'm12': true == true,
                's12': true == true,
                'activity-container': showWardenConfirmationList == true,
                'activity-container-warden':showWardenConfirmationList == false
              }" style="cursor: pointer"  [routerLink]="['/dashboard/peep-form']" [queryParams]="{ id: userIdEnc, dest : '/dashboard' }">
                <div class="display-table width100">
                  <div class="cell grey lighten-5 image-container">
                    <img src="/assets/images/dash01.png" alt="">
                  </div>
                  <div class="cell font-size-20 grey lighten-4" >
                    Register as Mobility Impaired
                  </div>
                </div>
              </div>
            </ng-template>
            
            <!--Mobility Impaired Details Present -->
            <div *ngIf="showConfirmation; else divToPeepForm" 
            [ngClass]="{
              'col': true == true,
              'l3': showWardenConfirmationList == true,
              'l4': showWardenConfirmationList == false,
              'm12': true == true,
              's12': true == true,
              'activity-container': showWardenConfirmationList == true,
              'activity-container-warden':showWardenConfirmationList == false
            }"
            style="cursor: pointer" (click)="showPeepDetailsConfirmation()">
              <div class="display-table width100">
                <div class="cell grey lighten-5 image-container">
                  <img src="/assets/images/dash01.png" alt="">
                </div>
                <div class="cell font-size-20 grey lighten-4" >
                  Register as Mobility Impaired
                </div>
              </div>
            </div>

            <div [ngClass]="{
              'col': true == true,
              'l3': showWardenConfirmationList == true,
              'l4': showWardenConfirmationList == false,
              'm12': true == true,
              's12': true == true,
              'activity-container': showWardenConfirmationList == true,
              'activity-container-warden':showWardenConfirmationList == false
            }">
              <div class="display-table width100" style="cursor: pointer" [routerLink]="['/teams', 'add-wardens']">
                <div class="cell grey lighten-5 image-container">
                  <img src="/assets/images/dash02.png" alt="">
                </div>
                <div class="cell font-size-20 grey lighten-4">
                  Register as Warden
                </div>
              </div>
            </div>

            <div [ngClass]="{
              'col': true == true,
              'l3': showWardenConfirmationList == true,
              'l4': showWardenConfirmationList == false,
              'm12': true == true,
              's12': true == true,
              'activity-container': showWardenConfirmationList == true,
              'activity-container-warden':showWardenConfirmationList == false
            }">
              <div class="display-table width100" style="cursor: pointer" [routerLink]="['/teams', 'view-user', userIdEnc]">
                <div class="cell grey lighten-5 image-container">
                  <img src="/assets/images/dash03.png" alt="">
                </div>
                <div class="cell font-size-20 grey lighten-4">
                  Update my Location
                </div>
              </div>
            </div>
            <div *ngIf="showWardenConfirmationList" class="col l3 m12 s12 activity-container" style="cursor: pointer" [routerLink]="['/dashboard/my-notified-warden-list']">
              <div class="display-table width100">
                <div class="cell grey lighten-5 image-container">
                  <img src="/assets/images/dash04.png" alt="">
                </div>
                <div class="cell font-size-20 grey lighten-4">
                  Warden Confirmation List
                </div>
              </div>
            </div>

          </div>
        </div>        
      </div>
    </div>

    <div class="col l4 m12 s12 margin-bottom-30">
      <h5 class="orange-text margin-bottom-30">Community</h5>
      <div class="row">
        <div class="col l7 m12 s12">
          <img src="http://ec2-13-55-82-238.ap-southeast-2.compute.amazonaws.com/assets/images/emails/emergency-planning-101.jpg" style="max-width: 100%;" >
        </div>
        <div class="col l5 m12 s12">
          <h5 style="font-size: 20px; margin: 0px;">Emergency Planning 101</h5>
          <!-- <h6 class="grey-text">By Dalton | August 4th, 2017</h6> -->
          <p style="font-size: 15px;">
              Do you and your occupants know what to do and where to go when emergencies strike? Are you confident... <a href="https://www.evacservices.com.au/emergency-planning-101-why-plan-for-emergencies/" class="blue-text  ">Read more...</a>

            </p>
        </div>
      </div>
  
      <div class="row">
        <div class="col l7 m12 s12">
          <img src="http://ec2-13-55-82-238.ap-southeast-2.compute.amazonaws.com/assets/images/emails/updatign-and-managing-now-easier.jpg" style="max-width: 100%;" >
        </div>
        <div class="col l5 m12 s12">
          <h5 style="font-size: 20px; margin: 0px;">Tenant</h5>
          <!-- <h6 class="grey-text">By Dalton | August 4th, 2017</h6> -->
          <p style="font-size: 15px;">
              Establishing emergency procedures is not just in the hands of facility managers. While building owners and managers are ultimately responsible... <a href="https://www.evacservices.com.au/roles-of-tenants-in-occupant-safety/" class="blue-text  ">Read more...</a>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col l7 m12 s12">
          <img src="http://ec2-13-55-82-238.ap-southeast-2.compute.amazonaws.com/assets/images/emails/limesurvey.jpg" style="max-width: 100%;" >
        </div>
        <div class="col l5 m12 s12">
          <h5 style="font-size: 20px; margin: 0px;">Survey</h5>          
          <p style="font-size: 15px;">
              Take this survey to tell us about your user experience of EvacConnect. <a href="http://evachub.com/limesurvey/index.php/662295?newtest=Y&lang=en" class="blue-text  ">Take survey</a>
          </p>
        </div>
      </div>
    </div>
  </div>

	
</div>
<div id="modalMobility" class="modal">
  <div class="modal-content center"></div>

  <form #formMobility="ngForm" (submit)="modalPeepFormSubmit(formMobility, $event)">
    <div class="modal-content">
      <h5>Mobility Impaired Information</h5>
      <div class="row">
        <div class="col s12 l6 m6">
          <div class="select-field">
            <span style=" font-size: 16px;">Mobility Impaired Status</span>
            <select ngModel name="is_permanent" #is_permanent>
              <option value="0" selected="selected">Temporary</option>
              <option value="1" >Permanent</option>
            </select>
          </div>
        </div>
        <div class="col s12 l6 m6" *ngIf="is_permanent.selectedIndex === 0">
          <div class="input-field">
            <span style=" font-size: 16px;">Mobility Impaired Upto</span>
            <ng-datepicker [(ngModel)]="datepickerModel" (ngModelChange)="onChangeDatePicker($event)" [ngModelOptions]="{standalone: true}" [headless]="true" [isOpened]="isShowDatepicker"></ng-datepicker>
            <input id="durationDate" #durationDate type="text" [(ngModel)]="datepickerModelFormatted" ngModel name="duration_date" (click)="showDatePicker()" required >
          </div>

        </div>
        <div class="col s12 m12 l12">
          <h6>Assistant Requirement </h6>
          <input ngModel name="assistant_type" type="text" class="grey-input" placeholder="Please describe requirements and process here." required>
        </div>
        <div class="col s12 m12 l12">
          <h6>Evacuation Equipment Requirement</h6>
          <input ngModel name="equipment_type" type="text" class="grey-input" placeholder="Please inform what is the equiment and type." required>
        </div>
        <div class="col s12 m12 l12">
          <h6>Evacuation / Egress Procedure</h6>
          <input ngModel name="evacuation_procedure" type="text" class="grey-input" placeholder="" required>
        </div>
      </div>

      <div class="row button-container">
        <div class="col s12 m12 l12">
          <a  class="btn grey lighten-1 waves-light waves-effect modal-close">Cancel</a>
          <button class="btn orange waves-light waves-effect" [disabled]="formMobility.invalid">Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- Modal Structure For Peep Details Already Present -->
<div id="peep_modal_details_confirmation" class="modal">
  <div class="modal-content">
    <h4>Confirmation</h4>
    <h6>You are already registered as mobility impaired. Please review the form.</h6>
  </div>
  <div class="modal-footer">
    <a [routerLink]="['/dashboard/peep-form']" [queryParams]="{ id: userIdEnc, dest : '/dashboard' }" class="modal-close waves-effect waves-green btn-flat">Review Form</a>
  </div>
</div>

