<ng-template #complianceTitleTemplateInner>
	<div class="image" [ngClass]="selectedComplianceClasses" ></div>
	<!-- <div class="close"></div> -->

	<div class="text">
		<h6 class="title blue-text">{{selectedComplianceTitle}}</h6>
		<p class="description">
			{{selectedComplianceDescription}}
		</p>
	</div>
</ng-template>

<ng-template #complianceTitleTemplate>
	<div class="compliance-title-container ">
		<ng-container *ngTemplateOutlet="complianceTitleTemplateInner ? complianceTitleTemplateInner : noneTemplate"></ng-container>
	</div>
</ng-template>

<ng-template #complianceTitleTemplate2>
	<div class="compliance-title-container ">
		<ng-container *ngTemplateOutlet="complianceTitleTemplateInner ? complianceTitleTemplateInner : noneTemplate"></ng-container>

		<a  class="right hide-diagram" (click)="hideDiagramDetails()">Close <img src="/assets/images/expired_icon.png" alt=""></a>
	</div>
</ng-template>

<ng-template #notesTemplate>
	<div class="notes-container">
		<h5>Notes:</h5>
		<p *ngIf="selectedCompliance.compliance.note !== null">{{selectedCompliance.compliance.note}}</p> <p *ngIf="selectedCompliance.compliance.note == null"> no notes </p>
	</div>
</ng-template>

<ng-template #noneTemplate>
	<div></div>
</ng-template>

<ng-template #epmTemplate> <!-- Emergency Procedure Manual -->
	<div class="documents-container"  >
		<div class="document"  >

			<div class="preview-container">

			</div>

			<div class="text-container">
				<h5 class="file-name">
					<span *ngIf="selectedCompliance.compliance.docs[0]">{{ selectedCompliance.compliance.docs[0].file_name }}</span>
				</h5>

				<div class="dates">
					<div class="created">
						<p>EPM Creation date</p>
						<p *ngIf="selectedCompliance.compliance.docs.length > 0">
              				<span>{{selectedCompliance.compliance.docs[0].timestamp_formatted}}</span>
						</p>
                        <p *ngIf="selectedCompliance.compliance.docs.length == 0">
                            <span>00/00/0000</span>
                        </p>
					</div>

					<div class="review">
			            <p>EPM Review date</p>
						<p *ngIf="selectedCompliance.compliance.docs.length > 0" >
			            	<span >{{selectedCompliance.compliance.docs[0]['date_of_activity_formatted']}}</span>
                        </p>
                        <p *ngIf="selectedCompliance.compliance.docs.length == 0">
                            <span>00/00/0000</span>
                        </p>
					</div>
				</div>

				<div class="click-view-previous">
					<a  class="blue-text" (click)="showDiagramDetails()">Click here to view previous versions ></a>
				</div>

				<div class="buttons">
                    <button
                    (click) = "downloadKPIFile(selectedCompliance.compliance.docs[0].filePaths[0],selectedCompliance.compliance.docs[0].file_name)"
                    class="btn btn-block orange waves-effect waves-light" [disabled]="selectedCompliance.compliance.docs.length == 0"   >Download</button>
					<!-- <button class="btn btn-block blue lighten-1 waves-effect waves-light" [routerLink]="['/shop/compliance-package']" >Shop</button> -->
                    <!-- <button class="btn btn-block orange waves-effect waves-light" *ngIf="isFRP == false && isTRP == true" (click)="showModalUploadDocs('epm')" style="display: block;width: 95%;">Manage</button> -->
				</div>
			</div>


			<div class="switch-container" *ngIf="selectedCompliance.compliance.docs.length > 0 && isTRP == false && isFRP == true">
				<p class="give-access-text">Give access to TRP</p>
				<div class="switch" >
                <input type="checkbox"
                 (change)="assignAccessToTRP($event, selectedCompliance)"
                 [checked]="selectedCompliance.compliance.docs[0].viewable_by_trp">
					<div class="yes">Yes</div>
					<div class="no">No</div>
					<div class="highlight"></div>
					<div class="background"></div>
				</div>
			</div>

		</div>

	</div>
</ng-template>

<ng-template #epcTemplate> <!-- Emergency Procedure Committee -->
	<div class="documents-container">
		<div class="document">
			<div class="preview-container"> &nbsp; </div>
			<div class="text-container">
				<h5 class="file-name">
					<span *ngIf="selectedCompliance.compliance.docs[0]">{{ selectedCompliance.compliance.docs[0].file_name }}</span>
				</h5>

				<div class="dates">
					<div class="created">
						<p>Last EPC meeting held on:</p>
						<p *ngIf="selectedCompliance.compliance.docs.length > 0">{{selectedCompliance.compliance.docs[0].date_of_activity_formatted}}</p>
                        <p *ngIf="selectedCompliance.compliance.docs.length == 0" >00/00/0000</p>
					</div>

					<div class="review">
						<p>Compliance valid till:</p>
						<p *ngIf="selectedCompliance.compliance.docs.length > 0" >
							<span *ngIf="selectedCompliance.compliance.docs[0] !== null">{{ selectedCompliance.compliance.docs[0].valid_till }}</span>
							<span *ngIf="selectedCompliance.compliance.docs[0] == null"> 00/00/0000 </span>
						</p>
                        <p *ngIf="selectedCompliance.compliance.docs.length == 0" > 00/00/0000 </p>
					</div>
				</div>

				<div class="click-view-previous">
					<a  class="blue-text" (click)="showDiagramDetails()">Click here to view previous versions ></a>
				</div>

				<div class="buttons">
                    <button
                    (click) = "downloadKPIFile(selectedCompliance.compliance.docs[0].filePaths[0],selectedCompliance.compliance.docs[0].file_name)"
                    class="btn btn-block orange waves-effect waves-light" [disabled]="selectedCompliance.compliance.docs.length == 0" style="width:46%;">Download</button>
					<!-- <button class="btn btn-block blue lighten-1 waves-effect waves-light" [routerLink]="['/shop/compliance-package']" style="width:45%;">Shop</button> -->
                    <!-- <button class="btn btn-block orange waves-effect waves-light" (click)="showEPCformEvent()" style="display: block;width: 95%;">Manage</button> -->
				</div>
			</div>
			<div class="switch-container" *ngIf="selectedCompliance.compliance.docs.length > 0 && isTRP == false && isFRP == true">
                <p class="give-access-text">Give access to TRP</p>
                <div class="switch" >
                    <input type="checkbox" (change)="assignAccessToTRP($event, selectedCompliance)" [checked]="selectedCompliance.compliance.docs[0].viewable_by_trp">
					<div class="yes">Yes</div>
					<div class="no">No</div>
					<div class="highlight"></div>
					<div class="background"></div>
				</div>
			</div>
		</div>
    </div>
</ng-template>

<ng-template #evacution_exerciseTemplate> <!-- Evacuation Exercise -->
	<div class="documents-container">
		<div class="document" >

			<div class="preview-container">

			</div>

			<div class="text-container">
				<h5 class="file-name">
					<span *ngIf="selectedCompliance.compliance.docs[0]">{{ selectedCompliance.compliance.docs[0].file_name }}</span>
				</h5>

				<div class="dates">
					<div class="created">
						<p>Date of activity:</p>
                        <p *ngIf="selectedCompliance.compliance.docs.length > 0" >
                            {{selectedCompliance.compliance.docs[0]['date_of_activity_formatted']}}
                        </p>
						<p *ngIf="selectedCompliance.compliance.docs.length == 0">00/00/0000</p>
					</div>

					<div class="review">
						<p>Compliance valid till:</p>
						<p *ngIf="selectedCompliance.compliance.docs.length > 0" >
							<span *ngIf="selectedCompliance.compliance.docs[0] !== null">{{ selectedCompliance.compliance.docs[0].valid_till }}</span>
							<span *ngIf="selectedCompliance.compliance.docs[0] == null"> 00/00/0000 </span>
						</p>
                        <p *ngIf="selectedCompliance.compliance.docs.length == 0" >
                            00/00/0000
                        </p>
					</div>
				</div>

				<div class="click-view-previous">
					<a  class="blue-text" (click)="showDiagramDetails()">Click here to view previous versions ></a>
				</div>

				<div class="buttons">
					<button class="btn btn-block orange waves-effect waves-light" [disabled]="selectedCompliance.compliance.docs.length == 0">Download</button>
					<!-- <button class="btn btn-block blue lighten-1 waves-effect waves-light" [routerLink]="['/shop/compliance-package']">Shop</button> -->

                    <div class="switch-container" *ngIf="isFRP == false && isTRP == true" >
                        <p class="give-access-text">Completed the Evacuation Exercise?</p>
                        <div class="switch" >
                            <input type="checkbox"
                            (change)="completedEvacExerEvent($event)"
                            [checked]="(selectedCompliance.compliance.valid == 1) ? 'checked' : false">
                            <div class="yes">Yes</div>
                            <div class="no">No</div>
                            <div class="highlight"></div>
                            <div class="background"></div>
                        </div>
                    </div>

				</div>
			</div>

			<div class="switch-container" *ngIf="selectedCompliance.compliance.docs.length > 0 && isTRP == false && isFRP == true">
				<p class="give-access-text">Give access to TRP</p>
				<div class="switch" >
                    <input type="checkbox"
                    (change)="assignAccessToTRP($event, selectedCompliance)"
                    [checked]="selectedCompliance.compliance.docs[0].viewable_by_trp">
        			<div class="yes">Yes</div>
					<div class="no">No</div>
					<div class="highlight"></div>
					<div class="background"></div>
				</div>
			</div>

		</div>

	</div>
</ng-template>

<ng-template #evac_diagramTemplate> <!-- Evac Diagram -->
	<div class="documents-container">
		<div class="document" >

			<div class="preview-container">

			</div>

			<div class="text-container">
				<h5 class="file-name">
					<span *ngIf="selectedCompliance.compliance.docs[0]">{{ selectedCompliance.compliance.docs[0].file_name }}</span>
				</h5>

				<div class="dates">
					<div class="created">
						<p>Diagrams Creation date:</p>
                        <p *ngIf="selectedCompliance.compliance.docs.length > 0" >{{selectedCompliance.compliance.docs[0].timestamp_formatted}}</p>
						<p *ngIf="selectedCompliance.compliance.docs.length == 0" >00/00/0000</p>
					</div>

					<div class="review">
						<p>Diagram review date:</p>
						<p>
							<span *ngIf="selectedCompliance.compliance.valid_till !== null">{{ selectedCompliance.compliance.valid_till }}</span>
							<span *ngIf="selectedCompliance.compliance.valid_till == null"> 00/00/0000 </span>
						</p>
					</div>
				</div>

				<div class="click-view-previous">
					<a  class="blue-text" (click)="showDiagramDetails()">Click here to view previous versions ></a>
				</div>

				<div class="buttons">
          			<button (click) = "downloadKPIFile(selectedCompliance.compliance.docs[0].filePaths[0],selectedCompliance.compliance.docs[0].file_name)" class="btn btn-block orange waves-effect waves-light" [disabled]="selectedCompliance.compliance.docs.length == 0">Download</button>
					<!-- <button class="btn btn-block blue lighten-1 waves-effect waves-light" [routerLink]="['/shop/compliance-package']">Shop</button> -->
				</div>
			</div>

			<div class="switch-container" *ngIf="selectedCompliance.compliance.docs.length > 0 && isTRP == false && isFRP == true">
				<p class="give-access-text">Give access to TRP</p>
				<div class="switch" >
					<input type="checkbox"
                 (change)="assignAccessToTRP($event, selectedCompliance)"
                 [checked]="selectedCompliance.compliance.docs[0].viewable_by_trp">
					<div class="yes">Yes</div>
					<div class="no">No</div>
					<div class="highlight"></div>
					<div class="background"></div>
				</div>
			</div>

		</div>

	</div>
</ng-template>

<ng-template #chief_warden_trainingTemplate> <!-- Chief Warden Training -->
	<div class="documents-container">
		<div class="document" >

			<div class="preview-container">

			</div>

			<div class="text-container">
				<h5 class="file-name">
					<span *ngIf="selectedCompliance.compliance.docs[0]">{{ selectedCompliance.compliance.docs[0].file_name }}</span>
				</h5>

				<div class="dates">
					<div class="created">
						<p>Last Chief warden training held on:</p>
                        <p *ngIf="selectedCompliance.compliance.docs.length > 0" >
                            {{selectedCompliance.compliance.docs[0]['date_of_activity_formatted']}}
                        </p>
                        <p *ngIf="selectedCompliance.compliance.docs.length == 0" >
                            00/00/0000
                        </p>
					</div>

				</div>

				<div class="click-view-previous">
					<a  class="blue-text" (click)="showDiagramDetails()">Click here to view previous versions ></a>
				</div>

				<div class="buttons">
          <button
          (click) = "downloadKPIFile(selectedCompliance.compliance.docs[0].filePaths[0],selectedCompliance.compliance.docs[0].file_name)"
          class="btn btn-block orange waves-effect waves-light" [disabled]="selectedCompliance.compliance.docs.length == 0">Download</button>
					<!-- <button class="btn btn-block blue lighten-1 waves-effect waves-light" [routerLink]="['/teams/add-wardens']" [queryParams]="{ 'location_id' : encryptedID }">Manage</button> -->
					<!-- <button class="btn btn-block blue lighten-1 waves-effect waves-light" [routerLink]="['/shop/compliance-package']">Shop</button> -->
				</div>
			</div>

			<div class="switch-container" *ngIf="selectedCompliance.compliance.docs.length > 0 && isTRP == false && isFRP == true">
				<p class="give-access-text">Give access to TRP</p>
				<div class="switch" >
					<input type="checkbox"
                 (change)="assignAccessToTRP($event, selectedCompliance)"
                 [checked]="selectedCompliance.compliance.docs[0].viewable_by_trp">
					<div class="yes">Yes</div>
					<div class="no">No</div>
					<div class="highlight"></div>
					<div class="background"></div>
				</div>
			</div>

		</div>

	</div>
</ng-template>

<ng-template #warden_trainingTemplate> <!-- Warden Training -->
	<div class="documents-container">
		<div class="document" >

			<div class="preview-container">

			</div>

			<div class="text-container">
				<h5 class="file-name">
					<span *ngIf="selectedCompliance.compliance.docs[0]">{{ selectedCompliance.compliance.docs[0].file_name }}</span>
				</h5>

				<div class="dates">
					<div class="created">
						<p>Last warden training session held on</p>
                        <p *ngIf="selectedCompliance.compliance.docs.length > 0" >
                            {{selectedCompliance.compliance.docs[0]['date_of_activity_formatted']}}
                        </p>
						<p *ngIf="selectedCompliance.compliance.docs.length == 0" >
                            00/00/0000
                        </p>
					</div>
				</div>

				<div class="click-view-previous">
					<a  class="blue-text" (click)="showDiagramDetails()">Click here to view previous versions ></a>
				</div>

				<div class="buttons">
					<!-- <button class="btn btn-block blue lighten-1 waves-effect waves-light">Manage</button> -->
					<!-- <button class="btn btn-block blue lighten-1 waves-effect waves-light" [routerLink]="['/shop/compliance-package']">Shop</button> -->
				</div>
			</div>

			<div class="switch-container" *ngIf="selectedCompliance.compliance.docs.length > 0 && isTRP == false && isFRP == true">
				<p class="give-access-text">Give access to TRP</p>
				<div class="switch" >
					<input type="checkbox"
                 (change)="assignAccessToTRP($event, selectedCompliance)"
                 [checked]="selectedCompliance.compliance.docs[0].viewable_by_trp">
					<div class="yes">Yes</div>
					<div class="no">No</div>
					<div class="highlight"></div>
					<div class="background"></div>
				</div>
			</div>

		</div>

	</div>
</ng-template>

<ng-template #fire_safety_advisorTemplate><!-- Fire Safety Advisor -->
	<div class="documents-container">
		<div class="document" >

			<div class="preview-container">

			</div>

			<div class="text-container">
				<h5 class="file-name">
					<span *ngIf="selectedCompliance.compliance.docs[0]">{{ selectedCompliance.compliance.docs[0].file_name }}</span>
				</h5>

				<div class="dates">
					<div class="created">
						<p>Last Fire safety review date:</p>
						<p *ngIf="selectedCompliance.compliance.docs.length > 0">{{selectedCompliance.compliance.docs[0].date_of_activity_formatted }}</p>
                        <p *ngIf="selectedCompliance.compliance.docs.length == 0" >
                            00/00/0000
                        </p>
					</div>

					<div class="review">
						<p>Report valid till:</p>
						<p *ngIf="selectedCompliance.compliance.docs.length > 0">{{selectedCompliance.compliance.docs[0].valid_till}}</p>
                        <p *ngIf="selectedCompliance.compliance.docs.length == 0" > 00/00/0000 </p>
					</div>
				</div>

				<div class="click-view-previous">
					<a  class="blue-text" (click)="showDiagramDetails()">Click here to view previous versions ></a>
				</div>

				<div class="buttons">
                    <button (click) = "downloadKPIFile(selectedCompliance.compliance.docs[0].filePaths[0],selectedCompliance.compliance.docs[0].file_name)" class="btn btn-block orange waves-effect waves-light" [disabled]="selectedCompliance.compliance.docs.length == 0">Download</button>
					<!-- <button class="btn btn-block blue lighten-1 waves-effect waves-light" [routerLink]="['/shop/compliance-package']">Shop</button> -->
                    <!-- <div class="switch-container"  >
                        <p class="give-access-text">Completed the Fire Safety Advisory?</p>
                        <div class="switch" >
                            <input type="checkbox"
                            (change)="completedFASEvent($event)"
                            [checked]="(selectedCompliance.compliance.valid == 1) ? 'checked' : false">
                            <div class="yes">Yes</div>
                            <div class="no">No</div>
                            <div class="highlight"></div>
                            <div class="background"></div>
                        </div>
                    </div> -->
				</div>
			</div>

			<div class="switch-container" *ngIf="selectedCompliance.compliance.docs.length > 0 && isTRP == false && isFRP == true">
				<p class="give-access-text">Give access to TRP</p>
				<div class="switch" >
					<input type="checkbox"
                 (change)="assignAccessToTRP($event, selectedCompliance)"
                 [checked]="selectedCompliance.compliance.docs[0].viewable_by_trp">
					<div class="yes">Yes</div>
					<div class="no">No</div>
					<div class="highlight"></div>
					<div class="background"></div>
				</div>
			</div>

		</div>

	</div>
</ng-template>

<ng-template #general_occupant_trainingTemplate> <!-- General Occupant Training -->
	<div class="documents-container">
		<div class="document" >

			<div class="preview-container">

			</div>

			<div class="text-container">
				<h5 class="file-name">
					<span *ngIf="selectedCompliance.compliance.docs[0]">{{ selectedCompliance.compliance.docs[0].file_name }}</span>
				</h5>

				<div class="dates">
					<div class="created">
						<p>Last General Occupant training held on:</p>
                        <p *ngIf="selectedCompliance.compliance.docs.length > 0" >
                            {{selectedCompliance.compliance.docs[0]['date_of_activity_formatted']}}
                        </p>
                        <p *ngIf="selectedCompliance.compliance.docs.length == 0" >00/00/0000</p>
					</div>
				</div>

				<div class="click-view-previous">
					<a  class="blue-text" (click)="showDiagramDetails()">Click here to view previous versions ></a>
				</div>

				<div class="buttons">
                    <button (click) = "downloadKPIFile(selectedCompliance.compliance.docs[0].filePaths[0],selectedCompliance.compliance.docs[0].file_name)" class="btn btn-block orange waves-effect waves-light" [disabled]="selectedCompliance.compliance.docs.length == 0">Download</button>
					<!-- <button class="btn btn-block blue lighten-1 waves-effect waves-light">Manage</button> -->
					<!-- <button class="btn btn-block blue lighten-1 waves-effect waves-light" [routerLink]="['/shop/compliance-package']">Shop</button> -->
				</div>
			</div>

			<div class="switch-container" *ngIf="selectedCompliance.compliance.docs.length > 0 && isTRP == false && isFRP == true">
				<p class="give-access-text">Give access to TRP</p>
				<div class="switch" >
					<input type="checkbox"
                 (change)="assignAccessToTRP($event, selectedCompliance)"
                 [checked]="selectedCompliance.compliance.docs[0].viewable_by_trp">
					<div class="yes">Yes</div>
					<div class="no">No</div>
					<div class="highlight"></div>
					<div class="background"></div>
				</div>
			</div>

		</div>

	</div>
</ng-template>

<ng-template #sundryTemplate> <!-- Sundry -->
	<div class="documents-container">
		<div class="document" >

			<div class="preview-container">

			</div>

			<div class="text-container">
				<h5 class="file-name">
					<span *ngIf="selectedCompliance.compliance.docs[0]">{{ selectedCompliance.compliance.docs[0].file_name }}</span>
				</h5>

				<div class="dates">
					<div class="created">
                        <p>Date of activity:</p>
                        <p *ngIf="!selectedCompliance.compliance.docs[0]">00/00/0000</p>
                        <p *ngIf="selectedCompliance.compliance.docs[0]">{{selectedCompliance.compliance.docs[0]['date_of_activity_formatted']}}</p>
                    </div>

					<div class="review">
						<p></p>
						<p class="green-text"></p>
					</div>
				</div>

				<div class="click-view-previous">
					<a  class="blue-text" (click)="showDiagramDetails()">Click here to view previous versions ></a>
				</div>

				<div class="buttons">
                    <button  (click) = "downloadKPIFile(selectedCompliance.compliance.docs[0].filePaths[0],selectedCompliance.compliance.docs[0].file_name)" class="btn btn-block orange waves-effect waves-light" [disabled]="selectedCompliance.compliance.docs.length == 0">Download</button>
					<!-- <button class="btn btn-block blue lighten-1 waves-effect waves-light">Manage</button> -->
					<!-- <button class="btn btn-block blue lighten-1 waves-effect waves-light" [routerLink]="['/shop/compliance-package']">Shop</button> -->
				</div>
			</div>

			<!-- <div class="switch-container" *ngIf="selectedCompliance.compliance.docs.length > 0">
                <p class="give-access-text">Give access to TRP</p>
                <div class="switch" >
                    <input type="checkbox"  >
                    <div class="yes">Yes</div>
                    <div class="no">No</div>
                    <div class="highlight"></div>
                    <div class="background"></div>
                </div>
            </div> -->

		</div>

	</div>
</ng-template>

<ng-template #epmTableTemplate>
	<div class="col l12 m12 s12">
		<ng-container *ngTemplateOutlet="notesTemplate ? notesTemplate : noneTemplate"></ng-container>
	</div>
	<div class="col l4 m12 s12"  >
		<ng-container *ngTemplateOutlet="epmTemplate"></ng-container>
	</div>
	<div class="col l8 m12 s12">
		<div class="diagram-top-of-table">
			<h5 class="blue-text title">Previous Versions</h5>
		</div>
		<div class="filter-container row">
			<div class="col l6 m12 s12">
				<div class="search-field">
					<input placeholder="Search here" type="text">
					<span class="material-icons">search</span>
				</div>
			</div>
			<div class="col l3 m12 s12">
				<select class="filter-by">
					<option value="0" selected disabled >Filter By</option>
				</select>
			</div>
			<div class="col l3 m12 s12">
				<select class="sort-by">
					<option value="0" selected disabled >Sort By</option>
				</select>
			</div>
		</div>
		<table class="striped table">
			<thead>
				<tr>
					<th>Date Created</th>
					<th>Last Review</th>
					<th>Filename</th>
					<th>Trainer</th>
					<th style="width: 10%;">Action</th>
				</tr>
			</thead>

			<tbody>
				<tr *ngFor="let doc of selectedCompliance.compliance.docs; let i = index">
					<td>
					{{doc.display_format}}
					</td>
                    <td>{{doc.date_of_activity_formatted}}</td>
					<td>
						{{doc.file_name}}
					</td>
					<td>
						--
					</td>
					<td style="padding: 2px;">
						<a  class=" " (click)="downloadKPIFile(selectedCompliance.compliance.docs[i].filePaths[i],selectedCompliance.compliance.docs[i].file_name)">
							<img src="/assets/images/download_ico_blue.png"  >
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</ng-template>

<ng-template #epcTableTemplate>
	<div class="col l12 m12 s12">
		<ng-container *ngTemplateOutlet="notesTemplate ? notesTemplate : noneTemplate"></ng-container>
	</div>
	<div class="col l4 m12 s12"  >
		<ng-container *ngTemplateOutlet="epcTemplate"></ng-container>
	</div>
	<div class="col l8 m12 s12">
		<div class="diagram-top-of-table">
			<h5 class="blue-text title">Previous Versions</h5>
		</div>
		<div class="filter-container row">
			<div class="col l6 m12 s12">
				<div class="search-field">
					<input placeholder="Search here" type="text">
					<span class="material-icons">search</span>
				</div>
			</div>
			<div class="col l3 m12 s12">
				<select class="filter-by">
					<option value="0" selected disabled >Filter By</option>
				</select>
			</div>
			<div class="col l3 m12 s12">
				<select class="sort-by">
					<option value="0" selected disabled >Sort By</option>
				</select>
			</div>
		</div>
		<table class="striped table">
			<thead>
				<tr>
					<th>EPC Records</th>
					<th>Filename</th>
					<th>Trainer</th>
					<th style="width: 10%;">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let doc of selectedCompliance.compliance.docs; let i = index">
					<td>
					{{doc.display_format}}
					</td>
					<td>
						{{doc.file_name}}
					</td>
					<td>

					</td>
					<td style="padding: 2px;">
						<a  class=" " (click)="downloadKPIFile(selectedCompliance.compliance.docs[i].filePaths[i],selectedCompliance.compliance.docs[i].file_name)">
							<img src="/assets/images/download_ico_blue.png"  >
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</ng-template>

<ng-template #evacution_exerciseTableTemplate>
	<div class="col l12 m12 s12">
		<ng-container *ngTemplateOutlet="notesTemplate ? notesTemplate : noneTemplate"></ng-container>
	</div>
	<div class="col l4 m12 s12"  >
		<ng-container *ngTemplateOutlet="evacution_exerciseTemplate"></ng-container>
	</div>
	<div class="col l8 m12 s12">
		<div class="diagram-top-of-table">
			<h5 class="blue-text title">Previous Versions</h5>
		</div>
		<div class="filter-container row">
			<div class="col l6 m12 s12">
				<div class="search-field">
					<input placeholder="Search here" type="text">
					<span class="material-icons">search</span>
				</div>
			</div>
			<div class="col l3 m12 s12">
				<select class="filter-by">
					<option value="0" selected disabled >Filter By</option>
				</select>
			</div>
			<div class="col l3 m12 s12">
				<select class="sort-by">
					<option value="0" selected disabled >Sort By</option>
				</select>
			</div>
		</div>
		<table class="striped table">
			<thead>
				<tr>
					<th>Evacuation Exercise Meeting</th>
					<th>Filename</th>
					<th>Trainer</th>
					<th style="width: 10%;">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let doc of selectedCompliance.compliance.docs; let i = index">
					<td>
					{{doc.display_format}}
					</td>
					<td>
						{{doc.file_name}}
					</td>
					<td>

					</td>
					<td style="padding: 2px;">
						<a  class=" " (click)="downloadKPIFile(selectedCompliance.compliance.docs[i].filePaths[i],selectedCompliance.compliance.docs[i].file_name)">
							<img src="/assets/images/download_ico_blue.png"  >
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</ng-template>

<ng-template #evac_diagramTableTemplate>
	<div class="col l12 m12 s12">
		<ng-container *ngTemplateOutlet="notesTemplate ? notesTemplate : noneTemplate"></ng-container>
	</div>
	<div class="col l4 m12 s12"  >
		<ng-container *ngTemplateOutlet="evac_diagramTemplate"></ng-container>
	</div>
	<div class="col l8 m12 s12">
		<div class="diagram-top-of-table">
			<h5 class="blue-text title">Diagram Details</h5>
		</div>

		<table class="striped table">
			<thead>
				<tr>
					<th>Sub Locations</th>
					<th>Date Uploaded</th>
					<th>Valid Until</th>
					<th>Diagram</th>
					<!-- <th>Created By</th> -->
					<th style="width: 10%;">Action</th>
				</tr>
			</thead>
			<tbody>
                <tr colspan="5" *ngIf="evacDiagramSublocations.length == 0">
                    <td class="center"> No sublocations </td>
                </tr>
                <tr *ngFor="let loc of evacDiagramSublocations">
                    <td class="with-icon">
                        <div class="image expired" *ngIf="!loc.evac_diagrams[0]"></div>
                        <div class="image" *ngIf="loc.evac_diagrams[0]">
                            <div class="image alarm" *ngIf="loc.evac_diagrams[0]['valid'] == false"></div>
                            <div class="image check" *ngIf="loc.evac_diagrams[0]['valid'] == true"></div>
                        </div>
                        <div class="text">{{loc.name}}</div>
                    </td>
                    <td>
                        <span *ngIf="loc.evac_diagrams[0]">{{loc.evac_diagrams[0]['timestamp_formatted']}}</span>
                        <span *ngIf="!loc.evac_diagrams[0]">--</span>
                    </td>
                    <td>
                        <span *ngIf="loc.evac_diagrams[0]">
                            <span *ngIf="loc.evac_diagrams[0]['valid_till'] != null">{{loc.evac_diagrams[0]['valid_till']}}</span>
                            <span *ngIf="loc.evac_diagrams[0]['valid_till'] == null">--</span>
                        </span>
                        <span *ngIf="!loc.evac_diagrams[0]">--</span>
                    </td>
                    <td>
                        --
                    </td>
                    <td style="padding: 2px;">
                        <a  class=" " *ngIf="loc.evac_diagrams[0]">
                            <img src="/assets/images/download_ico_blue.png"  >
                        </a>
                    </td>
                </tr>
                <!--
				<tr>
					<td class="with-icon">
						<div class="image check"></div>
						<div class="text">Level 1</div>
					</td>
					<td>
						00/00/0000
					</td>
					<td>
						00/00/0000
					</td>
					<td>
						<a  class="blue-text"> View All </a>
					</td>
					<td>
						EvacServices
					</td>
					<td style="padding: 2px;">
						<a  class=" ">
							<img src="/assets/images/download_ico_blue.png"  >
						</a>
					</td>
				</tr>
				<tr>
					<td class="with-icon">
						<div class="image alarm"></div>
						<div class="text">Level 2</div>
					</td>
					<td>
						00/00/0000
					</td>
					<td>
						00/00/0000
					</td>
					<td>
						<a  class="blue-text"> View All </a>
					</td>
					<td>
						EvacServices
					</td>
					<td style="padding: 2px;">
						<a  class=" ">
							<img src="/assets/images/download_ico_blue.png"  >
						</a>
					</td>
				</tr>
				<tr>
					<td class="with-icon">
						<div class="image expired"></div>
						<div class="text">Level 3</div>
					</td>
					<td>
						00/00/0000
					</td>
					<td>
						00/00/0000
					</td>
					<td>
						<a  class="blue-text"> View All </a>
					</td>
					<td>
						EvacServices
					</td>
					<td style="padding: 2px;">
						<a  class=" ">
							<img src="/assets/images/download_ico_blue.png"  >
						</a>
					</td>
				</tr>
				<tr>
					<td class="with-icon">
						<div class="image expired"></div>
						<div class="text">Level 4</div>
					</td>
					<td>
						--
					</td>
					<td>
						--
					</td>
					<td>
						--
					</td>
					<td>
						--
					</td>
					<td>
						<button class="btn red waves-effect waves-light btn-manage accent-4">Manage</button>
					</td>
				</tr>
                -->
			</tbody>
		</table>
	</div>
</ng-template>

<ng-template #chief_warden_trainingTableTemplate>
	<div class="col l12 m12 s12">
		<ng-container *ngTemplateOutlet="notesTemplate ? notesTemplate : noneTemplate"></ng-container>
	</div>
	<div class="col l4 m12 s12"  >
		<ng-container *ngTemplateOutlet="chief_warden_trainingTemplate"></ng-container>
	</div>
	<div class="col l8 m12 s12">
    <!--
		<div class="diagram-top-of-table">
			<h5 class="blue-text title">Attendance Record</h5>
		</div>
		<div class="filter-container row">
			<div class="col l6 m12 s12">
				<div class="search-field">
					<input placeholder="Search here" type="text">
					<span class="material-icons">search</span>
				</div>
			</div>
			<div class="col l3 m12 s12">
				<select class="filter-by">
					<option value="0" selected disabled >Filter By</option>
				</select>
			</div>
			<div class="col l3 m12 s12">
				<select class="sort-by">
					<option value="0" selected disabled >Sort By</option>
				</select>
			</div>
		</div>
  -->
      <div class="col l12 m12 s12">
        <div class="diagram-top-of-table">
            <h5 class="blue-text title">Chief Warden</h5>
        </div>
        <div class="filter-container row">
            <div class="col l6 m12 s12">
                <div class="search-field">
                    <input placeholder="Search here" type="text">
                    <span class="material-icons">search</span>
                </div>
            </div>
            <div class="col l3 m12 s12">
                <select class="filter-by">
                    <option value="0" selected disabled >Filter By</option>
                </select>
            </div>
            <div class="col l3 m12 s12">
                <select class="sort-by">
                    <option value="0" selected disabled >Sort By</option>
                </select>
            </div>
        </div>
        <table class="striped table">
            <thead>
                <tr>
                    <th>Sub Locations</th>
                    <th>Benchmark</th>
                    <th>Nominated</th>
                    <th>Trained</th>
                    <th>Training Compliance</th>
                    <th style="width: 13%;">Action</th>
                </tr>
            </thead>
            <tbody *ngIf="selectedCompliance['compliance_kpis_id'] == 12">
                <tr *ngFor="let sub of complianceSublocations">
                    <td>{{sub.name}}</td>
                    <td *ngIf="selectedCompliance['compliance']['location_details'] && selectedCompliance['compliance']['location_details'][sub['location_id']]; else noChiefWarden">
                        {{selectedCompliance['compliance']['location_details'][sub['location_id']].training.total_estimated_wardens}}
                    </td>
                    <td *ngIf="selectedCompliance['compliance']['location_details'] && selectedCompliance['compliance']['location_details'][sub['location_id']]; else noChiefWarden">
                        {{selectedCompliance['compliance']['location_details'][sub['location_id']].users.length}}
                    </td>
                    <td *ngIf="selectedCompliance['compliance']['location_details'] && selectedCompliance['compliance']['location_details'][sub['location_id']]; else noChiefWarden">
                        {{selectedCompliance['compliance']['location_details'][sub['location_id']].training.total_passed}}
                    </td>
                    <td *ngIf="selectedCompliance['compliance']['location_details'] && selectedCompliance['compliance']['location_details'][sub['location_id']]; else noChiefWardenPercentage">
                        {{selectedCompliance['compliance']['location_details'][sub['location_id']].training.percentage}}
                    </td>
                    <td>
                        <a  (click)="viewWardenList(sub['location_id'])" class="blue-text"> View Warden List </a>
                    </td>
                    <ng-template #noChiefWarden>
                        <td>0</td>
                    </ng-template>
                    <ng-template #noChiefWardenPercentage>
                        <td>0%</td>
                    </ng-template>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</ng-template>

<ng-template #warden_trainingTableTemplate>
	<div class="col l12 m12 s12">
		<ng-container *ngTemplateOutlet="notesTemplate ? notesTemplate : noneTemplate"></ng-container>
	</div>
	<div class="col l4 m12 s12"  >
		<ng-container *ngTemplateOutlet="warden_trainingTemplate"></ng-container>
	</div>
	<div class="col l8 m12 s12">
		<div class="diagram-top-of-table">
			<h5 class="blue-text title">Warden Benchmarking</h5>
		</div>
		<div class="filter-container row">
			<div class="col l6 m12 s12">
				<div class="search-field">
					<input placeholder="Search here" type="text">
					<span class="material-icons">search</span>
				</div>
			</div>
			<div class="col l3 m12 s12">
				<select class="filter-by">
					<option value="0" selected disabled >Filter By</option>
				</select>
			</div>
			<div class="col l3 m12 s12">
				<select class="sort-by">
					<option value="0" selected disabled >Sort By</option>
				</select>
			</div>
		</div>
		<table class="striped table">
			<thead>
				<tr>
					<th>Sub Locations</th>
					<th>Benchmark</th>
					<th>Nominated</th>
					<th>Trained</th>
					<th>Training Compliance</th>
					<th style="width: 13%;">Action</th>
				</tr>
			</thead>
			<tbody *ngIf="selectedCompliance['compliance_kpis_id'] == 6">
            <tr *ngFor="let sub of complianceSublocations">
              <td class="with-icon">
                <ng-template #noStatus>
                    <div class="image expired"></div>
                </ng-template>
                <span *ngIf="selectedCompliance['compliance']['location_details'] && selectedCompliance['compliance']['location_details'][sub['location_id']]; else noStatus">
                    <div class="image"  [ngClass]="{
                        'expired' : selectedCompliance['compliance']['location_details'][sub['location_id']]['training'].total_passed == 0,
                        'alarm' : selectedCompliance['compliance']['location_details'][sub['location_id']]['training']['percentage'] != '100%' && selectedCompliance['compliance']['location_details'][sub['location_id']]['training']['percentage'] != '0%',
                        'check' : selectedCompliance['compliance']['location_details'][sub['location_id']]['training']['percentage'] == '100%'
                    }"></div>
                </span>
                <div class="text">{{sub.name}}</div>
              </td>
              <td *ngIf="selectedCompliance['compliance']['location_details'] && selectedCompliance['compliance']['location_details'][sub['location_id']]; else noChiefWarden">
                {{selectedCompliance['compliance']['location_details'][sub['location_id']].training.total_estimated_wardens}}
              </td>
              <td *ngIf="selectedCompliance['compliance']['location_details'] && selectedCompliance['compliance']['location_details'][sub['location_id']]; else noChiefWarden">
                  {{selectedCompliance['compliance']['location_details'][sub['location_id']].users.length}}
              </td>
              <td *ngIf="selectedCompliance['compliance']['location_details'] && selectedCompliance['compliance']['location_details'][sub['location_id']]; else noChiefWarden">
                  {{selectedCompliance['compliance']['location_details'][sub['location_id']].training.total_passed}}
              </td>
              <td *ngIf="selectedCompliance['compliance']['location_details'] && selectedCompliance['compliance']['location_details'][sub['location_id']]; else noChiefWardenPercentage">
                  {{selectedCompliance['compliance']['location_details'][sub['location_id']]['training'].percentage}}
              </td>
              <td>
                  <a  (click)="viewWardenList(sub['location_id'])" class="blue-text"> View Warden List </a>
              </td>
              <ng-template #noChiefWarden>
                <td>0</td>
              </ng-template>
              <ng-template #noChiefWardenPercentage>
                <td>0%</td>
              </ng-template>
            </tr>
			</tbody>
        </table>
	</div>
</ng-template>

<ng-template #fire_safety_advisorTableTemplate>
	<div class="col l12 m12 s12">
		<ng-container *ngTemplateOutlet="notesTemplate ? notesTemplate : noneTemplate"></ng-container>
	</div>
	<div class="col l4 m12 s12"  >
		<ng-container *ngTemplateOutlet="fire_safety_advisorTemplate"></ng-container>
	</div>
	<div class="col l8 m12 s12">
		<div class="diagram-top-of-table">
			<h5 class="blue-text title">Previous Versions</h5>
		</div>
		<div class="filter-container row">
			<div class="col l6 m12 s12">
				<div class="search-field">
					<input placeholder="Search here" type="text">
					<span class="material-icons">search</span>
				</div>
			</div>
			<div class="col l3 m12 s12">
				<select class="filter-by">
					<option value="0" selected disabled >Filter By</option>
				</select>
			</div>
			<div class="col l3 m12 s12">
				<select class="sort-by">
					<option value="0" selected disabled >Sort By</option>
				</select>
			</div>
		</div>
		<table class="striped table">
			<thead>
				<tr>
					<th>Previous Review</th>
					<th>Filename</th>
					<th>Trainer</th>
					<th style="width: 10%;">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let doc of selectedCompliance.compliance.docs; let i = index">
					<td>
					{{doc.display_format}}
					</td>
					<td>
						{{doc.file_name}}
					</td>
					<td>

					</td>
					<td style="padding: 2px;">
						<a  class=" " (click)="downloadKPIFile(selectedCompliance.compliance.docs[i].filePaths[i],selectedCompliance.compliance.docs[i].file_name)">
							<img src="/assets/images/download_ico_blue.png"  >
						</a>
					</td>
				</tr>

			</tbody>
		</table>
	</div>
</ng-template>

<ng-template #general_occupant_trainingTableTemplate>
	<div class="col l12 m12 s12">
		<ng-container *ngTemplateOutlet="notesTemplate ? notesTemplate : noneTemplate"></ng-container>
	</div>
	<div class="col l4 m12 s12"  >
		<ng-container *ngTemplateOutlet="general_occupant_trainingTemplate"></ng-container>
	</div>
	<div class="col l8 m12 s12">
		<div class="diagram-top-of-table">
			<h5 class="blue-text title">General Occupant Training</h5>
		</div>
		<div class="filter-container row">
			<div class="col l6 m12 s12">
				<div class="search-field">
					<input placeholder="Search here" type="text">
					<span class="material-icons">search</span>
				</div>
			</div>
			<div class="col l3 m12 s12">
				<select class="filter-by">
					<option value="0" selected disabled >Filter By</option>
				</select>
			</div>
			<div class="col l3 m12 s12">
				<select class="sort-by">
					<option value="0" selected disabled >Sort By</option>
				</select>
			</div>
		</div>
		<table class="striped table">
			<thead>
				<tr>
					<th>Sub Locations</th>
					<th>Staff</th>
					<th>Trained</th>
					<th>Training Compliance</th>
					<th style="width: 13%;">Action</th>
				</tr>
			</thead>
			<tbody *ngIf="selectedCompliance['compliance_kpis_id'] == 8"></tbody>
          <tr *ngFor="let sub of complianceSublocations">
              <td>{{sub.name}}</td>
              <td *ngIf="selectedCompliance['compliance']['location_details'] && selectedCompliance['compliance']['location_details'][sub['location_id']]; else noChiefWarden">
                  {{selectedCompliance['compliance']['location_details'][sub['location_id']].users.length}}
              </td>
              <td *ngIf="selectedCompliance['compliance']['location_details'] && selectedCompliance['compliance']['location_details'][sub['location_id']]; else noChiefWarden">
                  {{selectedCompliance['compliance']['location_details'][sub['location_id']].training.total_passed}}
              </td>
              <td *ngIf="selectedCompliance['compliance']['location_details'] && selectedCompliance['compliance']['location_details'][sub['location_id']]; else noChiefWardenPercentage">
                  {{selectedCompliance['compliance']['location_details'][sub['location_id']].training.percentage}}
              </td>
              <td>
                <a  class="blue-text"> View Warden List </a>
              </td>
              <ng-template #noChiefWarden>
                <td>0</td>
              </ng-template>
              <ng-template #noChiefWardenPercentage>
                <td>0%</td>
              </ng-template>
            </tr>

			</tbody>
		</table>
	</div>
</ng-template>

<ng-template #sundryTableTemplate>
	<div class="col l12 m12 s12">
		<ng-container *ngTemplateOutlet="notesTemplate ? notesTemplate : noneTemplate"></ng-container>
	</div>
	<div class="col l4 m12 s12"  >
		<ng-container *ngTemplateOutlet="sundryTemplate"></ng-container>
	</div>
	<div class="col l8 m12 s12">
		<div class="diagram-top-of-table">
			<h5 class="blue-text title">Previous Versions</h5>
		</div>
		<div class="filter-container row">
			<div class="col l6 m12 s12">
				<div class="search-field">
					<input placeholder="Search here" type="text">
					<span class="material-icons">search</span>
				</div>
			</div>
			<div class="col l3 m12 s12">
				<select class="filter-by">
					<option value="0" selected disabled >Filter By</option>
				</select>
			</div>
			<div class="col l3 m12 s12">
				<select class="sort-by">
					<option value="0" selected disabled >Sort By</option>
				</select>
			</div>
		</div>
		<table class="striped table">
			<thead>
				<tr>
					<th>Date</th>
					<!-- <th>Account</th> -->
					<th>File Name</th>
					<th style="width: 12%;">No of wardens</th>
					<th style="width: 10%;">Action</th>
				</tr>
			</thead>
			<tbody>
                <tr *ngFor="let doc of selectedCompliance.compliance.docs">
                    <td>{{doc.date_of_activity_formatted}}</td>
                    <td>{{doc.file_name}}</td>
                    <td>{{selectedCompliance.compliance.num_wardens}}</td>
                    <td style="padding: 2px;">
                        <a  class=" ">
                            <img src="/assets/images/download_ico_blue.png"  >
                        </a>
                    </td>
                </tr>
			</tbody>
		</table>
	</div>
</ng-template>


<div class="top-gray">
	<h6 class="title">
		{{nameDisplay}}
	</h6>

	<div class="upload-buttons">
		<!-- <button class="btn blue waves-effect waves-light">
			<img src="/assets/images/upload_ico.png" alt="">
			Upload Documents
		</button> -->

		<button class="btn orange waves-effect waves-light" (click)="downloadAllPack()">
			<img src="/assets/images/download_ico.png" alt="">
			Download all Pack
		</button>
	</div>

	<!-- <a href="" class="archived">
		<span class="image"></span>
		View Archived
	</a> -->
</div>

<div class="main" [hidden]="showEPCform">

	<div class="row row-table-content" style="left: 0%;">
		<div class="col l5 m12 s12">
			<div class="progress-loading-container">
				<div class="left-icon">
					<div class="image"></div>
				</div>
				<div class="right-icon">
					<div class="image"></div>
				</div>

				<div class="background">
                    <div class="loading" [ngStyle]="{'width': totalPercentage + '%' }">
                        <div class="tip-percentage">
                            <div class="percentage">{{totalPercentage}}% </div>
                            <div class="arrow-down"></div>
                        </div>
                    </div>
                </div>


			</div>

			<table class="table table-list">
				<thead>
					<tr>
						<th>Compliance Item</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>

					<tr *ngFor="let k of KPIS;" (click)="clickSelectComplianceFromList(k)" [attr.compliance]="k.short_code">
						<td class="with-image">
							<div class="image {{k.icon_class}}" [ngStyle]="{'background-color': k.background_color}"  ></div>
							<span>{{k.name}}</span>
						</td>

                        <td class="with-icon" *ngIf="!k.compliance">
                            <div class="image expired"></div>
                        </td>
                        
                        <td class="with-icon" *ngIf="k.compliance">
                            <div *ngIf="k.compliance.validity_status == 'none-exist' && k.compliance_kpis_id != 13" class="image expired"></div>
                            <div *ngIf="k.compliance.validity_status == 'invalid' && k.compliance_kpis_id != 13" class="image alarm"></div>
                            <div *ngIf="k.compliance.validity_status == 'valid' && k.compliance_kpis_id != 13" class="image check"></div>

                            <div class="text" *ngIf="k.type == 'date' && k.compliance.validity_status != 'none-exist' && k.compliance_kpis_id != 3">
                                <p *ngIf="k.compliance.validity_status == 'valid'">Valid Till:</p>
                                <div *ngIf="k.compliance.validity_status == 'invalid'">
                                    <span *ngIf="k.compliance.docs[0]">{{k.compliance.docs[0].valid_till}}</span>
                                </div>
                                <div *ngIf="k.compliance.validity_status == 'valid'"  >
                                    <span *ngIf="k.compliance.docs[0] && k.compliance.valid_till !== null">{{k.compliance.docs[0].valid_till}}</span>
                                    <span *ngIf="!k.compliance.docs[0] && k.compliance.valid_till != null">{{k.compliance['valid_till']}}</span>
                                </div>
                            </div>

                            <div class="text"  *ngIf="k.type == 'percent'">
                                <a *ngIf="k.compliance_kpis_id == 5 || k.compliance_kpis_id == 6 || k.compliance_kpis_id == 8 || k.compliance_kpis_id == 9 || k.compliance_kpis_id == 12" (click)="showDiagramDetails()">
                                    View Details
                                </a>
                                <!-- <span *ngIf="k.compliance_kpis_id != 5 && k.compliance_kpis_id != 13">{{k.compliance.total_personnel_trained.total_passed}} / {{k.compliance.total_personnel}}</span>
                                                                <span *ngIf="k.compliance_kpis_id == 5 && k.compliance_kpis_id != 13"> {{k.compliance.total_valid_diagrams}} / {{k.compliance.total_diagrams}} </span> -->
                            </div>

                            <div class="arrow"></div>
                        </td>
                        
                        <ng-container  *ngTemplateOutlet="validValidityStatus"></ng-container>
                        
					</tr>

				</tbody>
			</table>
		</div>
		<div class="col l7 m12 s12"  >

			<ng-container *ngTemplateOutlet="complianceTitleTemplate ? complianceTitleTemplate : noneTemplate"></ng-container>

			<ng-container *ngTemplateOutlet="notesTemplate ? notesTemplate : noneTemplate"></ng-container>
			<ng-container  *ngTemplateOutlet="selectedCompliance.template"> </ng-container>
		</div>
	</div>

	<div class="row row-diagram-details"  style="display: none;">
		<div class="col l12 m12 s12">
			<ng-container *ngTemplateOutlet="complianceTitleTemplate2 ? complianceTitleTemplate2 : noneTemplate"></ng-container>
		</div>
		<div class="content">

			<ng-container  *ngTemplateOutlet="selectedCompliance.tableTemplate"> </ng-container>
		</div>
	</div>

</div>


<div class="main epc-form" [hidden]="!showEPCform" style="margin-top: 90px;">
    <epc-minutes-meeting></epc-minutes-meeting>
</div>


<div id="modalWardenList" class="modal">
  <div class="modal-content">
    <table class="striped table">
			<thead>
				<tr>
					<!-- <th>Date</th> -->
					<th>Account</th>
          <th>TRP Name</th>
          <th>No of wardens</th>
          <th>Wardens</th>
          <!--
					<th style="width: 10%;">No of new wardens added</th>
          <th style="width: 10%;">Action</th>
          -->
				</tr>
			</thead>
			<tbody *ngIf="tenants">
				<tr *ngFor="let tenant of tenants">
					<!-- <td>n/a</td> -->
					<td>
						<span class="blue-text">{{tenant.account_name}}</span>
					</td>
					<td>
					  <span *ngFor="let t of tenant.trp">{{t}}<br /></span>
					</td>
					<td>
						{{tenant.wardens.length}}
          </td>
          <td>
              <span *ngFor="let warden of tenant.wardens">{{warden.first_name}} {{warden.last_name}}<br /></span>
          </td>
          <!--
					<td style="padding: 2px;">
						<a  class=" ">
							<img src="/assets/images/download_ico_blue.png"  >
            </a>

          </td>
           -->
				</tr>
			</tbody>
    </table>
    <br />
    <div class="button-container right-align" >
        <a  class="modal-action modal-close waves-effect waves-light btn grey lighten-1 btn-flat">Close</a>
    </div>
  </div>

</div>


<div class="modal" id="modalManageUpload" style="overflow: visible;"  >

    <div class="modal-content" *ngIf="showModalUploadDocsLoader">
        <div class="center" >
            <div class="preloader-wrapper active" >
                <div class="spinner-layer spinner-red-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <form #form="ngForm" [hidden]="showModalUploadDocsLoader">

    <div class="modal-content">
        <h5>Upload document for {{this.selectedKPIS.name}}</h5>

        <div class="row" style="margin-top: 35px;">

            <div class="col m12 l6">
                <div class="input-field">
                    <ng-datepicker [(ngModel)]="datepickerModel" (ngModelChange)="onChangeDatePicker($event)" [options]="options"  [ngModelOptions]="{standalone: true}" [headless]="true" [isOpened]="isShowDatepicker" ></ng-datepicker>
                    <input id="dateOfActivity" autocomplete="off" type="text" [(ngModel)]="datepickerModelFormatted" ngModel name="date_of_activity" (click)="showDatePicker()" required >
                    <label for="dateOfActivity" class="active" >Date of Activity</label>
                </div>
            </div>

            <div class="col m12 l6">
                <div class="input-field">
                    <input id="validTill" type="text" name="valid_till_date" [ngModel]="validTillDate" readonly required >
                    <label for="validTill" class="active">Valid Till</label>
                </div>
            </div>

            <div class="col l12">
                <div class="input-field">
                    <textarea id="textDescription" ngModel name="description" class="materialize-textarea" ></textarea>
                    <label for="textDescription" class="">Description</label>
                </div>
            </div>

            <div class="col l12">
                <button class="btn orange waves-light waves-effect" (click)="selectFile(inpFileUploadDocs)" style="margin: 2% 0%; font-size: 14px !important;">Select File</button>
                <div class="file-name" style="display: inline;padding: 0% 2%;font-size: 14px;" *ngIf="inpFileUploadDocs.files[0]">{{inpFileUploadDocs.files[0].name }}</div>
                <div style="display: inline;padding: 0% 2%;font-size: 14px;" *ngIf="docsFileSizeIsMax"> File is too large. File must be less than 20Mb </div>
                <input type="file" ngModel name="file" required class="file" hidden #inpFileUploadDocs (change)="onFileSelected($event, form)" />
            </div>

            <div class="col l12">
                <div class="switch-container"  >
                    <p class="give-access-text">Give access to TRP</p>
                    <div class="switch" >
                    <input type="checkbox" ngModel name="viewable_by_trp"  >
                        <div class="yes">Yes</div>
                        <div class="no">No</div>
                        <div class="highlight"></div>
                        <div class="background"></div>
                    </div>
                </div>
            </div>


        </div>

    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-red btn-flat" (click)="cancelUploadDocs(form)">Cancel</a>
        <button class="waves-effect waves-blue btn-flat" type="submit" [disabled]="!form.valid" (click)="submitUploadDocs(form)">Submit</button>
    </div>

    </form>
</div>


<div preloader></div>
