<div class="row">
	<div class="col l12 m12 s12">
		<div class="top-gray">
			<h6 class="title">Location Compliance Name Here</h6>

			<a href="" class="archived">
				<span class="image"></span>
				View Archived
			</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col l6 m12 s12 table-container">
		<table class="striped table">
			<thead>
				<tr>
					<th>Compliance Item</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>

				<tr>
					<td class="with-image">
						<div class="image light-green training-icon"></div>
						<span>EPM</span>
					</td>
					<td class="with-icon">
						<div class="image check"></div>
						<div class="text">
							<p>Valid Till:</p>
							<p class="green-text">0/00/0000</p>
						</div>
					</td>
					<td style="width:20%;">
						<a href="javacsript:void(0)">Download</a>
					</td>
				</tr>
				
				<tr>
					<td class="with-image">
						<div class="image light-blue meeting-icon"></div>
						<span>EPC Meeting</span>
					</td>
					<td class="with-icon">
						<div class="image alarm"></div>
						<div class="text">
							<p>Valid Till:</p>
							<p class="yellow-text">0/00/0000</p>
						</div>
					</td>
					<td style="width:20%;">
						<a href="javacsript:void(0)">Download</a>
					</td>
				</tr>

				<tr>
					<td class="with-image">
						<div class="image teal evacuation-icon"></div>
						<span>Evacuation Exercise</span>
					</td>
					<td class="with-icon">
						<div class="image expired"></div>
						<div class="text">
							<p>Expired:</p>
							<p class="red-text">0/00/0000</p>
						</div>
					</td>
					<td style="width:20%;">
						<a href="javacsript:void(0)">Download</a>
					</td>
				</tr>

				<tr>
					<td class="with-image">
						<div class="image light-blue lighten-2 diagram-icon"></div>
						<span>Evac Diagram</span>
					</td>
					<td class="with-icon">
						<div class="image alarm"></div>
						<div class="text">
							<p>Valid Till:</p>
							<p class="yellow-text">0/00/0000</p>
						</div>
					</td>
					<td style="width:20%;">
						<a href="javacsript:void(0)">Download</a>
					</td>
				</tr>

				<tr>
					<td class="with-image">
						<div class="image orange training-icon"></div>
						<span>Chief Warden Training</span>
					</td>
					<td class="with-bar">
						<div class="text">0%</div>
						<div class="progress-container">
							<div class="progress">
						    	<div class="determinate" style="width: 70%;"></div>
							</div>
							<p>0/0</p>
						</div>
					</td>
					<td style="width:20%;">
						<a href="javacsript:void(0)">Manage</a>
					</td>
				</tr>

				<tr>
					<td class="with-image">
						<div class="image  teal accent-3 training-icon"></div>
						<span>Warden Training</span>
					</td>
					<td class="with-bar">
						<div class="text">0%</div>
						<div class="progress-container">
							<div class="progress">
						    	<div class="determinate" style="width: 70%;"></div>
							</div>
							<p>0/0</p>
						</div>
					</td>
					<td style="width:20%;">
						<a href="javacsript:void(0)">Manage</a>
					</td>
				</tr>

				<tr>
					<td class="with-image">
						<div class="image indigo training-icon"></div>
						<span>Fire Safety Advisor</span>
					</td>
					<td class="with-icon">
						<div class="image expired"></div>
						<div class="text">
							<p>Expired:</p>
							<p class="red-text">0/00/0000</p>
						</div>
					</td>
					<td style="width:20%;">
						<a href="javacsript:void(0)">Manage</a>
					</td>
				</tr>

				<tr>
					<td class="with-image">
						<div class="image deep-purple training-icon"></div>
						<span>General Occupant Training </span>
					</td>
					<td class="with-bar">
						<div class="text">0%</div>
						<div class="progress-container">
							<div class="progress">
						    	<div class="determinate" style="width: 50%;"></div>
							</div>
							<p>0/0</p>
						</div>
					</td>
					<td style="width:20%;">
						<a href="javacsript:void(0)">Manage</a>
					</td>
				</tr>

				<tr>
					<td class="with-image">
						<div class="image green training-icon"></div>
						<span>Warden Lists </span>
					</td>
					<td class="with-bar">
						<div class="text">0%</div>
						<div class="progress-container">
							<div class="progress">
						    	<div class="determinate" style="width: 30%;"></div>
							</div>
							<p>0/0</p>
						</div>
					</td>
					<td style="width:20%;">
						<a href="javacsript:void(0)">Manage</a>
					</td>
				</tr>

			</tbody>
		</table>
	</div>
	<div class="col l6 m12 s12">
		
	</div>
</div>
