<breadcrumbs-component></breadcrumbs-component>

<div class="row">
	<div class="col m12">
        <h5 *ngIf="underLocationData.location_id else notUnderLocation">{{underLocationData.name}}</h5>
        <ng-template #notUnderLocation>
            <h5 class="text left" *ngIf="!paramArchived">Location List</h5>
    		<h5 class="text left" *ngIf="paramArchived">Location Archived List</h5>
        </ng-template>


		<div class="right table-align">
			<!-- <h5 class="medium-text">Show only not compliant</h5>
			<div class="switch">
				<input type="checkbox" (change)="showOnlyNotCompliantEvent($event)">
				<div class="yes">Yes</div>
				<div class="no">No</div>
				<div class="highlight"></div>
				<div class="background"></div>
			</div>-->

			<a href="#" class="archived" *ngIf="!paramArchived && !underLocationData.location_id" [routerLink]="['/location/list']" [queryParams]="{ archived : true }">
				<span class="image"></span>
				View Archive
			</a>
            <a href="#" class="archived" *ngIf="paramArchived && !underLocationData.location_id" [routerLink]="['/location/list']">
                <span class="image"></span>
                View Active
            </a>
		</div>

		<div style="clear: both;"></div>
	</div>
</div>

<div class="row filter-container">
	<div class="col l6 m5 s12">
		<div class="search-field">
			<input type="text" placeholder="Search location" #inputSearch >
			<span class="material-icons">search</span>
		</div>
	</div>

	<!-- <div class="col l3 m4 s6">
		<select class="filter-by">
			<option value="0" selected>Filter By (All)</option>
			<option value="compliance">Compliance</option>
			<option value="not-compliance">Not Compliance</option>
			<option value="mobility-impaired">With Mobility</option>
		</select>
	</div> -->

	<div class="col l3 m6 s6">
		<select class="sort-by">
			<option value="" selected>Sort By</option>
			<option value="name-asc" >Name (Asc)</option>
			<option value="name-desc" >Name (Desc)</option>
		</select>
	</div>
	<div class="col l3 m6 s12">
		<select class="bulk-manage">
			<option value="0" selected disabled>Manage Action</option>
			<option value="archive" *ngIf="!paramArchived">Archive selected</option>
            <option value="archive" *ngIf="paramArchived">Restore selected</option>
		</select>
	</div>

</div>

<div class="row">
	<div class="col m12 s12" >

		<table class="highlight striped table-list-locations">
			<thead>
				<tr class="grey darken-4 white-text">
					<th>
						<p class="checkbox">
							<input class="filled-in" id="allSelect" type="checkbox" (change)="selectAllChangeEvent($event)">
							<label for="allSelect">Location Name</label>
						</p>
					</th>
					<th *ngIf="isFRP == true">Sub-location</th>
					<th *ngIf="isFRP == true">No. of Tenants</th>
					<th>No. of Wardens</th>
					<th>Mobility Impaired</th>
					<th>Compliance</th>
					<th>Manage</th>
				</tr>
			</thead>
			<tbody *ngIf="!loadingTable">
				<tr *ngIf="locations.length == 0">
					<td colspan="7" class="center-align">
						<h6>No records found</h6>
					</td>
				</tr>
				<tr *ngFor="let location of locations; let i = index;"  >
					<td>
						<div class="checkbox inline-block" >
							<input id="location-{{i}}"  class="filled-in" type="checkbox" #checkbox [attr.location_id]="location.location_id"  (change)="onChangeTableCheckboxEvent(location, checkbox)"  >
							<label style="padding-left: 15px; height: 15px;" for="location-{{i}}"></label>
						</div>
						<div class="image-container lighten-3 green inline-block" >
							<img src="{{location.google_photo_url}}" alt="">
						</div>
						<div class="inline-block">
                        <!--
                        <a *ngIf="location.parent_id > -1"  [routerLink]="['/location/view-sublocation/', location.location_id]" class="location-name-link">
                        <span *ngIf="location.parent">{{location.parent.name}},</span>
                        <span *ngIf="location.name.length > 0"> {{location.name}}</span>
                        <span *ngIf="location.name.length == 0"> {{location.formatted_address}} </span>
                        </a>
                        		<a *ngIf="location.parent_id == -1" [routerLink]="['/location/view/', location.location_id]" class="location-name-link">
                        			<span *ngIf="location.parent">{{location.parent.name}},</span>
                        			<span *ngIf="location.name.length > 0"> {{location.name}}</span>
                        			<span *ngIf="location.name.length == 0"> {{location.formatted_address}} </span>
                        </a>
                        -->


                        <a *ngIf="location.is_building != 1 && location.has_child_building == 1 else notCampus" [routerLink]="['/location/list']"  [queryParams]="{ undrlocid : location.location_id, archived : paramArchived }" class="location-name-link">
                            <span *ngIf="location.parent">{{location.parent.name}},</span>
                            <span *ngIf="location.name.length > 0"> {{location.name}}</span>
                            <span *ngIf="location.name.length == 0"> {{location.formatted_address}} </span>
                        </a>

                        <ng-template #notCampus>
                            <a *ngIf="location.is_building == 1 && (location.parent_is_building == 0 || location.parent_is_building == null)" [routerLink]="['/location', 'view', location.location_id]" class="location-name-link">
                                <span *ngIf="location.parent">{{location.parent.name}},</span>
                                <span *ngIf="location.name.length > 0"> {{location.name}}</span>
                                <span *ngIf="location.name.length == 0"> {{location.formatted_address}} </span>
                            </a>
                            <a *ngIf="location.is_building == 0 && location.parent_is_building == 1" [routerLink]="['/location', 'view-sublocation', location.location_id]" class="location-name-link">
                                <span *ngIf="location.parent">{{location.parent.name}},</span>
                                <span *ngIf="location.name.length > 0"> {{location.name}}</span>
                                <span *ngIf="location.name.length == 0"> {{location.formatted_address}} </span>
                            </a>
                        </ng-template>


						</div>
					</td>
					<td *ngIf="isFRP == true">
						{{location.sublocation_count}}
					</td>
					<td *ngIf="isFRP == true">
						<span style="margin-right:10px;">{{location.num_tenants}}</span>
						<!-- <a class="btn grey darken-2 waves-effect waves-light" [routerLink]="['/teams/add-user/tenant/', location.location_id]" > Add tenants </a> -->
					</td>

					<td>
                        <a class="blue-text" (click)="viewWardenList(location)"> {{location.num_wardens}} </a>
						<!-- <a class="btn grey darken-2 waves-effect waves-light" [routerLink]="['/teams/add-wardens/', location.location_id]" > Add Wardens </a> -->
					</td>
					<td>
						{{location.mobility_impaired}}
					</td>
                    <!-- <td *ngIf="location.is_building == 0">
                        Not a building
                    </td> -->
					<td class="with-bar" >

                        <div *ngIf="location.fetchingCompliance" class="progress fetching">
                            <div class="indeterminate"></div>
                        </div>

						<!-- <span *ngIf="!location.fetchingCompliance" class="red-text">For verification</span> -->
						
                        <a *ngIf="!location.fetchingCompliance && location.is_building == 1" [routerLink]="['/location/compliance/view/', location.location_id]">
							<div class="text" [ngClass]="{ 'green-text' : location.compliance_percentage == 100 }">{{location.compliance_percentage}}%</div>
							<div class="progress-container" >
								<div class="progress" [ngClass]="{ 'green-theme' : location.compliance_percentage == 100 }">
							    	<div class="determinate" [ngStyle]="{ 'width' : location.compliance_percentage+'%' }"></div>
								</div>
							</div>
						</a>

                        <a *ngIf="location.admin_verified == 1 && !location.fetchingCompliance && location.is_building == 0 && encryptDecrypt.decrypt(location.parent_id) != -1" [routerLink]="['/location/compliance/view/', location.parent_id]">
                            <div class="text" [ngClass]="{ 'green-text' : location.compliance_percentage == 100 }">{{location.compliance_percentage}}%</div>
                            <div class="progress-container" >
                                <div class="progress" [ngClass]="{ 'green-theme' : location.compliance_percentage == 100 }">
                                    <div class="determinate" [ngStyle]="{ 'width' : location.compliance_percentage+'%' }"></div>
                                </div>
                            </div>
                        </a>

                        <a *ngIf="location.admin_verified == 1 && !location.fetchingCompliance && location.is_building == 0 && encryptDecrypt.decrypt(location.parent_id) == -1" [routerLink]="['/location/compliance/view/', location.location_id]">
                            <div class="text" [ngClass]="{ 'green-text' : location.compliance_percentage == 100 }">{{location.compliance_percentage}}%</div>
                            <div class="progress-container" >
                                <div class="progress" [ngClass]="{ 'green-theme' : location.compliance_percentage == 100 }">
                                    <div class="determinate" [ngStyle]="{ 'width' : location.compliance_percentage+'%' }"></div>
                                </div>
                            </div>
                        </a>
					</td>
					<td class="select-blue">
						<select class="select-from-row" [attr.select-action]="location.location_id">
							<option value="0">Manage</option>
							<option value="addtenants-{{location.location_id}}">Add Tenants</option>
							<option value="addwardens-{{location.location_id}}">Add Wardens</option>
							<option value="view-{{location.location_id}}">View Location</option>
                            <option *ngIf="location.is_building == 1" value="compliance-{{location.location_id}}" >View Compliance</option>
							<!-- <option *ngIf="location.is_building == 0" value="compliance-{{location.parent_id}}" >View Compliance</option> -->
                            <option *ngIf="!paramArchived" value="archive-{{location.location_id}}">Archive</option>
							<option *ngIf="paramArchived" value="archive-{{location.location_id}}">Restore</option>
							<!-- <option value="benchmark-{{location.location_id}}">Benchmark</option> -->
						</select>
					</td>
				</tr>
			</tbody>
            <tbody *ngIf="loadingTable">
                <tr>
                    <td colspan="7" class="center">
                        Fetching records...
                    </td>
                </tr>
            </tbody>
		</table>
	</div>
</div>


<div class="row">
    <div class="col l12 m12 s12 center pagination" [hidden]="locations.length == 0 || pagination.total <= queries.limit || loadingTable">
        <div class="inline-block">
            <button class="btn blue" (click)="pageChange('prev')" [disabled]="pagination.currentPage == 1"> Prev </button>
        </div>

        <div class="inline-block select">
            <select class="" #selectPage ngModel [(ngModel)]="pagination.currentPage" (change)="pageChange(selectPage.value)">
                <option *ngFor="let sel of pagination.selection" value="{{sel.number}}">{{sel.number}}</option>
            </select>
        </div>

        <div class="inline-block">
            <button class="btn blue" (click)="pageChange('next')" [disabled]="pagination.pages == pagination.currentPage" > Next </button>
        </div>
    </div>
</div>

<div preloader></div>

<div id="modalArchive" class="modal">
	<div class="modal-content center" [hidden]="!modalArchive.loader">
		<div class="preloader-wrapper active">
			<div class="spinner-layer spinner-red-only">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div><div class="gap-patch">
					<div class="circle"></div>
				</div><div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-content" [hidden]="modalArchive.loader">
		<h5>Confirmation</h5>

		<h5 *ngIf="selectedArchive.length == 0">No location selected</h5>
		<div *ngIf="selectedArchive.length > 0">
			<p style="font-size: 16px;" *ngIf="!paramArchived">
				Are you sure you want archive location : {{selectedArchive.name}}?
			</p>
            <p style="font-size: 16px;" *ngIf="paramArchived">
                Are you sure you want restore location : {{selectedArchive.name}}?
            </p>
		</div>
	</div>
	<div class="modal-footer" [hidden]="modalArchive.loader">
		<a  class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
		<a  *ngIf="selectedArchive.length  > 0" class="waves-effect waves-blue btn-flat" (click)="archiveClick()">
            <span *ngIf="!paramArchived">Archive</span>
            <span *ngIf="paramArchived">Restore</span>
        </a>
	</div>
</div>


<div id="modalArchiveBulk" class="modal">
	<div class="modal-content center" [hidden]="!modalArchiveBulk.loader">
		<div class="preloader-wrapper active">
			<div class="spinner-layer spinner-red-only">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div><div class="gap-patch">
					<div class="circle"></div>
				</div><div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-content" [hidden]="modalArchiveBulk.loader">
		<h5>Confirmation</h5>

		<h5 *ngIf="arraySelectedLocs.length == 0">No location selected</h5>
		<div *ngIf="arraySelectedLocs.length > 0">
			<p style="font-size: 16px;" *ngIf="!paramArchived">
				Are you sure you want archive the following location?
			</p>
            <p style="font-size: 16px;" *ngIf="paramArchived">
                Are you sure you want restore the following location?
            </p>
			<ul>
				<li *ngFor="let loc of arraySelectedLocs;">
					<span>{{loc.name}}</span>
				</li>
			</ul>
		</div>
	</div>
	<div class="modal-footer" [hidden]="modalArchiveBulk.loader">
		<a  class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
        <a  *ngIf="arraySelectedLocs.length > 0" class="waves-effect waves-blue btn-flat" (click)="bulkArchiveClick()">
            <span *ngIf="!paramArchived">Archive</span>
            <span *ngIf="paramArchived">Restore</span>
        </a>
	</div>
</div>


<div id="modalWardenBenchmarkCalc" class="modal">
    <div class="modal-content" >
    	<app-warden-benchmarking [location_id]=locationToApplyActionTo></app-warden-benchmarking>
    </div>
</div>

<div id="modalAddNewTenant" class="modal">
	<div class="modal-content" [hidden]="!showModalNewTenantLoader">
		<div class="center-align">
			<div class="preloader-wrapper active" >
				<div class="spinner-layer spinner-red-only">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div><div class="gap-patch">
						<div class="circle"></div>
					</div><div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal-content" [hidden]="showModalNewTenantLoader">

		<h5>Add New Tenant </h5>
		<h6><span *ngIf="selectedLocation.name.length > 0">{{selectedLocation.name}}</span>  <span *ngIf="selectedLocation.name.length == 0">{{selectedLocation.formatted_address}}</span> </h6>

        <h6 [hidden]="!showLoadingSublocations">Fetching locations...</h6>

		<form #formAddTenant="ngForm" (submit)="submitNewTenant(formAddTenant)" [hidden]="showLoadingSublocations">

			<div class="row">
				<div class="col l12 m12 s12">
					<div class="select-field"  >
						<select ngModel name="location_id" class="location-id"  required>
							<option value="0" disabled>Select Location</option>
							<option *ngFor="let sub of selectedLocation.sublocations;" [value]="sub.location_id" >{{sub.name}}</option>
						</select>
						<!-- <label class="select-label">Select Sub Location</label> -->
					</div>
					<div class="input-field">
	          			<input id="company_name" type="text" name="account_name" ngModel required>
						<label for="company_name">Tenancy Name</label>
					</div>


					<div class="input-field" >
						<input id="key_contact_name" type="text" name="key_contact_name" ngModel required>
						<label for="key_contact_name"> Name </label>
					</div>

					<div class="input-field" >
						<input id="key_contact_lastname" type="text" name="key_contact_lastname" ngModel required>
						<label for="key_contact_lastname"> Last Name </label>
					</div>

					<div class="input-field">
						<input id="email" type="email" name="email" ngModel #email="ngModel" email pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required>
						<label for="email">Email
						<small *ngIf=" !email.valid && email.dirty ">Invalid email address</small>
					    <span *ngIf="emailTaken" email-taken class="red-text"> *Email taken </span>
						</label>
					</div>

                <!--

					<div class="input-field">
	                  	<input id="company_name" type="text" name="account_name" ngModel required>
						<label for="company_name">Tenancy Name</label>
					</div>

					<div class="input-field" >
						<input id="key_contact" type="text" name="key_contact" ngModel required>
						<label for="key_contact"> Key Contact </label>
					</div>

					<div class="input-field">
						<input id="building_number" type="text" name="building_number" ngModel required>
						<label for="building_number">Building Number</label>
					</div>

					<div class="input-field">
						<input id="street" type="text" name="billing_street" ngModel required>
						<label for="street">Street</label>
					</div>

					<div class="input-field">
						<input id="city" type="text" name="billing_city" ngModel required >
						<label for="city">City</label>
					</div>

					<div class="input-field" >
						<input id="state" type="text" name="billing_state" ngModel required>
						<label for="state">State</label>
					</div>

					<div class="input-field">
						<input id="postal_code" type="text" name="billing_postal_code" ngModel required>
						<label for="postal_code">Postal Code</label>
					</div>

					<div class="select-field"  >
						<select ngModel  name="billing_country" class="billing-country" required>
							<option *ngFor="let country of countries;" [value]="country.abbr" >{{country.name}}</option>
						</select>
						<label class="select-label">Country</label>
					</div>

					<div class="select-field" >
						<select ngModel  name="time_zone" class="time-zone" required>
							<option *ngFor="let timezone of timezones" [value]="timezone.abbr"  >{{timezone.text}}</option>
						</select>
						<label class="select-label">Time-Zone</label>
					</div>

					<div class="input-field">
						<input id="domain" type="text" name="account_domain" ngModel required pattern="^(([a-zA-Z]{1})|([a-zA-Z]{1}[a-zA-Z]{1})|([a-zA-Z]{1}[0-9]{1})|([0-9]{1}[a-zA-Z]{1})|([a-zA-Z0-9][a-zA-Z0-9-_]{1,61}[a-zA-Z0-9]))\.([a-zA-Z]{2,6}|[a-zA-Z0-9-]{2,30}\.[a-zA-Z]{2,3})$">
						<label for="domain">Account Domain name</label>
					</div>
                -->
				</div>
			</div>

			<div class="row">
				<div class="col l12 m12 s12">
					<div class="button-container right-align" >
						<a  class="modal-action modal-close waves-effect waves-light btn grey lighten-1 btn-flat">Cancel</a>
			    		<button type="submit" class="waves-effect waves-light btn orange btn-flat" [disabled]="!formAddTenant.valid">Submit</button>
					</div>
				</div>
			</div>

		</form>


	</div>
</div>


<div id="modalAddNewTenant" class="modal">
    <div class="modal-content" [hidden]="!showModalNewTenantLoader">
        <div class="center-align">
            <div class="preloader-wrapper active" >
                <div class="spinner-layer spinner-red-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalWardenList">
    <div class="modal-content">
        <h5 *ngIf="viewWardens.length == 0">No warden</h5>
        
        <h5 *ngIf="viewWardens.length > 0"> Wardens </h5>
        <ol style="max-height: 400px; overflow: auto;">
            <li *ngFor="let warden of viewWardens" style="font-size: 17px; margin: 10px 0px;">
                {{warden.first_name}} {{warden.last_name}} <small class="grey-text">{{warden.role_name}}</small>
            </li>
        </ol>
        
        <div class="modal-footer">
            <button class="btn grey modal-close">Close</button>
        </div>
    </div>
</div>