<app-navbar></app-navbar>
<div class="location-navigation">
	<ul>

		<li class="add-location pink-theme  ">
			<a href="javascript:void(0)">
				<img src="assets/images/locations/add_location.png" class="default">
				<img src="assets/images/locations/add_location_hover.png" class="hover">
				<span>
					Add new location
				</span>
			</a>
		</li>
		
		<li class="view-location green-theme">
			<a href="javascript:void(0)">
				<img src="assets/images/locations/view_all_location.png" class="default">
				<img src="assets/images/locations/view_all_locations_hover.png" class="hover">
				<span>
					View location
				</span>
			</a>
		</li>

	</ul
></div>
<div class="workspace container">
	<div class="row">
		<div class="col m12">
			<h5 class="text">{{accountData.account_name}}</h5>
		</div>
	</div>
	<div class="row">
		<div class="col m12 s12">
			
			<table class="highlight striped bordered">
				<thead>
					<tr class="grey darken-4 white-text">
						<th>Location Name</th>
						<th>No. of Locations</th>
						<th>Level Occupied</th>
						<th>FRP</th>
						<th>Compliance</th>
						<th>Wardens from Tenancy</th>
						<th>Mobility Impaired</th>
						<th>Activity</th>
						<th>Manage</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngIf="locations.length == 0">
						<td colspan="9" class="center-align">
							<h6>No records yet</h6>
						</td>
					</tr>
					<tr *ngFor="let location of locations">
						<td class="location-name">
							<img src="assets/images/locations/single_location_icon.png"  >
							{{location.name}}
						</td>
						<td>
							{{location.no_locations}}
						</td>
						<td>
							{{location.level_occupied}}
						</td>
						<td>
							<span *ngIf="location.frp.length == 0">Unknown</span>
							<span *ngFor="let frp of location.frp"> {{frp.first_name}} {{frp.last_name}} </span>
						</td>
						<td class="compliance">
							<div class="percent">0%</div>
							<div class="bar"></div>
						</td>
						<td>
							{{location.overall_warden_count}}
						</td>
						<td>
							{{location.overall_impaired}}
						</td>
						<td>
							<a href="javascript:void(0)">View History</a>
						</td>
						<td>
							<a [routerLink]="['/view-location/', location.location_id ]">Details</a>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>

<div preloader></div>

