.location-navigation{
	border-bottom: 1px solid #ddd;
}

.location-navigation ul{
	margin: 0px;
}

.location-navigation ul li{
	display: inline-block;
	padding: 20px;
	cursor: pointer;
	height: 70px;
	margin-right: -4px;
}

.location-navigation ul li img{
	vertical-align: middle;
	display: none;
}

.location-navigation ul li img.default{
	display: inline-block;
}

.location-navigation ul li:hover img.default{
	display: none;
}

.location-navigation ul li:hover img.hover,
.location-navigation ul li.active img.hover{
	display: inline-block;
}

.location-navigation ul li.active img.default{
	display: none;
}

.location-navigation ul li.green-theme:hover,
.location-navigation ul li.green-theme.active{
	background-color: #36bb9b;
}

.location-navigation ul li.green-theme.active a,
.location-navigation ul li.green-theme:hover a{
	color: #fff;
}

.location-navigation ul li.green-theme{
	border-bottom: 1px solid #36bb9b;
}

.location-navigation ul li.green-theme:hover{
	border-bottom: 2px solid #36bb9b;
}

.location-navigation ul li.pink-theme:hover,
.location-navigation ul li.pink-theme.active{
	background-color: #dc4453;
}

.location-navigation ul li.pink-theme.active a,
.location-navigation ul li.pink-theme:hover a{
	color: #fff;
}

.location-navigation ul li.pink-theme:hover{
	border-bottom: 2px solid #dc4453;
}

.location-navigation ul li.active.pink-theme,
.location-navigation ul li.active.pink-theme a{
	background-color: #dc4453;
	color: #fff;
}

.location-navigation ul li.pink-theme{
	border-bottom: 1px solid #dc4453;
}

.location-navigation a{
	color: #545454;
	font-size: 16px;
}


thead th{
	border-radius: 0px;
	font-weight: normal;
	background-color: #3d3d3d !important;
	padding: 10px;
	font-size: 14px;
}

table.bordered>thead>tr,
table.bordered>tbody>tr {
    border-bottom: 1px solid #d3d3d3;
}

table tr td{
	padding: 10px;
	font-size: 14px;
	line-height: 27px;
}

table tr td:last-child{
	
}

table tr td a:hover{
	text-decoration: underline;
}

table tr td .circle-initial{
	float: left;
    width: 30px;
    height: 30px;
    background-color: #36bb9b;
    line-height: 30px;
    border-radius: 30px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-right: 8px;
}

table tr td.location-name img{
	vertical-align: middle;
    margin-right: 5px;
}

table tr td.location-name .circle{
	vertical-align: middle;
    margin-right: 5px;
}

table tr td .btn{
	font-size: 12px !important;
    padding: 0px 10px;
    max-height: 30px;
    line-height: 29px;
}

table tr td .checkbox{
    margin: 0px 10px;
}

table tr td .checkbox[type="checkbox"] + label{
    color: #333;
    padding-left: 15px;
	height: 15px;
}

table tr td .checkbox[type="checkbox"].filled-in:not(:checked) + label:after {
    background-color: #fff;
    border: 1px solid #aaaaaa;
}

table tr td .image-container{
	width: 50px;
    height: 50px;
	display: inline-block;
  	text-align: center;
  	vertical-align: middle;
  	background-color: #fff;
    border-radius: 30px;
    margin: 0px 10px;
    overflow: hidden;
    position: relative;
}

table tr td img{
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

table tbody tr td.with-bar .text{
    color: #F44336;
    margin-right: 12px;
}

table tbody tr td.with-bar .text,
table tbody tr td.with-bar .progress-container{
    display: inline-block;
}

table tbody tr td.with-bar .progress-container{
    width: 60%;
}

table tbody tr td .progress-container p{
    margin: -1px 0px;
    font-size: 12px;
    color: #333;
}

table tbody tr td .progress{
    position: relative;
    height: 10px;
    display: block;
    width: 100%;
    background-color: rgba(246, 218, 218, 1);
    border-radius: 2px;
    margin: 0px;
    overflow: hidden;
}

table tbody tr td .progress.green-theme{
    background-color: rgba(76, 175, 80, 0.17) !important;    
}

table tbody tr td .progress .determinate{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #cb0d20;
    transition: width .3s linear;
}

table tbody tr td .progress.green-theme .determinate{
    background-color: #4CAF50;
}

.compliance .percent,
.compliance .bar {
	display: inline-block;
    color: #b71928;
    font-size: 14px;
}

.compliance .percent{
	width: 35px;
	text-align: center;
}

.compliance .bar{
	background-color: #b71928;
    width: 60%;
    height: 11px;
}

.filter-container > .col{
	height: 50px !important;
}

.filter-container .add-peep .image{
	background: url(/assets/images/team_icons.png) no-repeat;
    width: 35px;
    height: 35px;
    background-position: 18% 36%;
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
}

.filter-container .btn{
	width: 100%;
    padding: 0px;
    height: 50px !important;
}

.filter-container .search-field{
	background-color: #f0f0f0;
    padding: 0px 20px;
    border-radius: 5px;
    height: 50px;
    vertical-align: bottom;
    position: relative;
}

.filter-container .search-field input{
	margin: 3px 14px 0px 0px !important;
    padding: 0px;
    display: inline-block;
    width: 90%;
    border-bottom: 0px;
}

.filter-container .search-field input:focus{
	border-bottom: 0px;
    box-shadow: none;
}

.filter-container .search-field .material-icons{
	width: 23px;
    height: 27px;
    background-position: 30.5% 35.7%;
    position: absolute;
    top: 29%;
    right: 4%;
}

.inline-block{
	display: inline-block;
}

.switch{
    width: 110px;
    position: relative;
    margin: 0 auto;
    height: 36px;
}

.switch input[type="checkbox"]{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    pointer-events: visible;
    z-index: 4;
}

.switch .background{
    background-color: #505050;
    border-radius: 5px;
    padding: 5px;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.switch .yes,
.switch .no{
    font-size: 14px;
    color: #fff;
    z-index: 3;
    position: absolute;
}

.switch .yes{
    top: 18%;
    left: 16%;
}

.switch .no{
    top: 16%;
    right: 16%;
}

.switch .highlight{
    position: absolute;
    top: 14%;
    padding: 5px;
    border-radius: 3px;
    background-color: #39a1ff;
    z-index: 2;
    height: 72%;
    width: 35%;
    transition: all 0.4s;
}

.switch input[type="checkbox"]:not(:checked) + .yes + .no + .highlight{
    right: 8%;
}

.switch input[type="checkbox"]:checked + .yes + .no + .highlight{
    right: 56%;
}

.right.table-align{
	display: table;
}

.right.table-align > *{
	display: table-cell;
	vertical-align: middle;
}

.medium-text{
	font-size: 15px;
    display: table-cell;
    vertical-align: middle;
    padding: 0px 10px;
}


.archived{
	font-size: 15px;
    color: #4f4f4f;
}

.archived:hover{
	color: #39a1ff;
}

.archived .image{
	background: url(/assets/images/team_icons.png) no-repeat;
    width: 23px;
    height: 27px;
    background-position: 30.5% 35.7%;
    vertical-align: middle;
    display: inline-block;
}

.right.table-align .archived{
	padding: 0px 0px 0px 30px;
}

td.select-blue{
	width: 100px;
}

.location-name-link{
    color: rgba(0,0,0,0.87) !important;
}

#modalArchiveBulk,
#modalArchive,{
    width: 35%;
}

#modalArchiveBulk ul li{
    font-size: 14px;
}

#modalWardenBenchmarkCalc{
    top: 2% !important;
    max-height: 99% !important;
    width: 40% !important;
}

@media only screen and (max-width: 1400px) {
    #modalArchiveBulk,
    #modalArchive,
    #modalWardenBenchmarkCalc{
        width: 50% !important;
    }
}

@media only screen and (max-width: 1024px) {
    #modalArchiveBulk,
    #modalArchive,
    #modalWardenBenchmarkCalc{
        width: 60% !important;
    }
}

@media only screen and (max-width: 768px) {
    #modalWardenBenchmarkCalc{
        width: 98% !important;
    }
}

@media only screen and (max-width: 500px) {
    #modalArchiveBulk,
    #modalArchive{
        width: 90% !important;
    }
}

#modalAddNewTenant{
    top: 1% !important;
    max-height: 95%;
    width: 35%;
}

@media only screen and (max-width: 1400px) {
    #modalAddNewTenant{
        width: 50% !important;
    }
}

@media only screen and (max-width: 1024px) {
    #modalAddNewTenant{
        width: 75% !important;
    }
}

@media only screen and (max-width: 500px) {
    #modalAddNewTenant{
        width: 95% !important;
    }
}

.btn{
    font-size: 15px !important;
    line-height: 45px;
}

.progress.fetching{
    width: 50% !important;
    display: block !important;
    margin: 0px auto !important;
    background-color: rgba(0,0,0,0.1) !important;
    height: 5px !important;
}

.progress.fetching .indeterminate {
    background-color: #39a1ff;
}

.inline-block{
    display: inline-block;
}

.pagination button{
    display: inline-block;
    font-size: 14px !important;
    padding: 0px 20px !important;
    height: 40px !important;
    vertical-align: inherit;
    line-height: 40px;
}

.pagination select:not(.to-materialize){
    display: inline-block;
    font-size: 14px !important;
    padding: 0px 20px !important;
    height: 40px !important;
}

.pagination .select{
    margin: 0px 10px;
}