.location-navigation{
	border-bottom: 1px solid #ddd;
}

.location-navigation ul{
	margin: 0px;
}

.location-navigation ul li{
	display: inline-block;
	padding: 20px;
	cursor: pointer;
	height: 70px;
	margin-right: -4px;
}

.location-navigation ul li img{
	vertical-align: middle;
	display: none;
}

.location-navigation ul li img.default{
	display: inline-block;
}

.location-navigation ul li:hover img.default{
	display: none;
}

.location-navigation ul li:hover img.hover,
.location-navigation ul li.active img.hover{
	display: inline-block;
}

.location-navigation ul li.active img.default{
	display: none;
}

.location-navigation ul li.green-theme:hover,
.location-navigation ul li.green-theme.active{
	background-color: #36bb9b;
}

.location-navigation ul li.green-theme.active a,
.location-navigation ul li.green-theme:hover a{
	color: #fff;
}

.location-navigation ul li.green-theme{
	border-bottom: 1px solid #36bb9b;
}

.location-navigation ul li.green-theme:hover{
	border-bottom: 2px solid #36bb9b;
}

.location-navigation ul li.pink-theme:hover,
.location-navigation ul li.pink-theme.active{
	background-color: #dc4453;
}

.location-navigation ul li.pink-theme.active a,
.location-navigation ul li.pink-theme:hover a{
	color: #fff;
}

.location-navigation ul li.pink-theme:hover{
	border-bottom: 2px solid #dc4453;
}

.location-navigation ul li.active.pink-theme,
.location-navigation ul li.active.pink-theme a{
	background-color: #dc4453;
	color: #fff;
}

.location-navigation ul li.pink-theme{
	border-bottom: 1px solid #dc4453;
}

.location-navigation a{
	color: #545454;
	font-size: 16px;
}


thead th{
	border-radius: 0px;
	font-weight: normal;
	background-color: #3d3d3d !important;
	padding: 10px;
	font-size: 14px;
}

table.bordered>thead>tr,
table.bordered>tbody>tr {
    border-bottom: 1px solid #d3d3d3;
}

table tr td{
	border-left: 1px solid #d3d3d3;
	padding: 10px;
	font-size: 14px;
	line-height: 27px;
}

table tr td:last-child{
	border-right: 1px solid #d3d3d3;
}

table tr td a:hover{
	text-decoration: underline;
}

table tr td .circle-initial{
	float: left;
    width: 30px;
    height: 30px;
    background-color: #36bb9b;
    line-height: 30px;
    border-radius: 30px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-right: 8px;
}

table tr td.location-name img{
	vertical-align: middle;
    margin-right: 5px;
}

table tr td.location-name .circle{
	vertical-align: middle;
    margin-right: 5px;
}

table tr td .btn{
	font-size: 12px !important;
    padding: 0px 10px;
    max-height: 30px;
    line-height: 12px;
}

table tr td .checkbox{
    margin: 0px 10px;
}

table tr td .checkbox[type="checkbox"] + label{
    color: #333;
    padding-left: 15px;
	height: 15px;
}

table tr td .checkbox[type="checkbox"].filled-in:not(:checked) + label:after {
    background-color: #fff;
    border: 1px solid #aaaaaa;
}

table tr td .image-container{
	width: 50px;
    height: 50px;
	display: inline-block;
  	text-align: center;
  	vertical-align: middle;
  	background-color: #fff;
    border-radius: 30px;
    margin: 0px 10px;
    overflow: hidden;
    position: relative;
}

table tr td img{
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.compliance .percent,
.compliance .bar {
	display: inline-block;
    color: #b71928;
    font-size: 14px;
}

.compliance .percent{
	width: 35px;
	text-align: center;
}

.compliance .bar{
	background-color: #b71928;
    width: 60%;
    height: 11px;
}

.filter-container > .col{
	height: 50px !important;
}

.filter-container .add-peep .image{
	background: url(/assets/images/team_icons.png) no-repeat;
    width: 35px;
    height: 35px;
    background-position: 18% 36%;
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
}

.filter-container .btn{
	width: 100%;
    padding: 0px;
    height: 50px !important;
}

.filter-container .search-field{
	background-color: #f0f0f0;
    padding: 0px 20px;
    border-radius: 5px;
    height: 50px;
    vertical-align: bottom;
    position: relative;
}

.filter-container .search-field input{
	margin: 3px 14px 0px 0px !important;
    padding: 0px;
    display: inline-block;
    width: 90%;
    border-bottom: 0px;
}

.filter-container .search-field input:focus{
	border-bottom: 0px;
    box-shadow: none;
}

.filter-container .search-field .material-icons{
	width: 23px;
    height: 27px;
    background-position: 30.5% 35.7%;
    position: absolute;
    top: 29%;
    right: 4%;
}

.inline-block{
	display: inline-block;
}