<div class="workspace container">
	<div class="row">
		<div class="col l2 m2 s12 left-part">

			<div class="row left-box-container">
                <div class="col l12 m12 s12" *ngIf="isTrp == true && isFrp == false">
                    <div class="manage-compliance">
                        <h5 class="center compliacne-rating">Compliance Rating</h5>
                        <div id="specificChart" class="donut-size">
                            <div class="pie-wrapper">
                                <span class="label">
                                    <span class="num"> 00 </span><span class="smaller">%</span>
                                </span>
                                <div class="pie">
                                    <div class="left-side half-circle" ></div>
                                    <div class="right-side half-circle" ></div>
                                </div>
                                <div class="shadow"></div>
                            </div>
                        </div>
                        <p class="completion">
                            <span class="start">0 </span>
                            <span>of </span>
                            <span class="end">0 </span>
                            <span class="end">completion</span>
                        </p>
                        <h5 *ngIf="locationData.admin_verified == 0" class="red-text center">For Verification</h5>
                        <a *ngIf="locationData.admin_verified == 1" class="btn red waves-effect waves-light darken-3" [routerLink]="['/location/compliance/view',  encryptedID]" >Manage Compliance</a>
                    </div>
                </div>
				<div class="col m12 s12">
					<div class="box">
						<div class="title-wrapper">
							Evacuation Diagram
						</div>
						<div class="content">
							<button class="btn waves-effect waves-light orange">Upload Evacuation Diagram</button>
						</div>
					</div>
				</div>
				<div class="col m12 s12">
					<div class="box">
						<div class="title-wrapper">
							Siblings
						</div>
						<div class="content">
                            <h6 class="center" *ngIf="parentData.sublocations.length == 0">No Siblings</h6>
							<ul class="sub-list" *ngIf="parentData.sublocations.length > 0">
								<li *ngFor="let location of parentData.sublocations"
								[ngClass]="{active : encryptDecrypt.decrypt(location.location_id) == locationID}">
									<a [routerLink]="['/location', 'view-sublocation', location.location_id]">{{ location.name }}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="col l10 m10 s12 right-part">

			<div class="row">
				<div class="col l12 m12 s12" style="margin-bottom: 40px;">
					<div class="details-container left">
						<div class="inline-block image-wrapper">
							<div class="image-container">
								<div class="image">
									<img src="assets/images/locations/default_profile_location.png" alt="" *ngIf="!locationData.google_photo_url">
									<img src="{{locationData.google_photo_url}}" alt="" *ngIf="locationData.google_photo_url">
								</div>
							</div>
						</div>
						<div class="inline-block details">
							<table class="no-borders">
								<tr>
									<td><h5> <span *ngIf="parentData.name.length > 0">{{parentData.name}},</span> {{locationData.name}} </h5></td>
								</tr>
								<tr>
									<td>{{locationData.formatted_address}}</td>
								</tr>

								<!-- <tr>
									<td>Region : N/A</td>
								</tr> -->

							</table>
						</div>
					</div>

					<div class="right">
						<div class="right-align" >
							<!-- <h5 class="medium-text">Show only not compliant</h5>
							<div class="switch">
								<input type="checkbox" id="override">
								<div class="yes">Yes</div>
								<div class="no">No</div>
								<div class="highlight"></div>
								<div class="background"></div>
							</div> -->

							<a href="#" class="archived" [routerLink]="['/location/list']">
								<span class="image"></span>
								View Archive
							</a>
						</div>

						<a class="btn grey waves-effect waves-light back-to-location right" [routerLink]="['/location', 'view', parentData.location_id]">
							Back to {{parentData.name}}
						</a>
					</div>

					<div style="clear: both;"></div>
				</div>

				<div class="col l12 m12 s12">
					<table class="highlight striped no-borders">
						<thead>
							<tr class="grey darken-4 white-text">
								<th>Tenants</th>
								<th>TRP</th>
								<!-- <th>Warden Benchmarking</th> -->
								<th>Wardens</th>
								<th>Wardens Trained</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngIf="tenants && tenants.length == 0">
								<td class="center" colspan="6">
									<strong>No tenants found</strong>
								</td>
							</tr>
							<tr *ngFor="let tenant of tenants">
								<td>
									{{tenant.account_name}}
								</td>
								<td>
                  <span *ngFor="let t of tenant['trp']">
                      {{ t }}
                  </span>
								</td>
                <!--
                <td>
									{{tenant.warden_benchmarking}}
                </td>
              -->
								<td>
									{{tenant.total_wardens}}
								</td>
								<td class="with-bar">
									<div class="text">{{tenant.trained_wardens.percentage}}</div>
									<div class="progress-container">
										<div class="progress">
									    	<div class="determinate" [ngStyle]="{'width': tenant.trained_wardens.percentage}"></div>
										</div>
									</div>
								</td>
								<td class="select-blue">
									<select>
										<option value="0">Manage</option>
										<option value="archive">Archive</option>
									</select>
								</td>
							</tr>
							<tr>
								<td colspan="6" class="btn-block-holder">
									<a class="btn blue waves-effect waves-light" (click)="addNewTenantClickEvent()">+ Add new tenant</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>
</div>


<div id="modalArchive" class="modal">
	<div class="modal-content">
		<div class="center-align" *ngIf="showLoaderModalSublocation">
			<div class="preloader-wrapper active" >
				<div class="spinner-layer spinner-red-only">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div><div class="gap-patch">
						<div class="circle"></div>
					</div><div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="center" *ngIf="errorMessageModalSublocation.length > 0 && !showLoaderModalSublocation">
			<h4>{{errorMessageModalSublocation}}</h4>
		</div>

		<div class="center-align" *ngIf="errorMessageModalSublocation.length == 0 && !showLoaderModalSublocation">
			<h5>Are you sure you want to archive this '{{selectedLocationToArchive.name}}'</h5>
		</div>

		<div class="button-container center-align" *ngIf="!showLoaderModalSublocation">
			<a href="javascript:void(0)" class="modal-action modal-close waves-effect waves-light btn grey lighten-1 btn-flat">Cancel</a>
    		<button class="waves-effect waves-light btn orange btn-flat" (click)="onClickYesArchive()">Yes</button>
		</div>

	</div>
</div>


<div id="modalAddNewTenant" class="modal">
	<div class="modal-content" *ngIf="showModalNewTenantLoader">
		<div class="center-align">
			<div class="preloader-wrapper active" >
				<div class="spinner-layer spinner-red-only">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div><div class="gap-patch">
						<div class="circle"></div>
					</div><div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal-content" *ngIf="!showModalNewTenantLoader">

		<h5>Add New Tenant </h5>
		<h6><span *ngIf="parentData.name.length > 0">{{parentData.name}},</span> {{locationData.name}}</h6>

		<form #formAddTenant="ngForm" (submit)="submitNewTenant(formAddTenant)">

			<div class="row">
				<div class="col l12 m12 s12">
					<div class="input-field">
	          <input id="company_name" type="text" name="account_name" ngModel required>
						<label for="company_name">Tenancy Name</label>
					</div>
          <div>
            <h5>Tenancy Contact</h5>
          </div>
          <div class="input-field" >
						<input id="key_contact_name" type="text" name="key_contact_name" ngModel required>
						<label for="key_contact_name"> Name </label>
					</div>

					<div class="input-field" >
						<input id="key_contact_lastname" type="text" name="key_contact_lastname" ngModel required>
						<label for="key_contact_lastname"> Last Name </label>
					</div>

					<div class="input-field">
						<input id="email" type="text" name="email" ngModel required>
						<label for="email">Email</label>
					</div>

          <!--
					<div class="input-field" >
						<input id="key_contact" type="text" name="key_contact" ngModel required>
						<label for="key_contact"> Key Contact </label>
					</div>

					<div class="input-field">
						<input id="building_number" type="text" name="building_number" ngModel required>
						<label for="building_number">Building Number</label>
					</div>

					<div class="input-field">
						<input id="street" type="text" name="billing_street" ngModel required>
						<label for="street">Street</label>
					</div>

					<div class="input-field">
						<input id="city" type="text" name="billing_city" ngModel required >
						<label for="city">City</label>
					</div>

					<div class="input-field" >
						<input id="state" type="text" name="billing_state" ngModel required>
						<label for="state">State</label>
					</div>

					<div class="input-field">
						<input id="postal_code" type="text" name="billing_postal_code" ngModel required>
						<label for="postal_code">Postal Code</label>
					</div>

					<div class="select-field"  >
						<select ngModel  name="billing_country" class="billing-country" required>
							<option *ngFor="let country of countries;" [value]="country.abbr" >{{country.name}}</option>
						</select>
						<label class="select-label">Country</label>
					</div>

					<div class="select-field" >
						<select ngModel  name="time_zone" class="time-zone" required>
							<option *ngFor="let timezone of timezones" [value]="timezone.abbr"  >{{timezone.text}}</option>
						</select>
						<label class="select-label">Time-Zone</label>
					</div>

					<div class="input-field">
						<input id="domain" type="text" name="account_domain" ngModel required pattern="^(([a-zA-Z]{1})|([a-zA-Z]{1}[a-zA-Z]{1})|([a-zA-Z]{1}[0-9]{1})|([0-9]{1}[a-zA-Z]{1})|([a-zA-Z0-9][a-zA-Z0-9-_]{1,61}[a-zA-Z0-9]))\.([a-zA-Z]{2,6}|[a-zA-Z0-9-]{2,30}\.[a-zA-Z]{2,3})$">
						<label for="domain">Account Domain name</label>
          </div>
        -->
				</div>
			</div>

			<div class="row">
				<div class="col l12 m12 s12">
					<div class="button-container right-align" >
						<a href="javascript:void(0)" class="modal-action modal-close waves-effect waves-light btn grey lighten-1 btn-flat">Cancel</a>
			    		<button type="submit" class="waves-effect waves-light btn orange btn-flat" [disabled]="!formAddTenant.valid">Submit</button>
					</div>
				</div>
			</div>

		</form>


	</div>
</div>
