<app-admin-account-info [accountId]="accountId"></app-admin-account-info>
<hr />
<h1>Users here</h1>

<div class="row">
  <div class="col  s12">
    <table class="table striped table-peep">
      <thead>
        <tr>
          <th><p class="checkbox">
            <input id="allUsers" class="filled-in" type="checkbox">
            <label for="allUsers">User Name</label>
          </p></th>

          <th>
            Location Name
          </th>
          <th>
            Email
          </th>
          <th>Mobile No.</th>
          <th>Account Role</th>
          <th>ECO Role</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userObjects">
          <td>{{user['first_name']}} {{user['last_name']}}</td>
          <td>
            <table class="table table-peep">
              <tr *ngFor="let loc of user['locations']">
                <td>{{loc['location-name']}} {{loc['location-parent']}}</td>
              </tr>
            </table>
          </td>
          <td>
            {{user['email']}}
          </td>
          <td>
            {{user['mobile_number']}}
          </td>
          <td>
            role
          </td>
          <td>
            eco role
          </td>
          <td>Actions</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
