.location-tabs{
	border-bottom: 1px solid #ddd;
}

.location-tabs ul{
	margin: 0px;
}

.location-tabs ul li{
	display: inline-block;
    margin-right: 45px;
    height: 50px;
    line-height: 50px;
}

.location-tabs ul li a{
	font-size: 16px;
	color: #262626;
}

.location-tabs ul li.active a,
.location-tabs ul li:hover a{
	color: #2196F3;
}

.location-tabs ul li.active{
	border-bottom: 1px solid #2196F3;
}

.form-search-container {
    margin: 20px 0px 0px 0px;
    background-color: #f4f4f4;
    padding: 20px;
    position: relative;
    height: 75px;
    border-radius: 10px;
}

.form-search-container .input-container {
    position: absolute;
    top: -2%;
    left: 25px;
    width: 95%;
}

.form-search-container .search-icon-container {
    position: absolute;
    top: 35%;
    right: 25px;
}

.form-search-container .input-container input{
    border-bottom: 0px;
    margin-bottom: 0px;
    font-size: 14px;
}

.form-search-container .input-container input::-webkit-input-placeholder {
    color: #262626 !important;
}

.form-search-container .input-container input:-moz-placeholder { /* Firefox 18- */
    color: #262626 !important;  
}

.form-search-container .input-container input::-moz-placeholder {  /* Firefox 19+ */
    color: #262626 !important;  
}

.form-search-container .input-container input:-ms-input-placeholder {  
    color: #262626 !important;  
}


.input-container input::-webkit-input-placeholder {
	color: #262626 !important;
}

.input-container input:-moz-placeholder { /* Firefox 18- */
	color: #262626 !important;  
}

.input-container input::-moz-placeholder {  /* Firefox 19+ */
	color: #262626 !important;  
}

.input-container input:-ms-input-placeholder {  
	color: #262626 !important;  
}

.title{
    font-size: 24px;
    color: #39a1ff;
    margin: 10px 0px;
}

.searched-message{
    font-size: 16px;
}

.row-list-result > .col{
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 10px;
}

.row-list-result .wrapper{
    position: relative;
}

.row-list-result .image-container{
    display: inline-block;
    width: 65px;
    vertical-align: middle;
    text-align: center;
}

.row-list-result .image-container img{
    max-width: 65px;
}

.row-list-result .details-container{
    display: inline-block;
    width: 400px;
    vertical-align: middle;
    padding-left: 10px;
}

.row-list-result .details-container h5{
    font-size: 22px;
    color: #39a1ff;
    margin: 0px;
}

.row-list-result .details-container p{
    font-size: 14px;
    margin: 10px 0px;
}

.row-list-result .button-container{
    vertical-align: middle;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 135px;
    text-align: right;
}

.row-list-result .button-container p{
    font-size: 13px;
    margin: 5px;
}

.row-list-result .button-container .btn{
    font-size: 13px !important;
    padding: 0px 20px;
    height: 32px !important;
    line-height: 13px;
}