.location-tabs{
	border-bottom: 1px solid #ddd;
}

.location-tabs ul{
	margin: 0px;
}

.location-tabs ul li{
	display: inline-block;
    margin-right: 45px;
    height: 50px;
    line-height: 50px;
}

.location-tabs ul li a{
	font-size: 16px;
	color: #262626;
}

.location-tabs ul li.active a,
.location-tabs ul li:hover a{
	color: #2196F3;
}

.location-tabs ul li.active{
	border-bottom: 1px solid #2196F3;
}

.row-region,
.row-main-address{
	margin-top: 20px;
}

.title{
	font-size: 28px;
    color: #39a1ff;
}

.radio-wrapper{
	margin-top: 30px;
}

.radio-container{
	display: inline-block;
	margin-right: 30px;
}

.select-wrapper input.select-dropdown{
	margin-bottom: 10px !important;
}

.submit-button-container{
	margin-top: 40px;
}