<div class="container-fluid">
	<div class="row">
		
		<div class="col l2 m4 s12 grey lighten-5 left-nav">
			
			<h5>My Location</h5>

			<div class="image-container grey">
				<img src="/assets/images/locations/default_profile_location.png" >
			</div>


			<div class="label-par">
				<label>Location</label>
				<p>Building Name</p>
			</div>


			<div class="buttons">
				
				<button class="btn orange waves-effect waves-light reassign">
					<div class="image"></div>
					<div class="text">Re assign to other location</div>
				</button>

				<button class="btn red accent-2 waves-effect waves-light peep">
					<div class="image"></div>
					<div class="text">Personal Emergency Evacuation Plan</div>
				</button>

			</div>

		</div>

		<div class="col l10 m8 s12 right-container">
			
			<h5>Location Information</h5>

			<div class="label-par">
				<label>Address</label>
				<p>111 Stree st. Village Ex City 2000 AU</p>
			</div>

			<div class="label-par">
				<label>Region</label>
				<p>N/A</p>
			</div>

			<div class="profile-pic-container">
				<p class="label">Floor Warden</p>
				
				<div class="pic-bg grey lighten-3">
					<img src="http://lorempixel.com/400/200" >
				</div>

				<div class="user-details">
					<h5>John Snow</h5>
					<label>Last Login 2 days ago</label>
				</div>
			</div>


		</div>

	</div>
</div>