<app-navbar></app-navbar>
<div class="shop-navigation">
	<ul class="left">
		<li class="compliance-package" [routerLink]="['/shop/compliance-package']">
			<div class="image"></div> Compliance Package
		</li>
		<li class="trainings-package" [routerLink]="['/shop/trainings-package']">
			<div class="image"></div> Trainings
		</li>
		<li class="evacuation-diagrams-package" [routerLink]="['/shop/evacuation-diagram-package']">
			<div class="image"></div> Evacuation Diagrams
		</li>
	</ul>
	<ul class="right">
		<li class="favorites">
			<div class="circle red" *ngIf="wishList.length > 0" >{{ wishList.length }}</div>
			<a href="#">
				<div class="image"></div> My Favorites
			</a>
		</li>
		<li class="cart" [routerLink]="['/shop/cart']">
			<div class="circle red" *ngIf="arrayCart.length > 0">{{ arrayCart.length }}</div>
			<div class="image"></div> Cart
		</li>
	</ul>
	<div style="clear: both;"></div>
</div>
<div class="workspace container">
	<router-outlet></router-outlet>
</div>
<div preloader></div>
