<div class="row">
    <div class="col l12" style="position: relative;">
        <h5 class="blue-text">Form List</h5>
        <div class="right-action-buttons">
            <button class="btn right orange" [routerLink]="['/admin/smart-form-builder']">Form Builder</button>
        </div>
    </div>
</div>


<div class="row">
    <div class="col l12">
        <table class="table striped">
            <thead>
                <tr>
                    <th>Form Name</th>
                    <th>Compliance Activity</th>
                    <th>Form User Type </th>
                    <th>Date Created</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="items.length == 0">
                    <td colspan="5" class="center">
                        No record found
                    </td>
                </tr>
                <tr *ngFor="let item of items">
                    <td>
                        {{item.name}}
                    </td>
                    <td>
                        {{item.compliance_activity}}
                    </td>
                    <td>
                        {{item.type}}
                    </td>
                    <td>
                        {{item.date_created_formatted}}
                    </td>
                    <td>
                        <select id="fb-actions_{{item['smart_form_id']}}" (change)="performActionPerFB($event, item['smart_form_id'])">
                            <option value="-1"  selected>Actions</option>
                            <option value="fb-preview">View Form</option>
                            <option value="fb-edit">Edit Form</option>
                            <option value="fb-delete">Delete Form</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Modals -->
<div id="modalConfirm" class="modal">
    <div class="modal-content">  
        <h4>Confirm delete form</h4>
        <p>Are you sure you want to delete this form?</p>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-gray btn-flat">Cancel</a>
        <a (click)="deleteSmartForm()" class="modal-action modal-close waves-effect waves-red blue btn-flat">Confirm</a>
    </div>
</div>

<div id="modalMessages" class="modal">
    <div class="modal-content">  
        <h4>{{modalHeader}}</h4>
        <p>{{modalMessage}}</p>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-gray btn-flat">Close</a>           
    </div>
</div>