<div class="row">
    <div class="col l12" style="position: relative;">
        <h5 class="blue-text">Form List</h5>
        <div class="right-action-buttons">
            <button class="btn right orange" [routerLink]="['/admin/smart-form-builder']">Form Builder</button>
        </div>
    </div>
</div>


<div class="row">
    <div class="col l12">
        <table class="table striped">
            <thead>
                <tr>
                    <th>Form Name</th>
                    <th>Compliance Activity</th>
                    <th>Form User Type </th>
                    <th>Date Created</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="items.length == 0">
                    <td colspan="4" class="center">
                        No record found
                    </td>
                </tr>
                <tr *ngFor="let item of items">
                    <td>
                        {{item.name}}
                    </td>
                    <td>
                        {{item.compliance_activity}}
                    </td>
                    <td>
                        {{item.type}}
                    </td>
                    <td>
                        {{item.date_created_formatted}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>