.signup-main-container,
.modal{
	font-family: 'Open Sans';
	font-size: 12px;
}

.background {
  background: url('/assets/images/login/login_banner.jpg') no-repeat fixed center center !important;
  background-size: cover;
  width: 100%;
  z-index: -1;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
}

