body {
  background: url('/assets/images/login/login_banner.jpg') no-repeat fixed center center !important;
  background-size: cover;
  font-family: 'Open Sans';
  font-size: 12px;
}

#modalSignup{
	width: 30%;
}

.modal{
	max-height: 90% !important;
}

.modal .modal-content {
    padding: 30px 0px;
}

.modal .modal-content .container{
	width: 85%;
}

.modal .modal-content .input-container{
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

.title{
	font-size: 24px;
    color: #39a1ff;
}

.please-fill-up{
	font-size: 16px;
	margin: 25px 0px 15px 0px !important;
}

.input-field label{
	font-size: 14px;
}

.input-field input{
	margin: 0 0 10px 0 !important;
	box-shadow: none !important;
}

.input-field label.active{
	color: #39a1ff !important;
}

.input-field input:focus{
	border-bottom: 1px solid #39a1ff !important;
    box-shadow: none !important;
}

.dropdown-content li>a, 
.dropdown-content li>span{
	font-size: 14px;
	color: #39a1ff;
}

.select-wrapper+label{
	top: -18px !important;
	font-size: 12px !important;
}

.modal .modal-content .input-container .btn{
	width: 100%;
	text-transform: none;
	text-decoration: none;
	height: 45px;
	font-size: 16px;
	border-radius: 5px;
}

.btn-submit,
.btn-submit:hover,
.btn-submit:active,
.btn-submit:focus{
	background-color: #f7941d;
	box-shadow: none !important;
}

.btn-close,
.btn-close:hover,
.btn-close:active,
.btn-close:focus{
	background-color: #ddd;
	box-shadow: none !important;
	color: #111;
}

@media only screen 
  and (max-width: 1024px){

	#modalSignup {
	    width: 95%;
	}

	.modal .modal-content {
	    padding: 20px 0px;
	}

	.input-field{
		width: 100%;
	}
}

@media only screen 
  and (max-width: 768px){
	
	.modal{
		max-height: 100% !important;
		overflow-y: none;
	}


	#modalSignup {
	    width: 95%;
	    margin-bottom: 100px;
	}

}