<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans">


<div id="modalSignup" class="modal">
	<div class="modal-content">
		
		<form  novalidate (ngSubmit)="signUpFormSubmit(formSignIn)" #formSignIn="ngForm"  >
			
			<div class="container">
				<div class="row">
					
					<div class="col m12 center-align">
						<h4 class="title">
							Welcome to EvacConnect Safety 
							<br>
							Management Tools
						</h4>
						<p class="center-align please-fill-up">
							Please fill up all fields and submit
						</p>
					</div>

					<div class="col m12">
						<div class="input-container">
							<div class="input-field col m12">
								<input id="first_name" type="text" ngModel name="first_name">
								<label for="first_name">First Name</label>
							</div>

							<div class="input-field col m12">
								<input id="last_name" type="text" ngModel name="last_name">
								<label for="last_name">Last Name</label>
							</div>

							<div class="input-field col m12">
								<input id="email" type="email" ngModel name="email">
								<label for="email">Email</label>
							</div>

							<div class="input-field col m12">
								<input id="password" type="password" ngModel name="password">
								<label for="password">Password</label>
							</div>

							<div class="input-field col m12">
								<input id="confirm_password" type="password" ngModel name="confirm_password">
								<label for="confirm_password">Confirm password</label>
							</div>

							<div class="select-field col m12 s12">
								<select ngModel name="account_type">
									<option value="" disabled selected>Please select account type</option>
								</select>
								<label class="select-label">Account Type</label>
							</div>
							
							<!--
							<div class="select-field col m12 s12">
								<select ngModel name="location">
									<option value="" disabled selected>Please select location</option>
								</select>
								<label class="select-label">Location</label>
							</div> -->

							<div class="input-field col m6">
								<button type="submit" class="btn block waves-effect waves-light btn-submit">Submit</button>
							</div>
							<div class="input-field col m6">
								<button class="btn block waves-effect waves-light btn-close">Close</button>
							</div>
						</div>
					</div>

				</div>
			</div>

		</form>

	</div>
</div>