<div class="inline-block left-panel">
	<div class="row">
		<div class="col l12 m12 s12">
			<h5>My Eco Role</h5>
			
			<div class="image-container">
				<!-- <div class="profile-warden"></div> -->
				<p class="initials">AA</p>
				<!-- <img src="/assets/images/signup/eco_icon.png"  > -->
			</div>

			<div class="name-container ">
				<h5 class="name blue-text">Warden</h5>
				<!-- <p>Last Login 0 day</p> -->
			</div>
		</div>	
	</div>
	<div class="row">
		<div class="col l12 m12 s12 location-div">
			<small>Location</small>
			<h5>Location Name</h5>
		</div>
	</div>

	<div class="bottom-buttons">
		<button class="btn orange waves-effect waves-light remove">
			<div class="image inline-block"></div>
			<div class="text inline-block">Request to be Warden</div>
		</button>

		<button class="btn pink waves-effect waves-light presonal-emergency">
			<div class="image inline-block"></div>
			<div class="text inline-block">Personal Emergency Evacuation Plan</div>
		</button>
	</div>
</div>
<div class="inline-block right-content">
	<div class="row">
		<div class="col s12 m12 l12 top-title-button">
			<h5 class="left">Team</h5>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m6 l6">
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Eco Role</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							Chief Warden Lastname
						</td>
						<td class="with-image">
							<div class="image white-hat"></div>
							<div class="text">Chief Warden</div>
						</td>
					</tr>
					<tr>
						<td>
							Deputy Chief Warden Lastname
						</td>
						<td class="with-image">
							<div class="image white-hat"></div>
							<div class="text">Deputy Chief Warden</div>
						</td>
					</tr>
					<tr>
						<td>
							Area Warden Lastname
						</td>
						<td class="with-image">
							<div class="image yellow-hat"></div>
							<div class="text">Area Warden</div>
						</td>
					</tr>
					<tr>
						<td>
							Warden Lastname
						</td>
						<td class="with-image">
							<div class="image red-hat"></div>
							<div class="text">Warden</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>