.my-compliance-container{
    position: relative;
    min-height: 500px;
}

.svg-container{
    width: 260px;
    height: 260px;
    font-family: 'Arial';
    margin: 0 auto;
}

svg{
    display: block;
    margin: 0 auto;
}

.display-table{
    display: table;
}

.font-size-16{
    font-size: 16px;
}

.font-size-20{
    font-size: 20px;
    line-height: 22px;
}

.cell{
    display: table-cell;
    vertical-align: middle;
    padding: 0px 10px;
}

.width100{
    width: 100%;
}

.margin-bottom-30{
    margin-bottom: 30px;
}

.compliance-title-container{
    padding: 30px;
}

.compliance-title-container .image{
    width: 70px;
    height: 70px;
    border-radius: 70px;

}

.compliance-title-container .text{
    font-size: 22px;
}

.compliance-validity-container .image{
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.compliance-validity-container .text{
    font-size: 16px;
}

.check{
    background: url(/assets/images/check_icon.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.expired{
    background: url(/assets/images/expired_icon.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.display-block{
    display: block !important;
}

.text-button-container > *{
    margin-bottom: 10px;
}

.table-container{
    padding: 20px;
    min-height: 490px;
}

.quick-links li .cell{
    width: 100%;
    padding: 0px;
}

.resources-container{
    border: 1px solid #ddd;
    padding: 10px;
}

.resources-container ul{
    margin: 0px;
}

.resources-container ul li{
    padding: 20px 0px;
}

.resources-container ul li:not(:last-child){
    border-bottom:  1px solid #ddd;
}

thead th{
    border-radius: 0px;
    font-weight: normal;
    background-color: #3d3d3d !important;
    padding: 10px;
    font-size: 16px;
}

table.bordered>thead>tr,
table.bordered>tbody>tr {
    border-bottom: 1px solid #d3d3d3;
}

table tr td{
    padding: 10px;
    font-size: 16px;
    line-height: 27px;
    border-bottom: 1px solid #d3d3d3;
}

table tr td a:hover{
    text-decoration: underline;
}

table tr td .btn{
    font-size: 14px !important;
    padding: 0px 10px;
    max-height: 30px;
    line-height: 12px;
}

.list-border-bottom-grey li{
    border-bottom:  1px solid #ddd;
    padding: 5px;
}

.my-trainings li .image{
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.black-arrow-right{
    height: 25px;
    width: 25px;
    color: #fff;
    background-color: #3c3a3a;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}


/* PIE */
.donut-size {
    font-size: 13em;
}

.pie-wrapper {
    position: relative;
    width: 1em;
    height: 1em;
    margin: 0px auto;
}

.pie-wrapper .pie {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    clip: rect(0, 1em, 1em, 0.5em);
}

.pie-wrapper .half-circle {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 0.1em solid #0089ec;
    border-radius: 50%;
    clip: rect(0em, 0.5em, 1em, 0em);
}

.pie-wrapper .right-side {
    transform: rotate(0deg);
}

.pie-wrapper .label {
    position: absolute;
    top: 0.51em;
    right: 0.4em;
    bottom: 0.4em;
    left: 0.7em;
    display: block;
    background: none;
    border-radius: 50%;
    color: #343434;
    font-size: 0.25em;
    line-height: 2.9em;
    text-align: center;
    cursor: default;
    z-index: 2;
}

.pie-wrapper .smaller {
    color: #343434;
    font-size: .45em;
    vertical-align: top;
}

.pie-wrapper .shadow {
    width: 100%;
    height: 100%;
    border: 0.1em solid #e0e5e8;
    border-radius: 50%;
}

.account-trainings-container{
    width: 100%;
}

.loader-div{
    width: 80px;
    margin: 0px auto;
    display: block;
}

.progress.fetching{
    width: 50% !important;
    display: block !important;
    margin: 0px auto !important;
    background-color: rgba(0,0,0,0.1) !important;
    height: 5px !important;
}

.progress.fetching .indeterminate {
    background-color: #39a1ff;
}

table tbody tr td.with-bar{
    width: 20%;
}

table tbody tr td.with-bar .text{
    color: #3d3d3d;
    margin-right: 2px;
    font-size: 13px;
    width: 25px;
    text-align: right;
}

table tbody tr td.with-bar .text,
table tbody tr td.with-bar .progress-container{
    display: inline-block;
}

table tbody tr td.with-bar .progress-container{
    width: 70%;
}

table tbody tr td .progress-container p{
    margin: -1px 0px;
    font-size: 12px;
    color: #333;
}

table tbody tr td .progress{
    position: relative;
    height: 10px;
    display: block;
    width: 100%;
    background-color: #e0e5e8;
    border-radius: 2px;
    margin: 0px;
    overflow: hidden;
}

table tbody tr td .progress.green-theme{
    background-color: rgba(76, 175, 80, 0.17) !important;    
}

table tbody tr td .progress .determinate{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #0089ec;
    transition: width .3s linear;
}

table tbody tr td .progress.green-theme .determinate{
    background-color: #4CAF50;
}

.inline-block{
    display: inline-block;
}

.pagination button{
    display: inline-block;
    font-size: 14px !important;
    padding: 0px 20px !important;
    height: 40px !important;
    vertical-align: inherit;
    line-height: 40px;
}

.pagination select:not(.to-materialize){
    display: inline-block;
    font-size: 14px !important;
    padding: 0px 20px !important;
    height: 40px !important;
}

.pagination .select{
    margin: 0px 10px;
}

.search-location-container{
    position: relative;
    margin: 12% 0% 0% 0%;
}

.input-container{
    border: 1px solid #9e9e9e;
    border-radius: 5px;
    padding: 5px 15px;
}

.input-container.disabled{
    background-color: #f1f1f1;
    opacity: 0.5;
}

.input-container input[type="text"]{
    margin: 0px;
    border: 0px;
    box-shadow: none;
}

.search-result{
    position: absolute;
    background: #fffbe4;
    width: 100%;
    top: 53px;
    border: 1px solid #969696;
    display: none;
}

.search-result ul{
    margin: 0px;
}

.search-result ul li,
.search-result strong{
    font-size: 14px;
    padding: 12px 8px;
}

.search-result ul li:not(:last-child){
    border-bottom: 1px solid #969696;
}

.search-result ul li:hover{
    cursor: pointer;
    background-color: #fff8cd;
}

.search-result.active{
    display: block;
}

.compliance-text{
    margin: 10% 0%;
    border-bottom: 1px solid #ccc;
}

.compliance-text h5{
    color: #4e4e4e;
    font-size: 19px;
}

.legends ul li{
    padding: 5px 0px;
}

.legends ul li div{
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
}

.legends ul li .box-color{
    width: 15px;
    height: 15px;
    background-color: #eee;
}

.legends ul li .rating{
    width: 85px;
    padding: 0px 10px;
}
