<div class="container-fluid">

	<div class="row " style="margin-bottom: 0px;">

		<div class="col l3 m12 s12 my-compliance-container">
			<h5 class="orange-text margin-bottom-30">My Compliance</h5>

			<div class="svg-container">

                <canvas #compliancePieChart width="200" height="200"></canvas>

		    </div>
            
            <div class="search-location-container">
                <div class="input-container" [ngClass]="{ 'disabled' : !isAllComplianceLoaded  }">
                    <input type="text" #inpSearchLocation placeholder="Type location here" [disabled]="!isAllComplianceLoaded">
                </div>

                <div class="search-result" #divSearchLocationResult>
                    <strong *ngIf="searchingLocation">Fething...</strong>
                    <strong *ngIf="!searchingLocation && searchedLocations.length == 0">No record found</strong>
                    <ul *ngIf="!searchingLocation">
                        <li *ngFor="let loc of searchedLocations" (click)="clickSelectSearchedLocation(loc)">{{loc.name}}</li>
                    </ul>
                </div>
            </div>

            <div class="compliance-text">
                <h5>{{complianceTextOne}}</h5>
                <h5>{{complianceTextTwo}}</h5>
            </div>

            <!-- <div class="center-block text-button-container">
            
                <div class="display-table compliance-title-container center-block">
                    <div class="cell image green"></div>
                    <div class="cell text center">
                        {{selectedComplianceName}}
                        <h5 class="center"> {{countOfBuildings}} Total number of buildings  </h5>
                    </div>
                </div>
            
                <div class="display-table compliance-validity-container center-block">
                    <div class="cell image check"></div>
                    <div class="cell text">
                        Valid Till : <br>
                        0/00/0000
                    </div>
                </div>
            
                <button class="btn orange waves-effect waves-light center-block display-block"> Manage Compliance </button>
                <div class="container">
                    <div class="input-field col s12">
                        <input id="location" type="text" class="validate" [formControl]="search">
                        <label for="location">Search location</label>
                    </div>
                    <div class="suggestions" *ngIf="filteredList.length > 0">
                        <ul *ngFor="let item of filteredList">
                            <li>
                                <a>{{item['name']}}</a>
                            </li>
                        </ul>
            
                    </div>
                </div>
            </div> -->


		</div>

		<div class="col l6 m12 s12">
			<h5 class="orange-text margin-bottom-30">My Plans</h5>
			<div class="grey lighten-5 table-container" style="max-height: 480px; overflow-y: auto;">
				<table class="table striped">
					<thead>
						<tr class="grey darken-4 white-text">
							<th>Location</th>
							<th>Compliance</th>
							<th style="width: 13%;">Training Licences</th>
							<!-- <th></th> -->
						</tr>
					</thead>
					<tbody *ngIf="showPlansLoader">
                        <tr>
                            <td colspan="4" class="center">
                                <div class="preloader-wrapper small active center">
                                    <div class="spinner-layer spinner-blue-only">
                                        <div class="circle-clipper left">
                                            <div class="circle">
                                            </div>
                                        </div>
                                        <div class="gap-patch">
                                            <div class="circle">
                                            </div>
                                        </div>
                                        <div class="circle-clipper right">
                                            <div class="circle">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="!showPlansLoader">
                        <tr *ngIf="locations.length == 0">
                            <td colspan="4" class="center">No plans found</td>
                        </tr>
                        <tr *ngFor="let loc of locations" >
                            <td>
                                <a *ngIf="loc.sublocation_count > 0 " [routerLink]="['/location', 'view', loc.enc_location_id]" class="black-text">
                                    <span *ngIf="loc.name.length > 0">
                                        <span *ngIf="loc.parent">{{loc.parent.name}}, </span>{{loc.name}}
                                    </span>
                                    <span *ngIf="loc.name.length == 0">
                                        {{loc.formatted_address}}
                                    </span>
                                </a>
                                <a *ngIf="loc.sublocation_count == 0" [routerLink]="['/location', 'view-sublocation', loc.enc_location_id]" class="black-text">
                                    <span *ngIf="loc.name.length > 0">
                                        <span *ngIf="loc.parent">{{loc.parent.name}}, </span>{{loc.name}}
                                    </span>
                                    <span *ngIf="loc.name.length == 0">
                                        {{loc.formatted_address}}
                                    </span>
                                </a>
                            </td>
                            <td class="with-bar">
                                <a [routerLink]="['/location/compliance/view/', loc.enc_location_id]">
                                <div *ngIf="loc.fetchingCompliance" class="progress fetching">
                                    <div class="indeterminate"></div>
                                </div>
                                <div *ngIf="!loc.fetchingCompliance" class="text" [ngClass]="{ 'green-text' : loc.compliance_percentage == 100 }">{{loc.compliance_percentage}}%</div>
                                <div *ngIf="!loc.fetchingCompliance" class="progress-container" >
                                    <div class="progress" [ngClass]="{ 'green-theme' : loc.compliance_percentage == 100 }">
                                        <div class="determinate" [ngStyle]="{ 'width' : loc.compliance_percentage+'%' }"></div>
                                    </div>
                                </div>
                                </a>
                            </td>
                            <td> 0/0 </td>
                            <!--<td>  <button class="btn light-blue waves-effect waves-light">Shop</button>  </td>-->
                        </tr>
                    </tbody>
				</table>
				<div style="margin-top: 18px;">
                    <div class="col l12 m12 s12 center pagination" [hidden]="locations.length == 0 || pagination.total <= queries.limit || showPlansLoader">
                        <div class="inline-block">
                            <button class="btn blue" (click)="pageChange('prev')" [disabled]="pagination.currentPage == 1"> Prev </button>
                        </div>

                        <div class="inline-block select">
                            <select class="" #selectPage ngModel [(ngModel)]="pagination.currentPage" (change)="pageChange(selectPage.value)">
                                <option *ngFor="let sel of pagination.selection" value="{{sel.number}}">{{sel.number}}</option>
                            </select>
                        </div>

                        <div class="inline-block">
                            <button class="btn blue" (click)="pageChange('next')" [disabled]="pagination.pages == pagination.currentPage" > Next </button>
                        </div>
                    </div>
                </div>
			</div>

		</div>

		<div class="col l3 m12 s12">
			<!-- BLOGS
			<h5 class="orange-text margin-bottom-30">Community</h5>

			<div class="blog">
				<img src="/assets/images/blog.png"  >

				<div class="content">
					<h5>Facility Manager Strategies to Achieve Safety</h5>

					<h6 class="grey-text">By Dalton | August 4th, 2017</h6>

					<p style="font-size: 16px;">
						A facility Manage plays a key role to maintain and enchance compliance in life safety of the building
					</p>
				</div>

				<a  class="blue-text font-size-16">View all ></a>
			</div>
			-->

			<h5 class="orange-text margin-bottom-30">All Building Trainings Status</h5>

			<div class="width100" *ngIf="showBuildingTrainingLoader">
				<div class="loader-div" >
					<div class="preloader-wrapper big active center">
						<div class="spinner-layer spinner-blue-only">
							<div class="circle-clipper left">
								<div class="circle">
								</div>
							</div>
							<div class="gap-patch">
								<div class="circle">
								</div>
							</div>
							<div class="circle-clipper right">
								<div class="circle">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="width100 display-table" *ngIf="!showBuildingTrainingLoader">
				<div id="specificChart" class="donut-size cell" >
					<div class="pie-wrapper">
						<span class="label">
							<span class="num"> 00 </span><span class="smaller">%</span>
						</span>
						<div class="pie">
							<div class="left-side half-circle" ></div>
							<div class="right-side half-circle" ></div>
						</div>
						<div class="shadow"></div>
					</div>
				</div>

				<div class="cell" >
					<h5>{{accountTrainings.total_users}} Total Users</h5>
					<p class="font-size-16 blue-text">
						{{accountTrainings.total_users_trained}} User Finished Course
					</p>
				</div>
			</div>

			<div class="width100 margin-bottom-30" *ngIf="!showBuildingTrainingLoader">
				<ul>
					<li *ngFor="let em of accountTrainings.em_roles_array">
						<h6>{{em.total}} - {{em.role_name}}</h6>
					</li>
				</ul>
			</div>

            <div class="width100 margin-bottom-30">
                <h5 class="orange-text margin-bottom-30" >
                    Training License
                </h5>

                <div class="training-license-container margin-bottom-30" *ngIf="!showPlansLoader">
                    <div class="filter-container">
                        <select>
                            <option value="0" disabled selected>Select location</option>
                            <option value="{{loc.location_id}}" *ngFor="let loc of locations">{{loc.name}}</option>
                        </select>
                    </div>

                    <p class="font-size-16 blue-text">Remaining License: --</p>
                </div>

                <div class="training-license-container margin-bottom-30 " *ngIf="showPlansLoader">
                    <div class="loader-div">
                        <div class="preloader-wrapper big active center">
                            <div class="spinner-layer spinner-blue-only">
                                <div class="circle-clipper left">
                                    <div class="circle">
                                    </div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle">
                                    </div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

		</div>

	</div>

	<div class="row">

        <div class="col l3 m12 s12">
            <div class="legends">
                <ul>
                    <li *ngFor="let kpi of KPIS; let i = index;" [hidden]="kpi.compliance_kpis_id == 13">
                        <div class="box-color" [ngStyle]="{ 'background-color' : colors[i] }"></div>
                        <div class="rating">{{kpi.ratings}}</div>
                        <div class="text">{{kpi.name}}</div>
                    </li>
                </ul>
            </div>
        </div>

		<div class="col l3 m6 s12">
			<h5 class="orange-text">My Trainings</h5>

			<div *ngIf="courses.length == 0">
				<h5 class="grey-text">No Trainings Available Yet</h5>
			</div>

			<div *ngIf="courses.length > 0">
				<ul class="my-trainings list-border-bottom-grey margin-bottom-30">
					<li *ngFor="let course of courses; let i = index;" [hidden]="i > 1">
						<div class="display-table width100">
							<div class="cell">
								<div class="image expired" *ngIf="['failed', 'not attempted', 'incomplete', 'browsed', null].indexOf(course.lesson_status) > -1"></div>
								<div class="image check" *ngIf="['passed'].indexOf(course.lesson_status) > -1"></div>
							</div>
							<div class="cell">
								<p class="font-size-20">{{course.training_requirement_name}}</p>
							</div>
						</div>

						<div class="right align-right">
							<div class="display-table">
								<a  [routerLink]="['/trainings/my-training']">
									<div class="cell blue-text font-size-16">
										Take Course
									</div>
									<div class="cell">
										<div class="black-arrow-right"> > </div>
									</div>
								</a>
							</div>
						</div>

						<div class="clearfix"></div>
					</li>
				</ul>

				<a  class="blue-text font-size-16 right" [routerLink]="['/trainings/my-training']">View all ></a>
				<div class="clearfix"></div>
			</div>

		</div>

		<div class="col l3 m6 s12">
			<h5 class="orange-text">Quick Links</h5>

			<ul class="quick-links list-border-bottom-grey margin-bottom-30">
				<li>
					<div class="display-table width100">
						<a  [routerLink]="['/teams/list-wardens']">
							<div class="cell">
								<div class="cell blue-text font-size-20 black-text">
									Update Warden List
								</div>
							</div>
							<div class="cell align-right">
								<div class="black-arrow-right"> > </div>
							</div>
						</a>
					</div>
				</li>

				<li>
					<div class="display-table width100" >
						<a  [routerLink]="['/teams/mobility-impaired']">
							<div class="cell">
								<div class="cell blue-text font-size-20 black-text">
									Review PEEP
								</div>
							</div>
							<div class="cell align-right">
								<div class="black-arrow-right"> > </div>
							</div>
						</a>
					</div>
				</li>

				<li>
					<div class="display-table width100">
						<a  [routerLink]="['/trainings/my-training']">
							<div class="cell">
								<div class="cell blue-text font-size-20 black-text">
									Trainings
								</div>
							</div>
							<div class="cell align-right">
								<div class="black-arrow-right"> > </div>
							</div>
						</a>
					</div>
				</li>

				<li>
					<div class="display-table width100">
						<a  [routerLink]="['/location/list']">
							<div class="cell">
								<div class="cell blue-text font-size-20 black-text">
									Locations
								</div>
							</div>
							<div class="cell align-right">
								<div class="black-arrow-right"> > </div>
							</div>
						</a>
					</div>
				</li>
			</ul>

			<a  class="blue-text font-size-16 right">View all ></a>
			<div class="clearfix"></div>
		</div>

		<div class="col l3 m6 s12">
			<h5 class="orange-text margin-bottom-30">Resources</h5>

			<div class="resources-container">
				<ul>
					<li>
						<a href="https://s3.amazonaws.com/allan-delfin/manuals/EvacConnect+for+Facility+Responsible+Persons.pdf" target="_blank">
						<div class="display-table">
							<div class="cell">
								<img src="/assets/images/pdf.png" alt="">
							</div>
							<div class="cell font-size-16">
								Facility Responsible Persons User Guide
							</div>
						</div>
						</a>
					</li>

					<li>
						<a href="https://s3.amazonaws.com/allan-delfin/manuals/EvacConnect+for+Tenant+Responsible+Persons.pdf" target="_blank">
						<div class="display-table">
							<div class="cell">
								<img src="/assets/images/pdf.png" alt="">
							</div>
							<div class="cell font-size-16">
								Tenant Responsible Persons User Guide
							</div>
						</div>
						</a>
					</li>
				</ul>

				<!-- <a  class="blue-text font-size-16 right">View all ></a>
				<div class="clearfix"></div> -->
			</div>
		</div>

	</div>

</div>
