<router-outlet></router-outlet>

<div class="row">
    <div class="col l12" style="position: relative;">
        <h5 class="blue-text" >Smart Form</h5>
        <div class="right-action-buttons">
            <button class="btn blue" [routerLink]="['/admin/smart-form-list']">Form List</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col l12 filter-container">
        <div class="search-field" style="position: relative;">
            <input autocomplete="off" id="searchLocationField" placeholder="Search account name first" #searchAccountInput type="text"  />
            <span class="material-icons">search</span>
            
            <div class="result-container" *ngIf="accountSearched.length > 0">
                <ul>
                    <li *ngFor="let account of accountSearched" (click)="clickSelectAccountFromSearch(account)">{{account.account_name}}</li>
                </ul>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col l12 filter-container">
        <div class="search-field" style="position: relative;">
            <input placeholder="Search location name here..." type="text" #searchLocationInput [disabled]="!selectedAccount['account_id']"  />
            
            <div class="result-container" *ngIf="locationSearched.length > 0" [hidden]="!selectedAccount['account_id']">
                <ul>
                    <li *ngFor="let loc of locationSearched" (click)="clickSelectLocationFromSearch(loc)">{{loc.name}}</li>
                </ul>
            </div>

        </div>
    </div>
</div>

<div class="row" >
    <div class="col l12">
        <h5 class="blue-text">Select Compliance Activity</h5>
    </div>

    <div class="col l12">
        <div class="box-compliance" [ngClass]="{ 'available' : availableBoxSelect }" #boxEE (click)="clickSelecteComplianceActivityBox('evac_exer', boxEE)">
            <div class="image evacuation-icon"></div>
            <div class="title">Evacuation Exercise</div>
        </div>

        <div class="box-compliance" [ngClass]="{ 'available' : availableBoxSelect }" #boxFSA (click)="clickSelecteComplianceActivityBox('fsa', boxFSA)">
            <div class="image fsa-icon"></div>
            <div class="title">Fire Safety Advisor</div>
        </div>

        <div class="box-compliance" [ngClass]="{ 'available' : availableBoxSelect }" #boxEPC (click)="clickSelecteComplianceActivityBox('epc', boxEPC)">
            <div class="image epc-icon"></div>
            <div class="title">EPC Meeting</div>
        </div>

        <div class="box-compliance" [ngClass]="{ 'available' : availableBoxSelect }" #boxEPM (click)="clickSelecteComplianceActivityBox('epm', boxEPM)">
            <div class="image epm-icon"></div>
            <div class="title">Emergency Procedure Manual</div>
        </div>
    </div>
</div>