.background {
  background: url('/assets/images/login/login_banner.jpg') no-repeat fixed center center !important;
  background-size: cover;
  width: 100%;
  z-index: -1;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
}

h1 {
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 1px;
}
h2 {
    font-size: 24px;
    color: #f7941d;
    font-weight: 700;
    margin-top: 1px;
    margin-bottom: 1px;
}
h3 {
    margin-top: 2px;
    margin-bottom: 20px;
    line-height: 20%;
}
p {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
}

.back-to-login{
    font-weight: 400;
    color: #FFFFFF;
}

.click-here{
    font-size: 20px;
    color: #f7941d;
    font-weight: 500;
}

.click-here:hover,
.back-to-login:hover{
    text-decoration: underline;
}


#modalMsg{
    width: 85%;
    top: calc(100% - 85%) !important;
}

@media only screen
and (max-width: 768px){

    .forget_password_box{
        width: 90%;
    }

    #modalMsg{
        width: 60% !important;
    }

}

@media only screen
and (min-width: 768px)
and (max-width: 1024px){
    #modalMsg{
        width: 50% !important;
    }
}

.welcome-text{
    line-height: 31px;
    font-size: 32px;
    color: #39a1ff;
    font-weight: 600;
    margin: 0px 0px 24px 390px;
    text-transform: capitalize;
}

.tag-text{
    font-size: 20px;
    line-height: 25px;
    color: #757575;
    margin: 5px 0px 25px 110px;
    padding: 10px;
}

.font-18{
    font-size: 18px;
}

.font-28{
    font-size: 28px;
}

.img-container{
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 40px;
    background-color: #79d2bc;
    display: inline-block;
    padding: 0px;
    vertical-align: middle;
    margin: 0px;
    font-size: 17px;
    line-height: 41px;
    text-align: center;
  }

 .middle-text{
	font-size: 18px;
    line-height: 20px;
    width: 215px;
    padding: 10px 30px;
    text-align: center;
}  

.middle-text p{
	font-size: 14px;
}
/*
.middle-image .image{
    width: 69px;
    display: block;
    height: 69px;
    box-sizing: border-box;    
    margin: 0 auto;
}

.middle-image .image .mobility {
    width: 69px;
    display: block;
    height: 69px;
    box-sizing: border-box;    
    margin: 0 auto;
    background: url('/assets/images/dash01.png');
}

.middle-image {
    width: 69px;
    display: block;
    height: 69px;
    box-sizing: border-box;    
    margin: 0 auto;
    background: url('/assets/images/dash01.png');
}

*/
.middle-image-profile {
    width: 130px;
    display: block;
    height: 130px;
    box-sizing: border-box;    
    margin: 0 auto;
    background: url('/assets/images/step_01.png') no-repeat;
}

.middle-image-status {
    width: 130px;
    display: block;
    height: 130px;
    box-sizing: border-box;    
    margin: 0 auto;
    background: url('/assets/images/step_02.png') no-repeat;
}

.middle-image-warden {
    width: 130px;
    display: block;
    height: 130px;
    box-sizing: border-box;    
    margin: 0 auto;
    background: url('/assets/images/step_03.png') no-repeat;
}

.middle-image-mobility {
    width: 130px;
    display: block;
    height: 130px;
    box-sizing: border-box;    
    margin: 0 auto;
    background: url('/assets/images/step_04.png') no-repeat;
}

.middle-image-training {
    width: 130px;
    display: block;
    height: 130px;
    box-sizing: border-box;    
    margin: 0 auto;
    background: url('/assets/images/step_05.png') no-repeat;
}






.modal{
    max-height: 100% !important;
}
.modal .modal-content {
    padding-left: 175px;
    padding-top: 90px;
}
