<div id="modalMsg" class="modal">
	<div class="modal-content center-align">
		<i class="material-icons large green-text" [hidden]="!showCheckIcon">check</i>
		<i class="material-icons large red-text" [hidden]="!showClose">close</i>
		<h5>
			{{ message }}
		</h5>
	</div>
	<div class="modal-footer">
		<a  *ngIf="!isUserVerification" [routerLink]="['/login']" class="modal-action modal-close waves-effect waves-green btn-flat">CLOSE</a>
		<a  *ngIf="isUserVerification" (click)="closeWindow()" class="modal-action modal-close waves-effect waves-green btn-flat">CLOSE</a>
	</div>
</div>
