<div class="inline-block left-panel">
	<div class="row">
		<div class="col l12 m12 s12 col-user-profile">
			<h5>User Profile</h5>

			<div class="image-container">
				<p class="initials"> <!-- *ngIf="userData['profilePic'].length == 0" -->
					{{getInitials(userData['name'])}}
				</p>
				<img [src]="userData['profilePic']"> <!--  *ngIf="userData['profilePic'].length > 0" -->
			</div>

			<div class="badge-warden" > <!-- [ngClass]="viewData.badge_class" --></div>

			<div class="name-container ">
				<h5 class="name blue-text">{{userData['name']}}</h5>
				<!-- <p *ngIf="viewData['user']['last_login']">Last Login {{viewData['user']['last_login']}}</p> -->
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col l12 m12 s12">
			<div class="select-field">
				<select id="selectLocation">
					<option *ngFor="let loc of viewData.locations; let i = index;" [selected]="i == 0" value="{{loc.location_id}}">{{loc.parent_name}} {{loc.name}}</option>
				</select>
			</div>
		</div>

		<div class="col l12 m12 s12">
			<div class="input-field">
				<input id="role" type="text" readonly value="{{viewData.role_text}}">
				<label for="role" class="active">
					<span>Role</span>
				</label>
			</div>
		</div>

		<div class="col l12 m12 s12">
			<div class="input-field">
				<input id="contactInfo" type="text" value="{{viewData['user']['mobile_number']}}" readonly>
				<label for="contactInfo" class="active">Contact Information</label>
			</div>
		</div>
		<div class="col l12 m12 s12">
			<div class="input-field">
				<input id="emailAddress" type="text" value="{{viewData['user']['email']}}" readonly>
				<label for="emailAddress" class="active">Email Address</label>
			</div>
		</div>
	</div>

	<div class="bottom-buttons">

		<div class="select-field">
			<select id="selectAction">
				<option value="0" disabled selected>Select Action</option>
				<option value="profile">Update Profile</option>
                <option value="credential">Update Credential</option>
				<!-- <option value="location" >Assign Location & Role</option> -->
			</select>
		</div>
	</div>
</div>

<div class="inline-block right-content">
    <div class="row">
      <div class="col s12 m12 l12">
        <h5>Required Trainings</h5>
      </div>
      <div class="col s12 m12 l12">
        <div class="grid" id="gridContainer">
          <div class="grid-container" *ngFor="let tr of viewData.valid_trainings">
              <p class="blue-text"> {{tr.role_name}}</p>
              <div class="grid-item card grey lighten-3">
                  <div class="top" >
                    <div class="image check inline-block" ></div>
                    <div class="text inline-block green-text">Compliant</div>
                  </div>
                  <div class="middle-image">
                    <div class="image green-image"></div>
                  </div>
                  <div class="middle-text">
                    {{tr.training_requirement_name}}
                    <p class="blue-text">{{ formatDate(tr.certification_date) }}</p>
                  </div>
                  <div class="buttons">
                    <a href="https://mycompliancegroup.evacconnect.com/tenant/my_training/Certificate.php?s={{tr.scorm_course_id}}&amp;c={{tr.certifications_id}}"
                  target="_blank" class="btn blue waves-effect waves-light">Download Certificate</a>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="viewData.required_trainings.length > 0" class="row">
      <div class="col s12 m12 l12">
          <div class="grid" id="gridContainer">
            <div class="grid-container" *ngFor="let tr of viewData.required_trainings">
              <p class="blue-text"> {{tr.role_name}}</p>
              <div class="grid-item card grey lighten-3" >
                  <div class="top" >
                    <div class="image close inline-block" ></div>
                    <div class="text inline-block red-text">Non-Compliant</div>

                  </div>
                  <div class="middle-image">
                    <div class="image red-image"></div>
                  </div>
                  <div class="middle-text">
                    {{tr.training_requirement_name}}
                    <p class="blue-text"></p>
                  </div>
                  <div class="buttons" *ngIf="tr.course_user_relation_id != 0">
                    <button type="button" [disabled]="tr['disabled']" (click)="loadTrainingCourse(tr)" class="btn red lighten-1 waves-effect waves-light">Go To Training</button>
                  </div>
                </div>
            </div>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12 l12">
          <h5 *ngIf="viewData.trainings.length > 0">Available Online Trainings</h5>
          <h5 *ngIf="viewData.trainings.length == 0">No Available Online Trainings</h5>
        </div>
        <div class="col s12 m12 l12">
          <div class="grid" id="gridContainer">
            <div class="grid-container" *ngFor="let training of viewData.trainings">
                <p class="blue-text"></p>
                <div class="grid-item card grey lighten-3">
                    <div class="top" >
                      <div class="image inline-block"></div>
                      <div class="text inline-block green-text"></div>
                    </div>
                    <div class="middle-image">
                      <div class="image green-image"></div>
                    </div>
                    <div class="middle-text">
                      {{training.training_requirement_name}}
                      <p class="blue-text"></p>
                    </div>
                    <div class="buttons">
                      <button type="button" [disabled]="training.disabled" class="btn blue waves-effect waves-light" (click)="loadTrainingCourse(training)">Take Training</button>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>



    <div class="row">
      <div class="col s12 m12 l12">
        <h5>Previous Trainings</h5>
      </div>
      <div class="col s12 m12 l12">
        <div class="grid" id="gridContainer">
          <h4 *ngIf="viewData.certificates.length == 0">No previous trainings record found</h4>
          <div class="grid-container" *ngFor="let cert of viewData.certificates">
          <p class="blue-text"> </p>
          <div class="grid-item card grey lighten-3">
              <div class="top">
                  <div class="image inline-block" [ngClass]="{
                    'close' : cert.status != 'valid' || cert.pass != 1 || cert.status == 'expired',
                    'check' : cert.status == 'valid' && cert.pass == 1
                  }"> </div>

                  <div class="text inline-block" [ngClass]="{
                    'red-text' : cert.status != 'valid' || cert.pass != 1 || cert.status == 'expired',
                    'green-text' : cert.status == 'valid' && cert.pass == 1
                  }">
                    <span *ngIf="cert.status != 'valid' || cert.pass != 1 || cert.status == 'expired'">Invalid</span>
                    <span *ngIf="cert.status == 'valid' && cert.pass == 1">Valid</span>
                  </div>

                <div class="middle-image">
                  <div class="image" [ngClass]="{
                    'red-image' : cert.status != 'valid' || cert.pass != 1 || cert.status == 'expired',
                    'green-image' : cert.status == 'valid' && cert.pass == 1
                  }"></div>
                </div>
                <div class="middle-text">
                  {{cert.training_requirement_name}}
                  <p class="blue-text"> {{cert.expiry_date_formatted}} </p>
                </div>

                <div class="buttons">
                  <a href="https://mycompliancegroup.evacconnect.com/tenant/my_training/Certificate.php?s={{cert.scorm_course_id}}&amp;c={{cert.certifications_id}}"
                  target="_blank" class="btn blue waves-effect waves-light">Download Certificate</a>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div id="modalRemoveWarden" class="modal">
	<div class="modal-content center" *ngIf="showModalRemoveWardenLoader">
		<div class="preloader-wrapper active">
			<div class="spinner-layer spinner-red-only">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div><div class="gap-patch">
					<div class="circle"></div>
				</div><div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-content" *ngIf="!showModalRemoveWardenLoader">
		<h5>Confirmation</h5>
		<h6>Are you sure you want to remove <span class="blue-text">{{viewData.user.first_name}} {{viewData.user.last_name}}</span> as {{viewData['eco_role']}} ?</h6>
		<h6 class="red-text">{{errorMessageRemoveWarden}}</h6>
	</div>
	<div class="modal-footer" *ngIf="!showModalRemoveWardenLoader">
		<button class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</button>
		<a  class="waves-effect waves-blue btn-flat" (click)="yesRemoveWarden()">Yes</a>
	</div>
</div>


<div id="modalMobility" class="modal">

	<div class="modal-content center" [hidden]="!showModalLoader">
		<div class="preloader-wrapper active">
			<div class="spinner-layer spinner-red-only">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div><div class="gap-patch">
					<div class="circle"></div>
				</div><div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
	</div>

	<form #formMobility="ngForm" (submit)="modalPeepFormSubmit(formMobility, $event)" [hidden]="showModalLoader">

	<div class="modal-content">
		<h5>Mobility Impaired Information</h5>
		<div class="row">
			<div class="col s12 l6 m6">
				<div class="select-field">
					<span style=" font-size: 16px;">Mobility Impaired Status</span>
					<select ngModel name="is_permanent">
						<option value="0" selected="selected">Temporary</option>
						<option value="1" >Permanent</option>
					</select>
				</div>
			</div>
			<div class="col s12 l6 m6">
				<div class="input-field">
					<span style=" font-size: 16px;">Mobility Impaired Upto</span>
					<ng-datepicker [(ngModel)]="datepickerModel" (ngModelChange)="onChangeDatePicker($event)"  [ngModelOptions]="{standalone: true}" [headless]="true" [isOpened]="isShowDatepicker" ></ng-datepicker>
					<input id="durationDate" #durationDate type="text" [(ngModel)]="datepickerModelFormatted" ngModel name="duration_date" (click)="showDatePicker()" required >
				</div>

			</div>
			<div class="col s12 m12 l12">
				<h6>Assistant Requirement</h6>
				<input ngModel name="assistant_type" type="text" class="grey-input" placeholder="Please describe requirements and process here." required>
			</div>
			<div class="col s12 m12 l12">
				<h6>Evacuation Equipment Requirement</h6>
				<input ngModel name="equipment_type" type="text" class="grey-input" placeholder="Please inform what is the equiment and type." required>
			</div>
			<div class="col s12 m12 l12">
				<h6>Evacuation / Egress Procedure</h6>
				<input ngModel name="evacuation_procedure" type="text" class="grey-input" placeholder="" required>
			</div>
		</div>

		<div class="row button-container">
			<div class="col s12 m12 l12">
				<button class="btn grey lighten-1 waves-light waves-effect modal-close">Cancel</button>
				<button class="btn orange waves-light waves-effect" [disabled]="formMobility.invalid">Submit</button>
			</div>
		</div>
	</div>


	</form>
</div>

<div id="modalUpdateProfile" class="modal">

	<div class="modal-content center" [hidden]="!showModalProdfileLoader">
		<div class="preloader-wrapper active">
			<div class="spinner-layer spinner-red-only">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div><div class="gap-patch">
					<div class="circle"></div>
				</div><div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
	</div>

	<form #formProfile="ngForm" (submit)="submitUpdateProfile(formProfile)" [hidden]="showModalProdfileLoader">

		<div class="modal-content">
			<h5>Update {{viewData.user.first_name+' '+viewData.user.last_name}}'s Profile</h5>
			<div class="row">
				<div class="col s12">
					<label for="firstName">First Name</label>
					<input type="text" id="firstName" name="first_name" ngModel  required>
				</div>
				<div class="col s12">
					<label for="lastName">Last Name</label>
					<input type="text" id="lastName" name="last_name" ngModel  required>
				</div>
				<div class="col s12">
					<label for="contactInformation">Contact Information</label>
					<input type="text" id="contactInformation" ngModel name="mobile_number" >
				</div>

				<input type="text" name="user_id" ngModel required style="visibility: hidden;">
				<!-- <div class="col s12">
					<label for="userEmail">Email</label>
					<input type="text" id="userEmail" name="email" ngModel pattern="[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*" required>
				</div> -->
			</div>

			<div class="row button-container">
				<div class="col s12 m12 l12 right-align">
					<a  class="btn grey lighten-1 waves-light waves-effect modal-close">Cancel</a>
					<button type="submit" class="btn orange waves-light waves-effect" [disabled]="formProfile.invalid">Submit</button>
				</div>
			</div>
		</div>


	</form>
</div>


<div id="modalCredentials" class="modal">

	<div class="modal-content center" [hidden]="!showModalCredentialsLoader">
		<div class="preloader-wrapper active">
			<div class="spinner-layer spinner-red-only">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div><div class="gap-patch">
					<div class="circle"></div>
				</div><div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
	</div>

	<form #formCredential="ngForm" (submit)="submitCredential(formCredential)" [hidden]="showModalCredentialsLoader">

		<div class="modal-content">
			<h5>Update {{viewData.user.first_name+' '+viewData.user.last_name}}'s Credential</h5>
			<div class="row">
				<div class="col s12">
					<label for="userEmail">Email</label>
					<input type="text" id="userEmail" name="email" ngModel pattern="[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*" required>
				</div>

				<div class="col s12">

					<label for="inpPassword">Password
						<small *ngIf=" inputPassword.value != inputConfirmPassword.value "> *Mismatched </small>
					</label>

					<input id="inpPassword" type="password" name="password" ngModel #inputPassword="ngModel"
					[ngClass]="{
						'invalid' : !inputPassword.valid && inputPassword.dirty || (inputPassword.value != inputConfirmPassword.value)
					}"
					required minlength="6" maxlength="150"  >

				</div>

				<div class="col s12">

					<label for="confirmPassword"> Confirm password</label>

					<input id="confirmPassword" type="password" ngModel name="confirm_password"
						ngModel #inputConfirmPassword="ngModel"
						[ngClass]="{
							'invalid' : !inputConfirmPassword.valid && inputConfirmPassword.dirty || (inputPassword.value != inputConfirmPassword.value)
						}"
						required minlength="6" maxlength="150" >

				</div>

				<input type="text" name="user_id" ngModel required style="visibility: hidden;">

			</div>

			<div class="row button-container">
				<div class="col s12 m12 l12 right-align">
					<a  class="btn grey lighten-1 waves-light waves-effect modal-close">Cancel</a>
					<button type="submit" class="btn orange waves-light waves-effect"
					[disabled]="
					formCredential.invalid ||
					(!inputConfirmPassword.valid && inputConfirmPassword.dirty || (inputPassword.value != inputConfirmPassword.value)) ||
					(!inputPassword.valid && inputPassword.dirty || (inputPassword.value != inputConfirmPassword.value))">Submit</button>
				</div>
			</div>
		</div>


	</form>
</div>

<!-- <div id="modalLocations" class="modal">
	<div class="modal-content">


		<div class="search-container" >
			<div class="input-container">
				<input type="text" placeholder="Search Level" #modalSearchLocation  >
			</div>
			<div class="icon-container">
				<img src="assets/images/locations/search_icon.png" alt="">
			</div>
		</div>

		<form #formLoc="ngForm" (submit)="submitSelectLocationModal(formLoc, $event)">

		<div class="list-region" style="overflow-y: auto; height: 340px;">
			<p *ngIf="locations.length == 0">No location found</p>
			<ul *ngIf="locations.length > 0">
				<ng-template #recursiveList let-locations>
					<li *ngFor="let location of locations" class="list-division" [id]="location.location_id" [ngClass]="{ 'show-drop-down' : (location.showDropDown) ? location.showDropDown : false }">
						<div class="name-radio-plus">
							<div class="input">
								<input ngModel required type="radio" name="selectLocation" [value]="location.location_id" [id]="'check-'+location.location_id" [ngClass]="{ hide : location.sublocations.length > 0 }" >
								<label [for]="'check-'+location.location_id" [ngClass]="{ hide : location.sublocations.length > 0 }"></label>
								<div class="plus-minus">
									<input type="checkbox" (change)="onChangeDropDown($event)" [ngClass]="{ hide : location.sublocations.length == 0 }" [checked]="(location.showDropDown) ? location.showDropDown : false" />
									<span class="sign" [ngClass]="{ hide : location.sublocations.length == 0 }" ></span>
									<span *ngIf="location.name.length > 0">{{location.name}}</span>
									<span *ngIf="location.name.length == 0">{{location.formatted_address}}</span>
								</div>
							</div>
						</div>
						<ul *ngIf="location.sublocations.length > 0">
					        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: location.sublocations }"></ng-container>
						</ul>
					</li>
				</ng-template>
				<ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: locations }"></ng-container>
    		</ul>
		</div>

		<div class="button-container center">
			<a class="btn grey lighten-1 waves-effect waves-light" (click)="cancelLocationModal()"> Cancel </a>
			<button type="submit" class="btn orange waves-effect waves-light" [disabled]="!formLoc.valid" *ngIf="locations.length > 0"> Submit </button>
		</div>

		</form>

	</div>
</div> -->

<div *ngIf="toggle">
    <div class="modal" id="training">
        <div class="modal-content">
            <iframe [src]="selectedCourse.formatted_launcher_url" frameborder="0" ><p>Not Supported by this browser</p></iframe>
        </div>
        <div class="modal-footer">
            <button type="button" class="modal-action modal-close waves-effect waves-green btn-flat" (click)="onCloseCourseModule(selectedCourse)" >Close</button>
        </div>
    </div>
</div>


<div id="modalAssignLocations" class="modal modal-sublocations" [ngClass]="{ 'overflow-hide' : showSelectLocation }">

    <div [hidden]="showSelectLocation">
        <div class="modal-content"  >
            <h5>Assign {{ viewData.user.first_name + ' ' + viewData.user.last_name}} To Locations
                <a  class="blue-text right" style="font-size: 18px;" (click)="assignNewClickEvent()">+Assign New</a>
            </h5>


            <form #formAssignLocation (submit)="submitAssignLocation(formAssignLocation)">

            <table class="table striped">
                <thead>
                    <tr>
                        <th>Location</th>
                        <th style="width: 30%;">Role</th>
                        <th style="width: 9%;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let loc of toEditLocations; let i = index;">
                        <td *ngIf="!loc.deleted">
                            <a  class="blue-text change-location" (click)="clickSelectLocation(loc)" *ngIf="loc.location_id > 0">{{loc.name}} </a>

                            <a  class="blue-text change-location" (click)="clickSelectLocation(loc)" *ngIf="loc.location_id == 0"> Select Location </a>

                            <input type="hidden" name="location_id[{{i}}]" ngModel value="loc.location_id">
                        </td>
                        <td *ngIf="!loc.deleted">
                            <select name="role_id[{{i}}]" style="display: block;" (change)="onChangeSelectRole(loc, $event.currentTarget.value)" >
                                <option value="0" [selected]="loc.role_id == 0" disabled>Select Role</option>
                                <option value="1" [selected]="loc.role_id == 1" disabled>Building Manager</option>
                                <option value="2" [selected]="loc.role_id == 2" disabled>Tenancy Responsible Personnel</option>
                                <option value="{{eco.em_roles_id}}" *ngFor="let eco of viewData.eco_roles" [selected]="loc.role_id == eco.em_roles_id ">
                                    {{eco.role_name}}
                                </option>
                            </select>
                        </td>
                        <td *ngIf="!loc.deleted">
                            <a  class="red-text delete" (click)="removeAssigned(i)">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="button-container right-align">
                <a class="btn grey lighten-1 waves-effect waves-light modal-close"> Cancel </a>
                <button type="submit" class="btn orange waves-effect waves-light"  (click)="saveLocationAssignments($event)" > Save </button>
            </div>

            </form>
        </div>
    </div>

    <div [hidden]="!showSelectLocation">
        <div class="modal-content">
            <h5>Select Location for {{viewData.user.first_name+' '+viewData.user.last_name}}</h5>
            <div class="search-container" >
                <div class="input-container">
                    <input type="text" placeholder="Search Location" #modalSearchLocation  >
                </div>
                <div class="icon-container">
                    <img src="assets/images/locations/search_icon.png" alt="">
                </div>
            </div>

            <form #formLoc (submit)="submitSelectLocationModal(formLoc, $event)">

            <div class="list-region" style="overflow-y: auto; height: 340px; margin: 20px 5px;">
                <p *ngIf="locations.length == 0">No location found</p>
                <ul class="locations">
                </ul>
            </div>

            <div class="button-container">
                <a class="btn grey lighten-1 waves-effect waves-light" (click)="cancelLocationModal()"> Cancel </a>
                <button type="submit" class="btn orange waves-effect waves-light" [disabled]="!formLocValid" *ngIf="locations.length > 0"> Submit </button>
            </div>

            </form>
        </div>

    </div>

</div>