.top-gray{
	background-color: #f7f7f7;
}

.top-gray ul{
	margin: 0px;
}

.top-gray li {
    font-size: 15px;
    display: inline-block;
    padding: 15px 20px;
}

.top-gray ul li h5{
	font-size: 18px;
}

.margin-top-50{
	margin-top: 50px;
}

.margin-top-20{
	margin-top: 20px;
}

[type="checkbox"].filled-in:not(:checked)+label:after,
[type="checkbox"].filled-in:checked+label:after,
[type="checkbox"].filled-in:checked+label:before{
	top: 3px !important;
}

[type="checkbox"]+label{
	padding-left: 30px !important;
    color: #434343;
}

.left-panel{
	background-color: #f7f7f7;
}

.left-panel,
.right-panel{
    border-radius: 5px;
    padding: 0px;
}

.left-panel .content{
	padding: 15px;
}

.left-panel .title{
	color: #39a1ff;
}

.left-panel .footer{
	background-color: #434343;
	color: #fff;
	padding: 20px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.left-panel .footer h5{
	margin: 0px;
	font-size: 18px;
}

.left-panel .footer .right{
	font-size: 24px;
}

.quantity-container{
	font-size: 14px;
}

.quantity-container .text{
	display: inline-block;
	padding-left: 10px;
}

.quantity-container .input{
	position: relative;
	border: 1px solid #ddd;
	border-radius: 5px;
	display: inline-block;
	overflow: hidden;
	height: 40px;
    vertical-align: middle;
    width: 25%;
}

.list-container .quantity-container .input{
	width: 60px;
	display: block;
    margin: 0 auto;
}

.quantity-container .input input{
	width: 65%;
    text-align: center;
    margin: 0px;
    padding: 0px;
    height: 38px;
    background-color: #fff;
}

.quantity-container .input .btn-arrow-up, 
.quantity-container .input .btn-arrow-down{
	background: transparent;
    padding: 0px;
    border: 0px;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 0px;
    background-color: #434343;
}

.quantity-container .input .btn-arrow-down{
	bottom: 0px;
}

.list-container .quantity-container > p{
	display: block;
    margin: 0 auto;
    width: 50px;
    padding-bottom: 10px;
}

.input button .material-icons{
	font-size: 18px;
	color: #fff;
}

.select-field label{
	font-size: 12px !important;
    color: #434343;
}

.right-panel{
	padding: 15px 20px;
}

.right-panel .top h5{
	font-size: 18px;
}


.button-container{
    width: 100%;
}

.buy-buttons button{
    padding: 0px 20px !important;
    font-size: 14px !important;
    text-transform: unset;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
}

.buy .image{
	background: url(/assets/images/shop_icons.png);
	vertical-align: middle;
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 0px;
	background-position: 71.5% 50% !important;
}

.save{
	color: #39a1ff;
	text-transform: unset;
}

.save .image{
	background: url(/assets/images/shop_icons.png);
	border-radius: 0px;
	background-position: 30% 50% !important;
	width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
}

.slides{
	max-height: 470px;
	overflow-y: hidden;
}

.buy-buttons{
	margin: 10px 0px;
}

.select-diagram{
	font-size: 14px;
}

.select-diagram h5,
.list-container h5{
	font-size: 18px;
}

.list-container > h5.blue-text{
	margin: 40px 0px;
}

.select-diagram select{
    display: inline-block;
    width: 350px;
    margin: 0px 10px;
}

.top,
.select-diagram{
	border-bottom: 1px solid #ddd;
    padding: 10px;
}

.list-container ul{
	margin: 0px;
}

.list-container ul li{
	padding: 10px;
    border-bottom: 1px solid #ddd;
    position: relative;
    height: 245px;
}

.list-container ul li .image {
    width: 250px;
    height: 200px;
    background-color: #ededed;
    position: absolute;
    left: 0px;
    top: 20px;
}

.list-container ul li .text{
	width: 50%;
    vertical-align: top;
    margin: 0px 10px;
    position: absolute;
    left: 260px;
}

.list-container ul li .quantity{
	position: absolute;
    right: 0px;
    top: 20px;
}

.list-container ul li .quantity .orange-text{
	font-size: 18px;
    display: block;
    margin: 0 auto;
    width: 50px;
    padding-bottom: 10px;
}


.list-container ul li .image img{
	max-width: 100%;
	max-height: 200px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}