<div class="row" *ngIf='showPEEPList == false'>
    <div class="col s12">
        <h4 class="top-heading" *ngIf="showSummary == false">ECO Member List</h4>
        <h4 class="top-heading" *ngIf="showSummary == true">Summary of Changes</h4>
    </div>
    <div class="col s12">
        <div class="sub-headings__location">
            <span style="display: block;">Location</span>
            <span *ngFor="let building of myBuildings" class="sub-heading-text-value">{{building['name']}}</span>
        </div>
        <div class="sub-headings">
            <span style="display: block;">No. of Receiver</span>
            <span class="sub-heading-text-value">{{receivers}}</span>
        </div>
        <div class="sub-headings">
            <span style="display: block;">No. of Respondent</span>
            <span class="sub-heading-text-value">{{responders}}</span>
        </div>
        <div class="resend-button-container right-align">
            <button [disabled]="showSummary" (click)="resendToAllPending()" type="button" class="btn blue waves-effect waves-light">Resend notification to all pending status</button>
        </div>
    </div>
    <div class="col s12" *ngIf="showSummary == false">
        <table class="striped">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Response</th>
                    <th>Name</th>                    
                    <th>Mobile</th>
                    <th>Sublocation</th>
                    <th>ECO Role</th>
                    <th>Training</th>
                    <th>Last Activity (dd/MM/YYYY)</th>
                    <th>Required Action</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngIf="wardenList.length == 0 && validatedList.length == 0">
                    <td colspan="8">No Records Found</td>
                </tr>
                <tr *ngFor="let warden of wardenList">
                    <td>{{warden.statusText}}</td>
                    <td>
                        <ng-container *ngIf="warden['jsonResponse']">
                            <span class="response-parser">
                               {{warden['jsonResponse']['reason']}}
                            </span>
                            <!--
                            <span *ngIf="warden['jsonResponse']['info'] != ''"> Additional Info: </span>
                            <span *ngIf="warden['jsonResponse']['info'] != ''" class="response-parser">
                               {{warden['jsonResponse']['info']}}
                            </span>
                            -->
                            <span style="display: block;" *ngFor="let info of warden['additional_info']">
                                {{info}}
                            </span>                            
                        </ng-container>
                    </td>
                    <td>{{warden.first_name}} {{warden.last_name}}</td>                    
                    <td>{{warden.mobile}}</td>
                    <td>{{warden.name}}</td>
                    <td><span style="display: block;" *ngFor="let role of warden['roles']">{{role}}</span></td>
                    <td><span [ngStyle]="{'color':warden.training === 'Non-compliant' ? 'red' : '#39a1ff'}">{{warden.training}}</span></td>
                    <td>{{warden.last_login | date: 'dd/MM/yyyy' }}</td>
                    <td>
                        <div *ngIf="warden.strStatus == 'Pending'">
                            <button style="width: 100%;" type="button" (click)="resendNotificationToUser(warden['notification_token_id'])" class="btn blue waves-effect waves-light">Resend Notification</button>
                        </div>
                        <div style="text-align: center;" *ngIf="warden.strStatus == 'Resigned'">
                            <button style="width: 48%;" type="button" class="btn orange waves-effect waves-light" (click)="acceptResignation(warden['user_id'], warden['location_id'], warden['notification_token_id'])">Accept</button>
                            <button style="width: 49%;" type="button" class="btn blue waves-effect waves-light" (click)="rejectResignation(warden['user_id'], warden['location_id'], warden['notification_token_id'])">Reject</button>
                        </div>
                    </td>
                </tr>
                <tr *ngFor="let warden of validatedList">
                    <td>{{warden.statusText}}</td>
                    <td> -- </td>
                    <td>{{warden.first_name}} {{warden.last_name}}</td>                    
                    <td>{{warden.mobile}}</td>
                    <td>{{warden.name}}</td>
                    <td>
                        <span style="display: block;" *ngFor="let role of warden['roles']">{{role}}</span>
                    </td>
                    <td><span [ngStyle]="{'color':warden.training === 'Non-compliant' ? 'red' : '#39a1ff'}">{{warden.training}}</span></td>
                    <td>{{warden.last_login | date: 'dd/MM/yyyy' }}</td>
                    <td> -- </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="col s12" *ngIf="showSummary == true">
        <table class="striped">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Response</th>
                    <th>Name</th>                    
                    <th>Mobile</th>
                    <th>Sublocation</th>
                    <th>ECO Role</th>
                    <th>Training</th>
                    <th>Last Activity (dd/MM/YYYY)</th>
                    <th>Required Action</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngIf="allWarden.length == 0">
                    <td colspan="8">No Records Found</td>
                </tr>
                <tr *ngFor="let warden of allWarden">
                    <td>{{warden.statusText}}</td>
                    <td>
                        <ng-container *ngIf="warden['jsonResponse']">
                            <span class="response-parser">
                                {{warden['jsonResponse']['reason']}}
                            </span>
                            <span style="display: block;" *ngFor="let info of warden['additional_info']">
                                {{info}}
                            </span> 
                        </ng-container>
                    </td>
                    <td>{{warden.first_name}} {{warden.last_name}}</td>                    
                    <td>{{warden.mobile}}</td>
                    <td>{{warden.name}}</td>
                    <td><span style="display: block;" *ngFor="let role of warden['roles']">{{role}}</span></td>
                    <td><span [ngStyle]="{'color':warden.training === 'Non-compliant' ? 'red' : '#39a1ff'}">{{warden.training}}</span></td>
                    <td>{{warden.last_login | date: 'dd/MM/yyyy' }}</td>
                    <td><span [ngStyle]="{'color':warden.actionTakenByTrp === 'Rejected' ? 'red' : '#39a1ff'}">{{warden.actionTakenByTrp}}</span> </td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div> 

<div class="row" *ngIf="showPEEPList"><!---->
    <div class="col s6">
        <h4 class="top-heading">Mobility Impaired Current List</h4>
    </div>
   <div class="col s6 right-align">
        <div class="sub-headings__peeplocation">
           <span style="display: block;">Location</span>
            <span *ngFor="let building of myBuildings" class="sub-heading-text-value">{{building['name']}}</span>
        </div>
   </div>
   <div class="col s12" style="margin-top: 15px;">
        <table class="striped">
            <thead>
                <tr>
                    <th>Mobility Impaired Status</th>
                    <th>P.E.E.P Review Date</th>
                    <th>Name</th>                    
                    <th>Mobile</th>
                    <th>Sublocation</th>
                    <th>Last Activity (dd/MM/YYYY)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="emergencyMobilityImpaired.length == 0">
                    <td colspan="8">No Records Found</td>
                </tr>
                <tr *ngFor="let peep of emergencyMobilityImpaired">
                    <td><span *ngIf="peep['mobility_impaired_details_id'] == null">--</span> 
                        <span>{{peep['status']}}</span>
                    </td>
                    <td>
                        <span *ngIf="peep['mobility_impaired_details_id'] == null">--</span> 
                        <span>{{peep['duration_date'] | date: 'dd/MM/yyyy' }}</span>
                    </td>
                    <td>{{peep['first_name']}} {{peep['last_name']}}</td>                    
                    <td>{{peep['mobile_number']}}</td>
                    <td>{{peep['name']}}</td>
                    <td>{{peep['last_login'] | date: 'dd/MM/yyyy' }}</td>
                    <td>
                        <button (click)="clickCompletePeepInfo(peep)" *ngIf="peep['mobility_impaired_details_id'] == null"  class="btn blue waves-effect waves-light">Complete peep information</button>                        
                        <button (click)="clickShowPeepInfo(peep)" *ngIf="peep['mobility_impaired_details_id'] != null" class="btn orange waves-effect waves-light" type="button">Review</button>
                    </td>
                </tr>
            </tbody>
        </table>
   </div> 
</div>

<div id="modalMobility" class="modal">
    <div class="modal-content center" [hidden]="!showModalLoader">
        <div class="preloader-wrapper active">
            <div class="spinner-layer spinner-red-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    
    <form #formMobility="ngForm" (submit)="modalPeepFormSubmit(formMobility, $event)" [hidden]="showModalLoader">
        <div class="modal-content">
            <h5>Mobility Impaired Information</h5>
            <div class="row">
                <div class="col s12 l6 m6">
                    <div class="select-field">
                        <span style=" font-size: 16px;">Mobility Impaired Status</span>
                        <select ngModel name="is_permanent">
                            <option value="0" selected="selected">Temporary</option>
                            <option value="1" >Permanent</option>
                        </select>
                    </div>
                </div>
                <div class="col s12 l6 m6">
                    <div class="input-field">
                        <span style=" font-size: 16px;">Review Date</span>
                        <ng-datepicker [(ngModel)]="datepickerModel" (ngModelChange)="onChangeDatePicker($event)" [options]="options"  [ngModelOptions]="{standalone: true}" [headless]="true" [isOpened]="isShowDatepicker" ></ng-datepicker>
                        <input id="durationDate" #durationDate type="text" [(ngModel)]="datepickerModelFormatted" ngModel name="duration_date" (click)="showDatePicker()" required >
                    </div>

                </div>
                <div class="col s12 m12 l12">
                    <h6>Assistant Requirement</h6>
                    <div class="input-field">
                        <input ngModel name="assistant_type" type="text" class="grey-input" placeholder="Please describe requirements and process here." required>
                    </div>
                </div>
                <div class="col s12 m12 l12">
                    <h6>Evacuation Equipment Requirement</h6>
                    <div class="input-field">
                        <input ngModel name="equipment_type" type="text" class="grey-input" placeholder="Please inform what is the equiment and type." required>
                    </div>
                </div>
                <div class="col s12 m12 l12">
                    <h6>Evacuation / Egress Procedure</h6>
                    <div class="input-field">
                        <input ngModel name="evacuation_procedure" type="text" class="grey-input" placeholder="" required>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer" [hidden]="showModalLoader">
            <a  class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
            <button *ngIf="selectedPeep['mobility_impaired_details_id'] != null; else submitButtonRef" type="submit" class="waves-effect waves-blue btn-flat" [disabled]="formMobility.invalid">Update</button>
            <ng-template #submitButtonRef>
                <button type="submit" class="waves-effect waves-blue btn-flat" [disabled]="formMobility.invalid">Submit</button>
            </ng-template>
            
        </div>
    </form>
</div>



<div id="modal-email-confirmation" class="modal">
    <div class="modal-content">
        <div class="modal-content-message">
            <h3>{{emailSentHeading}}</h3>
                <h5>{{emailSendingStat}}</h5>
            <div class="modal-footer">
                <a class="modal-close waves-effect waves-green btn-flat">Ok</a>
            </div>
        </div>
    </div>
</div>

<div preloader></div>
