<div style="margin: -19px !important; width: 99vw;" >
        <div class="stay-go-race">
                <div>
                    <h4 class="text-title">Emergency Evacuation Procedures</h4>
                    <p>
                        <!--
                            <span style="font-size: 1rem;">In the event of an incident, the warden will respond approximately until the arrival of the emergency services. <br />
                            The Chief Warden or nominated person will control the incident from the Fire Control room or other location as required.
                        </span>
                        -->
                        <span style="font-size: 1rem;">Please note these simplified procedures and talking points.</span>                       
                    </p>
                </div>
                <div class="stay-go-img-container"></div>  
            
                <div class="messages-container">
                    <h6 class="text-title">Key Messages:</h6>
                    <img src="/assets/images/trainings/exclamation.png" style="margin-right: 27px;">
                    <ul class="list-messages">
                        <li class="my-list-item">Safety of all occupants always is paramount.</li>
                        <li class="my-list-item">Call for assistance</li>
                        <li class="my-list-item">Communicate with occupants, guests and contractors to keep them informed.</li>
                        <li class="my-list-item">Do not speak to the Media</li>
                        <li class="my-list-item">Move to the Assembly Area</li>
                    </ul>
                </div>
                <div class="reminder-container">
                    <h6 class="text-title">Reminders:</h6>
                    <img src="/assets/images/trainings/reminder.png" style="margin-right: 27px;">
                    <ul class="list-messages">
                        <li class="my-list-item">Update your details on EvacConnect to remain informed.</li>
                        <li class="my-list-item">Remember to undertake your training every 6 months.</li>
                        <li class="my-list-item">Participate in your building's Evacuation Exercise every year.</li>                
                    </ul>
                </div>
                <div class="email-btn-container">
                    <button class="btn blue waves-effect waves-light" type="button" (click)="emailInfoGraphic()">Send this to my email</button>
                </div>
            </div>
            <div class="stay-go-manual">
                <div>
                    <h5 class="text-title">User Guide and Manual</h5>
                </div>
                <div class="user-guide-img"></div>
                <div class="user-guide-link"> 
                    <h6 style="font-size: 1.45rem;">EvacConnect Warden User Manual</h6>
                    <p>
                        <a style="font-size:0.90rem;">Download</a>
                    </p>
                </div>
            </div>
</div>


<div id="modal-email-confirmation" class="modal">
    <div class="modal-content">
        <div class="modal-content-message">
            <h3>{{emailSentHeading}}</h3>
                <h5>{{emailSendingStat}}</h5>
            <div class="modal-footer">
                <a class="modal-close waves-effect waves-green btn-flat">Ok</a>
            </div>
        </div>
    </div>
</div>

<div preloader></div>