<app-navbar></app-navbar>
<div class="location-navigation" *ngIf="showLocationNavigation">
	<ul>
		<!--
		 <li class="add-location pink-theme " [routerLink]="['/location', 'search']">
            <a  >
                <img src="assets/images/locations/add_location.png" class="default">
                <img src="assets/images/locations/add_location_hover.png" class="hover">
                <span>
                    Add new location
                </span>
            </a>
        </li> 
-->
		<li class="view-location green-theme" [ngClass]="{'active': endNav=='list'}" [routerLink]="['/location', 'list']" tabindex="0">
			<a>
				<img src="assets/images/locations/view_all_location.png" class="default">
				<img src="assets/images/locations/view_all_locations_hover.png" class="hover">
				<span>
					View location
				</span>
			</a>
    	</li>
		<li class="view-location-changes green-theme" tabindex="1" [ngClass]="{'active': endNav=='changes'}">
				<a>
					<img src="assets/images/locations/view_all_location.png" class="default">
					<img src="assets/images/locations/view_all_locations_hover.png" class="hover">
					<span>
						Summary of Changes
					</span>
				</a>
		</li>
    	<li class="view-location-activity green-theme" [ngClass]="{'active': endNav=='activity'}" [routerLink]="['/location', 'activity']" tabindex="2">
			<a>
        		<img src="assets/images/locations/view_all_location.png" class="default">
				<img src="assets/images/locations/view_all_locations_hover.png" class="hover">				
				<span>
					Activity Log
				</span>
			</a>
		</li>

	</ul
></div>
<div class="workspace container">
    <div class="red alert-email-verification darken-3 align-center" *ngIf="showEmailVerification"  style="margin-bottom: -58px;">
      <div *ngIf="showResponse">{{responseMessage}}</div>
      <div *ngIf="!showResponse">
        Please validate your account by opening your email. <a  id="aClickResend" (click)="resendEmailVerification()"> Click here to resend </a>
      </div>
    </div>
	<router-outlet></router-outlet>
</div>
