.location-navigation{
	border-bottom: 1px solid #ddd;
}

.location-navigation ul{
	margin: 0px;
}

.location-navigation ul li{
	display: inline-block;
	padding: 20px;
	cursor: pointer;
	height: 70px;
	margin-right: -4px;
}

.location-navigation ul li img{
	vertical-align: middle;
	display: none;
}

.location-navigation ul li img.default{
	display: inline-block;
}

.location-navigation ul li:hover img.default{
	display: none;
}

.location-navigation ul li:hover img.hover,
.location-navigation ul li.active img.hover{
	display: inline-block;
}

.location-navigation ul li.active img.default{
	display: none;
}

.location-navigation ul li.view-location.green-theme:hover,
.location-navigation ul li.view-location.green-theme:hover a{
	background-color: #36bb9b;
	color: #fff;
}
.location-navigation ul li.view-location.green-theme:hover{
	border-bottom: 2px solid #36bb9b;
}


.location-navigation ul li.active.green-theme,
.location-navigation ul li.active.green-theme a{
	background-color: #36bb9b;
	color: #fff;
}


.location-navigation ul li.pink-theme:hover,
.location-navigation ul li.pink-theme:hover a{
	background-color: #dc4453;
	color: #fff;
}

.location-navigation ul li.pink-theme:hover{
	border-bottom: 2px solid #dc4453;
}

.location-navigation ul li.active.pink-theme,
.location-navigation ul li.active.pink-theme a{
	background-color: #dc4453;
	color: #fff;
}

.location-navigation ul li.pink-theme{
	border-bottom: 1px solid #dc4453;
}

.location-navigation a{
	color: #545454;
	font-size: 16px;
}

.alert-email-verification{
  z-index: 9 !important;
  color: #fff;
  padding: 18px;
  font-size: 15px;
  box-shadow: 1px 2px 4px #999;
  width: 100%;
  position: relative;
  top: 0%;
  left: 0%;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: opacity 0.3s ease-in;
  opacity: 0;
}

.alert-email-verification a {
  color: #fff;
  text-decoration: underline;
}
