<div class="top-gray">
	<ul>
		<li>
			Choose Location
		</li>
		<li>
			<select>
				<option value="0" disabled selected >Select Location</option>
			</select>
		</li>
	</ul>
</div>

<div class="package-container">
	
	<div class="row">
		
		<div class="col l2 m6 s12">
			<div class="package-wrapper">
				<div class="title-container teal accent-4">
					<div class="dark-background-arrow">
						<div class="image"></div>
						<div class="arrow-right"></div>
					</div>
					<h4 class="title">
						Free Upgrade
					</h4>
				</div>
				<div class="content">
					
					<h5 class="blue-text title">
						Free Warden Management
					</h5>

					<ul>
						<li>Set up locations and accounts</li>
						<li>Add wardens to locations and sub-locations</li>
						<li>Very basic warden list reporting and notifications</li>
						<li>Supported by ads</li>
					</ul>

					
				</div>

				<div class="price-container">
					<h5 class="blue-text center">
						FREE
					</h5>
					<p class="center">For Life</p>


					<h6 class="center">
						<a href="javascript:void(0)">View More</a>
						<div style="transform: rotate(-90deg);">
							<i class="material-icons blue-text">chevron_left</i>
						</div>
					</h6>
				</div>

				<div class="footer">
					<button class="btn btn-block orange waves-effect waves-light">Upgrade</button>
				</div>
			</div>
		</div>

	</div>

</div>