.main{
    width: 100vw;
    min-height: calc(100vh - 94px);
    display: table;
}

.left-nav{
    width: 265px;
    background-color: #f1f1f1;
    padding: 20px;
    height: 100%;
    float: none !important;
    display: table-cell;
}

.right-container{
    height: 100%;
    float: none !important;
    display: table-cell;
}

.right-container .top{
    height: 80px;
    border-bottom: 1px solid #bbbbbb;
    padding-left: 30px;
}

.right-container .top .title{
    margin: 0px;
    line-height: 80px;
    font-size: 22px;
}

.right-container .right{
    line-height: 80px;
}

.right-container .right ul{
    margin: 0px;
    font-size: 15px;
}

.right-container .right ul li{
    display: inline-block;
    padding: 0px 10px;
}

.box-container{
    padding: 40px;
}

.box-container .box{
    padding: 20px;
    width: 270px;
    height: 420px;
    border-radius: 10px;
    margin: 20px;
    display: inline-block;
    background-color: #f1f1f1;
    position: relative;
}

.box-container .box .image{
    width: 135px;
    height: 135px;
    border-radius: 150px;
    display: block;
    margin: 15px auto;
    /* border: 1px solid; */
}

.box .button-container .btn{
    width: 100%;
    font-size: 16px !important;
}

.box-container .box  .module{
    font-size: 20px;
}

.box-container .box  .title{
    font-size: 20px;
}

.box-container .box  .bottom-text{
    font-size: 15px;
    line-height: 20px;
}

.box-container .box .icon-right{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
}

.box .icon-right,
.image-container .image{
    background-image: url('/assets/images/trainings/newtrainings.png');
    background-repeat: no-repeat;
}

.locked .icon-right{
    background-size: 2500%;
    background-position: 45.8% 86%;
}

.gen-occ-bas-tra .image-container .image{
    background-size: 699%;
    background-position: 6.09% 17%;
}