<div class="main">

    <div class="left-nav"></div>

    <div class="right-container">
        
        <div class="top">
            <h4 class="title left">Training</h4>
            <div class="right">
                <ul>
                    <li>
                        <div class="image"></div>
                        10 reward points
                    </li>

                    <li>
                        <div class="image"></div>
                        Earn reward points
                    </li>

                    <li>
                        <div class="image"></div>
                        Redeem poings
                    </li>
                </ul>
            </div>
        </div>

        <div class="box-container">
            
            <div class="box center locked gen-occ-bas-tra">
                
                <div class="icon-right"></div>

                <div class="image-container">
                    <div class="image"></div>
                </div>
                <p class="blue-text module">Module</p>

                <h4 class="center title">
                    General Occupant Basic Training
                </h4>

                <div class="button-container ">
                    <button class="btn orange">Take Training</button>
                </div>

                <p class="blue-text bottom-text">Earn 25 Skill Points & 10 Reward Points</p>

            </div>

        </div>

    </div>

</div>