<div class="row">
    <div class="col l12 m12 s12">
        <h5>{{ userData.first_name }} {{ userData.last_name }}</h5>
    </div>
    <div class="col l4 m12 s12">
        <div class="label-and-text">
            <label>Email</label>
            <p>{{ userData.email }}</p>
        </div>
    </div>
    <div class="col l4 m12 s12">
        <div class="label-and-text">
            <label>Account</label>
            <p *ngIf="userData.account">
                <a [routerLink]="['/admin/users-in-accounts/', userData.account.account_id]">
                    {{ userData.account.account_name }}
                </a>
            </p>
        </div>
    </div>
    <div class="col l4 m12 s12">
        <div class="label-and-text">
            <label>Phone:</label>
            <p>{{ userData.phone_number }}</p>
        </div>
    </div>
    <div class="col l4 m12 s12">
        <div class="label-and-text">
            <label>Mobile:</label>
            <p>{{ userData.mobile_number }}</p>
        </div>
    </div>
    <div class="col l4 m12 s12">
        <div class="label-and-text">
            <label>Imapaired:</label>
            <p><span *ngIf="userData.mobility_impaired == 0">No</span> <span *ngIf="userData.mobility_impaired == 1">Yes</span></p>
            
        </div>
    </div>
    <div class="col l4 m12 s12">
        <div class="label-and-text">
            <label>Last login:</label>
            <p>{{ userData.last_login }}</p>
        </div>
    </div>
    <div class="col l12 m12 s12">
        <div class="label-and-text">
            <input id="archived" type="checkbox" [(ngModel)]="userData.archived" (change)="toggleArchivedUser($event)"><label for="archived">Archived</label>
        </div>
    </div>    
</div>


<div class="row">
    <div class="col l12 m12 s12">
        <div class="mid-nav">
            <ul>
                <li (click)="selectTab('rolesLocations')" [ngClass]="{ active : activeLink == 'rolesLocations' }"> Roles & Locations </li>
                <li (click)="selectTab('credentials')" [ngClass]="{ active : activeLink == 'credentials' }"> Credentials </li>
                <li (click)="selectTab('information')" [ngClass]="{ active : activeLink == 'information' }"> Information </li>
                <!-- <li (click)="selectTab('trainings')" [ngClass]="{ active : activeLink == 'trainings' }"> Trainings </li> -->
            </ul>
        </div>
    </div>
</div>

<div class="row" *ngIf="activeLink == 'rolesLocations'">
    <div class="col l12 m12 s12">
        <table class="table striped">
            <thead>
                <tr>
                    
                    <th>Location Name</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="locationRoles.length == 0">
                    <td colspan="2" class="center">No record found</td>
                </tr>
                <tr *ngFor="let lr of locationRoles">                    
                    <td>
                        <a href="" [routerLink]="['/admin/view-location/', lr.location_id]" >{{lr.location_name}}</a>
                    </td>
                    <td>{{lr.location_role.join(', ')}}</td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>

<div class="row" *ngIf="activeLink == 'credentials'">
    <div class="col l5 m12 s12">
        <form #formCredential="ngForm" (submit)="submitCredential(formCredential)">
            <h5>Update {{userData.first_name}} {{userData.last_name}} Credential</h5>
            <div class="row">
                <div class="col s12 input-field">
                    <label for="userEmail">Email</label>
                    <input type="text" id="userEmail" name="email" ngModel pattern="[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*" [ngModel]="userData.email" required>
                </div>
                <div class="col s12 input-field">
                    <label for="inpPassword">Password
                        <small *ngIf=" inputPassword.value != inputConfirmPassword.value "> *Mismatched </small>
                    </label>

                    <input id="inpPassword" type="password" name="password" ngModel #inputPassword="ngModel"
                    [ngClass]="{
                        'invalid' : !inputPassword.valid && inputPassword.dirty || (inputPassword.value != inputConfirmPassword.value)
                    }"
                    required minlength="6" maxlength="150"  >
                </div>
                <div class="col s12 input-field">
                    <label for="confirmPassword"> Confirm password</label>

                    <input id="confirmPassword" type="password" ngModel name="confirm_password"
                        ngModel #inputConfirmPassword="ngModel"
                        [ngClass]="{
                            'invalid' : !inputConfirmPassword.valid && inputConfirmPassword.dirty || (inputPassword.value != inputConfirmPassword.value)
                        }"
                        required minlength="6" maxlength="150" >
                </div>

                <input type="text" name="user_id" ngModel [ngModel]="userData.user_id" required style="visibility: hidden;">
                <!-- <div class="col s12">
                    <label for="userEmail">Email</label>
                    <input type="text" id="userEmail" name="email" ngModel pattern="[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*" required>
                </div> -->
            </div>

            <div class="row button-container">
                <div class="col s12 m12 l12 right-align">
                    <a  class="btn grey lighten-1 waves-light waves-effect modal-close" (click)="updateCredentialsData.hideForm()">Cancel</a>
                    <button type="submit" class="btn orange waves-light waves-effect" [disabled]="formCredential.invalid">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row" *ngIf="activeLink == 'trainings'">
    <div class="col l12 m12 s12">
        <table class="table striped">
            <thead>
                <tr>
                    <th>Training Id</th>
                    <th>Training Name</th>
                    <th>Course Id</th>
                    <th>Course</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngIf="trainings.length == 0">
                    <td colspan="5" class="center">No record found</td>
                </tr>
                <tr *ngFor="let tr of trainings">
                    <td>{{tr.training_requirement_id}}</td>
                    <td>{{tr.training_requirement_name}}</td>
                    <td>{{tr.course_id}}</td>
                    <td>{{tr.course_name}}</td>
                    <td>{{tr.role_name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row" *ngIf="activeLink == 'information'">
    <form #formInfo="ngForm" (submit)="updateInfo(formInfo)">
        <div class="col l5 m4 s12">
            <div class="input-field">
                <input type="hidden" name="user_id" [(ngModel)]="userData.user_id">
                <input type="hidden" name="originalAccountId" [(ngModel)]="originalAccountId">
                <input [(ngModel)]="userData.first_name" name="first_name" id="input_text_first_name" type="text" placeholder="Please enter your first name" required #inputFirstName="ngModel">
                <label for="input_text_first_name" class="active">
                    First Name
                    <span class="red-text" *ngIf=" !inputFirstName.valid && inputFirstName.dirty ">*Required</span>
                </label>
            </div>
        </div>
        <div class="col l5 m4 s12">
            <div class="input-field">
                <input [(ngModel)]="userData.last_name" name="last_name" id="input_text_last_name" type="text" placeholder="Please enter your last name" required #inputLastName="ngModel">
                <label for="input_text_last_name" class="active">
                    Last Name
                    <span class="red-text" *ngIf=" !inputLastName.valid && inputLastName.dirty ">*Required</span>
                </label>
            </div>
        </div>
        <div class="col l5 m5 s12">
            <div class="input-field">
                <input id="input_text_email" type="text" placeholder="Enter a valid email" name="email" [(ngModel)]="userData.email" #email="ngModel" required>
                <label for="input_text_email" class="active">
                    Email
                    <span class="red-text" *ngIf=" !email.valid && email.dirty && email.errors.required">Email is required</span>
                    <!--                                            
                    <span class="red-text" *ngIf=" emailTaken "> *Email taken </span>                    
                    -->
                </label>
            </div>
        </div>
        <div class="col l5 m5 s12">
            <div class="input-field">
                <input [(ngModel)]="userData.phone_number" name="phone_number" id="input_text_phone" type="text" placeholder="Provide a valid phone number">
                <label for="input_text_phone" class="active">Phone No</label>
            </div>
        </div>

        <div class="col l5 m5 s12">
            <div class="input-field">
                <input [(ngModel)]="userData.occupation" id="input_text_occupation" type="text" placeholder="Please enter your occupation" name="occupation">
                <label for="input_text_occupation" class="active">Occupation</label>
            </div>
        </div>

        <div class="col l5 m5 s12">
            <div class="input-field">
                <input [(ngModel)]="userData.mobile_number" name="mobile_number" id="input_text_mobile" type="text" placeholder="Provide a valid mobile number">
                <label for="input_text_mobile" class="active">Mobile No</label>
            </div>
        </div>
        
        <div class="col l5 m5 s12">
            <div class="">
                <label for="input_account">Account</label>
                <select style="display: block;" [(ngModel)]="userData.account_id" name="account_id" id="input_account">
                    <option [value]="account['account_id']" *ngFor="let account of accounts">{{account['account_name']}}</option>
                </select>
            </div>
        </div>
        <div class="col l10 m10 s12 right-align">
            <button [disabled]="!formInfo.valid" type="submit" class="btn lighten-1 orange waves-effect">Update User Information</button>
        </div>
    </form>    
</div>

<div id="modalConfirm" class="modal">
	<div class="modal-content">
		<h5>Confirmation</h5>
		<p style="font-size: 16px;">
			{{message}}
		</p>
	</div>
	<div class="modal-footer">
		<a  class="modal-action modal-close waves-effect waves-red btn-flat">OK</a>		
	</div>
</div>