
.filter-container .search-field{
    background-color: #f0f0f0;
    padding: 0px 20px;
    border-radius: 5px;
    height: 50px;
    vertical-align: bottom;
    position: relative;
}

.filter-container .search-field input{
    margin: 3px 14px 0px 0px !important;
    padding: 0px;
    display: inline-block;
    width: 90%;
    border-bottom: 0px;
}

.filter-container .search-field input:focus{
    border-bottom: 0px;
    box-shadow: none;
}

.filter-container .search-field .material-icons{
    width: 23px;
    height: 27px;
    background-position: 30.5% 35.7%;
    position: absolute;
    top: 32%;
    right: 1%;
}

.filter-container .btn{
    width: 100%;
    padding: 0px;
    height: 50px !important;
}


table thead tr th{
	background-color: #2f2f2f;
    color: #fff;
    font-weight: unset;
    font-size: 14px;
    letter-spacing: 0.03em;
    border: 1px solid #2f2f2f;
    border-radius: 0px;
}

table tbody td{
	border: 1px solid #ddd;
	font-size: 14px;
}

table tr td .text{
    display: inline-block;
}


.btn-compliance-rating{
	pointer-events: none;
}

.btn-compliance-rating > div{
	display: inline-block;
}

.btn-compliance-rating .white{
    height: 40px;
    width: 80px;
    vertical-align: middle;
    color: #666;
    border-radius: 5px;
    line-height: 40px;
    font-size: 12px;
    font-weight: bold;
    margin: 0px 5px;
}