<div class="inline-block left-panel">
	<div class="row">
		<div class="col l12 m12 s12 col-user-profile">
			<h5>My Facilty Role</h5>
			
			<div class="image-container">				
				<p class="initials" *ngIf="viewData.user.profilePic.length > 0 === false">
					{{getInitials(viewData.user.name)}}
				</p>
				<img *ngIf="viewData.user.profilePic.length > 0 === true" [src]="viewData.user.profilePic">
			</div>

			<div class="name-container ">
				<h5 class="name">
					<span *ngFor="let role of viewData.display_role" style="display: block; padding-bottom: 10px;">{{role}}</span>
				</h5>				
			</div>
		</div>	
	</div>
	<div class="row">
		<div class="bottom-buttons">
			<button class="btn blue waves-effect waves-light request-change-loc" (click)="showUpdateLocForm()">					
						<div class="text inline-block">Update Sub Location</div>
			</button>
			<!--(click)="resignClicked()"-->
			<button class="btn orange waves-effect waves-light remove">			
				<div class="text inline-block">Resign My Facilty Role</div>
			</button>
			<button *ngIf="!inConfirmationProcess" class="btn grey waves-effect waves-light presonal-emergency" [routerLink]="['/dashboard/peep-form']" [queryParams]="{ id: userIdEnc, dest : '/teams/view-account-role' }">			
				<div class="text inline-block">Personal Emergency Evacuation Plan</div>
			</button>
			<button *ngIf="inConfirmationProcess" class="btn grey waves-effect waves-light presonal-emergency" [routerLink]="['/dashboard/peep-form']" [queryParams]="{ id: userIdEnc, dest : '/teams/view-account-role', confirmation: true,  step: 2, r: confirmationProcessRole }">			
				<div class="text inline-block">Personal Emergency Evacuation Plan</div>
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col l12 m12 s12 location-div" *ngIf="viewData.location.length > 0">
			<small>Location</small>
			<h6 *ngFor="let loc of viewData.location">
				{{loc}}
			</h6>
		</div>

		<div class="col l12 m12 s12 location-div" *ngIf="viewData.sublocation.length > 0">
			<small>Sub Location</small>			
			<h6 *ngFor="let loc of viewData.sublocation">
				{{loc}}
			</h6>
			
		</div>

	</div>

	
</div>
<div class="inline-block right-content">
	<div class="row">
		<div class="col s12 m12 l12 top-title-button">
			<h5 class="left">Facility Team</h5>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m12 l12">
			<table>
				<thead>
					<tr>
						<th>Locations</th>
						<th>Name</th>
						<th>Facility Role</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngIf="viewData.team.length == 0">
						<td colspan="3" class="center">
							<h6>No team found</h6>
						</td>
					</tr>
					<tr *ngFor="let user of viewData.team">
						<td>
							<span *ngIf="user.building">{{user.building}},</span>{{user.name}}
						</td>
						<td>
							{{user.first_name}} {{user.last_name}}
						</td>
						<td class="with-image">
							<span style="display: block;" *ngFor="let r of user.account_roles">{{r}}</span>
						</td>
					</tr>
					
				</tbody>
			</table>
		</div>
	</div>

</div>

<div id="modal-request-location-update" class="modal">
	
<div class="modal-content">
	<h3>Please choose a new location for the role</h3>
	<div>		
		<h5>Locations</h5>
		<div style="padding-left: 20px;">
			<div *ngFor="let lvl of levels">
				<h6>{{lvl.name}}</h6>
				<p *ngFor="let s of lvl.sublocation">
					<input #llist type="checkbox" id="location-{{s['location_id']}}" [checked]="s['checked']">
					<label for="location-{{s['location_id']}}">{{s['name']}}</label>
				</p> 				
			</div>
			<div>
				<p *ngFor="let b of buildings">
					<input #llist type="checkbox" id="location-{{b['location_id']}}" [checked]="b['checked']">
					<label for="location-{{b['location_id']}}">{{b['name']}}</label>
				</p>
			</div>
		</div>
		
	</div>
	<div class="button-container right">
		<button class="btn grey lighten-1 waves-effect waves-light modal-trigger modal-close" (click)="resetUpdateSelection()"> Cancel </button>
		<button class="btn orange waves-effect waves-light" (click)="requestLocationUpdate()"> Submit </button>
	</div>
</div>

</div>

<div id="modal-confirmation" class="modal">
	<div class="modal-content">
	<h5>{{confirmationHeader}}</h5>
	<h6>{{confirmationMessage}}</h6>		
</div>
<div class="modal-footer">
	<a class="modal-close waves-effect waves-green btn-flat">OK</a>
</div>
</div>