<div class="row">
	<div class="col l12 m12 s12" style="position: relative;">
		<h4>All Users</h4>
		<a href="#" class="archived">
			<span class="image"></span>
			View Archive
		</a>
	</div>
</div>

<div class="row filter-container">
	<div class="col l2 m3 s12 ">
		<button class="btn orange waves-effect waves-light add-peep" [routerLink]="['/teams/add-user']">
			<span class="image"></span>
			Add New User
		</button>
	</div>

	<div class="col l4 m5 s12">
		<div class="search-field">
			<input type="text" placeholder="Search member name">
			<span class="material-icons">search</span>
		</div>
	</div>

	<div class="col l2 m4 s6">
		<select>
			<option value="0" selected>Filter By</option>
		</select>
	</div>

	<div class="col l2 m6 s6">
		<select>
			<option value="0" selected>Sort By</option>
		</select>
	</div>
	<div class="col l2 m6 s12">
		<select>
			<option value="0" selected>Manage Action</option>
			<option value="1" >Archive selected</option>
		</select>
	</div>
	
</div>


<div class="row">
	<div class="col l12 m12 s12">
		
		<table class="table striped table-peep">
			<thead>
				<tr>
					<th>
						<p class="checkbox">
							<input id="allSelect" class="filled-in" type="checkbox">
							<label for="allSelect"></label>
						</p>
						Locations
					</th>
					<th>Name</th>
					<th>Email</th>
					<th>Mobile</th>
					<th>Account Role</th>
					<th>Training</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngIf="listData.length == 0">
					<td colspan="7" class="center-align">
						<h6>No records found</h6>
					</td>
				</tr>
				<tr *ngFor="let list of listData">
					<td>
						<p class="checkbox">
							<input id="location-{{list.location_id}}"  class="filled-in" type="checkbox">
							<label for="location-{{list.location_id}}" > {{list.location_info.name}} </label>
						</p>
					</td>
					<td>
						<div class="image-container lighten-3" [ngClass]="list.bg_class">
							<div class="image">
								<!-- <img src="assets/images/locations/default_profile_location.png"  > -->
							</div>
						</div>
						<div class="text">{{list.user_info.first_name}} {{list.user_info.last_name}}</div>
					</td>
					<td>{{list.user_info.email}}</td>
					<td>{{list.user_info.mobile_number}}</td>
					<td>
						<span *ngIf="list.role_id == 1">FRP</span>
						<span *ngIf="list.role_id == 2">TRP</span>
						<span *ngIf="list.role_id != 1 && list.role_id != 2">User</span>
					</td>
					<td>
						<span class="red-text">0/0</span>
					</td>
					<td>
						<a href="javascipt:void(0)" [routerLink]="['/teams/view-frp-trp']" *ngIf="list.role_id == 1 || list.role_id == 2" >Manage</a>
						<a href="javascipt:void(0)" *ngIf="list.role_id != 1 && list.role_id != 2" >Manage</a>
					</td>
				</tr>
			</tbody>
		</table>

	</div>

</div>