<div class="row" *ngIf="!isAdministrationsShow">
	<div class="col l12 m12 s12" style="position: relative;">
		<h4>All Users</h4>
		<a href="#" class="archived" [routerLink]="['/teams/all-archived-users']">
			<span class="image"></span>
			View Archive
		</a>
	</div>
</div>

<div class="row" *ngIf="isAdministrationsShow">
    <div class="col l12 m12 s12" style="position: relative;">
        <h4 *ngIf="!showArchived">Administrators</h4>
        <h4 *ngIf="showArchived">Archived Administrators</h4>
        <a href="#" class="archived" *ngIf="!showArchived" [routerLink]="['/teams/list-administrators']" [queryParams]="{ 'archived' : true }">
            <span class="image"></span>
            View Archive
        </a>
        <a href="#" class="archived" *ngIf="showArchived" [routerLink]="['/teams/list-administrators']" >
            <span class="image"></span>
            View Active
        </a>
    </div>
</div>

<div class="row filter-container">
	<div class="col l2 m6 s12 margin-bottom-20" *ngIf="!isAdministrationsShow">
		<button class="btn orange waves-effect waves-light add-peep" [routerLink]="['/teams/add-user']">
			<span class="image"></span>
			Add New User
		</button>
	</div>

    <div class="col l2 m6 s12 margin-bottom-20" *ngIf="isAdministrationsShow && !showArchived">
        <button class="btn orange waves-effect waves-light add-peep" [routerLink]="['/teams/add-administrators']">
            <span class="image"></span>
            Add New Administrators
        </button>
    </div>

	<div class="col l3 m6 s12 margin-bottom-20" [ngClass]="{ 'l5' : showArchived }">
		<div class="search-field">
			<input type="text" placeholder="Search member name or email" id="searchMemberInput">
			<span class="material-icons">search</span>
		</div>
	</div>

	<div class="col l2 m6 s6 margin-bottom-20">
		<select class="filter-by">
			<option value="0" selected>Filter By (All)</option>
            <!-- <option value="pending" >Pending</option> -->
            <!-- <option value="no_roles" >No Roles</option> -->
			<option value="{{filter.value}}" *ngFor="let filter of filters;">{{filter.name}}</option>
		</select>
	</div>

	<div class="col l3 m6 s6 margin-bottom-20">
        <select class="location">
            <option value="0" selected>All Locations</option>
            <option value="{{loc.location_id}}" *ngFor="let loc of locations">{{loc.name}}</option>
        </select>
    </div>

	<div class="col l2 m6 s6 margin-bottom-20">
		<select class="bulk-manage">
			<option value="0" selected disabled>Select Action</option>
			<option value="archive" >Archive selected</option>
            <option value="invite-selected" *ngIf="isOnlineTrainingAvailable">Send training invite to selected</option>
            <option value="invite-all-non-compliant" *ngIf="isOnlineTrainingAvailable">Send training invite to all non-compliant</option>
            <option value="invite-all" *ngIf="isOnlineTrainingAvailable">Send training invtite to all</option>
		</select>
	</div>

</div>


<div class="row">
	<div class="col l12 m12 s12">

		<table class="table striped table-peep">
			<thead>
				<tr>
					<th>
						<p class="checkbox">
							<input id="allLocations" (change)="selectAllCheckboxEvent($event)" class="filled-in" type="checkbox">
							<label for="allLocations">Locations</label>
						</p>
					</th>
					<th>Name</th>
					<th>Email</th>
					<th>Account</th>
					<th style="width: 20%;">Role</th>
					<th>Training</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody [hidden]="loadingTable">
				<tr *ngIf="listData.length == 0">
					<td colspan="7" class="center-align">
						<h6>No records found</h6>
					</td>
				</tr>
				<tr *ngFor="let list of listData; let i = index;">
					<td>
						<p class="checkbox" >
							<input id="location-{{i}}"  class="filled-in" [disabled]="allAreSelected" type="checkbox" (change)="singleCheckboxChangeEvent(list, $event)" [checked]="list.isselected"  >
							<label for="location-{{i}}" ></label>
                            <a  (click)="clickMultipleLocation(list.locations)" *ngIf="list.locations.length > 1">Multiple locations</a>
                            <span *ngIf="list.locations.length == 1">
                                <a [routerLink]="['/location/view/', list.locations[0]['enc_location_id']]" *ngIf="list.locations[0]['sublocations_count'] > 0">
                                    {{list.locations[0].name}}
                                </a>

                                <a [routerLink]="['/location/view-sublocation/', list.locations[0]['enc_location_id']]" *ngIf="list.locations[0]['sublocations_count'] == 0">
                                    {{list.locations[0].name}}
                                </a>
                            </span>
						</p>
					</td>
					<td>
						<div class="image-container lighten-3" [ngClass]="list.bg_class" *ngIf="list.profile_pic.trim().length > 0">
							<div class="image">
								<img *ngIf="list.profile_pic.trim().length > 0" [src]="list.profile_pic.trim()"  >
							</div>
						</div>
						<div class="text">
							<a [routerLink]="['/teams/view-user/', list.id_encrypted]">
								{{list.first_name}} {{list.last_name}}
							</a>
						</div>
					</td>
					<td>{{list.email}}</td>
					<td>{{list.account_name}}</td>
					<td class="with-image role-name">
						<div *ngIf="list.mobility_impaired == 1" class="impaired"></div>
						<span *ngFor="let role of list.roles; let ri = index;" class="name">
							{{role.role_name}}<i *ngIf=" list.roles.length - 1 != ri ">,</i>
						</span>
						<!--
						<div class="image frp" *ngIf="list.role_id == 1 && list.user_info.mobility_impaired == 0"></div>
						<div class="image trp" *ngIf="list.role_id == 2 && list.user_info.mobility_impaired == 0"></div>
						<div class="image user" *ngIf="list.role_id != 1 && list.role_id != 2 && list.user_info.mobility_impaired == 0"></div>
						<div *ngIf="list.user_info.mobility_impaired == 1" class="impaired"></div>

						<span *ngIf="list.role_id == 1" class="name">FRP</span>
						<span *ngIf="list.role_id == 2" class="name">TRP</span>
						<span *ngIf="list.role_id != 1 && list.role_id != 2 && list.role_name"  class="name" >
							{{list.role_name}}
						</span>
						-->
					</td>
					<td *ngIf="list.em_roles.length > 0">
                        <!-- <span [ngClass]="{'red-text': list.assigned_courses == 0 && list.trainings == 0, 'green-text': list.assigned_courses > 0 || list.trainings > 0}">{{list.assigned_courses}}/{{list.trainings}}</span> -->
                        <span *ngIf="list.trainings == 0" class="red-text">{{list.trainings}} / {{list.trids.length + list.misc_trainings.length}}</span>
                        <span *ngIf="list.trainings > 0 && list.trainings < (list.trids.length + list.misc_trainings.length)" class="orange-text">{{list.trainings}} / {{list.trids.length + list.misc_trainings.length}}</span>
                        <span *ngIf="list.trainings == (list.trids.length + list.misc_trainings.length)" class="green-text">{{list.trainings}} / {{list.trids.length + list.misc_trainings.length}}</span>
					</td>
                    <td *ngIf="list.em_roles.length == 0">
                    </td>
					<td *ngIf="list.profile_completion == 1">
						<select (change)="onSelectFromTable($event, list)">
							<option value="0" class="blue-text" selected disabled>Select action</option>
							<option value="view" class="blue-text">View</option>
                            <option value="archive" class="blue-text" [hidden]="(list.user_id == userData.userId)" >Archive</option>
							<option  [value]=" (list.mobility_impaired == 0) ? 'peep' : 'healthy'  " class="blue-text" >
                                <span *ngIf="list.mobility_impaired == 0">Mark as peep</span>
                                <span *ngIf="list.mobility_impaired == 1">Mark as healthy</span>
                            </option>
                            <option value="invite" *ngIf="list.sendinvitation && isOnlineTrainingAvailable" class="blue-text">Send invitation</option>
						</select>
					</td>
                    <td *ngIf="list.profile_completion == 0"> 
                        <span class="red-text">Pending Profile Completion</span>
                    </td>
				</tr>
			</tbody>
			<tbody [hidden]="!loadingTable">
				<tr>
					<td colspan="7" class="center-align">
						<h6>Fetching records..</h6>
					</td>
				</tr>
			</tbody>
		</table>

	</div>

</div>

<div class="row">
	<div class="col l12 m12 s12 center pagination" [hidden]="listData.length == 0 || pagination.total <= queries.limit || loadingTable">
		<div class="inline-block">
			<button class="btn blue" (click)="pageChange('prev')" [disabled]="pagination.currentPage == 1"> Prev </button>
		</div>

		<div class="inline-block select">
			<select #selectPage ngModel [(ngModel)]="pagination.currentPage" (change)="pageChange(selectPage.value)">
				<option *ngFor="let sel of pagination.selection" value="{{sel.number}}">{{sel.number}}</option>
			</select>
		</div>

		<div class="inline-block">
			<button class="btn blue" (click)="pageChange('next')" [disabled]="pagination.pages == pagination.currentPage" > Next </button>
		</div>
	</div>
</div>

<div id="modalArchive" class="modal">
	<div class="modal-content center" [hidden]="!showModalLoader">
		<div class="preloader-wrapper active">
			<div class="spinner-layer spinner-red-only">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div><div class="gap-patch">
					<div class="circle"></div>
				</div><div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-content" [hidden]="showModalLoader">
		<h5>Confirmation</h5>
		<p style="font-size: 16px;">
			Are you sure you want to archive
			<span class="blue-text">{{selectedToArchive.first_name}} {{selectedToArchive.last_name}}</span>
		</p>
	</div>
	<div class="modal-footer" [hidden]="showModalLoader">
		<a  class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
		<a  class="waves-effect waves-blue btn-flat" (click)="archiveClick()">Archive</a>
	</div>
</div>


<div id="modalArchiveBulk" class="modal">
	<div class="modal-content center" [hidden]="!showModalLoader">
		<div class="preloader-wrapper active">
			<div class="spinner-layer spinner-red-only">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div><div class="gap-patch">
					<div class="circle"></div>
				</div><div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-content" [hidden]="showModalLoader">
		<h5>Confirmation</h5>
		<p style="font-size: 16px;">
			Are you sure you want archive the following users?
		</p>
		<ul>
			<li *ngFor="let list of selectedFromList;">
				<span class="blue-text">{{list.first_name}} {{list.last_name}}</span>
			</li>
		</ul>
	</div>
	<div class="modal-footer" [hidden]="showModalLoader">
		<a  class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
		<a  class="waves-effect waves-blue btn-flat" (click)="bulkArchiveClick()">Archive</a>
	</div>
</div>

<div id="modalSelectMultipleLocations" class="modal">

    <form #formMultiple="ngForm" (submit)="submitSelectFromMultipleLocations(formMultiple)">
        <div class="modal-content">
            <h5>Multiple locations</h5>
            <p style="font-size: 16px;">
                Please select a location
            </p>
            <ul>
                <li *ngFor="let loc of multipleLocations;">
                    <input type="radio" ngModel name="location_id" id="rad-{{loc.location_id}}" value="{{loc.location_id}}" />
                    <label for="rad-{{loc.location_id}}">
                        {{loc.name}}
                    </label>
                </li>
            </ul>
        </div>
        <div class="modal-footer" [hidden]="showModalLoader">
            <a  class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
            <button type="submit" class="waves-effect waves-blue btn-flat" >See Location</button>
        </div>
    </form>

</div>

<div id="modalMobility" class="modal">

    <div class="modal-content center" [hidden]="!showModalLoader">
        <div class="preloader-wrapper active">
            <div class="spinner-layer spinner-red-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>

    <form #formMobility="ngForm" (submit)="modalPeepFormSubmit(formMobility, $event)" [hidden]="showModalLoader">

    <div class="modal-content" [hidden]="showModalLoader">
        <h5>Mobility Impaired Information For {{selectedPeep.first_name}} {{selectedPeep.last_name}}</h5>
        <div class="row">
            <div class="col s12 l6 m6">
                <div class="select-field">
                    <span style=" font-size: 16px;">Mobility Impaired Status</span>
                    <select ngModel name="is_permanent">
                        <option value="0" selected="selected">Temporary</option>
                        <option value="1" >Permanent</option>
                    </select>
                </div>
            </div>
            <div class="col s12 l6 m6">
                <div class="input-field">
                    <span style=" font-size: 16px;">Mobility Impaired Upto</span>
                    <ng-datepicker [(ngModel)]="datepickerModel" (ngModelChange)="onChangeDatePicker($event)" [options]="options"  [ngModelOptions]="{standalone: true}" [headless]="true" [isOpened]="isShowDatepicker" ></ng-datepicker>
                    <input id="durationDate" #durationDate type="text" [(ngModel)]="datepickerModelFormatted" ngModel name="duration_date" (click)="showDatePicker()" required >
                </div>

            </div>
            <div class="col s12 m12 l12">
                <h6>Assistant Type</h6>
                <div class="input-field">
                    <input ngModel name="assistant_type" type="text" class="grey-input" placeholder="Please describe requirements and process here." required>
                </div>
            </div>
            <div class="col s12 m12 l12">
                <h6>Evacuation Equipment Type / Requirement</h6>
                <div class="input-field">
                    <input ngModel name="equipment_type" type="text" class="grey-input" placeholder="Please inform what is the equiment and type." required>
                </div>
            </div>
            <div class="col s12 m12 l12">
                <h6>Evacuation / Egress Procedure</h6>
                <div class="input-field">
                    <input ngModel name="evacuation_procedure" type="text" class="grey-input" placeholder="" required>
                </div>
            </div>
        </div>

    </div>

    <div class="modal-footer" [hidden]="showModalLoader">
        <a  class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
        <button type="submit" class="waves-effect waves-blue btn-flat" [disabled]="formMobility.invalid">Submit</button>
    </div>


    </form>
</div>

<div id="modalMobilityHealty" class="modal">

    <div class="modal-content center" [hidden]="!showModalLoader">
        <div class="preloader-wrapper active">
            <div class="spinner-layer spinner-red-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-content" [hidden]="showModalLoader">
        <h5>Confirm action</h5>

        <h6>Mark {{selectedPeep.first_name}} {{selectedPeep.last_name}} as Healthy</h6>
    </div>

    <div class="modal-footer" [hidden]="showModalLoader">
        <a  class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
        <button type="submit" class="waves-effect waves-blue btn-flat" (click)="markUserAsHealthy()">Confirm</button>
    </div>
</div>

<div id="modalSendInvitation" class="modal">

    <div class="modal-content center" [hidden]="!showModalLoader">
        <div class="preloader-wrapper active">
            <div class="spinner-layer spinner-red-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-content" [hidden]="showModalLoader">
        <h5>Confirm action</h5>

        <div *ngIf="selectedToInvite.length == 1 && !sendInviteToAll && !sendInviteToAllNonCompliant">
            <h6>Send training invitation to {{selectedToInvite[0].first_name}} {{selectedToInvite[0].last_name}}?</h6>
        </div>
        <div *ngIf="selectedToInvite.length > 1 && !sendInviteToAll && !sendInviteToAllNonCompliant">
            <h6>Send training invitation to the following:</h6>
            <ul>
                <li *ngFor="let user of selectedToInvite; let i = index" style="font-size: 14px; margin-bottom: 2px;">
                    {{i + 1}}.) {{user.first_name}} {{user.last_name}}
                </li>
            </ul>
        </div>
        <div *ngIf="sendInviteToAll && !sendInviteToAllNonCompliant">
            <h6>Send training invitation to all?</h6>
            <h6>Please Note - This action will send training invite to all the users from your account.</h6>
        </div>
        <div *ngIf="sendInviteToAllNonCompliant && !sendInviteToAll">
            <h6>Send training invitation to all non-compliant?</h6>
        </div>

    </div>

    <div class="modal-footer" [hidden]="showModalLoader">
        <a  class="modal-action modal-close waves-effect waves-red btn-flat" (click)="clickCancelSendInvitation()">Cancel</a>
        <button type="submit" class="waves-effect waves-blue btn-flat" (click)="clickSendInvitation()" [disabled]="selectedToInvite.length == 0 && (!sendInviteToAll && !sendInviteToAllNonCompliant) ">Confirm</button>
    </div>
</div>
