<ul>
    <li class="waves-effect waves-blue" [routerLink]="['/admin', 'accounts']">
        <div class="logo account"></div>
        <span class="text">Account</span>
    </li>
    <li class="waves-effect waves-blue" [routerLink]="['/admin', 'training-validation']">
        <div class="logo training"></div>
        <span class="text">Validation</span>
    </li>
    <li class="waves-effect waves-blue" [routerLink]="['/admin', 'notification-list']">
        <div class="logo">
            <i class="material-icons" style="color: rgba(255, 255, 255, 0.6);">notifications_none</i>
        </div>
        <span> Notification Setup </span>
    </li>
    <li class="waves-effect waves-blue" [routerLink]="['/admin', 'reports']">
        <div class="logo reports"></div>
        <span class="text">Reports</span>
    </li>
    <li class="waves-effect waves-blue" [routerLink]="['/admin', 'list-reward-configuration']">
        <div class="logo reward">
            <i class="material-icons" style="color: rgba(255, 255, 255, 0.8);" style="vertical-align: inherit; color: rgba(255, 255, 255, 0.8); font-size: 28px;">card_giftcard</i>
        </div>
        <span class="text">Reward Program</span>
    </li>    
    <li class="waves-effect waves-blue" [routerLink]="['/admin', 'upload-compliance-docs']">
        <div class="logo upload"></div>
        <span class="text">Upload</span>
    </li>
    <li class="waves-effect waves-blue" [routerLink]="['/']">
        <div class="logo" style="background-image: url(/assets/images/responsive-logo.png); background-size: 60%; background-position: center;">
        </div>
        <span> EvacConnect </span>
    </li>
    <li class="waves-effect waves-blue" [routerLink]="['/signout']">
        <div class="logo">
            <i class="material-icons" style="color: rgba(255, 255, 255, 0.8);" style="vertical-align: inherit; color: rgba(255, 255, 255, 0.8); font-size: 28px;">first_page</i>
        </div>
        <span> Signout </span>
    </li>
</ul>