<ul>
    <li class="waves-effect waves-blue" [routerLink]="['/admin', 'accounts']">
        <div class="logo account"></div>
        <span class="text">Account</span>
    </li>
    <li class="waves-effect waves-blue" [routerLink]="['/admin', 'training-validation']">
        <div class="logo training"></div>
        <span class="text">Validation</span>
    </li>
    <li class="waves-effect waves-blue" [routerLink]="['/admin', 'notification-list']">
        <div class="logo">
            <i class="material-icons" style="color: rgba(255, 255, 255, 0.6);">notifications_none</i>
        </div>
        <span> Notification Setup </span>
    </li>
    <li class="waves-effect waves-blue" [routerLink]="['/admin', 'reports']">
        <div class="logo reports"></div>
        <span class="text">Reports</span>
    </li>
    <li class="waves-effect waves-blue" [routerLink]="['/admin', 'upload-compliance-docs']">
        <div class="logo upload"></div>
        <span class="text">Upload</span>
    </li>
</ul>