<nav>
  <div class="nav-wrapper">
    <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
    <a href="" class="brand-logo" target="_blank">Evacconnect</a>
    <ul class="side-nav grey darken-2" id="mobile-demo">
      <li class="sidenav-header blue">
        <div class="row">
          <div class="col s4">
            <img src="" width="48px" height="48px" alt="" class="circle responsive-img valign profile-image">
          </div>
        </div>
      </li>
      <li class="white"><a [routerLink]="['/admin', 'accounts']" class="waves-effect waves-blue"><i class="material-icons">supervisor_account</i>Accounts</a></li>
      <!-- <li class="white"><a href="#" class="waves-effect waves-blue"><i class="material-icons">school</i>Trainings</a></li> -->
      <li class="white"><a [routerLink]="['/admin', 'training-validation']" class="waves-effect waves-blue"><i class="material-icons">check_box</i>Validation</a></li>
      <!-- <li class="white"><a href="#" class="waves-effect waves-blue"><i class="material-icons">monetization_on</i> Subscription</a></li> -->
      <!-- <li class="white"><a href="#" class="waves-effect waves-blue"><i class="material-icons">view_list</i> Reports</a></li> -->
      <li class="white"><a [routerLink]="['/admin', 'upload-compliance-docs']" class="waves-effect waves-blue"><i class="material-icons">cloud_upload</i>Upload</a></li>
      <!--
      <li class="white">
        <div class="divider"></div>
      </li>
      <li class="white"><a href="#" class="waves-effect waves-blue"><i class="material-icons">language</i> Menu item<span class="new badge right yellow darken-3"></span></a></li>
    -->
    </ul>

  </div>
</nav>

<!-- Gitter Chat Link -->
<!-- <div class="fixed-action-btn"><a class="btn-floating btn-large red" href="https://gitter.im/Dogfalo/materialize" target="_blank"><i class="large material-icons">chat</i></a></div> -->

