<div class="row">
    <div class="steps-text">
        <div class="circle"></div>
        <div class="text">Step 1</div>

        <div class="dash"></div>
        <div class="circle"></div>
        <div class="text blue-text">Step 2</div>

        <div class="dash"></div>
        <div class="circle"></div>
        <div class="text">Step 3</div>

        <div class="dash"></div>
        <div class="circle"></div>
        <div class="text">Step 4</div>

        <div class="dash"></div>
        <div class="circle"></div>
        <div class="text">Step 5</div>
    </div>
</div>
<div class="row">
    <div class="col s6">
        <h5 class="title">Building Email Notification List</h5>
    </div>
    <div class="col s6" right-align>
        <div class="row">
            <div class="col s4">
                <h6 class="tally">No. of Receiver: {{list.length}}</h6>
            </div>
            <div class="col s4">
                <h6 class="tally">No. of Responder: {{ responders }}</h6>
            </div>
            <div class="col s4">
                <h6 class="tally">No. of Exceptions: {{ exceptioners }}</h6>
            </div>
        </div>
    </div>
</div>
<!--
<div class="row filter-container">
    <div class="col l6 m6 s12">
        <div class="search-field">
            <input type="text" placeholder="Search Location" id="searchLocation">
            <span class="material-icons">search</span>
        </div>
    </div>
    <div class="col l2 m4 s6">
        <select class="filter-by">
            <option value="0" selected>Filter By (All)</option>
            <option value=""></option>
        </select>
    </div>
    <div class="col l2 m6 s6">
        <select class="sort-by">
            <option value="0" selected>Sort By</option>
            <option value="user-name-desc">User Name Descending</option>
            <option value="user-name-asc">User Name Ascending</option>
        </select>
    </div>
    <div class="col l2 m6 s12">
        <select class="bulk-manage">
            <option value="0" selected disabled>Select Action</option>
            <option value="archive">Archive selected</option>
        </select>
    </div>
</div>
-->
<div class="row">
    <div class="col s12">
        <table class="table striped table-peep">
            <thead>
                <tr class="grey darken-4 white-text">
                    <th>Name</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th *ngIf="roleId == 1">Tenancy Name</th>
                    <th *ngIf="roleId == 2">Role</th>
                    <th>Location</th>
                    <th>Activity Log</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody *ngIf="showLoadingIcon">
                <tr>
                    <td colspan="7">
                        <div class="progress">
                            <div class="indeterminate"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="!showLoadingIcon">
                <tr *ngIf="list.length == 0">
                    <td colspan="7">No Records Found</td>
                </tr>
                <tr *ngFor="let u of tenancyMovedOut">
                    <td>{{u['first_name']}} {{u['last_name']}}</td>
                    <td>{{u['email']}}</td>
                    <td><span class="resigned">Tenancy Moved Out</span></td>
                    <td *ngIf="roleId == 1">{{u['account_name']}}</td>
                    <td *ngIf="roleId == 2">{{u['role_text']}}</td>                      
                    <td>{{u['name']}}</td>
                    <td>{{u['dtLastSent'] | date: 'dd/MM/yyyy' }}</td>
                    <td>
                        <button *ngIf="roleId == 2" type="button" (click)="performAction(u, 'tenancy-moved-out')" class="waves-effect waves-light btn green">Yes</button>
                        <button type="button" class="waves-effect waves-light btn red">No</button>
                    </td>
                </tr>
                <tr *ngFor="let u of hasResigned">
                    <td>{{u['first_name']}} {{u['last_name']}}</td>
                    <td>{{u['email']}}</td>
                    <td><span class="resigned">Resigned</span></td>
                    <td>{{u['account_name']}}</td>                    
                    <td *ngIf="roleId == 1">{{u['account_name']}}</td>
                    <td *ngIf="roleId == 2">{{u['role_text']}}</td>   
                    <td>{{u['dtLastSent'] | date: 'dd/MM/yyyy' }}</td>
                    <td><button class="waves-effect waves-light btn green">Re-assign</button> <button class="waves-effect waves-light btn red">Remove</button></td>
                </tr>
                <tr *ngFor="let u of locChanged">
                    <td>{{u['first_name']}} {{u['last_name']}}</td>
                    <td>{{u['email']}}</td>
                    <td><span class="resigned">Location Changed</span></td>
                    <td *ngIf="roleId == 1">{{u['account_name']}}</td>
                    <td *ngIf="roleId == 2">{{u['role_text']}}</td>                      
                    <td>{{u['name']}}</td>
                    <td>{{u['dtLastSent'] | date: 'dd/MM/yyyy' }}</td>
                    <td>
                        <button type="button" (click)="performAction(u, 'change-location')" class="waves-effect waves-light btn green">Yes</button>
                        <button type="button" class="waves-effect waves-light btn red">No</button>
                    </td>
                </tr>
                <tr *ngFor="let u of isPending">
                    <td>{{u['first_name']}} {{u['last_name']}}</td>
                    <td>{{u['email']}}</td>
                    <td><span class="pending">Pending</span></td>
                    <td *ngIf="roleId == 1">{{u['account_name']}}</td>
                    <td *ngIf="roleId == 2">{{u['role_text']}}</td>                       
                    <td>{{u['name']}}</td>
                    <td><span *ngIf="u['lastActionTaken'] != null">Last Action Taken: {{u['lastActionTaken']}} on <br></span>{{u['dtLastSent'] | date: 'dd/MM/yyyy' }}</td>
                    <td><button type="button" (click)="performAction(u, 'resend')" class="waves-effect waves-light btn green">Resend</button></td>
                </tr>
                <tr *ngFor="let u of hasNotSent">
                    <td>{{u['first_name']}} {{u['last_name']}}</td>
                    <td>{{u['email']}}</td>
                    <td> <span class="pending">No Notification</span></td>
                    <td *ngIf="roleId == 1">{{u['account_name']}}</td>
                    <td *ngIf="roleId == 2">{{u['role_text']}}</td>   
                    <td>{{u['name']}}</td>
                    <td>--</td>
                    <td><button class="waves-effect waves-light btn green">Send</button></td>
                </tr>                               
                               
                <tr *ngFor="let u of others">
                    <td>{{u['first_name']}} {{u['last_name']}}</td>
                    <td>{{u['email']}}</td>
                    <td><span class="resigned">{{u['strStatus']}}</span></td>
                    <td>{{u['account_name']}}</td>                    
                    <td *ngIf="roleId == 1">{{u['account_name']}}</td>
                    <td *ngIf="roleId == 2">{{u['role_text']}}</td> 
                    <td>{{u['dtLastSent'] | date: 'dd/MM/yyyy' }}</td>
                    <td></td>
                </tr>
                <tr *ngFor="let u of isValidated">
                    <td>{{u['first_name']}} {{u['last_name']}}</td>
                    <td>{{u['email']}}</td>
                    <td><span class="validated">Validated</span> </td>
                    <td *ngIf="roleId == 1">{{u['account_name']}}</td>
                    <td *ngIf="roleId == 2">{{u['role_text']}}</td>                     
                    <td>{{u['name']}}</td>
                    <td>{{u['dtLastSent'] | date: 'dd/MM/yyyy' }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>        
    </div>
    <div class="row">
        <div class="col s8"></div>
        <div class="col s2">
            <button type="button" class="btn orange waves-effect waves-light explore">Accept Changes</button>
        </div>
        <div class="col s2">
            <button type="button" class="btn blue waves-effect waves-light explore" [routerLink]="['/dashboard', 'notification-warden-list', encryptedToken]">Next</button>
        </div>
    </div>
</div>

<ng-template #smallActive>
    <div class="preloader-wrapper small active">
        <div class="spinner-layer spinner-green-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
    </div>
</ng-template>
