<div class="row top">
	<div class="col l12 m12 s12">
		<h4> ECO Member </h4>
		<div class="right-actions">
			<!-- <div class="switch-container">
				<div class="text">Show only not compliant</div>
				<div class="switch">
					<input type="checkbox">
					<div class="yes">Yes</div>
					<div class="no">No</div>
					<div class="highlight"></div>
					<div class="background"></div>
				</div>
			</div> -->
			<div class="archived-container">
				<a href="javascript:void(0)" [routerLink]="['/teams/list-archived-wardens']">
					<div class="image"></div>
					View Archive
				</a>
			</div>
		</div>
	</div>
</div>

<div class="row filter-container">
	<div class="col l2 m5 s12">
		<button class="btn orange waves-effect waves-light btn-add-warden" [routerLink]="['/teams/add-wardens']">
			<div class="image"></div>
			Add Warden
		</button>
	</div>

	<div class="col l4 m5 s12">
		<div class="search-field">
			<input type="text" placeholder="Search member name or email" id="searchMemberInput">
			<span class="material-icons">search</span>
		</div>
	</div>

	<div class="col l2 m4 s6">
		<select class="filter-by">
			<option value="0" selected>Filter By (All)</option>
			<option value="{{filter.value}}" *ngFor="let filter of filters;">{{filter.name}}</option>
		</select>
	</div>

	<div class="col l2 m6 s6">
		<select class="sort-by">
			<option value="0" selected>Sort By</option>
			<option value="user-name-desc">User Name Descending</option>
			<option value="user-name-asc">User Name Ascending</option>
		</select>
	</div>
	<div class="col l2 m6 s12">
		<select class="bulk-manage">
			<option value="0" selected>Manage Action</option>
			<option value="archive" >Archive selected</option>
		</select>
	</div>
</div>


<div class="row">
	<div class="col l12 m12 s12">
		<table class="table striped">
			<thead>
				<tr>
					<th>
						<p class="checkbox">
							<input id="allLocations" (change)="selectAllCheckboxEvent($event)" class="filled-in" type="checkbox">
							<label for="allLocations">Locations</label>
						</p>
					</th>
					<th>Name</th>
					<th style="width: 20%;">ECO Role</th>
					<th>Training</th>
					<th>Last Login</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody [hidden]="loadingTable">
				<tr *ngIf="wardenArr.length == 0">
					<td colspan="6" class="center">
						<h6>No record found</h6>
					</td>
				</tr>
				<tr *ngFor="let warden of wardenArr; let i = index">
					<td>

						<p class="checkbox" >
                            <input id="location-{{i}}"  class="filled-in" type="checkbox" (change)="singleCheckboxChangeEvent(warden, $event)"  >
                            <label for="location-{{i}}" >
                                <a href="javascipt:void(0)" (click)="clickMultipleLocation(warden.locations)" *ngIf="warden.locations.length > 1">Multiple locations</a>
                                <span *ngIf="warden.locations.length == 1">
                                    <a [routerLink]="['/location/view/', warden.locations[0]['enc_location_id']]" *ngIf="warden.locations[0]['sublocations_count'] > 0">
                                        <span *ngIf="warden.locations[0].parent_name">{{ warden.locations[0].parent_name }}, </span> {{warden.locations[0].name}}
                                    </a>

                                    <a [routerLink]="['/location/view-sublocation/', warden.locations[0]['enc_location_id']]" *ngIf="warden.locations[0]['sublocations_count'] == 0">
                                        <span *ngIf="warden.locations[0].parent_name">{{ warden.locations[0].parent_name }}, </span> {{warden.locations[0].name}}
                                    </a>
                                </span>
                            </label>
						</p>
					</td>
					<td>
						<div class="image-container lighten-3" [ngClass]="warden.bg_class">
							<div class="image">
								<img *ngIf="warden.profile_pic.length > 0" [src]="warden.profile_pic"  >
							</div>
						</div>
						<div class="text">
							<a [routerLink]="['/teams/view-user/', warden.id_encrypted]">
								{{warden.first_name}} {{warden.last_name}}
							</a>
						</div>
					</td>
					<td class="with-image role-name">
						<div class="eco-role">
							<!-- <div class="image"></div> -->
							<div *ngIf="warden.mobility_impaired == 1" class="impaired"></div>
							<span *ngFor="let role of warden.roles; let ri = index;" class="name">
								{{role.role_name}}<i *ngIf=" warden.roles.length - 1 != ri ">,</i>
							</span>
						</div>
					</td>
					<td>
              <span [ngClass]="{'over red-text': warden.assigned_courses == 0 && warden.trainings == 0, 'over green-text': warden.assigned_courses > 0 || warden.trainings > 0}">
						{{warden.assigned_courses}} / {{warden.trainings}} </span>
					</td>
					<td>
						{{warden['last_login']}}
					</td>
					<td>
						<select (change)="onSelectFromTable($event, warden)">
							<option value="0" class="blue-text" selected>Manage</option>
							<option value="view" class="blue-text">View</option>
							<option value="archive" class="blue-text" [hidden]="warden.user_id == userData.userId">Archive</option>
						</select>
					</td>
				</tr>
			</tbody>
			<tbody [hidden]="!loadingTable">
				<tr>
					<td colspan="7" class="center-align">
						<h6>Fetching records..</h6>
					</td>
				</tr>
			</tbody>
		</table>

	</div>

</div>

<div class="row">
	<div class="col l12 m12 s12 center pagination" [hidden]="wardenArr.length == 0 || pagination.total <= queries.limit || loadingTable">
		<div class="inline-block">
			<button class="btn blue" (click)="pageChange('prev')" [disabled]="pagination.currentPage == 1" > Prev </button>
		</div>

		<div class="inline-block select">
			<select #selectPage ngModel [(ngModel)]="pagination.currentPage" (change)="pageChange(selectPage.value)">
				<option *ngFor="let sel of pagination.selection" value="{{sel.number}}">{{sel.number}}</option>
			</select>
		</div>

		<div class="inline-block">
			<button class="btn blue" (click)="pageChange('next')" [disabled]="pagination.pages == pagination.currentPage" > Next </button>
		</div>
	</div>
</div>


<div id="modalArchive" class="modal">
	<div class="modal-content center" [hidden]="!showModalLoader">
		<div class="preloader-wrapper active">
			<div class="spinner-layer spinner-red-only">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div><div class="gap-patch">
					<div class="circle"></div>
				</div><div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-content" [hidden]="showModalLoader">
		<h5>Confirmation</h5>
		<p style="font-size: 16px;">
			Are you sure you want to archive
			<span class="blue-text">{{selectedToArchive.first_name}} {{selectedToArchive.last_name}}</span>
		</p>
	</div>
	<div class="modal-footer" [hidden]="showModalLoader">
		<a href="javascipt:void(0)" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
		<a href="javascipt:void(0)" class="waves-effect waves-blue btn-flat" (click)="archiveClick()">Archive</a>
	</div>
</div>

<div id="modalArchiveBulk" class="modal">
	<div class="modal-content center" [hidden]="!showModalLoader">
		<div class="preloader-wrapper active">
			<div class="spinner-layer spinner-red-only">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div><div class="gap-patch">
					<div class="circle"></div>
				</div><div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-content" [hidden]="showModalLoader">
		<h5>Confirmation</h5>
		<p style="font-size: 16px;">
			Are you sure you want restore the following users?
		</p>
		<ul>
			<li *ngFor="let list of selectedFromList;">
				<span class="blue-text">{{list.first_name}} {{list.last_name}}</span>
			</li>
		</ul>
	</div>
	<div class="modal-footer" [hidden]="showModalLoader">
		<a href="javascipt:void(0)" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
		<a href="javascipt:void(0)" class="waves-effect waves-blue btn-flat" (click)="bulkArchiveClick()">Archive</a>
	</div>
</div>


<div id="modalSelectMultipleLocations" class="modal">
    
    <form #formMultiple="ngForm" (submit)="submitSelectFromMultipleLocations(formMultiple)">
        <div class="modal-content">
            <h5>Multiple locations</h5>
            <p style="font-size: 16px;">
                Please select a location
            </p>
            <ul>
                <li *ngFor="let loc of multipleLocations;">
                    <input type="radio" ngModel name="location_id" id="rad-{{loc.location_id}}" value="{{loc.location_id}}" />
                    <label for="rad-{{loc.location_id}}">
                        <span *ngIf="loc.parent_name.length > 0">{{loc.parent_name}}, </span>{{loc.name}}
                    </label>
                </li>
            </ul>
        </div>
        <div class="modal-footer" [hidden]="showModalLoader">
            <a href="javascipt:void(0)" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
            <button type="submit" class="waves-effect waves-blue btn-flat" >See Location</button>
        </div>
    </form>

</div>