<div class="row top">
	<div class="col l12 m12 s12">
		<h4> ECO Member </h4>
		<div class="right-actions">
			<div class="switch-container">
				<div class="text">Show only not compliant</div>
				<div class="switch">
					<input type="checkbox">
					<div class="yes">Yes</div>
					<div class="no">No</div>
					<div class="highlight"></div>
					<div class="background"></div>
				</div>
			</div>
			<div class="archived-container">
				<a href="javascript:void(0)">
					<div class="image"></div>
					View Archive
				</a>
			</div>
		</div>
	</div>
</div>

<div class="row filter-list-wardens">
	<div class="col l2 m5 s12">
		<button class="btn orange waves-effect waves-light btn-add-warden" [routerLink]="['/teams/add-wardens']">
			<div class="image"></div>
			Add Warden
		</button>
	</div>

	<div class="col l4 m7 s12">
		<div class="search-field">
			<input type="text" placeholder="Search member name">
			<i class="material-icons">search</i>
		</div>
	</div>

	<div class="col l2 m4 s12">
		<div class="select-field">
			<select>
				<option value="0">Filter By</option>
			</select>
		</div>
	</div>

	<div class="col l2 m4 s12">
		<div class="select-field">
			<select>
				<option value="0">Sort By</option>
			</select>
		</div>
	</div>

	<div class="col l2 m4 s12">
		<div class="select-field">
			<select>
				<option value="0">Manage Action</option>
			</select>
		</div>
	</div>
</div>


<div class="row">
	<div class="col l12 m12 s12">
		<table class="table striped">
			<thead>
				<tr>
					<th>
						<p class="checkbox">
							<input id="allLocations" class="filled-in" type="checkbox">
							<label for="allLocations">Locations</label>
						</p>
					</th>
					<th>Name</th>
					<th>ECO Role</th>
					<th>Training</th>
					<th>Last Login</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let warden of wardenArr; let i = index">
					<td>
						<p class="checkbox">
							<input id="location" class="filled-in" type="checkbox">
							<label for="location">{{warden['parent_name']}} - {{warden['name']}}</label>
						</p>
					</td>
					<td>
						{{ warden['first_name'] }} {{warden['last_name']}}
					</td>
					<td>
						<div class="eco-role">
							<div class="image"></div>
							{{warden['role_name']}}
						</div>
					</td>
					<td>
						<span class="over red-text">0/0</span>
					</td>
					<td>
						{{warden['days']}} Day(s)
					</td>
					<td>
						<a href="javascript:void(0)">Manage</a>
					</td>
				</tr>
			</tbody>
		</table>

	</div>

</div>
