<div class="container-fluid">
	<div class="row" style="margin-bottom: 0px;">

		<div class="col l2 m4 s12 grey lighten-4 left-nav">

			<h5>{{mainLocation['my_location_name']}}</h5>

			<div class="image-container grey">
        <!-- <img src="/assets/images/locations/default_profile_location.png" > -->
        <img src="{{mainLocation['photo']}}">
			</div>


			<div class="label-par">
				<label>Location</label>
				<p>{{mainLocation['parent_name']}}</p>
			</div>


			<div class="buttons">

				<button class="btn orange waves-effect waves-light reassign">
					<div class="image"></div>
					<div class="text">Re assign to other location</div>
				</button>

				<button class="btn red accent-2 waves-effect waves-light peep">
					<div class="image"></div>
					<div class="text">Personal Emergency Evacuation Plan</div>
				</button>

			</div>

		</div>

		<div class="col l10 m8 s12 right-container">

			<h5>Location Information</h5>

			<div class="label-par">
				<label>Address</label>
				<p>{{mainLocation['main_address']}}</p>
			</div>
<!--
			<div class="label-par">
				<label>Region</label>
				<p>N/A</p>
			</div>
-->
			<div class="profile-pic-container">
				<p class="label">{{roleName}}</p>

				<div class="pic-bg grey lighten-3">
					<div class="initials" *ngIf="userData.profilePic.length == 0">{{userInitials}}</div>
					<img *ngIf="userData.profilePic.length > 0" src="{{userData.profilePic}}" >
				</div>

				<div class="user-details">
					<h5>{{userData.name}}</h5>
					<!-- <label>Last Login 2 days ago</label> -->
				</div>
			</div>


		</div>

	</div>
</div>
