<div class="navbar-fixed">
	<nav>
		<div class="left navbrand" >
			<a [routerLink]="['/dashboard']">
				<img alt="EvacConnect" class="main-logo" src="assets/images/ec_logo_nav.png" >
				<img class="responsive-logo" src="assets/images/responsive-logo.png">
			</a>
			<ul class="right navbar nav-list">
				<li *ngIf="showLinks.locations" class="nav-list-locations">
					<a [routerLink]="['/location', 'list']"><img alt="Location" src="assets/images/location.png" ><span>Locations</span></a>
				</li>
				<li *ngIf="showLinks.training" class="nav-list-trainings">
					<a href=""><img alt="Training" src="assets/images/training.png" ><span>Training</span></a>
				</li >
				<li *ngIf="showLinks.team" class="nav-list-team">
					<a [routerLink]="['/teams']"> <img alt="Team" src="assets/images/team.png" ><span>Team</span> </a>
				</li>
				<li *ngIf="showLinks.report" class="nav-list-report">
					<a href=""><img alt="Report" src="assets/images/report.png" ><span>Report</span></a>
				</li>
				<li *ngIf="showLinks.resources" class="nav-list-resources">
					<a href=""><img alt="Resources" src="assets/images/resources.png" ><span>Resources</span></a>
				</li>
			</ul>
		</div>

		<div class="right">
			<ul class="navbar">
				<li>
					<a href="javascript:void(0)" *ngIf="showUpgradePremium"><img alt="Location" src="assets/images/premium_bttn.png" ></a>
				</li>
				<li>
					<a href="javascript:void(0)"><img alt="Training" src="assets/images/search.png" ></a>
				</li>
				<li>
					<a href="javascript:void(0)"><img alt="Team" src="assets/images/mail.png" ></a>
				</li>
				<li>
					<a href="javascript:void(0)" class="user-right-click-nav">
						<div class="users-name">{{ username }}</div>
						<div class="users-intials" *ngIf=" !hasUserImage ">{{ usersInitial }}</div>
						<img alt="Report" class="img-user-initials" [src]="filterUrl(usersImageURL)" *ngIf=" hasUserImage " >
					</a>
				</li>

			</ul>
		</div>

		<div class="burger right">
			<a href="javascript:void(0)" class="burger-link"><i class="material-icons small"> <span>dehaze</span> </i></a>
		</div>
	</nav>
</div>
<div class="burger-content inactive">

	<ul class="navbar">
		<li>
			<a href="javascript:void(0)">
				<img alt="Training" src="assets/images/search.png" >
				<span>Search</span>
			</a>
		</li>

		<li>
			<a href="javascript:void(0)">
				<img alt="Team" src="assets/images/mail.png" >
				<span> Email </span>
			</a>
		</li>

		<li>
			<a href="javascript:void(0)" class="user-right-click-nav">
				<div class="users-intials" *ngIf=" !hasUserImage ">{{ usersInitial }}</div>
				<img alt="Report" class="img-user-initials" [src]="filterUrl(usersImageURL)" *ngIf=" hasUserImage " >
				<div class="users-name">{{ userData.name }}</div>
			</a>
		</li>

		<li>
			<a href="javascript:void(0)" *ngIf="showUpgradePremium">
				<img alt="Location" src="assets/images/premium_bttn.png" >
			</a>
		</li>



	</ul>
</div>

<div class="vertical-m">

	<div class="container container-myaccounts vertical-nav">
		<div class="col sm12">
			<div>
				<div class="vertical-nav-title">
					<div style="float:left;"><h5 myaccount>My Accounts</h5></div>
					<div style="float:right; padding-right:1rem; padding-top:1rem; ">
						<a href="javascript:void(0)" id="closeRightNav">
							<img alt="" src="assets/images/close.png">
						</a>
					</div>
					<div style="clear:both"></div>
				</div>
			</div>
		</div>

		<div class="col sm12">
			<div class="wrapper upload-photo">
				<a href="javascript:void(0)" id="changePhotoLink">
					<div class="img-container"><img id="myAccountPhoto" alt="EvacConnect" [src]="filterUrl(usersImageURL) "> </div>
					<div><h6>Upload Photo</h6></div>
				</a>
			</div>
		</div>

		<div class="col sm12">
			<ul class="links">
		        <li><a [routerLink]="['/dashboard/company-information']">Company Information</a></li>
		        <li><a [routerLink]="['/dashboard/person-info']">Personal Information</a></li>
		        <li *ngIf="showSendInviteLink"><a [routerLink]="['/dashboard/send-invite']">Send Invitation</a></li>
				<li><a href="/">Subscription</a></li>
				<li><a href="/">Security & Privacy</a></li>
				<li><a href="/signout">Sign Out</a></li>
			</ul>
		</div>
	</div>

</div>


<div id="modalSelectChangePhotoAction" class="modal modal-confirm-action">
	<div class="modal-content center-align">
		<div class="modal-close">X</div>

		<div class="action-content">


			<div class="row">
				<div class="m12 s12">
					<h5>Please confirm action</h5>
				</div>
			</div>

			<div class="row">
				<div class="col m12 s12">
					<img src="" class="image-select-file" style="display: none;">

					<button style="width: 100%;" class="btn btn-large orange waves-effect waves-light" id="btnSelectFile">
						SELECT FILE
					</button>

					<button class="btn btn-large green waves-effect waves-light btn-choose-file-select" style="width: 100%; display: none;">
						SET AS PHOTO
					</button>


					<input type="file" name="file" accept="image/*" required style="display: none;">
				</div>
			</div>

			<div class="row">
				<div class="col m12 s12">
					<button style="width: 100%;" class="btn btn-large blue waves-effect waves-light" id="btnTakePhoto">
						TAKE A PHOTO
					</button>
				</div>
			</div>
		</div>
		<div class="webcam-content" style="display: none;">
			<div class="row">
				<div class="m12 12">
					<img holder src="" style="display: none;">
					<div webcam></div>
				</div>
			</div>
			<div class="row">
				<div class="m12">
					<button style="width: 100%;" class="btn btn-large green waves-effect waves-light btn-capture" >
						CAPTURE
					</button>
					<button style="width: 100%; display: none;" class="btn btn-large green waves-effect waves-light btn-choose" >
						SET AS PHOTO
					</button>
				</div>
			</div>
			<div class="row">
				<div class="m12">
					<button style="width: 100%;" class="btn btn-large red red lighten-1 waves-effect waves-light btn-retake" >
						RETAKE
					</button>
				</div>
			</div>
			<div class="row">
				<div class="m12">
					<button style="width: 100%;" class="btn btn-large lighten-1 grey waves-effect waves-light btn-cancel" >
						CANCEL
					</button>
				</div>
			</div>
		</div>

		<div class="row-loader" style="display: none;">
			<div class="m12 s12">
				<div >
					<div class="preloader-wrapper active">
						<div class="spinner-layer spinner-red-only">
							<div class="circle-clipper left">
								<div class="circle"></div>
							</div>
							<div class="gap-patch">
								<div class="circle"></div>
							</div>
							<div class="circle-clipper right">
								<div class="circle"></div>
							</div>
						</div>
					</div>
					<p class="p-icon" style="display: none;">
						<i class="material-icons" style="font-size: 50px;">check</i>
					</p>
					<div >
						<h6 class="message">Uploading...</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
