<div class="navbar-fixed">
	<nav>
		<div class="left navbrand" >
			<a [routerLink]="['/dashboard']"><img alt="EvacConnect" src="assets/images/ec_logo_nav.png" ></a>
			<ul class="right navbar">
				<li *ngIf=" userRoleID === 2 || userRoleID === 1 ">
					<a href=""><img alt="Location" src="assets/images/location.png" >Location</a>
				</li>
				<li *ngIf=" userRoleID === 2 || userRoleID === 1 ">
					<a href=""><img alt="Training" src="assets/images/training.png" >Training</a>
				</li >
				<li *ngIf=" userRoleID === 2 || userRoleID === 1 ">
					<a href=""> <img alt="Team" src="assets/images/team.png" >Team </a>
				</li>
				<li *ngIf=" userRoleID === 2 || userRoleID === 1 ">
					<a href=""><img alt="Report" src="assets/images/report.png" >Report</a>
				</li>
			</ul>
		</div>

		<div class="right">
			<ul class="navbar">

				<li>
					<a href="javascript:void(0)" *ngIf="showUpgradePremium"><img alt="Location" src="assets/images/premium_bttn.png" ></a>
				</li>
				<li>
					<a href="javascript:void(0)"><img alt="Training" src="assets/images/search.png" ></a>
				</li>
				<li>
					<a href="javascript:void(0)"><img alt="Team" src="assets/images/mail.png" ></a>
				</li>
				<li>
					<a href="javascript:void(0)" id="usersRightNavLink"> 
						<div class="users-name">{{ userData.name }}</div>
						<div class="users-intials" *ngIf=" !hasUserImage ">{{ usersInitial }}</div>
						<img alt="Report" src=" {{ usersImageURL }} " *ngIf=" hasUserImage " > 
					</a>
				</li>

			</ul>
		</div>
	</nav>
</div>

<div class="vertical-m">
	
	<div class="container container-myaccounts vertical-nav">
		<div class="col sm12">
			<div>
				<div class="vertical-nav-title">
					<div style="float:left;"><h5 myaccount>My Accounts</h5></div>
					<div style="float:right; padding-right:1rem; padding-top:1rem; ">
						<a href="javascript:void(0)" id="closeRightNav">
							<img alt="" src="assets/images/close.png">
						</a>
					</div>
					<div style="clear:both"></div>
				</div>
			</div>
		</div>

		<div class="col sm12">
			<div class="wrapper upload-photo">
				<a href="javascript:void(0)" id="changePhotoLink">
					<div ><img alt="EvacConnect" src="assets/images/camera_upload_hover.png"> </div>
					<div><h6>Upload Photo</h6></div>
				</a>
			</div>
		</div>

		<div class="col sm12">
			<ul class="links">
				<li><a [routerLink]="['/dashboard/company-information']">Company Information</a></li>
				<li><a href="/">Personal Information</a></li>
				<li><a href="/">Subscription</a></li>
				<li><a href="/">Security & Privacy</a></li>
				<li><a href="/signout">Sign Out</a></li>
			</ul>
		</div>
	</div>
	
</div>

<div id="modalSelectChangePhotoAction" class="modal modal-confirm-action">
	<div class="modal-content center-align">
		<div class="action-content">
			<div class="row">
				<div class="m12 s12">
					<h5>Please confirm action</h5>
				</div>
			</div>
			<div class="row">
				<div class="col m12 s12">
					<button style="width: 100%;" class="btn btn-large orange waves-effect waves-light" id="btnSelectFile"> Select File </button>
					<input type="file" style="opacity: 0;">
				</div>
			</div>
			<div class="row">
				<div class="col m12 s12">
					<button style="width: 100%;" class="btn btn-large blue waves-effect waves-light" id="btnTakePhoto"> Take a photo </button>
				</div>
			</div>
		</div>
		<div class="webcam-content" style="display: none;">
			<div class="row">
				<div class="m12 12">
					<div webcam></div>
				</div>
				<div class="m12">
					<button style="width: 100%;" class="btn btn-large green waves-effect waves-light btn-use-photo" > 
						User this
					</button>
				</div>
				<div class="m12">
					<button style="width: 100%;" class="btn btn-large red waves-effect waves-light btn-retake" > 
						Retake
					</button>
				</div>
				<div class="m12">
					<button style="width: 100%;" class="btn btn-large grey waves-effect waves-light btn-cancel" > 
						Cancel
					</button>
				</div>
			</div>
		</div>
	</div>
</div>