/*Top Navigation Bar*/

.navbar-fixed,
.vertical-m{
  font-family: 'Open Sans', 'sans-serif' !important;
}

body {
  overflow: hidden;
}
img {
  border: 0;
  vertical-align: middle;
  text-align: center;
}
nav {
  color: #fff;
  background-color: #39a1ff;
  width: 100%;
  height: 62px;
}
nav ul a {
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  font-size: 1rem;
  color: #fff;
  display: block;
  padding: 0 12px;
  cursor: pointer;
  height: 62px;
}

nav ul  {
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  font-size: 1rem;
  color: #fff;
  display: block;
  cursor: pointer;
  line-height: 56px; 
}
.navbrand {
	-webkit-transition: background-color .3s;
  transition: background-color .3s;
  font-size: 1rem;
  color: #fff;
  display: block;
  cursor: pointer;
  line-height: 56px;
}

.left.navbrand ul a{
  text-align: center;
}

.navbrand ul a:hover {
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}
.navbrand img{
	-webkit-transition: background-color .3s;
  transition: background-color .3s;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  line-height: 56px;
  padding: 0px 10px;
}
.navbar {
	-webkit-transition: background-color .3s;
  transition: background-color .3s;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  line-height: 56px; 
}

.right .navbar .users-name{
  margin: 0px 15px 0px 0px;
  display: inline-block;
  vertical-align: middle;
}

.users-intials{
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 40px;
  background-color: #79d2bc;
  display: inline-block;
  padding: 0px;
  vertical-align: middle;
  margin: 0px;
  font-size: 17px;
  line-height: 41px;
  text-align: center;
}


/*Fixed Right Navigation Bar*/
.container-myaccounts{
  width: 100%;
} 

.vertical-m {
  position: fixed;
  right: 0;
  width: 275px;
  list-style-type: none;
  margin: 0;
  background-color: #f3f3f3;
  height: 100%;
  color: #5c5c5c;
  opacity: 0;
  z-index: 100;
}
.vertical-m h5 {
  font-size: 1.64rem;
  margin-left: 28px;
  margin-top: 1.5rem;
  color: #39a1ff;
}
.vertical-m h6 {
  font-size: 1rem;
  margin-left: 10px;
  color: #555555;
}
.vertical-nav-title img {
  padding-left: 1.375rem;
}  
.vertical-nav img {
  padding-top: .5rem;
  padding-left: 30px;
}
.vertical-nav .links {
  align-content: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  color: #5c5c5c;
}
.vertical-nav li a {
  display: block;
  color: #5c5c5c;
  padding: 8px 30px;
  text-decoration: none;
  font-size: 16px;
}
.vertical-nav li a:hover {
  background-color: #dddddd;
}

h5[myaccount]{
  margin: 0px;
}

.upload-photo{
  margin: 25px 0px;
}

.upload-photo a > div{
  display: inline-block;
}

.modal-confirm-action{
  color: #fff;
  width: 345px;
  background-color: rgba(0,0,0,0);
  box-shadow: none;
}

.modal-confirm-action div[webcam]{
  background-color: #eee;
}

.image-select-file{
  max-width: 240px;
  margin-bottom: 13px;
}

.btn-choose-file-select{
  margin-top: 17px;
}

.modal-close{
  position: absolute;
  right: 0px;
  top: 5px;
  font-size: 15px;
  border: 1px solid #ddd;
  border-radius: 20px;
  width: 22px;
  height: 22px;
  text-align: center;
}

.responsive-logo{
  display: none;
}

.burger{
  display: none;
  height: 100%;
}

.burger:hover{
  background-color: rgba(0,0,0,0.1);
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.burger .material-icons{
  padding: 2px 15px;
}

.burger-content{
  min-height: 5px;
  background-color: #424242;
  position: absolute;
  width: 100%;
  margin-top: -2px;
  margin-left: 0px;
}

.burger-content.inactive{
  opacity: 0;
}

.burger-content ul{
  box-shadow: 0px 2px 5px #aaa;
}

.burger-content ul li{
  padding: 0px 20px;
}

.burger-content ul li a{
  color: #fff;
}

.burger-content .navbar{
  margin: 0px;
}


.burger-content .users-name,
.burger-content .users-intials,
.burger-content img{
  display: inline-block !important;
  margin-right: 10px;
}


@media only screen 
  and (max-width: 1220px){
  .main-logo{
    display: none;
  }

  .responsive-logo{
    display: inline-block;
  }
}

@media only screen 
  and (max-width: 1024px){
  
  .navbar .users-name{
    display: none;
  }

}

@media only screen 
  and (min-width: 425px)
  and (max-width: 1024px){

  .nav-list li span{
    display: block;
    line-height: 0px;
  }

  .nav-list li a{
    line-height: 45px;
  }

}

@media only screen 
  and (min-width: 425px)
  and (max-width: 768px){
  .burger{
    display: block;
  }
  
  .right .navbar{
    display: none;
  }
  
  .burger-content.active{
    opacity: 1;
  }

  .burger-content .users-name{
    display: block;
  }

}

@media only screen 
  and (max-width: 425px){
  
  .nav-list li span{
    display: none;
  }

  .nav-list li a{
    line-height: 60px;
  }

  .burger{
    display: block;
  }
  
  .right .navbar{
    display: none;
  }

  .burger-content.active{
    opacity: 1;
  }

  .burger-content .users-name{
    display: block;
  }
}

@media only screen 
  and (max-width: 375px){
  nav ul a {
    padding: 0 5px;
  }
}

