<div class="form">	
	<div class="row row-company-info">
		<div class="col s12 m6 l4">
			<h5 class="title">Company Information</h5>
			<br>
			<div class="input-field">
				<input id="inpCompanyName" type="text" readonly  >
				<label for="inpCompanyName" >Company</label>
			</div>

			<div class="input-field">
				<input id="inpLocationName" type="text" readonly  >
				<label for="inpLocationName" >Location</label>
			</div>

			<div class="input-field">
				<input id="inpRoleName" type="text" readonly  >
				<label for="inpRoleName" >My Account Role</label>
			</div>
		</div>
	</div>	
</div>