.title{
  color:#64b5f6;
  font-size: 1.5rem;
  margin: 20px 0px;
}

#modalLoader{
  width: 35%;
}

@media only screen 
  and (min-width: 1024px)
  and (max-width: 1440px){
  #modalLoader {
      width: 35%;
  }
}

@media only screen 
  and (max-width: 1024px){
  #modalLoader {
      width: 50%;
  }
}

@media only screen 
  and (min-width: 480px)
  and (max-width: 768px){
  
  #modalLoader {
      width: 60%;
      margin-bottom: 100px;
  }

}

@media only screen 
  and (max-width: 480px){

  #modalLoader {
      width: 95%;
      margin-bottom: 100px;
  }
}
