<div class="form">	
	<div class="row">
		<div class="col s3">
			<h5>Company Information</h5>
			<br>
			<h6>Company name</h6>
			<h5> {{ companyName }} </h5>
			<br>
			<h3>Account Invitation Code Generator</h3>
			<br>
			
			<form #formGen="ngForm" (ngSubmit)="submitFormEvent(formGen, $event)" >
				<div class="input-field">
					<select id="selectLocation" *ngIf="userRoleID === 1 || userRoleID === 2" required>
						<option *ngFor="let location of locations" value="{{location.location_id}}" >{{ location.name }}</option>
					</select>
					<label>Location</label>
				</div>

				<div class="input-field" *ngIf="userRoleID === 1">
					<input name="frp" ngModel disabled type="text" required>
					<label for="input_text">FRP Invitation Code </label>
				</div>

				<div class="input-field" *ngIf="userRoleID === 1 || userRoleID === 2">
					<input name="trp" ngModel disabled type="text" required>
					<label for="input_text">TRP Invitation Code </label>
				</div>

				<div class="input-field" *ngIf="userRoleID === 1 || userRoleID === 2">
					<input name="warden" ngModel disabled type="text" required>
					<label for="input_text">Warden Invitation Code </label>
				</div>

				<button  class="btn btn-block orange btn-large btn-generate waves-effect waves-light" 
					*ngIf="userRoleID === 1 || userRoleID === 2">
					Generate Code
				</button>
			</form>
			

			
		</div>
	</div>	
</div>