<div class="form">	
	<div class="row row-company-info">
		<div class="col s12 m6 l3">
			<h5 class="title">Company Information</h5>
			
			<div class="input-field">
				<input id="inpCompanyName" type="text" readonly  >
				<label for="inpCompanyName" >Company</label>
			</div>

			<div class="input-field">
				<input id="inpLocationName" type="text" readonly  >
				<label for="inpLocationName" >Location</label>
			</div>

			<div class="input-field">
				<input id="inpRoleName" type="text" readonly  >
				<label for="inpRoleName" >My Account Role</label>
			</div>
			
			<h5 class="title">Warden Invitation Code</h5>
			
			<form #formWardenInvitationCode="ngForm" (ngSubmit)="wardenInvitationCodeSubmit(formWardenInvitationCode, $event)">
				<div class="input-field">
					<input id="inpInviCode" type="text" name="code" minlength="4" ngModel #inpInviCode="ngModel" [ngClass]="{ 'invalid' : !inpInviCode.valid  && inpInviCode.dirty }" required>
					<label for="inpInviCode" >Invitation Code
						<small *ngIf=" !inpInviCode.valid && inpInviCode.dirty "> *Required </small>
					</label>
				</div>

				<div class="input-field">
					<button type="submit" class="btn orange waves-effect waves-light" > {{ saveWardenInvitationCodeText }} </button>
				</div>
			</form>

		</div>

		<div class="col l1 show-on-large " style="border-right: 1px solid #999;"></div>

		<div class="col s12 m6 l3">
			<h5 class="title">Send Invite</h5>
			
			<div class="input-field">
				<input id="inpName" type="text" required [(ngModel)]="inpName">
				<label for="inpName" >Name</label>
			</div>

			<div class="input-field">
				<input id="inpEmail" type="email" required [(ngModel)]="inpEmail">
				<label for="inpEmail" >Email</label>
			</div>

			<div class="select-field">
				<select id="accountType" [(ngModel)]="selectAccountType" required  name="account_type">
					<option value="0" disabled selected>  User role </option>
					<option *ngFor="let utype of arrUserType" value="{{ utype.role_id }}"> {{ utype.description }} </option>
				</select>
				<label class="select-label">Select Account Role </label>
			</div>

			<form *ngIf=" (formToShow == 'frp-to-frp') " #formFRPtoFRP="ngForm" (ngSubmit)="submitInviteFRPtoFRP(formFRPtoFRP, $event)" >
				
				<div class="select-field">
					<select required  name="location">
						<option *ngFor="let location of frpToFrp.locations" value="{{ location.location_id }}"> {{ location.name }} </option>
					</select>
					<label class="select-label">Select Location </label>
				</div>

				<div class="input-field">
					<button type="submit" class="btn orange waves-effect waves-light" style="margin-right: 10px;">Invite User</button>
					<button  class="btn grey lighten-2 waves-effect waves-light" (click)="cancelFRPtoFRP" >Cancel</button>
				</div>

			</form>

			<form *ngIf=" (formToShow == 'frp-to-trp') " #formFRPtoTRP="ngForm" (ngSubmit)="submitInviteFRPtoTRP(formFRPtoTRP, $event)" >
				
				<div class="select-field">
					<select required  name="role">
						<option *ngFor="let account of frpToTrp.accounts" value="">  </option>
					</select>
					<label class="select-label">Select Account </label>
				</div>

				<div class="select-field">
					<select required  >
					</select>
					<label class="select-label">Select Location </label>
				</div>

				<div class="input-field">
					<button type="submit" class="btn orange waves-effect waves-light" style="margin-right: 10px;">Invite User</button>
					<button  class="btn grey lighten-2 waves-effect waves-light" (click)="cancelFRPtoTRP" >Cancel</button>
				</div>

			</form>

			<form *ngIf=" (formToShow == 'frp-to-warden') " #formFRPtoWarden="ngForm" (ngSubmit)="submitInviteFRPtoWarden(formFRPtoWarden, $event)" >
				
				<div class="select-field">
					<select required  >
					</select>
					<label class="select-label">Select Account </label>
				</div>

				<div class="select-field">
					<select required  >
					</select>
					<label class="select-label">Select Location </label>
				</div>

				<div class="select-field">
					<label class="select-label">Select Specific Level(s) </label>
				</div>

				<div class="input-field">
					<button type="submit" class="btn orange waves-effect waves-light" style="margin-right: 10px;">Invite User</button>
					<button  class="btn grey lighten-2 waves-effect waves-light" (click)="cancelFRPtoWarden" >Cancel</button>
				</div>

			</form>

		</div>
	</div>	
</div>


<div id="modalLoader" class="modal">
	<div class="modal-content center-align" style="padding: 20px;">
		<div *ngIf="modalLoader.showLoader">
			<div class="preloader-wrapper active">
				<div class="spinner-layer spinner-red-only">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div><div class="gap-patch">
						<div class="circle"></div>
					</div><div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
			<div>
				<h6>{{ modalLoader.loadingMessage }}</h6>
			</div>
		</div>

		<div *ngIf="modalLoader.showMessage" class="center-align">
			<p>
				<i class="material-icons {{ modalLoader.iconColor }}-text" style="font-size: 80px;">{{ modalLoader.icon }}</i>
			</p>
			<p style="font-size: 27px; line-height: 30px;">{{ modalLoader.message }}</p>
		</div>
	</div>
</div>