<form (ngSubmit)="onSumbitModifyPersonInfo(f)" #f="ngForm">
<div class="form">
   <div class="row">
    <div class="col s12">
      <h5>Personal Information</h5>
      <br>
      <div class="row">
        <div class="col s12">
          <div class="input-field col s3">
              <input id="input_text" type="text" data-length="15" [readonly]="!editCtrl"  [ngModel]="person.first_name" name="first_name" required>
              <label for="input_text">First Name</label>
          </div>

          <div class="input-field col s3">
            <input id="input_text" type="text" data-length="15" [readonly]="!editCtrl" [ngModel]="person.last_name" name="last_name" required>
            <label for="input_text">Last Name</label>
          </div>
        </div>
      </div>
        <div class="row">
          <div class="col s12">
            <div class="input-field col s3">
              <input id="input_text" type="text" data-length="15" [ngModel]="person.account_name" name="account_name" readonly="readonly">
              <label for="input_text">Company</label>
            </div>

            <div class="input-field col s3">
              <input id="input_text" type="text" data-length="15" [readonly]="!editCtrl" [ngModel]="person.occupation" name="occupation">
              <label for="input_text">Occupation</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="input-field col s3">
              <input id="input_text" type="text" data-length="15"  [readonly]="!editCtrl" [ngModel]="person.email" name="email" email>
              <label for="input_text">Email</label>
            </div>

            <div class="input-field col s3">
              <input id="input_text" type="text" data-length="15" [readonly]="!editCtrl" [ngModel]="person.phone_number" name="phone_number">
              <label for="input_text">Phone No</label>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="wrapper">
        <div *ngIf="!f.valid"> Invalid </div>
        <div *ngIf="editCtrl">
          <div style="float:left;"><button class="two-button" type="submit" [disabled]="!f.valid">Submit</button></div>
          <div style="float:left;"><button class="two-button-gray" (click)="onResetForm()">Cancel</button></div>
        </div>
        <div *ngIf="!editCtrl">
            <div style="float:left;"><button class="two-button" (click)="editCtrl=!editCtrl">Edit</button></div>
        </div>
        <div style="clear:both"></div>
      </div>
   </div>
</form>
