.title{
  color:#64b5f6;
  font-size: 1.5rem;
  margin: 15px 0px;
}


.two-button {
  display: inline-block;
  border-radius: .65rem;
  background-color: #f7941d;
  border: none;
  color: #FFFFFF;
  vertical-align: center;
  text-align: center;
  font-size: 1.15rem;
  width: 200px;
  height: 3.75rem;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 1rem;
}
.two-button-gray {
  display: inline-block;
  border-radius: .65rem;
  background-color: #dddddd;
  border: none;
  color: #5c5c5c;
  vertical-align: center;
  text-align: center;
  font-size: 1.15rem;
  width: 200px;
  height: 3.75rem;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 1rem;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 50%;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.upload-photo{
  margin: 0;
}

.upload-photo a > div{
  display: inline-block;
}

#myAccountPhoto{
  width: 95px !important;
  height: 90px !important;
  overflow: hidden;
  border-radius: 40px;
}

.custom-upload-photo-lbl {
  font-size: 1rem;
  margin-left: 10px;
  color: #555555;
}

.img-container {
  margin-left: 20px;
  vertical-align: middle;
}

.label-container {
  width: 150px;
  vertical-align: middle;
}

#my_photo {
  visibility: hidden;
}
