<div class="row">
  <div class="col l12 m12 s12">
    <h1 class="title">Email Notification</h1>
  </div>
</div>

<div class="row">
  <div class="col l12 m12 s12">
    <h5 class="orange-text margin-bottom-30">Select Location</h5>
    <div class="input-field">
      <input placeholder="Search building" class="search-field">
    </div>
  </div>
</div>

<div class="row">
  <div class="col l12 m12 s12">
    <h5 class="orange-text margin-bottom-30">Select User</h5>
    <div class="checkbox">
      <input id="trp" type="checkbox"> <label for="trp">TRP (Tenant Contact Person)</label>
    </div>
    <div class="checkbox">
      <input id="eco" type="checkbox"> <label for="eco">
        ECO
        (Deputy Chief Warden,
        Chief Warden,
        Floor Warden,
        Warden,
        General Occupant)
      </label>
    </div>
    <div class="checkbox">
      <input id="all" type="checkbox"> <label for="all">All Users</label>
    </div>
  </div>
</div>

<div class="row">
  <div class="col l12 m12 s12">
    <h5 class="orange-text margin-bottom-30">Default Message</h5>
    <div input-field>
      <textarea class="materialize-textarea"></textarea>
      <label>Message</label>
    </div>
  </div>
</div>

<div class="row">
  <div class="col l12 m12 s12">
    <h5 class="orange-text margin-bottom-30">Email Frequency</h5>
    <select style="display: block;">

    </select>
  </div>
</div>
