<div class="forgot-password-container">
	<div class="background"></div>
	
	<div class="fadeIn  animated" style="opacity:0;">
		<div class="center-box">
			<div class="change_password_box">

				<img src="/assets/images/forgot_password.png" alt="Forgot Password Icon" width="53" height="63" >
				<h1 class="white-text">Change your password</h1>
				<p class="invalid-text">
					{{ invalidMessage }}
				</p>

				<form novalidate #formChangePassword="ngForm" (ngSubmit)="changePassFormSubmit(formChangePassword, $event)" >
					<input type="password" name="new_password" placeholder="New password here" minlength="6" #inpNewPassword="ngModel" ngModel required>
					<input type="password" name="confirm_password" minlength="6" placeholder="Confirm password here" #inpConfirmPassword="ngModel"  ngModel required>
					<button type="submit" class="btn waves-effect waves-light btn-submit orange" >
						Submit
					</button>
				</form>

				<p class="white-text">
					<a [routerLink]="['/login']" class="back-to-login">Back to login</a>
				</p>

			</div>
		</div>
	</div>

</div>

<div id="modalMsg" class="modal">
	<div class="modal-content center-align">
		<i class="material-icons large green-text" [hidden]="!modalshowCheckIcon">check</i>
		<i class="material-icons large red-text" [hidden]="!modalshowCloseIcon">close</i>
		<h6>
			{{modalMessage}}
		</h6>
		<div *ngIf="showLoader">
				<div class="preloader-wrapper active">
					<div class="spinner-layer spinner-red-only">
						<div class="circle-clipper left">
							<div class="circle"></div>
						</div><div class="gap-patch">
							<div class="circle"></div>
						</div><div class="circle-clipper right">
							<div class="circle"></div>
						</div>
					</div>
				</div>
				<div>
					<h6> Changing password... </h6>
				</div>
			</div>
	</div>

</div>

