.alert-email-verification{
    z-index: 9 !important;
    color: #fff;
    padding: 18px;
    font-size: 15px;
    box-shadow: 1px 2px 4px #999;
    width: 100%;
    position: relative;
    top: 0%;
    left: 0%;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: opacity 0.3s ease-in;
    opacity: 0;
}

.alert-email-verification a {
    color: #fff;
    text-decoration: underline;
}