<app-navbar *ngIf="!showConfirmationProcessBar"></app-navbar>
<app-role-confirmation *ngIf="showConfirmationProcessBar"></app-role-confirmation>
<div class="workspace container">
	<div class="red alert-email-verification darken-3 align-center" *ngIf="showEmailVerification"  style="margin-bottom: -58px;">
		<div *ngIf="showResponse">{{responseMessage}}</div>
		<div *ngIf="!showResponse">
			Please validate your account by opening your email. <a  id="aClickResend" (click)="resendEmailVerification()"> Click here to resend </a>
		</div>
	</div>
	<router-outlet></router-outlet>
</div>

<div preloader></div>
